@import "base.less";
@import './styles/icons/style.less';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: @body-bg;
    color: @body-text-color;
    font: @body-font;
}
