@import "./styles/reset/index.less";

@import "base.less";

@import "./styles/abstracts/index.less"; 
@import "./styles/temp/index.less";
@import "./styles/typography/index.less";


@debug: true;

* {
  box-sizing: border-box;
}

head {
  display: none;

  &::after {
    .ubl-debug();
  }
}

.content {
  display: flex;

  &__wrap {
    padding: 0;
    flex-grow: 1;

    @media @md-up {
      padding: 47px 0 0 45px;
    }
  }
}

body {
    margin: 0;
    background-color: @body-bg;
    color: @body-text-color;
    font: @body-font;
}
/* apply to correct element */

breadcrumb {
  font: bold 13px/22px @font;
  color: #261d43;
  margin: 0 0 20px;
}

.logo {
  margin-bottom: 39px;
}
