<div *ngIf="medias.length || otherFiles.length" class="images">
  <div class="images__item" *ngFor="let media of medias">
    <span class="icon-close" (click)="onImageRemove(media)"></span>
    <img [src]="media.previewUrl">
    <span class="images__item-name">{{media.name}}</span>
  </div>
  <div class="images__item" *ngFor="let file of otherFiles">
    <span class="icon-close" (click)="handleFileRemove(file)"></span>
    <span class="images__item-name">{{file.name}}</span>
    <span class="images__item-name">{{file.extension}}</span>
</div>
</div>
