<div class="subcomment">
  <app-user-avatar
    class="subcomment__avatar"
    [photo]="data.creator.photo"
    [name]="data.creator.displayedName"
    [routerLink]="data.creatorProfileUrl.baseUrl"
    [queryParams]="data.creatorProfileUrl.params"></app-user-avatar>
  <div class="subcomment__container">
    <app-comment-header
      [data]="data"
      (toggleEditingMode)="toggleEditingMode()"
      (commentDelete)="onCommentDelete()"></app-comment-header>
    <div *ngIf="!isEditing" class="comment__content rte" [innerHTML]="data.text"></div>
    <app-link-preview *ngIf="linkPreview && !isEditing" [firstLinkPreview]="linkPreview"></app-link-preview>
    <app-like-button [likeData]="likeModel"></app-like-button>
    <app-rich-text-editor
      *ngIf="isEditing"
      [isEditing]="isEditing"
      [(ngModel)]="editedValue"
      [isDropzone]="false"
      placeholder="">
        <div class="submit-container" edit>
          <button
            class="rte__submit-button"
            [disabled]="isEditSubmitDisabled"
            (click)="onSubmitEditedValue()">
            {{'commentsOverView.EditComment.btn' | translate}}
          </button>
          <button
            class="rte__cancel-button"
            (click)="toggleEditingMode()">
            {{'commentsview.HideBtn.Text' | translate}}
          </button>
        </div>
    </app-rich-text-editor>
  </div>
</div>


