<div class="m-b-20 _clearfix">
    <p class="span3"><b>Title:</b></p>
    <input name="title" id="title" ng-model="control.value.title" />
</div>


<div class="m-b-20 _clearfix">
    <p class="span3"><b>Teaser:</b> <span class="note">Optional</span></p> 
    <tiny-mce class="span9" model="control.value.teaser" config="control.editor.config.teaser"></tiny-mce>
</div>

<div class="m-b-20 _clearfix">
    <b class="span3">Activity type:</b>
    <select name="activityTypeId" id="activityTypeId" ng-model="control.value.activityTypeId" ng-options="option.Id as option.Name for option in availableActivityTypes" required>
        <option value="">Select activity type</option>
    </select>
</div>

<div class="m-b-20 _clearfix">
    <p class="span3"><b>Number of activities to display:</b></p>
    <input name="activityAmount" id="activityAmount" ng-model="control.value.activityAmount" />
</div>

<div ng-show="control.validationMessage">
    <p><label><font color="red">{{control.validationMessage}}</font></label></p>
</div>
