@inherits UmbracoViewPage<uCommunity.Core.Controls.FileUpload.Core.FileUploadSettins>
<div>
    <div class="dropzone js-dropzone"  data-allowed="@Model.AllowedExtentions" 
         data-default-text="@Html.Localize("FileUploadView.UploadFiles.lbl")" data-remove-text="@Html.Localize("FileUploadView.RemoveFile.lbl")"></div>
    <input type="hidden" name="newMedia" class="js-new-media"/>
</div>