.gallery{
    margin:0 0 21px -26px;
    padding:0;
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    align-items: stretch;

    ._details &{
        margin-bottom:36px;
    }

    &__item{
        padding:0;
        position:relative;
        margin:0 0 10px 26px;
        max-height:100px;
        max-width:25%;
        overflow:hidden;

        ._full-size &{
            max-width:100%;
            max-height:initial;
        }

        @media(--for-tablet-portrait-down){
            &{
                max-width:50%;
                padding:0 0 0 26px;
                margin:0 0 20px;
            }
        }

        &._attachments{
            width:140px;
            min-height:83px;
            text-align:center;
            max-width:initial;
            max-height:initial;

            @media(--for-tablet-portrait-down){
                &{
                    max-width:calc(50% - 26px);
                    margin:0 0 20px 26px;
                    padding:0;
                }
            }
        }

        &-link{
            border:1px solid var(--color-light-gray);
            padding:10px;
            display:flex;
            width:100%;
            height:100%;
            flex-direction:column;
            color:var(--text-color-dark);

            ._attachments &{
                padding-top:25px;
                min-height:95px;
            }

            &:hover{
                color:var(--text-color-dark);
                text-decoration:none;
                background-color:var(--color-light-gray-2);
            }
        }
    }

    &__image{
        max-width:100%;
        margin:0 auto;
        min-height:27px;

        ._attachments{
            &{
                 width:20px;
            }
        }

        ._full-size &{
            height:auto !important;
        }
    }

    &__count{
        display:block;
        padding:3px 0 0;
        font-size:13px;
        flex-basis: 100%;
    }
}

.documents-list{
    margin:0 0 20px;
    padding:0;
    list-style:none;
    font-size:13px;
    max-width:50%;

    &__item{
        border-bottom:1px solid var(--color-light-gray);
        padding:10px 0;

        &:first-child{
            border-top:1px solid var(--color-light-gray);
        }
    }

    &__link{
        color:var(--text-color-dark);

        &:focus,
        &:active,
        &:hover{
            color:var(--text-color-dark);
            text-decoration:none;
        }
    }

    &__icon{
        display:inline-block !important;
        vertical-align:top;
        margin:0 16px 0 0;
    }

    &__title{
        display:inline-block;
        vertical-align:top;
        padding:2px 0 0;
    }
}