@import 'base.less';

.menu {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  right: 25px;
  top: 55px;
  background: @main-color;
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
  border: 1px solid #bfbfbf;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
  width: 247px;
  font-size: 14px;

  &--expanded {
    visibility: visible;
    pointer-events: all;
  }

  &__item:not(:first-child) {
    border-top: 1px solid #bfbfbf;
  }

  &__item {
    &:first-child {
      @media @sm-up {
        &::before {
          display: block;
          content: '';
          width: 10px;
          height: 10px;
          background: @main-color;
          border: solid #bfbfbf;
          border-width: 1px 1px 0 0;
          transform: rotate(-45deg);
          position: absolute;
          top: -6px;
          right: 18px;
        }
      }
    }
  }

  &__item-link {
    text-decoration: none;
    color: #555;
    display: block;
    padding: 14px 10px 13px 57px;
    position: relative;


  }
}

.greeting {
  color: @main-color;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 16px/1.25em muli, Arial, Helvetica, sans-serif;
  padding: 6px 18px 0 0;
  text-align: right;
}
.user__opener {
  color: @main-color;
  display: inline-block;
  float: right;
  position: relative;
  padding: 2px 2px 4px 17px;
  cursor: pointer;
  margin-right: 3px;
}
.user__avatar {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  float: right;
  margin: 0 13px 0 0;
  border-radius: 50%;
}
.user__opener-arrow {
  position: absolute;
  top: 12px;
  right: -2px;
  width: 6px;
  height: 6px;
  border: solid @main-color;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
.avatar__letter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f6f6f6;
  font-size: 20px;
  text-transform: uppercase;
  color: #5776f9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
}
.user__menu-item {
  border-top: 1px solid #bfbfbf;
}
