<!-- TODO: See uintra QA There should be popup with items -->
<!-- <button (click)="logout()" [disabled]="inProgress">Logout
</button> -->
<div *ngIf="data" class="user-navigation">
  <div *ngIf="data.currentMember" class="user__opener" (click)="toggleUserNavigation($event)">
    <div *ngIf="data.currentMember.displayedName" class="user__name">
      {{data.currentMember.displayedName}}
    </div>
    <div class="user__avatar">
      <app-user-avatar
        *ngIf="data.currentMember.photo || data.currentMember.displayedName"
        [photo]="data.currentMember.photo"
        [name]="data.currentMember.displayedName"></app-user-avatar>
    </div>
    <span class="user__opener-arrow"></span>
  </div>
  <ul class="menu" [ngClass]="{'menu--expanded': isNavigationExpanded}" (clickOutside)="closeUserNavigation()">
    <li *ngFor="let item of data.items" class="menu__item">
      <a class="menu__item-link" [href]="item.url">
        <span class="icon {{iconList[item.type - 1]}}"></span>
        {{item.name}}
      </a>
    </li>
  </ul>
</div>
