<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b096c7d9-5e1e-43b8-ac17-707ae3d21821" Alias="DropZone.NewsForm.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Insert image by dropping it here or browser to insert it</Translation>
  </Translations>
</Dictionary>