<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="042b7228-f6df-4ad8-8e2c-e1ce6cea8445" Alias="SocialsCreate.MobileBtn.lbl" Level="1">
  <Info>
    <Parent>Bulletins</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Write social</Translation>
  </Translations>
</Dictionary>