.spinner() {
  display: inline-block;
  width: 60px;
  height: 60px;

  &:after {
    content: " ";
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 6px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.white-block() {
  .shadow();
  background-color: @white;
}

.header-bar() {
  background-color: @header-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1;

  @media @md-up {
    height: 70px;
    ;
  }
}
