.spinner() {
  display: inline-block;
  width: 60px;
  height: 60px;

  &:after {
    content: " ";
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 6px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.white-block() {
  .shadow();
  background-color: @main-color;
}

.header-bar() {
  background-color: @header-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @header-height;
  z-index: 1;

  @media @md-up {
    height: @header-height-md;
  }
}

.file-extension() {
  width: 40px;
  height: 20px;
  background: #545454;
  border-radius: 3px;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 3px 0;
}
