.reset-button() {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

.button-default() {
  text-transform: uppercase;
  padding: 6px 15px;
  height: 30px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  width: auto;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.button-blue() {
  .reset-button;
  .button-default;
  background: @btn-bg;
  color: @text-reverse-color;

  &:hover {
    opacity: 0.6;
  }

  &[disabled] {
    cursor: not-allowed !important;
  }
}

.button-white() {
  .reset-button;
  .button-default;
  background: @main-color;
  color: @body-text-color;
  border: 1px solid @grey;

  &:hover {
    border-color: @btn-bg;
    color: @btn-bg;
  }
}

.input() {
  border: solid 1px #c7c7c7;
  background-color: @main-color;
  display: block;
  padding: 11px 12px 13px;
  font: 13px/1 @font;

  &::placeholder {
    color: #999999;
  }
}

.error() {
  color: @red;
}

.pinned-button() {
  word-wrap: break-word;
  background: @select-color;
  color: @text-reverse-color;
  font-size: 11px;
  line-height: 15px;
  border-radius: 15px;
  text-transform: uppercase;
}

.left-arrow() {
  position: relative;
  margin-left: 1em;

  &::before {
    content:"";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: middle;

    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
    position: absolute;
    left: -1em;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }

  &::after {
    content:"";
    display: inline-block;
    width: 0.7em;
    height: 0.15em;
    vertical-align: middle;
    background-color: currentColor;
    position: absolute;
    left: -1.05em;
    top: 50%;
    // transform: translateY(-50%);
  }
}
