.reset-button() {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  font: inherit;
}

.button-default() {
  text-transform: uppercase;
  padding: 6px 15px;
  height: 30px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  width: auto;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.button-blue() {
  .reset-button;
  .button-default;
  background: @btn-bg;
  color: @text-reverse-color;

  &:hover {
    opacity: 0.6;       
  }

  &[disabled] {
    cursor: not-allowed !important;
  }
}

.button-white() {
  .reset-button;
  .button-default;
  background: @main-color;
  color: @body-text-color;
  border: 1px solid @grey;

  &:hover {
    border-color: @btn-bg;
    color: @btn-bg;
  }
}

.input() {
  border: solid 1px #c7c7c7;
  background-color: @main-color;
  display: block;
  padding: 11px 12px 13px;
  font: 13px/1 @font;

  &::placeholder {
    color: #999999;
  }
}

.error() {
  color: @red;
}
