<section class="video-panel" *ngIf="videoData">
  <div class="video-panel__content">
    <h2 *ngIf="data.title" class="video-panel__title">{{data.title}}</h2>
    <button (click)="open()" class="video-panel__thumbnail" *ngIf="videoData">
      <div *ngIf="videoData.thumbnail?.src" class="video-panel__thumbnail-img">
        <app-picture [data]="videoData.thumbnail"></app-picture>
      </div>
      <div *ngIf="!videoData.thumbnail?.src" class="video-panel__thumbnail-ghost">
      </div>
    </button>
    <div *ngIf="data.description" class="video-panel__description" [innerHTML]="data.description"></div>

  </div>
</section>
