@using Uintra.Core.Extensions
@model Uintra.Events.EventPreviewViewModel

<div class="block__item">
    <p>
        @Html.Localize(Model.ActivityType.ToString())<br />
        @foreach (var date in Model.Dates)
        {
            <span class="coming-events__time">@date</span>            
        }        
    </p>
    <h3 class="block__subtitle _clamp">
        <a href="@Model.Links.Details">@Html.Raw(Model.Title)</a>
    </h3>
</div>