<div ng-controller="SkybrudUmbracoRedirects.Editors.Destination.Controller">
    
    <input type="hidden" ng-model="model.value" required />

    <div ng-if="model.value" class="umb-node-preview" style="max-width: initial;">
        <i ng-if="icon" class="umb-node-preview__icon icon-shopping-basket"></i>
        <div class="umb-node-preview__content">
            <div class="umb-node-preview__name">{{model.value.name}}</div>
            <div class="umb-node-preview__description">{{model.value.url}}</div>
        </div>
        <div class="umb-node-preview__actions">
            <a class="umb-node-preview__action" title="Edit" href="" ng-click="editLink()"><localize key="general_edit">Edit</localize></a>
            <a class="umb-node-preview__action umb-node-preview__action--red" title="Remove" href="" ng-click="removeLink()"><localize key="general_remove">Remove</localize></a>
        </div>
    </div>
    
    <a ng-if="!model.value" class="umb-node-preview-add" href="#" prevent-default="" ng-click="addLink()" style="max-width: initial;">
        <localize key="redirects_selectDestination">Select destination</localize>
    </a>

</div>