@font-face {
  font-family: 'icomoon';
  src:  url('/App_Plugins/Core/Content/fonts/icomoon.eot?j18osq');
  src:  url('/App_Plugins/Core/Content/fonts/icomoon.eot?j18osq#iefix') format('embedded-opentype'),
    url('/App_Plugins/Core/Content/fonts/icomoon.ttf?j18osq') format('truetype'),
    url('/App_Plugins/Core/Content/fonts/icomoon.woff?j18osq') format('woff'),
    url('/App_Plugins/Core/Content/fonts/icomoon.svg?j18osq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family:'Glyphicons Halflings';
    src:url(/App_Plugins/Core/Content/fonts/glyphicons-halflings-regular.eot);
    src:url(/App_Plugins/Core/Content/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
        url(/App_Plugins/Core/Content/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
        url(/App_Plugins/Core/Content/fonts/glyphicons-halflings-regular.woff) format('woff'),
        url(/App_Plugins/Core/Content/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
        url(/App_Plugins/Core/Content/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}