<div class="panel" ng-controller="comingEventsController as ctrl" ng-init="init(control)">
    <div class="span12">
        <div>
            <span class="span12 control-label">{{control.editor.name}}</span>
        </div>       
        <div>
           <span class="span12"> {{control.value.displayTitle}} </span>
        </div>
    </div>
    <div class="span12">
        <input class="btn span12" type="button" ng-click="open()" value="Edit">
        <umb-overlay ng-if="overlay.show"
                     model="overlay"
                     position="right"
                     style="width: 300px">
            <div ng-include="overlay.view"></div>
        </umb-overlay>
    </div>
</div>