<ng-container *ngIf="!parsedData?.groupId">
  <ng-container *ngTemplateOutlet="component"></ng-container>
</ng-container>

<app-group-details-wrapper *ngIf="parsedData?.groupId" [id]="parsedData.groupId">
  <div class="group-details-padding">
    <ng-container *ngTemplateOutlet="component"></ng-container>
  </div>
</app-group-details-wrapper>

<ng-template #component>
  <div class="page-wrapper">
    <div class="row-flex">
      <div class="col-md-8">
        <div class="bulletin-details-content">
          <div class="feed-header">
            <a
              [routerLink]="parsedData.details.links.feed.originalUrl | ulink"
              class="feed-header__back-link">
              Go to List
            </a>
            <a
              *ngIf="parsedData.details.canEdit"
              [routerLink]="parsedData.details.links.edit.originalUrl | ulink"
              class="feed-header__edit-link">
              Edit
            </a>
          </div>
          <div class="feed-item">
            <app-detailas-header
              class="feed-item__header"
              [details]="details"
              [activityName]="activityName"
              [location]="details.location"
            ></app-detailas-header>

            <div class="feed-item__title" [innerHtml]="detailsTitle"></div>
            <div class="feed-item__text rte" [innerHtml]="detailsDescription"></div>
            <div class="feed-item-tags" *ngIf="tags.length !== 0">
              <span class="feed-item-tags__text">This activity is tagged</span>
              <!-- TODO: get from details.links -->
              <a
                *ngFor="let tag of tags"
                class="feed-item-tags__tag"
                [routerLink]="['/search']"
                [queryParams]="{query: tag.text}"
                [innerHTML]="tag.text"
              ></a>
            </div>
            <app-like-button class="likes" [likeData]="likeData" [isDisabled]="!parsedData?.isGroupMember"></app-like-button>
            <div class="attachments">
              <ul class="feed-item-images">
                <li
                  class="feed-item-images__item"
                  *ngFor="let image of medias; index as i"
                >
                  <img
                    class="feed-item-images__image"
                    [src]="image.previewUrl"
                    (click)="openGallery(i)"
                  />
                </li>
              </ul>
              <div *ngIf="documents.length !== 0">
                <h3 class="feed-item__subtitle">Attached documents:</h3>
                <app-attachments [documents]="documents"></app-attachments>
              </div>
            </div>
            <app-comments
              [activityType]="commentDetails.entityType"
              [comments]="data.comments"
              [commentDetails]="commentDetails"
            ></app-comments>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
