//colors
@blue                      : #274dee;
@lighter-blue              : #5776f9;
@light-blue                : #d2dafc;
@dark-blue                 : #261d43;
@white                     : #fff;
@lighter-grey              : #f6f6f6;
@light-grey                : #e5e5e5;
@border-grey               : #ccc;
@grey                      : #8f8f8f;
@gray-suit                 : #c9c6d0;
@dark-grey                 : #333;
@light-black               : #262626;
@black                     : #000;
@red                       : #e30000;
@pink                      : #fadddc;
@dark-red                  : #dd0a2d;

@main-color                : @white;
@link-color                : @blue;
@body-text-color           : @dark-grey;
@body-text-color--light    : @grey;
@body-bg                   : @lighter-grey;
@main-body-bg              : @lighter-grey;
@header-bg                 : @lighter-blue;
@btn-bg                    : @dark-blue;
@alt-btn-border            : @grey;
@text-reverse-color        : @white;
@heading-bg                : @dark-blue;
@border-color              : @border-grey;
@select-color              : @red;
@key-bg-color              : @white;
@icon-black                : @black;
@validation-color          : @dark-red;
@hover-grey                : @light-grey;
@text-color                : @light-black;
@text-color--light         : @dark-grey;

//general variables

@font                      : "muli", Arial, Helvetica, sans-serif;
@body-font                 : @font;

@header-height             : 70px;
@header-height-md          : 70px;
