@import "base.less";
:host {
  display: block;
}

::ng-deep  .faq-panel {
  padding: 30px 10px 48px;
  font-size: 18px;
  line-height: 1.5;
  .theme(bg-color);
  .theme(text-color);

  @media @sm-up{
    font-size: 20px;
    padding: 30px 20px 52px;
  }

  @media @lg-up{
    font-size: 22px;
    padding: 30px 41px 52px;
  }

  .main-column ubl-dynamic-component:first-child :host-context(.default-theme) &,
  .right-column :host-context(.default-theme) &{
    padding-top: 0;
  }

  ::ng-deep .aside &{
    font-size: 16px;
    line-height: 1.5;
    padding: 11px 10px 20px;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.5;
    .theme(title-color);
    text-transform: none;
    margin: 0 0 28px;

    ::ng-deep .aside &{
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 10px;
    }
  }

  &__items {
    border-bottom: 1px solid @grey;
    margin: 0 -10px;
    padding-top: 18px;

    @media @sm-up{
      margin: 0 -20px;
    }
    @media @lg-up{
      margin: 0 -21px;
    }

    ::ng-deep .aside &{
      margin: 0 -10px;
    }
  }

  & ::ng-deep a{
    .theme(link-color);
  }

  &__item-active {
    .accordion {
      .input {
          & ~ .accordion__label {
            .accordion__arrow{
              margin-top: -5px;
              transform: rotate(-135deg);
            }
          }

          & ~ .tab-content {
            display: block;
            max-height: 500vh;
            padding: 0 10px 28px;
            margin-top: -3px;
            transition-property: max-height, padding;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(1, 0, 1, 0), linear;
            @media @sm-up{
              padding: 0 20px 28px;
            }
            @media @lg-up{
              padding: 0 23px 27px;
            }

            ::ng-deep .aside &{
              padding: 0 10px 28px;
            }
          }
      }
    }
  }

  .accordion {
    &__label {
      display: block;
      position: relative;
      padding: 19px 36px 19px 11px;
      cursor: pointer;
      border-top: 1px solid @grey;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 600;
      .theme(text-color);

      @media @sm-up{
        font-size: 22px;
        padding: 17px 47px 17px 20px;
      }
      @media @lg-up{
        padding: 17px 47px 17px 23px;
      }

      ::ng-deep .aside &{
        font-size: 16px;
        padding: 10px 36px 10px 10px;
      }
    }

    &__arrow {
      position: absolute;
      top: 50%;
      right: 12px;
      z-index: 2;
      margin-top: -11px;
      width: 12px;
      height: 12px;
      border: solid @dark-grey;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);

      @media @sm-up{
        right: 22px;
      }

      ::ng-deep .aside &{
        right: 12px;
        border-width: 0 1px 1px 0;
        width: 9px;
        height: 9px;
        margin-top: -8px;
      }
    }

    &__tab {
      position: relative;
      width: 100%;
      overflow: hidden;

      .tab-content {
        position: relative;
        max-height: 1px;
        overflow: hidden;
        transition-property: max-height, padding;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1), linear;
        display: none;
        margin-top: -3px;
        font-size: 18px;

        @media @sm-up{
          font-size: 22px;
        }

        ::ng-deep .aside &{
          font-size: 16px;
        }
      }

      .input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        &:focus {
          & ~ label {
            &:after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 100%;
              display: block;
              border: 1px dotted @grey;
            }
          }
        }
      }
    }
  }
}
