<div>
    <edit-control config="editControlConfig">
        <div data-ng-if="isEditableMode()" data-ng-class="isConfigValueValid() ? '' : '_error'">
            <textarea data-ng-model="config.value" class="form-control" c-blur="setValue()">{{config.value}}</textarea>
            <label class="error-label" data-ng-show="isTextRequiredButEmpty()">{{config.requiredValidationMessage ? config.requiredValidationMessage : 'Field is required'}}</label>
            <label class="error-label" data-ng-show="isTextLengthNotValid">{{config.maxLengthValidationMessage ? config.maxLengthValidationMessage : 'Allowed size has been exceeded'}}</label>
        </div>
        <div data-ng-hide="isEditableMode()" class="rte">
            <div data-ng-bind-html="config.displayValue"></div>
        </div>
    </edit-control>
</div>
