@import '../../../base.less';

.cookie {
    position: fixed;
    background-color: @key-color;
    z-index: 11;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    color: @text-color;

    &.hide {
        display: none !important;
    }

    &__content {
        .centered;
        color: inherit;
        display: flex;

        flex-direction: column;

        padding-top: 34px;
        padding-bottom: 34px;

        @media @sm {
          flex-direction: row;
          align-items: center;
        }
    }

    &__info {
        padding-right: 20px;
        flex-grow: 1;
        margin-bottom: 16px;

        @media @sm {
          margin-right: 30px;
          margin-bottom: 0;
        }
    }

    &__title {
        font-size: 16px;
    }

    .rte {
      & /deep/ p {
        color: @text-color;
      }
    }

    &__btn {
        background-color: @text-color;
        color: @text-reverse-color;
        border: none;
        cursor: pointer;
        padding: 12px 20px 12px;
        font-size: 18px;
        font-weight: 600;

        &:after {
          display: none;
        }
    }
}

@import "./override.less";
