.cookie {
    background-color: @key-color;
    color: @text-reverse-color;

    &__title {
        font-size: 16px;
        font-weight: bold;
        color: @text-reverse-color;
        margin-bottom: 8px;

        @media @sm {
          font-size: 20px;
        }
    }

    .rte {
      & /deep/ p {
        font-size: 14px;
        color: @text-reverse-color;

        @media @sm {
          font-size: 18px;
        }
      }

      & /deep/ a {
        color: @text-reverse-color;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__btn {
        background-color: @text-reverse-color;
        color: @text-color;
        border: none;
        cursor: pointer;
        padding: 12px 20px 12px;
        min-width: 170px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;

        &:after {
          display: none;
        }

        &:hover {
          background-color: fade(@text-reverse-color, 90%);
        }
    }
}
