@using uCommunity.Core.Extentions
@using uCommunity.Navigation.DefaultImplementation
@model MyLinkIconViewModel

<div class="form__btn-holder" id="mylinkIcon">
    <span class="form__btn _default @(Model.IsLinked ? "_isLinked" : "")"><i class="icon-myLink"></i>@Html.Localize("MyLinks.AddCurrentPage.lbl")</span>
</div>