<pre *ngIf="!publication?.links?.owner?.originalUrl">
  Error: owner.link is null <br/>
</pre>

<div
  class="publication publication--important"
  *ngIf="publication?.links?.owner?.originalUrl"
>
  <app-publication-header
    [avatar]="publication.owner?.photo"
    [title]="publication.owner?.displayedName"
    [originalUrl]="publication.links?.owner?.originalUrl"
    [groupInfo]="publication.groupInfo"
    class="publication__header"
  >
    <div class="publication__subtitle" subtitle>
      {{ getPublicationDate() }} -
      <a
        class="publication__-type"
        [routerLink]="publication.links?.details?.originalUrl | ulink"
        >{{ publication.type }}
      </a>
      <a
        *ngIf="publication.location?.address && publication.location?.shortAddress"
        [href]="
          'https://www.google.co.uk/maps?q=' +
          publication.location.address
        "
        class="icon-pin-icon publication__location-link"
        target="_blank"
      >
        {{ publication.location.shortAddress }}
      </a>
    </div>
    <div
      *ngIf="publication.isPinned"
      label
      class="publication__label"
      [ngClass]="{
        'publication__label--no-actual': !publication.isPinActual
      }"
    >
      {{'Pinned.lbl' | translate}}
    </div>
  </app-publication-header>

  <div class="publication__content">
    <a
      class="publication__clickable-aria"
      [routerLink]="publication.links?.details?.originalUrl | ulink"
    >
      <p *ngIf="publication.title" class="publication__title">
        {{ publication.title }}
      </p>
      <div
        class="publication__text rte"
        [innerHTML]="publication.description"
      ></div>
    </a>

    <div class="gallery" [ngClass]="'items-' + countToDisplay">
      <div
        *ngFor="let image of medias | slice: 0:countToDisplay; index as i"
        class="gallery__image"
        (click)="openGallery(i)"
        [ngStyle]="{ backgroundImage: 'url(' + image.previewUrl + ')' }"
      ></div>
      <div class="gallery__counter" *ngIf="additionalImages">
        + {{ additionalImages }}
      </div>
    </div>
    <div class="publication__footer">
      <div class="publication__footer-left-block">
        <app-like-button [likeData]="likeData" [isDisabled]="!publication?.isGroupMember"></app-like-button>
        <a
          class="publication__comment publication__footer-item"
          [routerLink]="publication.links?.details?.originalUrl | ulink"
        >
          <i class="icon-comment"></i>
          {{ publication?.isGroupMember ? commentsCount : '' }}
        </a>
        <button class="publication__share publication__footer-item">
          <i class="icon-share-icon"></i>
          Anbefal
        </button>
      </div>

      <a
        class="publication__files publication__footer-item"
        *ngIf="documentsCount"
        [routerLink]="publication.links?.details?.originalUrl | ulink"
      >
        <i class="icon-attachment"></i>
        {{ documentsCount }}
        {{getDocumentsText()}}
      </a>
    </div>
  </div>
</div>
