@import "src/base.less";

.heading{
  &__title{
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.31;
    color: @text-color;
    text-transform: uppercase;
    margin: 0 0 7px;
  }

  &__subtitle{
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: @text-color;
  }
}
