.input {
  .input;
  width: 100%;
  margin-bottom: 20px;
}

.button {
  .button-blue;

  &-default {
    .button-white;
  }
}

.error-list {
  .error;
  padding: 0 0 0 21px;
  margin: 20px 0 0;
  text-align: left;
}


