<div ng-controller="memberGroups.editController as vm" ng-show="vm.memberGroup">
    <umb-editor-view>

        <umb-editor-header name="vm.memberGroup.name"
                           hide-alias="true"
                           hide-description="true"
                           hide-icon="true">
        </umb-editor-header>

        <umb-editor-container class="form-horizontal">

            <umb-property property="vm.property">
                <input type="text" ng-model="vm.memberGroup.name" />
            </umb-property>

            <div ng-repeat="(key, value) in vm.permissions">
                <umb-property property="vm.getProperty(key)">
                    <table border="0" cellspacing="10" cellpadding="5">
                        <tr>
                            <th>Permission</th>
                            <th>Enabled</th>
                            <th ng-if="vm.isSuperUser">Allowed</th>
                        </tr>
                        <tr ng-repeat="permission in value">
                            <td>
                                <span style="float:left">{{permission.actionName}}</span>
                            </td>
                            <td align="center">
                                <umb-toggle checked="permission.enabled" on-click="vm.toggleEnabled(permission)">
                                </umb-toggle>
                            </td>
                            <td ng-if="vm.isSuperUser" align="center">
                                <umb-toggle checked="permission.allowed" on-click="vm.toggleAllowed(permission)">
                                </umb-toggle>
                            </td>
                        </tr>
                    </table>

                </umb-property>
            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button action="vm.save()"
                            type="button"
                            button-style="success"
                            state="vm.buttonState"
                            shortcut="ctrl+c"
                            label="Save"
                            disabled="vm.buttonState === 'busy'">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>
