.subscribe {
    display:inline-block;
    vertical-align:middle;
    margin:0 0 10px;

    & &{
        margin:0;
    }

    ._isPinned &{
        margin-bottom:0;
    }

    @media (--for-tablet-portrait-down){
        display:block;
        margin:0;
    }

    &__set{
        display:inline-block;
        vertical-align:top;
        margin:0 16px 0 0;

        ._details &{
            margin:0;
        }
    }

    &__label{
        display:inline-block;
        vertical-align:top;
        margin:6px 0 0;
        color:var(--color-contrast);
        font-size:12px;

        .check {
            margin: 0;
        }
    }

    .btn{

        &:before{
            font-family:icomoon;
            font-size:14px;
            line-height:14px;
            vertical-align:top;
            color:#261d43;
            margin:1px 5px 0 0;
            display:none;
        }

        &:hover{
            &:before{
                display:inline-block;
            }
        }
    }
}

.btn{
    &._subscribe::before{
        content: "\e902";
    }

    &._unsubscribe::before{
        content: "\e903";
    }
}

.subscribe-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item{
        margin:0 0 10px;
    }
}

.subscribe-overview {
    clear: both;
    color:var(--text-color-dark);
    padding:0 0 35px;
    
    &__title {
        font: 18px/23px var(--font-general);
        color:#000026;
        margin:0 0 11px;
    }
}