.subscribe {
    display:inline-block;
    vertical-align:middle;
    margin:0 0 10px;

    & &{
        margin:0;
    }

    ._isPinned &{
        margin-bottom:0;
    }

    @media (--for-tablet-portrait-down){
        display:block;
        margin:0;
    }

    &__set{
        display:inline-block;
        vertical-align:top;
        margin:0 16px 0 0;

        ._details &{
            margin:0;
        }
    }

    &__label{
        display:inline-block;
        vertical-align:top;
        margin:4px 0 0;
        color:var(--color-contrast);
        font-size:12px;

        .check {
            margin: 0;
        }
    }

    /*&__btn{
        display:inline-block;
        border: 1px solid #e3e3e3;
        padding:7px 10px 8px 33px;
        background-color:var(--color-white);
        font: 12px/14px var(--font-custom);
        text-transform:uppercase;
        position:relative;
        color:var(--text-color-dark);
        vertical-align:top;
        min-width:95px;

        &:before{
            font-family:icomoon;
            position:absolute;
            top:7px;
            left:11px;
        }

        &:hover{
            color:var(--text-color-dark);
        }

        &._subscribe{
            &:before{
                font-size:10px;
                content: "\e902";
            }
        }

        &._unsubscribe{
            ._details &{
                margin:0 10px 0 0;
            }

            &:before{
                font-size:14px;
                content: "\e903";
            }
        }
    }*/
}

.subscribe-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item{
        margin:0 0 10px;
    }
}

.subscribe-overview {
    clear: both;
    color:var(--text-color-dark);
    padding:10px 0 0;
    
    &__title {
        font:bold 16px/23px var(--font-general);
        margin:0 0 11px;
    }
}