<div class="user-list-panel-wrapper">
  <div class="user-list-panel" (clickOutside)="closeInvitePopUp()">
    <button
      *ngIf="data.isInvitePopUp"
      type="button"
      class="user-list-panel__close-btn icon-close"
      (click)="closeInvitePopUp()">
    </button>
    <h2 class="user-list-panel__title">{{data.customTitle || 'userListPanel.Title.lbl' | translate}}</h2>

    <h3 class="user-list-panel__search-title">{{'userList.Search.Title.lbl' | translate}}</h3>
    <div class="search-holder">
      <input
        type="search"
        id="user-list-search"
        name="search"
        class="search-holder__input"
        placeholder="{{'userList.Search.Placeholder.lbl' | translate}}"
        autocomplete="off"
        aria-label="Search"
        role="search"

        #query
        [value]="inputValue"
        (keyup)="onQueryChange(query.value)"/>

      <span class="icon icon-search-icon"></span>
    </div>
    <button
      *ngIf="data?.details?.groupId && data?.details?.isCurrentMemberGroupAdmin && !data?.isInvitePopUp"
      type="button"
      class="user-list-panel__invite-btn"
      (click)="openInvitePopUp($event)">
      {{'userList.Button.Invite' | translate}}
    </button>
    <div class="user-list">
      <div *ngFor="let member of data?.details?.members" class="user-list__item">
        <a
          *ngIf="isNameColumn"
          [routerLink]="member.profileUrl.baseUrl | ulink"
          [queryParams]="member.profileUrl.params | uparams"
          class="user-list__item-member cells--{{data.details.selectedColumns.length}}"
        >
          <app-user-avatar
            class="user-list__item-member-avatar"
            [photo]="member.photo"
            [name]="member.displayedName">
          </app-user-avatar>
          <span *ngIf="member.displayedName" class="user-list__item-member-name">{{member.displayedName}}</span>
        </a>
        <a
          *ngIf="isInfoColumn"
          [routerLink]="member.profileUrl.baseUrl | ulink"
          [queryParams]="member.profileUrl.params | uparams"
          class="user-list__item-info cells--{{data.details.selectedColumns.length}}"
        >
          <p *ngIf="member.email">{{'userList.Table.Email.lbl' | translate}} {{member.email}}</p>
          <p *ngIf="member.phone">{{'userList.Table.Phone.lbl' | translate}} {{member.phone}}</p>
          <p *ngIf="member.department">{{'userList.Table.Department.lbl' | translate}} {{member.department}}</p>
        </a>
        <div
          *ngIf="isGroupColumn"
          class="user-list__item-group cells--{{data.details.selectedColumns.length}}"
        >
          <div *ngIf="!member.isCreator && data.details.isCurrentMemberGroupAdmin" class="user-list__item-group-fake-select">
            <select
              [ngModel]="member.isGroupAdmin ? '1' : '0'"
              class="user-list__item-group-select"
              #select
              (ngModelChange)="changeMemberStatus(member.member.id, select)"
            >
              <option value="1">{{'userList.Table.GroupAdmin.lbl' | translate}}</option>
              <option value="0">{{'userList.Table.GroupMember.lbl' | translate}}</option>
            </select>
          </div>
          <p *ngIf="member.isCreator" class="user-list__item-group-admin">
            <!-- TODO remove it once we have this icon as a font -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 52.31 64.69"
              class="user-list__item-group-admin-svg"
              width="16px"
              height="20px"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                    stroke: #000;
                    stroke-miterlimit: 10;
                    stroke-width: 4px;
                  }
                  .cls-2 {
                    isolation: isolate;
                  }
                </style>
              </defs>
              <path
                class="cls-1"
                d="M26.16,62.45S50.31,50.37,50.31,32.26V8.1l-24.15-6L2,8.1V32.26C2,50.37,26.16,62.45,26.16,62.45Z"
              />
              <g class="cls-2">
                <path
                  d="M39.07,39.32h-5.7l-2.26-5.89H20.74L18.6,39.32H13L23.15,13.38h5.53ZM29.43,29.06l-3.58-9.63-3.5,9.63Z"
                />
              </g>
            </svg>
            {{'userList.Table.GroupAdmin.lbl' | translate}}
          </p>
          <p *ngIf="!data.details.isCurrentMemberGroupAdmin && !member.isCreator" class="user-list__item-group-member">
            {{(member.isGroupAdmin ? 'userList.Table.GroupAdmin.lbl' : 'userList.Table.GroupMember.lbl') | translate}}
          </p>
        </div>
        <div *ngIf="isManagementColumn" class="user-list__item-management cells--{{data.details.selectedColumns.length}}">
          <button
            *ngIf="(!member.isCreator && data?.details?.isCurrentMemberGroupAdmin && !data.isInvitePopUp)
              || (data?.details?.currentMember?.id === member.member.id && !member.isGroupAdmin)"
            class="user-list__item-delete-btn"
            (click)="deleteMember(member.member.id)">
            X
          </button>
          <button
            *ngIf="data.isInvitePopUp"
            type="button"
            class="user-list__item-add-btn"
            [disabled]="member.isInviteBtnDisabled"
            (click)="inviteToGroup(member.member.id, $event)">
            {{'userList.Button.InviteUser' | translate}}
          </button>
        </div>
      </div>
      <div *ngIf="canLoadMore" class="user-list__item user-list__item--load-more">
        <button class="user-list__load-more" (click)="loadMore()" [disabled]="isLoadMoreDisabled">
          {{'userList.Table.LoadMoreButton.Text' | translate}}
        </button>
      </div>
      <div *ngIf="isNoMembers && query.value" class="user-list__item user-list__item--no-members">
        {{'userList.Table.EmptyResult.lbl' | translate}}
      </div>
    </div>
  </div>
</div>
