<div class="row-flex">
  <div class="col-md-8">
      <div class="notifications-page" *ngIf="data">
        <h1 class="notifications-page__title">{{ data.title.get() }}</h1>

        <div class="notifications-page__content" *ngIf="notifications">
          <!-- <div *ngFor="let notification of data.notifications">
            {{notification | json}}
          </div> -->
          <app-notifications-item [notification]="notification.value.data" *ngFor="let notification of notifications | keyvalue"></app-notifications-item>
        </div>
      </div>

  </div>
</div>
