@import "base.less";

.news-list {
  &__load-more {
    margin: 30px 0;
    display: flex;
    justify-content: center;

    &-button {
      .button;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__item {
    flex: 0 0 100%;

    @media @sm {
      flex: 0 0 50%;
    }

    @media @md {
      flex: 0 0 25%;
    }

    & /deep/ .news-item {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@import './override.less';
