.coming-events{
    .icon-calendar{
        display:none;

        .sidebar &{
            display:inline-block;
            margin:0 10px 0 0;
        }
    }

    &__list{
        margin:0 0 -1px;
        padding:0;
        list-style:none;

        &-item{
            padding:20px;
            margin:0 -20px;
            border-bottom:1px solid var(--color-light-gray);
        }
    }

    &__date{
        float:left;
        background:var(--color-light-gray);
        border-radius:3px;
        color:var(--color-white);
        text-align:center;
        width:45px;
        margin:0 10px 0 0;
        padding:5px;
    }

    &__day{
        display:block;
        font-size:20px;
        line-height:1.2em;
        font-weight:bold;
    }

    &__month{
        display:block;
        font-size:12px;
        text-transform:uppercase;
    }

    &__description{
        overflow:hidden;
        font-size:14px;
        line-height:18px;
    }

    &__title{
        font-size:14px;
        font-weight:bold;
        margin:0;
    }

    &__time,
    &__creator{
        display:block;
    }
}

.dropzone .dz-preview .dz-image {
    z-index: 9;
}