@import "base.less";

home-page {
  display: block;

  .main-column {
    padding: 0 15px;
    @media @md-up {
      -webkit-box-flex: 0;
      flex: 1 0 66.66666667%;
      max-width: 66.66666667%;
    }

    &--full-content {
      max-width: 100%;
    }
  }

  .right-column {
    padding: 0 15px;
    @media @md-up{
      -webkit-box-flex: 0;
      max-width: 33.33333333%;
    }

    ubl-dynamic-component{
      display: block;
      margin-bottom: 10px;

      @media @md-up{
        margin-bottom: 63px;
      }
    }
  }
}
