<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"/>

    <authentication>
      <forms domain="" xdt:Transform="SetAttributes(domain)" />
    </authentication>
  </system.web>
  <appSettings>
    <add key="umbracoConfigurationStatus" value="" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>

  <elasticConfiguration url="http://fake:9200" indexPrefix="uintra_" xdt:Transform="SetAttributes(url)"></elasticConfiguration>
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="" providerName="" xdt:Transform="SetAttributes(connectionString, providerName)" xdt:Locator="Match(name)" />
  </connectionStrings>

  <elmah>
    <security allowRemoteAccess="true" xdt:Transform="SetAttributes(allowRemoteAccess)"/>
  </elmah>

</configuration>