<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>

    <authentication>
      <forms domain="uintra.local.compent.dk" xdt:Transform="SetAttributes(domain)" />
    </authentication>
  </system.web>
 <elasticConfiguration url="http://192.168.0.208:9205" indexPrefix="uintra_" xdt:Transform="SetAttributes(url)"></elasticConfiguration>
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=192.168.0.208\SQL2012;database=uIntra_LinkPreview;user id=sa;password='q1w2e3r4'"
     xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration> 