@import "base.less";

login-page {
  .centering;
  display: block;
  padding: 70px 0 0 0;
  overflow: hidden;

  @media @md-up {
    padding: 70px 15px 0 0;
  }
}

.login-form {
  display: block;
  margin-top: 30px;
}

// TODO: Apply styles to login form (now form is hidden under the header)
