.input.textarea{
    min-height:initial;
}

.activity-tags-holder{
    &.textarea{
        border-radius: 0;
        padding: 6px 15px 3px !important;
        border:1px solid var(--color-light-gray);
        background:var(--color-white);
    }

    .taggle_list{
        margin:0 0 -5px;
        padding:0;
    }

    .autocomplete-suggestions{
        top:100%;
        left:0;
        width:100% !important;
    }
}

.tags{
    padding:0 0 25px;

    &__title{
        font:bold 18px/22px var(--font-general);
        margin:0 0 14px;
    }

    &__item{
        display:inline-block;
        vertical-align:top;
        border:1px solid #54616b;
        padding:0 10px 1px;
        margin:0 6px 10px 0;
        font:13px/22px var(--font-general);
        text-transform:uppercase;
        color:var(--text-color-dark);
    }
}