<?xml version="1.0" encoding="utf-8"?>
<panelsFolder Key="305e6901-beed-4397-b414-640119e1b9fb" Alias="Global Panels" Level="3">
  <Info>
    <Parent Key="4d330514-9c1d-47fc-abd3-c0ee4cbe3a99">Data</Parent>
    <Path>/Home/Data/GlobalPanels</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Global Panels" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</panelsFolder>