<?xml version="1.0" encoding="utf-8"?>
<mailTemplateFolder Key="77776923-c8fc-44f0-864f-88b4f9819a59" Alias="Mail Templates" Level="3">
  <Info>
    <Parent Key="4d330514-9c1d-47fc-abd3-c0ee4cbe3a99">Data</Parent>
    <Path>/Home/Data/MailTemplates</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Mail Templates" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</mailTemplateFolder>