@import 'base.less';

// Variables
@modal-background-color: fade(@text-color, 75%);


.modal-window {
  display: none;
  opacity: 0;

  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;

  top: 0;
  left: 0;

  background: @modal-background-color;

  &--show {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 1;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    padding-top: 80px;
    padding-bottom: 80px;

    max-height: 100vh;
    animation: fadein 0.3s forwards;
  }

  &__container {
    .centered;

    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__close {
    background: none;
    border: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;

    position: fixed;
    right: 20px;
    top: 20px;

    width: 32px;
    height: 32px;

    &:before,
    &:after {
      content: ' ';
      position: absolute;
      left: 13px;
      top: 0px;
      height: 30px;
      width: 5px;
      background-color: @text-reverse-color;
    }

    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }

    @media @sm {
      right: 40px;
      top: 40px;

      width: 46px;
      height: 46px;

      &:before,
      &:after {
        left: 22px;
        top: -3px;
        height: 52px;
        width: 5px;
      }
    }
  }
}

@keyframes fadein {
  0% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import './override.less';
