@using uCommunity.Core.Extentions
@model IEnumerable<uCommunity.Tagging.TagEditModel>

<div class="js-activity-tags-holder input textarea clearfix" data-model-name="tags" data-placeholder="@Html.Localize("Tags.Placeholder")" data-activity-tags="@Model.ToJson()"></div>