@editor-height: 300px;

quill-editor {
  display: block;

  // Disable default icon in tollbar
  .ql-link,
  .ql-italic,
  .ql-bold,
  .ql-emoji {
    font-size: 14px;
    margin-right: 8px;
    svg {
      display: none;
    }
  }

  // Customize toolbar icons
  .ql-bold:before {
    content: "B";
    width: 20px;
    height: 20px;
    background-image: none;
    font-weight: 600;
    line-height: 20px;
  }
  .ql-italic:before {
    content: "i";
    width: 20px;
    height: 20px;
    background-image: none;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
  }
  .ql-dropzone.icon-attachment:before {
    font-size: 26px;
    line-height: 20px;
  }

  // Reset editor styles
  .ql-container.ql-snow {
    border: 0;
  }

  .ql-editor {
    padding: 15px 30px;
    font-size: 16px;
    max-height: @editor-height;

    &.ql-blank::before {
      left: 30px;
      font-style: normal;
      color: #aaa;
    }
  }

  // Customize toolbar
  .ql-toolbar.ql-snow {
    padding: 15px 30px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  .ql-toolbar.ql-snow .ql-formats {
    display: flex;
  }

  // Customize buttons
  .ql-snow.ql-toolbar button,
  .ql-snow .ql-toolbar button {
    float: initial;
    display: flex;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    justify-content: center;
  }
  .ql-snow.ql-toolbar .ql-submit-button button,
  .ql-snow .ql-toolbar .ql-submit-button button {
    .button-main;
  }

  // Customize symbols counter
  .ql-counter {
    margin-right: auto;

    &.invalid span {
      color: #c70a0a;
    }
  }
}
