#
*.orig
*.rej
*.user
packages/
src/.vs/
src/Compent.uCommunity/bin/*
src/Compent.uCommunity/obj/

# Ignore umbraco folders
# if you want add some of umbraco files in repository use '!' syntax
# for example '!src/Compent.uCommunity/Umbraco/umbraco.aspx'
src/Compent.uCommunity/Umbraco/
src/Compent.uCommunity/Umbraco_Client/

#
src/Compent.uCommunity/Media/*
!src/Compent.uCommunity/Media/Web.config
src/Compent.uCommunity/App_Data/
src/Compent.uCommunity/App_Data/Logs/*
!src/Compent.uCommunity/App_Data/packages/
!src/Compent.uCommunity/App_Data/Models/
src/Compent.uCommunity/Content/images/bell.png
src/Compent.uCommunity/Content/images/logout.png
src/Compent.uCommunity/Content/images/umbraco.png
src/Compent.uCommunity/Content/images/user.png
src/Compent.uCommunity/Content/images/search.png

src/Compent.uCommunity/node_modules
src/Compent.uCommunity/Content/images/home.png

src/uCommunity.BaseControls/bin/*
src/uCommunity.BaseControls/obj/

src/uCommunity.Core/bin/*
src/uCommunity.Core/obj/
src/uCommunity.Core/Umbraco/
src/uCommunity.Core/Umbraco_Client/
src/uCommunity.Core/App_Data/
src/uCommunity.Core/App_Browsers/
src/uCommunity.Core/Web.config
src/uCommunity.Core/Config/

src/uCommunity.Likes/bin/*
src/uCommunity.Likes/obj/
src/uCommunity.Likes/Umbraco/
src/uCommunity.Likes/Umbraco_Client/
src/uCommunity.Likes/App_Data/
src/uCommunity.Likes/App_Browsers/
src/uCommunity.Likes/Web.config
src/uCommunity.Likes/Config/