#
*.orig
*.rej
.idea/
*.user
*.lock
*.nupkg
packages/
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
node_modules/
Umbraco/
Umbraco_Client/
App_Data/
App_Browsers/

#========================================================================================> WEB
src/Compent.uCommunity/Media/*
src/Compent.uCommunity/build/*
!src/Compent.uCommunity/Media/Web.config
!src/Compent.uCommunity/App_Data/packages/
!src/Compent.uCommunity/App_Data/Models/
src/Compent.uCommunity/Content/images/bell.png
src/Compent.uCommunity/Content/images/logout.png
src/Compent.uCommunity/Content/images/umbraco.png
src/Compent.uCommunity/Content/images/user.png
src/Compent.uCommunity/Content/images/search.png
src/Compent.uCommunity/Content/images/home.png


#========================================================================================> LIKES
src/uCommunity.Likes/App_Plugins/Core/

#========================================================================================> SUBSCRIBE
src/uCommunity.Subscribe/App_Plugins/Core/

#========================================================================================> COMMENTS
src/uCommunity.Comments/App_Plugins/Core/

#========================================================================================> NAVIGATION
src/uCommunity.Navigation/App_Plugins/Core/

#========================================================================================> CENTRAL FEED
src/uCommunity.CentralFeed/Config/
src/uCommunity.CentralFeed/App_Plugins/Core/

#========================================================================================> NEWS
src/uCommunity.News/App_Plugins/Core/

#========================================================================================> NOTIFICATIONS
src/uCommunity.Notification/App_Plugins/Core/

#========================================================================================> EVENTS
src/uCommunity.Events/App_Plugins/Core/

