@using Uintra.Search
@model SearchBoxAutocompleteItemViewModel

@if (Model.Type == SearchConstants.AutocompleteType.All)
{
    <span class="title _all">@Model.Title</span>
}
else
{
    <span class="title">@Html.Raw(Model.Title)</span>
    <span class="type">@Model.Type</span>
}