@using uIntra.Core.Extentions
@model  List<uIntra.Groups.GroupLeftNavigationItemViewModel>

    <ul class="side-nav" id="groupsContainer">
        <li class="side-nav__item" data-id="">
            <a class="side-nav__link _title-link"><span class="icon-link side-nav__icon"></span> @Html.Localize("Groups.Menu.lbl") <span class="side-nav__arrow js-systemLinks__opener"></span></a>
            @foreach (var link in Model)
            {
                <ul class="side-nav">
                        <a class="side-nav__link" href="@link.Url">
                            @link.Name
                        </a>
                </ul>
            }
        </li>
    </ul>
