.block{
    &__meta{
        font-size:13px;
        font-weight:bold;

        &-info{
            margin:0;
            padding:0 0 20px;
            overflow:hidden;
        }

        &-count{
            float:left;
            margin:0 5px 0 0;

            &:after{
                content:' - ';
            }
        }

        &-name{
            &-title{
                text-decoration:underline;
            }
        }
    }
}

.groups {
    padding-top:10px;

    @media (--for-tablet-landscape-up){
        padding-top:0;
    }

    ._groups-create{
        position: absolute;
        top: -95px;
        right: -5px;
        z-index: 11;
        display:none;
    }

    &__list{
        margin:0 -17px;
        padding:0;
        list-style:none;
        display:flex;
        flex-wrap:wrap;
        align-items:stretch;
        clear:right;

        @media (--for-desktop-down){
            display:block;
            margin:0;
        }

        &-item{
            width: 50%;
            padding: 0 17px;
            margin: 0 0 34px;
            position: relative;

            @media (--for-desktop-down) {
                width: 100%;
                padding: 0;
                margin: 0 0 20px;
            }
        }

        &-link{
            background:var(--color-white);
            box-shadow:0 0 3px rgba(0,0,0,0.3);
            display:flex;
            align-items:center;
            height:100%;
            color:var(--text-color-dark);
            overflow:hidden;

            @media(--for-desktop-down){
                height:auto;
            }

            &:active,
            &:focus,
            &:hover{
                color:var(--text-color-dark);
                text-decoration:none;
                background:#e5e5e5;
            }
        }

        &-image{
            float:left;
            width:165px;
            height:165px;
            min-width:165px;
            margin:-1px 30px 0 -1px;
            position:relative;
            overflow:hidden;

            @media (--for-desktop-down){
                width:80px;
                height:80px;
                min-width:80px;
                margin:10px 20px 10px 10px;
            }

            &--avatar{
                display:flex;
                align-items: center;
                justify-content: center;

                .avatar{
                    margin:0;
                }
            }

            .img-responsive{
                position:absolute;
                top:50%;
                left:50%;
                height:100% !important;
                transform: translate(-50%, -50%);
                max-width:initial !important;
            }
        }

        &-title{
            font:bold 18px/22px var(--font-general);
            margin:0 40px 9px 0;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;

            @media (--for-tablet-portrait-down){
                margin-bottom:5px;
                font-size:16px;
                line-height:20px;
            }
        }

        &-holder{
            overflow:hidden;
            padding:10px 20px 10px 0;
            flex-grow:1;
        }

        &-txt{
            font-size:16px;
            line-height:22px;
            margin:0 0 19px;
            max-height:66px;
            overflow:hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */

            @media (--for-tablet-portrait-down) {
                font-size:12px;
                margin:0 0 5px;
            }
            
            p{
                margin:0;
            }
        }

        &-meta{
            font-size:13px;
            margin:0;
            color:#888;

            &-count{
                float:left;
                font-weight:normal;
                margin:0 5px 0 0;
            }
        }
    }

    &__member{
        position:absolute;
        top:19px;
        right:35px;
        width:20px;
        opacity:0.2;

        @media (--for-tablet-portrait-down){
            top:8px;
            right:10px;
        }

        &-tooltip{
            position:absolute;
            bottom:100%;
            right:0;
            margin:0 0 0 10px;
            background:var(--color-black);
            border-radius:3px;
            padding:5px;
            color:var(--color-white);
            font-size:12px;
            line-height:1;
            white-space:nowrap;
            z-index:10;
            display:none;

            :hover > &{
                display:block;
            }
        }
    }

    .btn{
        float: right;
        font: bold 13px/15px var(--font-general);
        background: var(--color-light-gray);
        color: var(--text-color-dark);
        text-transform: uppercase;
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 6px 9px 7px;
        margin: 0 0 20px;
        border-radius:0;
    }
}

.feed{
    &__item{
        &-group{
            display:inline-block;
            vertical-align:top;
            position:relative;

            a{
                display:inline-block;
                vertical-align:top;
                position:relative;

                &:before{
                    content:"";
                    width:20px;
                    height:11px;
                    display:inline-block;
                    vertical-align:top;
                    background:url(/Content/images/group.svg);
                    margin:1px 4px 0 0;
                }
            }
        }

        &-tooltip{
            position: absolute;
            top: 0;
            left: 100%;
            margin: 0 0 0 10px;
            background: #000;
            border-radius: 3px;
            padding: 5px;
            color: #fff;
            font-size: 12px;
            line-height: 1;
            white-space: nowrap;
            z-index: 10;
            display: none;

            :hover > &{
                display:block;
            }
        }
    }
}

.table-holder {
    margin: 0 -15px;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    min-height: calc(100vh - 281px);
    font-size:16px;
    line-height:1.38;

    &._isMobile{
        &:before{
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:rgba(255,255,255,0.5);
            content:'';
        }

        &:after{
            position:absolute;
            top:50%;
            left:50%;
            /*content:url(./icon-scroll.png);*/
            width:100px;
            margin:-30px 0 0 -50px;
        }

        &._isTouched{
            &:before,
            &:after{
                display:none;
            }
        }
    }

    @media (--for-tablet-portrait-down) {
        margin:0 -20px;
        max-width:calc(100% + 40px);
    }
}

.documents-table{
    width:100%;

    @media (--for-tablet-portrait-down) {
        font-size:13px;
    }

    &__row{
        border-bottom:1px solid var(--color-light-gray);
    }

    &__head,
    &__cell{
        padding:18px 15px;

        @media (--for-tablet-portrait-down) {
            padding:10px 5px;

            &:first-child{
                padding-left:20px;
            }

            &:last-child{
                padding-right:20px;
            }
        }

        &._delete{
            text-align:center;
        }
    }

    &__head{
        white-space:nowrap;
        font-weight:normal;

        &:nth-child(3){
            width:30%;
        }
    }

    &__link{
        color:var(--text-color-dark);

        &:hover,
        &:active,
        &:focus{
            color:var(--text-color-dark);
        }

        &._desc,
        &._asc{
            &:after{
                font-family: 'icomoon' !important;
                speak: none;
                display:inline-block;
                vertical-align:top;
                margin:4px 0 0 10px;
                line-height: 1;
                font-size:16px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content:"\e900";
                /*transform:rotate(90deg);*/
            }
        }

        &._desc{
            &:after{
                transform:rotate(-180deg);
            }
        }
        
        /*&._asc{
            &:after{
                transform:rotate(90deg);
            }
        }*/
    }

    &__name{
        color:var(--text-color-dark);
    }

    &__delete{
        font-size:0;
        line-height:0;
        vertical-align:top;

        &:before{
            font-size:20px;
            line-height:1;
            color:var(--text-color-dark);
        }

        &:hover{
            text-decoration:none;
        }
    }
}

.members-table{
    width:100%;
    margin:0 0 20px;

    &__row{
        border-bottom:1px solid var(--color-light-gray);

        &:first-child{
            border:0;
        }
    }

    &__head{
        padding:5px 15px 24px;

        @media (--for-tablet-portrait-down) {
            padding:18px 20px;
            white-space:nowrap;
        }

        &._delete{
            text-align:center;
        }
    }

    &__cell {
        padding:14px 15px;

        &:first-child{
            padding-right:0;
        }

        &._role,
        &:last-child{
            color:var(--text-color-dark);
        }

        &._phone{
            white-space:nowrap;
        }
    }

    &__head{
        white-space:nowrap;
        font-weight:normal;
        position:relative;

        &:before{
            content:'';
            position:absolute;
            bottom:0;
            left:-20px;
            right:-20px;
            height:1px;
            background:var(--color-light-gray);
            z-index:2;
        }
    }

    &__delete{
        font-size:0;
        line-height:0;
        vertical-align:top;

        &:before{
            font-size:20px;
            line-height:1;
            color:var(--text-color-dark);
        }

        &:hover{
            text-decoration:none;
        }
    }

    /*&__name {
        color: var(--color-contrast);
    }*/

    &__link{
        color:var(--text-color-dark);

        &:hover,
        &:active,
        &:focus{
            color:var(--text-color-dark);
        }
    }
}

.avatar--group-member{
    margin:-7px 0;
    width: 30px;
    min-width: 30px;
    height: 30px;
}