<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositorypath" value="..\..\packages" />
  </config>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Compent" value="http://nuget.compent.dk/nuget" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <Compent>
      <add key="Username" value="demo" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAoIcFhiyAxkiLrEiWmPhRrAAAAAACAAAAAAAQZgAAAAEAACAAAACHmWFMtCFILxF8bnLcLOR1C7w3f89gh88mON9KHLrjQAAAAAAOgAAAAAIAACAAAAAJuJFDUd8HQlN5KUTmKldvFD1PgzmBXxvBFQTbbXFV+BAAAABvxvWTi14KFwGiypx80Qd/QAAAAA5lHikk70/fxF+WkEmsRUdvVJjg1QOLvDGwwEWLDYsuZElmQ8ICjfQEdOzgEUgWewlbxLWzjRy3SFzaQAUHxK4=" />
    </Compent>
  </packageSourceCredentials>
</configuration>