@using uIntra.Core.Extensions
@model uIntra.News.NewsPreviewViewModel

<div class="block__item">
    <p>
        @Html.Localize(Model.ActivityType.Name)<br />
        @Model.PublishDate.ToDateTimeFormat()
    </p>
    <h3 class="block__subtitle">
        <a href="@Model.Links.Details" class="js-clamp">@Html.Raw(Model.Title)</a>
    </h3>
</div>