@model uCommunity.Comments.CommentPreviewModel

<span class="comments-preview @(Model.Count > 0 ? "_hasComments" : string.Empty)">
    <a class="comments-preview__link" href="@Model.Link"><i class="icon-comment"></i> @(Model.Count > 0 ? Model.Count.ToString() : string.Empty)</a>
</span>