.utm-control {
    padding-top: 5px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.utm-table {
    width: 70%;
    text-align: left;
}

.utm-table th,
.utm-table td {
    padding: 8px;
}

    .utm-table td {
        border-bottom: 1px solid #d8d7d9
    }

    .utm-table th:first-child,
    .utm-table td:first-child {
        padding-left: 0;
    }

.utm-table th:last-child,
.utm-table td:last-child {
    padding-right: 0;
}

.utm-table select,
.utm-table input {
    width: 100%;
    margin: 0;
}

.utm-table .checkbox {
    margin: 0 10px 0 0;
}