<?xml version="1.0" encoding="utf-8"?>
<applications>
  <add alias="content" name="Content" icon="traycontent" sortOrder="0"/>
  <add alias="media" name="Media" icon="traymedia" sortOrder="1"/>
  <add alias="settings" name="Settings" icon="traysettings" sortOrder="2"/>
  <add alias="developer" name="Developer" icon="traydeveloper" sortOrder="3"/>
  <add alias="users" name="Users" icon="trayusers" sortOrder="4"/>
  <add alias="member" name="Members" icon="traymember" sortOrder="5"/>
  <add alias="forms" name="Forms" icon="icon-umb-contour" sortOrder="6"/>
  <add alias="translation" name="Translation" icon="traytranslation" sortOrder="7"/>
  <add alias="news" name="News" icon="icon-newspaper-alt color-red" sortOrder="0"/>
  <add alias="events" name="Events" icon="icon-calendar-alt color-red" sortOrder="0"/>
  <add alias="bulletins" name="Bulletins" icon="icon-notepad color-red" sortOrder="0"/>
  <add alias="NotificationSettings" name="NotificationSettings" icon="icon-file-cabinet color-red" sortOrder="0"/>
  <add alias="groups" name="Groups" icon="icon-chat color-red" sortOrder="0"/>
  <add alias="SentMails" name="Sent Mails" icon="icon-message color-red" sortOrder="0"/>
  <add alias="Localization" name="Localization" icon="icon-file-cabinet color-red" sortOrder="0"/>
</applications>