<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<settings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <scheduledTasks>
    <task alias="reminderJob" log="true" interval="86400" url="http://uintra.dev.compent.dk/umbraco/api/NotificationJob/RunReminderJob" xdt:Transform="SetAttributes" xdt:Locator="Match(alias)"/>
    <task alias="sentMailsLocal" log="true" interval="60" url="http://uintra.dev.compent.dk/umbraco/api/NotificationJob/RunMailJob" xdt:Transform="SetAttributes" xdt:Locator="Match(alias)"/>
  </scheduledTasks>
</settings>