.comments{
    margin:0;
    padding:24px 0 0;
    border-top:1px solid var(--color-light-gray);

    &__block{
        .content-page &{
            display: block;
            margin: 0 0 22px;
            padding: 20px 20px 19px;
            background: var(--color-white);
            box-shadow: 0 0 2px rgba(0,0,0,0.2);

            @media (--for-tablet-portrait-down) {
                margin:0 -15px 10px;
                padding: 20px 15px 19px;
            }
        }
    }

    &__title{
        font:20px/25px var(--font-general);
        margin:0 0 36px;
    }

    &__list{
        margin:0 0 30px;
        padding:0;
        list-style:none;
        position: relative;

        &._inner{
            margin:14px 0 0 -14px;
            padding:0 0 0 10px;
            border-left: 2px solid var(--color-light-gray-2);
        }

        &-item{
            font-size:13px;
            line-height:22px;
            margin:0 0 19px;

            ._inner &{
                margin:12px 0 0;
            }
        }

        &-body{
            padding:0 0 0 19px;
            float:left;
            width:calc(100% - 62px);

            ._inner &{
                padding:0 0 0 9px;
                width:calc(100% - 32px);
            }
        }
        &-text{
            position:relative;
            padding-bottom:10px;

            p{
                margin:0;
            }

            a{
                text-decoration:underline;

                &:hover{
                    text-decoration:none;
                }
            }

            img{
                margin:0 4px;
            }
        }

        &-replies{
            position:relative;
        }
    }

    &__hide{
        position:absolute;
        top:-12px;
        right:-12px;
        width:25px;
        height:25px;
        text-align:center;
        border-radius:50%;
        background:var(--color-white);
        box-shadow:0 0 5px rgba(0,0,0,0.5);
        z-index:2;
        cursor:pointer;

        .icon-close{
            font-weight:bold;
            font-size:18px;
            line-height:25px;
            color:var(--text-color-dark);
        }
    }

    &__author{
        &-name{
            font-weight: bold;
            font-family:var(--font-general);
            color:var(--text-color-dark);
        }
            
        &-about{
            margin:0 0 2px;
            display:inline-block;
            vertical-align:top;

            ._inner &{
                margin-top:-6px;
            }
        }

        &-inactive{
            color:var(--text-color-light);
            display:none;

            ._inactive &{
                display:inline-block;
            }
        }
    }

    &__controls {
        display:inline-block;
        vertical-align:top;
        width: 11px;
        height: 17px;
        cursor: pointer;
        position: relative;
        
        @media (--for-tablet-portrait-down) {
			margin:0 -3px 0 0;
		}

        &:before {
            position:absolute;
            top:5px;
            right:2px;
            width:7px;
            height:7px;
            border:solid var(--text-color-dark);
            border-width:0 1px 1px 0;
            transform:rotate(45deg);
            content:'';
        }

        &:hover {
            &:before {
                transform:rotate(-135deg);
                top:8px;
            }
        }

        &-list {
            display: none;
            position: absolute;
            top: 100%;
            right: -13px;
            min-width: 140px;
            margin: 0;
            padding: 0;
            list-style: none;
            border: 1px solid var(--color-light-gray-2);
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
            background: var(--color-white);
            z-index: 10;

            :hover > & {
                display: block;
            }

            &:after {
                position:absolute;
                top:-4px;
                right:14px;
                width:7px;
                height:7px;
                border:solid var(--color-light-gray-2);
                background: var(--color-white);
                border-width:0 1px 1px 0;
                transform:rotate(-135deg);
                z-index: -1;
                content:'';
            }

            &-item {
                border-top:1px solid var(--color-light-gray-2);

                &:first-child {
                    border: none;
                }
            }

            &-link {
                display: block;
                padding: 5px 19px 3px;
                color: var(--text-color-dark);
                text-decoration: none;

                &:active,
                &:focus,
                &:hover {
                    background: var(--color-light-gray-2);
                    text-decoration: none;
                    color: var(--text-color-dark);
                }
            }
        }
    }

    &__subtitle{
        font:bold 13px/22px var(--font-general);
        margin:0 0 4px;
    }

    &__form{
        position:relative;

        .comments__list &{
            margin:0;
        }

        &-field{
            margin:0 0 10px;
        }

	    .btn {
            margin: 0 0 15px;
		    @media (--for-tablet-portrait-down) {
			    display: inline-block !important;
		    }
	    }
    }

    &__toolbar{
        display:flex;
        flex-direction:row-reverse;
        padding:10px 0 0;
    }

    &__reply {
        color: var(--text-color-dark);
        text-decoration: underline;
        cursor: pointer;
        display:inline-block;
        vertical-align:top;
        font-size: 13px;
        margin:0 7px;

        @media (--for-tablet-portrait-down) {
			margin:0 5px 0 0;
		}

        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
            color: var(--text-color-dark);
        }
    }

    &__modified{
        display:inline-block;
        vertical-align:top;
        position:relative;
        margin:0 3px 0 10px;
        cursor:pointer;

        @media (--for-tablet-portrait-down) {
			margin:0 5px;
		}

        &-info{
            position:absolute;
            top:100%;
            right:0;
            background:rgba(0,0,0,0.9);
            color:var(--color-white);
            border-radius:3px;
            padding:5px 10px;
            opacity:0;
            transition:opacity ease-in 200ms 200ms;
            min-width:170px;
            z-index:-1;

            :hover > &{
                opacity:1;
                z-index:1;
            }
        }
    }
}

.comments-preview{
    margin: 0 10px 0 0;
    display:inline-block;
    vertical-align:top;
    position:relative;

    &__link{
        color:var(--text-color-dark);

        &:active,
        &:focus,
        &:hover{
            color:#5776f9;
            text-decoration:none;

            .icon-comment{
                color:#b2b2b2;
                text-decoration:none;
            }
        }
    }

    .icon-comment{
        font-size:16px;
        margin:0 9px 0 0;
        vertical-align:top;
        display:inline-block;
        color: #b2b2b2;
    }
}

.comments-preview._hasComments .comments-preview__link {
    color: var(--text-color-dark);

    &:active,
    &:focus,
    &:hover{
        color:#5776f9;
    }

    .icon-comment{
        color: #b2b2b2;
    }
}

.link-preview {
    font: 13px/22px 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 0 0 40px;

    .comments &{
        font-size:13px;
        line-height:18px;
    }

    .create-bulletin & {
        display:none;
        padding:0 22px 25px;

        @media (--for-tablet-portrait-down) {
			padding:0 15px 15px;
		}
    }

    .create-bulletin._expanded &{
        display:block;
    }

    &:after{
        content:'';
        display:block;
        clear:both;
    }
    
    &__block{
        background:#e4e4e4;
        position:relative;
        padding:2px;
        display:flex;
        align-items:stretch;

        @media (--for-phone-only){
            display:block;
        }
    }

    &__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 31px;
		height: 31px;
		border: none;
        padding:0;
        margin:0;
		background: none;
        text-indent:-9999px;
        overflow:hidden;

		&:before {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 1px;
			background: #303030;
			transform: rotate(45deg);
            margin-top:-1px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 1px;
			background: #303030;
			transform: rotate(-45deg);
            margin-top:-1px;
		}
	}

    &__title{
        margin:0 0 1px;
        font:700 16px/22px 'Open Sans', Arial, Helvetica, sans-serif;

         .comments &{
            font-size:13px;
            line-height:18px;
        }

        a{
            color:var(--text-color-dark);

            &:hover,
            &:focus,
            &:active{
                color:var(--text-color-dark);
            }
        }
    }

    p{
        margin:0 0 5px;
     }

    &__image{
        /*float:left;
        margin:0 20px 0 0;*/
        max-width: 35.5%;
        align-items: center;
        display: flex;

        @media (--for-phone-only){
            /*float:none;*/
            max-width: none;
            margin:0;
            display:block;
            text-align:center;
        }
    }

    img{
        height: auto;
        max-width: 100%;
        margin:0;
    }

    &__text{
        padding:10px 20px 5px;
        align-items: center;
        display: flex;

        @media (--for-phone-only){
            display:block;
            padding:10px 15px 5px;
        }
    }

    &--edit{
        .link-preview-title{
            padding:0 21px 0 0;
        }
    }
}