@import 'base.less';

.groups-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 57px;

  &-item {
    flex: 100%;
    max-width: 100%;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 20px;

    @media @lg-up {
      flex: 50%;
      max-width: 50%;
      height: 165px;
      margin-bottom: 34px;
    }

    &__link {
      text-decoration: none;
      color: @body-text-color;
      display: flex;
      width: 100%;
      height: 100%;
      .white-block;
      position: relative;

      &:hover {
        background-color: @hover-grey;
      }
    }

    &__image {
      position: absolute;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-wrapper {
        width: 165px;
        min-width: 165px;
        height: 165px;
        position: relative;
        overflow: hidden;
        margin-right: 30px;
      }
    }

    &__avatar {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    &__info {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      padding: 10px 50px 10px 0;

      &-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        height: 22px;
        margin-bottom: 9px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-description {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 19px;
        max-height: 66px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      &-members {
        font-size: 13px;
        color: @body-text-color--light;
      }
    }
  }

  &__loader {
    .spinner;
    color: #444;

    &-wrapper {
      display: flex;
      justify-content: center;
      margin: 30px auto 60px;
    }
  }
}

.icon-checkmark {
  position: absolute;
  top: 20px;
  right: 20px;
  color: @border-color;
  font-size: 20px;
}
