<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bef36885-90ae-45e0-a11a-567b5c141569" Alias="activityCreatePanel" Level="3">
  <Info>
    <Name>Activity Create</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d1eedd6c-1f2b-4bd0-bff3-21b50913377c</Key>
      <Name>Tab Type</Name>
      <Alias>tabType</Alias>
      <Definition>7b4b8ec1-cc0b-40b7-ad45-949fbd34196c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>