<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="124af35b-480f-4bc9-9262-f256cb763dc0" Alias="anonymousAccessComposition" Level="3">
  <Info>
    <Name>AnonymousAccessComposition</Name>
    <Icon>icon-unlocked color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0f01d4e3-967e-4d6e-9faa-3b21dd26a5d4</Key>
      <Name>AllowAccess</Name>
      <Alias>allowAccess</Alias>
      <Definition>680cdaa8-0353-463b-a106-413ce69018fe</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>