<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c0dfb46-5a1b-406d-94b4-9981b8cab04b" Alias="autoSuggest" Level="3">
  <Info>
    <Name>AutoSuggest</Name>
    <Icon>icon-search color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="103c12c9-efb5-4c2e-826a-b335186a01e5">anchorComposition</Composition>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
      <Composition Key="78a22913-4275-4a27-bbf3-2f31e2a1e2c5">panelUtmConfigurationComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>