<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad2cd9c5-ee53-4250-8804-ad9e8d77fb49" Alias="comingEventsPanel" Level="3">
  <Info>
    <Name>Coming Events</Name>
    <Icon>icon-timer color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ec6e3333-877c-4d00-970c-33798a938500</Key>
      <Name>Events Amount</Name>
      <Alias>eventsAmount</Alias>
      <Definition>4840daf9-0c51-4dd3-b333-7f7f44826de8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d3ef5f6d-9d1e-4067-a71a-8ac9c337d158</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>8ca380fd-a531-4a9a-b5f0-f7af5a4133da</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>