<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="394d63ac-e186-4c15-a912-82596a8924c7" Alias="contactPanel" Level="3">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-user color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="103c12c9-efb5-4c2e-826a-b335186a01e5">anchorComposition</Composition>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
      <Composition Key="78a22913-4275-4a27-bbf3-2f31e2a1e2c5">panelUtmConfigurationComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>02f3d6a2-4127-41a1-ac8b-edda1e65aa5e</Key>
      <Name>Contact List</Name>
      <Alias>contacts</Alias>
      <Definition>a2401242-12ea-470a-acf5-592b4407b84a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>efa04581-7817-476e-b916-9e6562bef305</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>3c5d54f9-6a62-4cfe-8144-1ddb0ff6be8a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>