<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a1fb9db-b990-42ce-bd86-d273e5259c12" Alias="localScriptsComposition" Level="3">
  <Info>
    <Name>Local Scripts</Name>
    <Icon>icon-script-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c2a2146d-4fd2-4fcf-92a1-6cbd28efaf99</Key>
      <Name>Body Script</Name>
      <Alias>bodyLocalScript</Alias>
      <Definition>b4d6c0f3-73b3-41e4-a614-56d8aa1691bd</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Local Scripts</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2cbad40d-5423-4064-b71b-6b656124e847</Key>
      <Name>Footer Script</Name>
      <Alias>footerLocalScript</Alias>
      <Definition>b4d6c0f3-73b3-41e4-a614-56d8aa1691bd</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Local Scripts</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6ddd4245-9850-4622-9c46-a6ce0f4a8efb</Key>
      <Name>Header Script</Name>
      <Alias>headerLocalScript</Alias>
      <Definition>b4d6c0f3-73b3-41e4-a614-56d8aa1691bd</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Local Scripts</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Local Scripts</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>