<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="78a22913-4275-4a27-bbf3-2f31e2a1e2c5" Alias="panelUtmConfigurationComposition" Level="3">
  <Info>
    <Name>UTM Panel Configuration</Name>
    <Icon>icon-hammer color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Panels</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>34852b4e-4461-4be8-a053-86f93d12ee4b</Key>
      <Name>UTM Configuration</Name>
      <Alias>utmConfiguration</Alias>
      <Definition>8c7765a7-44b6-49e3-9217-b45b7f7c0da9</Definition>
      <Type>UBaseline.UtmConfiguration.Panel</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>100</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>