<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c2431d8-ec8e-4a65-ada0-05872dbf3e8e" Alias="profileEditPage" Level="3">
  <Info>
    <Name>Profile Edit</Name>
    <Icon>icon-edit color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Parent>
    <Compositions>
      <Composition Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Composition>
      <Composition Key="ac6ff81e-2429-41c2-bc3e-140ddf1bb94c">pageSettingsComposition</Composition>
      <Composition Key="929b3b12-d25f-4148-864a-25cc43e88094">panelsComposition</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>