<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d0a62e98-219f-4047-84bd-a7d9d27fd25b" Alias="spotPanel" Level="3">
  <Info>
    <Name>Spot</Name>
    <Icon>icon-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="103c12c9-efb5-4c2e-826a-b335186a01e5">anchorComposition</Composition>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
      <Composition Key="78a22913-4275-4a27-bbf3-2f31e2a1e2c5">panelUtmConfigurationComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7a14751c-4dd0-455c-bae1-c17b3cf8d5be</Key>
      <Name>Columns Count</Name>
      <Alias>columnsCount</Alias>
      <Definition>b62501be-e8a3-4b24-89a1-824b57e7bc41</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>784eafc4-1764-4eba-8344-c145ffdce30f</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>ac56b33a-3b1f-4d5e-a9a8-6d45f9244087</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aafff1e0-cb10-4b3c-9e8f-6854890b4d0f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>7c1bb8d4-9a4d-4454-a531-96ab89fe1bc8</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>