<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c31f2fb5-b668-45a0-b1c9-e9f47cafd07b" Alias="topImageComposition" Level="3">
  <Info>
    <Name>Top Image</Name>
    <Icon>icon-imac color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>23f9d5fa-33e2-4698-99cd-5117f208903f</Key>
      <Name>Top Image Description</Name>
      <Alias>topImageDescription</Alias>
      <Definition>686b7ecc-487f-4bf0-80b9-59a91db6c10b</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Top Image</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6e674cd0-19f0-4a8b-8b0b-35cfed63286e</Key>
      <Name>Top Image Link</Name>
      <Alias>topImageLink</Alias>
      <Definition>19d6bec6-af3f-4fe3-b089-7c5aaaaf165f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Top Image</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3f3b18e3-4aea-451a-bdf8-a4cca7f7a9f8</Key>
      <Name>Top Image Media</Name>
      <Alias>topImageMedia</Alias>
      <Definition>79a59c85-b243-489d-8fbc-02310fa80882</Definition>
      <Type>UBaseline.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Top Image</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0c08c8dd-7a24-48f5-8318-0f0308f57bd1</Key>
      <Name>Top Image Title</Name>
      <Alias>topImageTitle</Alias>
      <Definition>c18a2846-f269-4282-97ae-3c8117d80e28</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Top Image</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Top Image</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>