<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5510a48c-0f72-4b3b-b4cf-19aa1e4d6441" Alias="userTagItem" Level="3">
  <Info>
    <Name>User Tag Item</Name>
    <Icon>icon-tag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>925c39eb-1f6c-4129-81af-62b174e8c83e</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>d3ef117f-b24c-4c87-beb2-68a82dfe561e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>