<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c282727d-b06f-4561-8376-579ee69da22c" Alias="userTagsPanel" Level="3">
  <Info>
    <Name>User Tags</Name>
    <Icon>icon-tags color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
    </Compositions>
    <DefaultTemplate>UserTags</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9a1cc2ff-1e76-4f69-9bb2-5fa5080a4999">UserTags</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bb1216a9-f723-4a6e-a9a3-47cbaf363816</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>0473910c-264d-4cef-a919-a81965bea63f</Definition>
      <Type>userTags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>