@using System.Web.Mvc
@using System.Web.Mvc.Html
@using uIntra.Core.Extensions
@model uIntra.Tagging.UserTags.Models.TagPickerViewModel

<div class="form__row js-user-tag-picker-holder">
    <label class="form__label" for="user-tags-picker">@Html.Localize("UserTagsPicker.AddTags.lbl")</label>
    @Html.Hidden("TagIdsData", Html.Raw(Model.TagIdsData.JoinToString()), new { id = "selectedTagIds" })
    @Html.Hidden("UserTagCollection", Html.Raw(Model.UserTagCollection.ToJson()), new { id = "userTagCollection" })
    @Html.DropDownList("user-tags-picker", new List<SelectListItem>(), new { @class = "js-user-tags-picker", multiple = "multiple", placeholder = Html.Localize("UserTagsPicker.Placeholder.lbl") })
</div> 