@using System.Web.Mvc.Html
@using Uintra.Core.Extensions
@using Umbraco.Web
@model Uintra.Users.LoginModelBase
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/build/head_css.js"></script>
    <link type="text/css" href="/build/app.css" rel="stylesheet" />
    <link type="text/css" href="/build/head_css.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginUmbracoForm("Login", "Login"))
    {
        <div class="login">
            <div class="form">
                <div class="form__row">
                    <strong class="form__logo"><img src="~/App_Plugins/Users/Login/logo.png" width="130" /></strong>
                </div>
                <div class="form__row">
                    @Html.TextBoxFor(m => Model.Login, new { data_val_required = Html.Localize("Login.Login.Required"),
                   @class = "form__input", placeholder = Html.Localize("Login.Login.ph") })
                </div>
                <div class="form__row">
                    @Html.PasswordFor(m => Model.Password, new { data_val_required = Html.Localize("Login.Password.Required"),
                   @class = "form__input", placeholder = Html.Localize("Login.Password.ph"), value = Model.Password })
                </div>
                <div class="form__row">
                    <input class="btn _submit" type="submit" value="@Html.Localize("Login.Login.btn")" />
                </div>
                <div class="form__row">
                    @Html.ValidationSummary()
                </div>
                <input type="hidden" name="clientTimezoneOffset" class="clientTimezoneOffset" value="" />
            </div>
        </div>
        <script src="~/App_Plugins/Core/Content/scripts/TimezoneOffsetSetter.js"></script>
    }
</body>
</html>