@import "../../../base.less";

:host {
    display: block;

    &.full-content {
      .news-panel__content {
        .centered;
      }
    }
    &.full-browser {
      .news-panel__content {
        .centered-max;
      }
    }
}

.news-panel {
    .theme(bg-color);

    &__content {
        .theme(text-color);
        padding-top: 32px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;
    }

    &__title {
        .h2;
        .theme(title-color);
    }

    &__link {
      .link;
      .theme(link-color);
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;

        @media @sm {
          flex-direction: row;
        }
    }

    &-item {
      flex: 1;
      padding-left: 10px;
      padding-right: 10px;
    }

    ::ng-deep  .news-panel-item__description {
      .theme(text-color);
    }
    ::ng-deep .news-panel-item__title {
      .theme(title-color);
    }
    ::ng-deep .news-panel-item__date {
      .theme(text-color);
  }
}

@import './override.less';
