<div class="navigation-wrapper" #wrapper ss-container>
  <div class="navigation-content">
    <ul class="left-nav">
      <ng-container
        *ngTemplateOutlet="
          recursiveMenu;
          context: { $implicit: navigationItems }
        "
      >
      </ng-container>
    </ul>

    <app-shared-links></app-shared-links>
    <app-my-links></app-my-links>
  </div>
</div>

<ng-template #recursiveMenu let-menus>
  <li *ngFor="let item of menus" class="left-nav__item">
    <ng-container *ngTemplateOutlet="itemLink; context: { $implicit: item }">
    </ng-container>

    <button
      *ngIf="item.children.length"
      class="left-nav__arrow"
      [ngClass]="{ active: item.isSelected }"
      (click)="onToggleItem(item)"
    >
      Expand
    </button>

    <ng-container *ngIf="item.children.length">
      <ul
        class="left-nav__sub-item"
        [hidden]="!item.isSelected"
        [ngClass]="{ active: item.isSelected }"
      >
        <ng-container
          *ngTemplateOutlet="
            recursiveMenu;
            context: { $implicit: item.children }
          "
        ></ng-container>
      </ul>
    </ng-container>
  </li>
</ng-template>

<ng-template #itemLink let-item>
  <span
    *ngIf="item.isHeading"
    class="left-nav__item-link"
    [ngStyle]="getNestingPadding(item.level)"
  >
    {{ item.name }}
  </span>

  <a
    *ngIf="!item.isHeading"
    class="left-nav__item-link left-nav__item-link--with-hover"
    routerLinkActive="active"
    [routerLink]="item.url"
    [ngStyle]="getNestingPadding(item.level)"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    {{ item.name }}
  </a>

  <span class="left-nav__home" *ngIf="item.isHomePage"></span>
</ng-template>
