@import "base.less";

:host {
  display: block;
  padding: 50px 32px 0 0;
  font-size: 16px;
  line-height: 22px;
}

.left-nav {
  &__item {
    position: relative;
    font-weight: 600;
  }

  &__sub-item {
    .left-nav__item {
      font-weight: 400;
    }
  }

  &__item-link {
    display: block;
    padding: 11px 48px 9px 19px;
    color: #261d43;
    word-wrap: break-word;
    cursor: pointer;
    margin: 0 0 -2px;
    position: relative;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      background: #5776f9;
      width: 5px;
      left: 0;
      top: 0;
      bottom: 0;
      display: none;

      @media @sm-up {
        width: 2px;
      }
    }

    &:hover,
    &--active {
      background: #f6f6f6;
      text-decoration: none;
      color: #261d43;

      &:before {
        display:block;
      }
    }
  }

  &__arrow {
    .reset-button;
    font-size: 0;
    display: block;
    position: absolute;
    top: 0;
    height: 42px;
    width: 30px;
    right: 0;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 21px;
      width: 9px;
      height: 9px;
      border: solid #555;
      border-width: 1px 0 0 1px;
      transform: rotate(225deg);
    }

    &.active:after {
      transform: rotate(45deg);
      border-color: #555;
      top: 20px;
    }
  }
}
