@import "base.less";
@import "./styles/link.less";

:host {
  display: block;
}

.navigation-wrapper {
  position: fixed;
  display: block;
  height: calc(100vh - @header-height);
  position: relative;

  @media @sm-up {
    height: calc(100vh - @header-height-md);
  }

  &::before {
    content: '';
    background-color: white;
    width: 1500px;
    height: 100%;
    position: absolute;
    right: 100%;
  } 
}

.navigation-content {
  padding: 50px 32px 0 0;
  font-size: 16px;
  line-height: 22px;
}
