@using uIntra.Core.Extentions
@model uIntra.Core.Activity.IntranetActivityDetailsHeaderViewModel

@{
    var defaultImage = "/Content/images/default-avatar.png";
}

<header class="content__item-heading clearfix">
    <div class="content__item-avatar">
        @if (!String.IsNullOrEmpty(Model.Creator.Photo))
            {
            <img class="content__item-avatar-img" style="width: 60px; height: 60px;" src="@(Model.Creator?.Photo)" />
        }
        else
        {
            <img class="content__item-avatar-img" src="@defaultImage" />
        }
    </div>
    <div class="content__item-title-holder">
        <p class="content__item-meta">
            @foreach (var date in Model.Dates)
            {
                <span class="content__item-date">@date</span>
                <span class="content__item-divider"> - </span>
            }
            <span class="content__item-category">@Html.Localize(Model.Type)</span>
        </p>
    </div>
</header>