@import "base.less";
@import "./../../../../styles/temp/profile.less";

.profile {
  &__header {
    padding-bottom: 40px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10px;
      right: -10px;
      height: 1px;
      background: @border-color;
    }
  }
}

.user-block {
  ._avatar {
    position: relative;
  }

  .avatar {
    border-radius: 50%;
    background: #eee;
  }

  .avatar-remove {
    position: absolute;
    top: -13px;
    right: -13px;
    cursor: pointer;
    padding: 5px;
  }
}

.form {
  display: block;

  &__row {
    display: flex;
    align-items: center;
  }

  label {
    flex: 0 0 105px;
    padding: 0 5px;

    @media @sm-up {
      flex: 0 0 120px;
      padding: 0 10px 0 20px;
    }
  }

  .input {
    margin: 0;
  }
}
