@import "base.less";
@import "./../../../../styles/temp/profile.less";

.profile {
  &__header {
    padding-bottom: 40px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10px;
      right: -10px;
      height: 1px;
      background: @border-color;
    }
  }
}

.form {
  &__row {
    display: flex;
    align-items: center;
  }

  label {
    flex: 0 0 100px;
    padding: 0 5px 0 0;
  }
}
