.file-extension{
    width: 40px;
    height: 20px;
    background:#545454;
    border-radius:3px;
    display: block;
    font-size:12px;
    text-align:center;
    line-height:20px;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;

    &::before{
        content:'doc';
    }

    &._jpg,
    &._jpeg{
        &::before{
            content:'jpg';
        }
    }
    &._mp4{
        &::before{
            content:'mp4';
        }
    }
    &._avi{
        &::before{
            content:'avi';
        }
    }
    &._asf{
        &::before{
            content:'asf';
        }
    }
    &._mov{
        &::before{
            content:'mov';
        }
    }
    &._swf{
        &::before{
            content:'swf';
        }
    }
    &._mpg{
        &::before{
            content:'mpg';
        }
    }
    &._wmv{
        &::before{
            content:'wmv';
        }
    }
    &._pdf{
        &::before{
            content:'pdf';
        }
    }
    &._svg{
        &::before{
            content:'svg';
        }
    }
    &._docx,
    &._doc{
        &::before{
            content:'doc';
        }
    }
    &._xlsx,
    &._xls{
        &::before{
            content:'xls';
        }
    }
    &._csv{
        &::before{
            content:'csv';
        }
    }
    &._txt{
        &::before{
            content:'txt';
        }
    }
    &._pptx,
    &._ppt{
        &::before{
            content:'ppt';
        }
    }
    &._png{
        &::before{
            content:'png';
        }
    }
}