.reset-button() {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
}

.button-main() {
  .reset-button;
  background: @btn-bg;
  color: @btn-color;
  padding: 6px 15px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  width: auto;

  &:hover {
    opacity: 0.6;
  }
}

.shadow() {
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.centering() {
  max-width: 1552px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.list-reset() {
  padding: 0;
  margin: 0;
  list-style: none;
}
