//colors
@blue               : #4c6cf4;
@dark-blue          : #261d43;
@grey               : #8f8f8f;
@dark-grey          : #555;
@light-grey         : #f6f6f6;
@border-grey        : #ccc;
@white              : #fff;
@black              : #000;
@red                : #ed7872;

@main-color         : @white;
@link-color         : @blue;
@body-text-color    : @dark-grey;
@body-bg            : @light-grey;
@main-body-bg       : @light-grey;
@header-bg          : @blue;
@btn-bg             : @dark-blue;
@alt-btn-border     : @grey;
@text-reverse-color : @white;
@heading-bg         : @dark-blue;
@border-color       : @border-grey;
@select-color       : @red;
@key-bg-color       : @white;
@icon-black         : @black;

//general variables

@font               : "muli", Arial, Helvetica, sans-serif;
@body-font          : 14px/1.3 @font;

@header-height      : 60px;
@header-height-md   : 70px;
