//colors
@blue                      : #4c6cf4;
@dark-blue                 : #261d43;
@white                     : #fff;
@lighter-grey              : #f6f6f6;
@light-grey                : #e5e5e5;
@border-grey               : #ccc;
@grey                      : #8f8f8f;
@dark-grey                 : #555;
@black                     : #000;
@red                       : #ed7872;
@dark-red                  : #dd0a2d;

@main-color                : @white;
@link-color                : @blue;
@body-text-color           : @dark-grey;
@body-text-color--light    : @grey;
@body-bg                   : @lighter-grey;
@main-body-bg              : @lighter-grey;
@header-bg                 : @blue;
@btn-bg                    : @dark-blue;
@alt-btn-border            : @grey;
@text-reverse-color        : @white;
@heading-bg                : @dark-blue;
@border-color              : @border-grey;
@select-color              : @red;
@key-bg-color              : @white;
@icon-black                : @black;
@validation-color          : @dark-red;
@hover-grey                : @light-grey;

//general variables

@font                      : "muli", Arial, Helvetica, sans-serif;
@body-font                 : 14px/1.3 @font;

@header-height             : 60px;
@header-height-md          : 70px;
