//colors
@blue               : #4c6cf4;
@dark-blue          : #261d43;
@grey               : #8f8f8f;
@dark-grey          : #555;
@light-grey         : #f6f6f6;
@white              : #fff;
@black              : #000;
@red                : #ed7872;

@link-color         : @blue;
@body-text-color    : @dark-grey;
@body-bg            : @light-grey;
@header-bg          : @blue;
@btn-bg             : @dark-blue;
@btn-color          : @white;

//general variables
@body-font          : 14px/1.3 "muli", Arial, Helvetica, sans-serif;
