@import "base.less";

:host {
    display: block;
    width: 100%;
    position: relative;

    &::ng-deep{
      .autosuggest{
        display: block;
        position: relative;
        background-color: @key-color;
        z-index: 4;

        .theme(bg-color);
        .theme(text-color);

        &__container{
          .centered
        }

        &__input-holder {
          position: relative;
        }

        &__ico {
          .search-icon;
          z-index: 4;
        }

        .input-element {
          font-size: 22px;
          line-height: 1.2;
          border: none;
          padding: 30px 40px 30px 46px;
          display: block;
          width: 100%;
          background: none;
          color: @text-color;

          @media @sm {
            font-size: 30px;
            padding: 36px 40px 30px 0;
            margin-left: 56px;
          }

          .autosuggest-input;
        }

        .icon {
          cursor: pointer;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
          width: 28px;
          padding-right: 14px;
          height: 38px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            display: block;
            width: 100%;
          }

          &.icon-search {
            display: none;
          }
        }
      }
    }
}

app-autosuggest-results {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1px;
    z-index: 3;
    display: block;
}

:host ::ng-deep app-button {
    .base-button {
        color: @text-color;
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        &__link {
            font-weight: normal;
            font-size: 12px;

        }
        &__arrow {
            width: 14px;
        }
        &:hover {
            background: #f2f0f0;
        }
    }
}
