@icomoon-font-family: "icomoon";
@icomoon-font-path: "fonts";

@icon-admin: "\e900";
@icon-arrow-down: "\e901";
@icon-arrow-right: "\e902";
@icon-attachment: "\e903";
@icon-back-arrow: "\e904";
@icon-bell-icon: "\e905";
@icon-bulletin: "\e906";
@icon-burger-menu: "\e907";
@icon-calendar: "\e908";
@icon-checkmark: "\e909";
@icon-checkmark-2: "\e90a";
@icon-checkmark-icon: "\e90b";
@icon-close: "\e90c";
@icon-comment: "\e90d";
@icon-doc-doc: "\e90e";
@icon-doc-icon-path1: "\e90f";
@icon-doc-icon-path2: "\e910";
@icon-doc-icon-path3: "\e911";
@icon-doc-pdf: "\e912";
@icon-doc-xsl: "\e913";
@icon-dots: "\e914";
@icon-drag: "\e915";
@icon-group: "\e916";
@icon-groups: "\e917";
@icon-like: "\e918";
@icon-link: "\e919";
@icon-linkarrow: "\e91a";
@icon-logout: "\e91b";
@icon-narrow-arrow: "\e91c";
@icon-news: "\e91d";
@icon-pin-icon: "\e91e";
@icon-printer: "\e91f";
@icon-search-icon: "\e920";
@icon-share-icon: "\e921";
@icon-smily: "\e922";
@icon-star: "\e923";
@icon-time: "\e924";
@icon-uintra: "\e925";
@icon-u-intra-logo: "\e926";
@icon-u-intra-text-logo: "\e927";
@icon-umbraco-logo: "\e928";
@icon-upload: "\e929";
@icon-user-profile: "\e92a";
@icon-video-play: "\e92b";
@icon-window: "\e92c";

