@using uIntra.Core.Extentions
@model IEnumerable<uIntra.Tagging.Core.Models.TagViewModel>

    @foreach (var tag in Model)
    {
        <span style="color:crimson"> <strong>#@tag.Text</strong> </span>
    }
