@using Compent.Shared.Extensions.Bcl
@model UBaseline.Core.IndexPage.PropertyEditorContentModel

@{
    var value = Model.Value<string>();
}

@if (value.HasValue())
{
    <div>
        @value
    </div>
}