@import 'base.less';

.bulletin-popup {
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
  background: #fff;
  pointer-events: all;
  margin-bottom: 40px;

  &__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 13;
    max-height: 80vh;
    margin: 10vh 5%;
    pointer-events: none;
    opacity: 0;
    -webkit-animation: fadeIn 0.2s ease-out forwards;
    animation: fadeIn 0.2s ease-out forwards;
  }

  & ::ng-deep .publication-header{
    &__content {
      padding: 0 0 3px;
      display: flex;
    }

    &__title {
      color: @body-text-color;
      font-size: 13px;
      line-height: 1.69;
      margin: 0 4px 0 0;
      font-weight: bold;

      &:hover {
        color: @text-color;
      }
    }
  }


  & ::ng-deep {
    dropzone > .dropzone.dz-wrapper {
      padding: 0 14px !important;
      height: 0 !important;
      overflow: visible;

      &.dz-started {
        height: auto !important;
      }

      .dz-message {
        border: 0 !important;
        background: none !important;
        min-height: 0 !important;
      }

      .dz-remove {
        margin-top: 5px;
        color: #337ab7;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .dz-error-message {
        top: 150px;
      }
    }
  }

  /*& ::ng-deep .publication-header__content {
    padding: 0;
    display: flex;
  }

  & ::ng-deep .publication-header__title {

    &:hover {
      color: @text-color;
    }
  }*/

  &__close-button {
    .reset-button;
    position: absolute;
    right: 11px;
    top: 7px;
    width: 31px;
    height: 31px;
    z-index: 14;
    font-size: 1.8em;
    cursor: pointer;
  }

  &__header {
    padding: 21px 40px 4px 15px;

    @media @sm-up {
      padding: 20px 40px 4px 20px;
    }
  }

  &__multiselect {
    &-title {
      // font-size: 13px;
      // font-weight: bold;
      // margin-bottom: 5px;
      display: none;
    }

    // &-wrapper {
    //   padding: 21px 15px 25px;

    //   @media @sm-up {
    //     padding: 21px 30px 25px;
    //   }
    // }

    & ::ng-deep .open .tag-multiselect{
      border-color:#ddd !important;
    }

    & ::ng-deep .tag-multiselect{
      border-width:1px 0 0;

      &__input-field{
        padding: 5px 9px 5px 15px;

        @media @sm-up{
          padding: 5px 9px 5px 20px;
        }
      }

      &__open-btn{
        border-left: 0;
        height: auto;
        padding: 0 17px;
        width: auto;

        // &:focus{
        //   outline: none;
        // }

        .icon:before{
          font-weight: bold;
        }
      }

      &__clear-btn{
        /*height: auto;
        padding: 0;*/
        /*width: auto;*/
        display: none;
      }

      &-dropdown{
        margin-top: -1px;

        &-row{
          color: @black;
          font: 13px/22px @font;
          padding-left: 15px;

          @media @sm-up{
            padding-left: 20px;
          }

          &:hover {
            background: #b2b2b2;
            cursor: pointer;
          }
        }
      }
    }

    &::ng-deep .tag{
      background: @white;
      flex-direction: row;
      border-radius: 22px;
      border:1px solid  #b2b2b2;
      padding: 0 9px;
      margin-right: 9px;
      margin-bottom: 5px;
      margin-top: 5px;

      &__text{
        font-size: 11px;
        line-height: 2;
        color:#333;
      }

      &__remove{
        margin: 0 0 0 5px;
        color: #000;
        font-size: 1em;
        height: auto;
        padding: 0;
        width: auto;
        float:none;
      }

    }

  }

  &__submit-button {
    min-width: 64px;
    display: flex;
    align-items: center;

    &-spinner {
      .spinner;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-top: -2px;
    }
  }

  & ::ng-deep .link-preview-wrapper {
    padding: 0 22px 25px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  overflow-y: auto;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 12;
    opacity: 0;
    animation: fadeIn 0.1s ease-out forwards;
  }
}
