@import "src/base.less";

:host {
  display: block;
  position: relative;
  text-align: center;
}

::ng-deep .autosuggest {
  .theme(bg-color);
}

::ng-deep .autosuggest .input-element,
::ng-deep .autosuggest .input-element::-webkit-input-placeholder,
::ng-deep .autosuggest__input-holder {
  .theme(text-color);
}

::ng-deep app-autosuggest-results {
  &:after {
    .theme(bg-color);
  }
}

::ng-deep .suggestion {
  &:hover {
    .theme(bg-color, 50);
  }
}
