@using Uintra.Core.Extensions
@model int

<li class="user__menu-item">
    <a class="user__menu-link" href="@Url.Action("GoToUmbracoEditPage", "Navigation", new { pageId = Model })" target="_blank" rel="noopener noreferrer">
        <span class="icon icon-umbraco">
            <svg class="svg-icon" viewBox="0 0 300 300" width="29px" height="29px">
                <use xlink:href="#icon-umbraco" x="0" y="0"></use>
            </svg>
        </span>
        @Html.Localize("TopNavigation.LoginToUmbraco.lbl")
    </a>
</li>