@using System.Web.Mvc.Html
@model uCommunity.News.NewsOverviewItemViewModel
@{
    var expired = Model.Expired ? "_expired" : "";
}
<div class="content__item @expired">
    <div class="row clearfix">
        <div class="col-md-9">
            <span class="content__item-label">VIGTIGT</span>
            @Html.Action("ActivityItemHeader", "ActivityHeader", new { header = Model.HeaderInfo })
            <div class="content__item-image"> </div>
            <div class="content__item-txt">
                <p>@Model.Teaser</p>
            </div>
            <div class="content__item-images">
                @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.MediaIds }); }
            </div>
        </div>
    </div>
</div>
