@using System.Web.Mvc.Html
@using uCommunity.Core.Extentions
@model uCommunity.News.NewsOverviewItemViewModel

<div class="content__item">
    <div class="row clearfix">
        <div class="col-md-9">
            @if (@Model.IsPinned)
            {
                <span class="content__item-label">@Html.Localize("NewsItemView.Pinned.lbl")</span>
            }            
            @Html.Action("ActivityItemHeader", "ActivityHeader", new { header = Model.HeaderInfo })
            <div class="content__item-image"> </div>
            <div class="content__item-txt">
                <p>@Model.Teaser</p>
            </div>
            <div class="content__item-images">
                @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.MediaIds }); }
            </div>
        </div>
    </div>
</div>