@using System.Web.Mvc.Html
@using uCommunity.Core.Activity
@using uCommunity.Core.Extentions
@model uCommunity.News.NewsOverviewViewModel

<section class="content">
    <header class="content__header">
        @if (PermissionsExtentions.IsCurrentUserHasPermission(IntranetActivityTypeEnum.News, IntranetActivityActionEnum.Create))
        {
            <a class="content__btn" href="@Model.CreatePageUrl">@Html.Localize("NewsOverview.CreateNews.lnk")</a>
        }
    </header>
    <div class="content__list">
        @foreach (var news in Model.Items)
        {
            Html.RenderAction("ItemView", "NewsControllerBase", new { model = news });
        }
    </div>
</section>