<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="28312ba7-74e3-492b-8123-9c1eb5999839" Alias="internalServerErrorPage" Level="3">
  <Info>
    <Name>Internal Server Error</Name>
    <Icon>icon-application-error color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Parent>
    <Compositions>
      <Composition Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7ede6d86-246c-4335-aa84-f14ae26c56e1</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>2b99b4ec-ac28-4555-abaf-5e2ec7677a4f</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>61be2a7b-c534-4736-949c-f2a5191608fe</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>e85ca16f-5676-4106-b9bf-25b0cbeebeae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>