<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="93762d4e-8127-4715-9733-dcef0a5f5d58" Alias="newsOverviewPage" Level="3">
  <Info>
    <Name>News Overview</Name>
    <Icon>icon-newspaper color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Parent>
    <Compositions>
      <Composition Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Composition>
      <Composition Key="8a1fb9db-b990-42ce-bd86-d273e5259c12">localScriptsComposition</Composition>
      <Composition Key="b1febf36-6e26-48db-ad3a-98b4b4fc56bb">metaDataComposition</Composition>
      <Composition Key="82f14651-4ca9-4244-a8a6-b5140463c809">navigationComposition</Composition>
      <Composition Key="ac6ff81e-2429-41c2-bc3e-140ddf1bb94c">pageSettingsComposition</Composition>
      <Composition Key="929b3b12-d25f-4148-864a-25cc43e88094">panelsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4388c5fc-0240-4fce-81e9-e42c3f26ddb5">newsDetailsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ab5436a5-77af-4917-a92b-6d2c50e17f73</Key>
      <Name>Page Title</Name>
      <Alias>title</Alias>
      <Definition>e06ae5aa-4a6b-4a5a-9e3f-83a93de30f8a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Page Title will be shown before the Site Title as the main title of the page and is important for bookmarking, social media and SEO indexing.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>