<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d8029d6-de19-40ec-9db9-3df6aa6c3b4d" Alias="mailchimpPanel" Level="3">
  <Info>
    <Name>Mailchimp</Name>
    <Icon>icon-paper-plane color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8ba925cb-ba94-4128-a35f-a5bb151d3f65</Key>
      <Name>Agreement Text</Name>
      <Alias>agreementText</Alias>
      <Definition>d8e8286b-3662-4df6-9a7a-a44401c0fa74</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>69396084-6b53-4b32-85e5-f27f83e6b1de</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>b92d5b0b-030b-43b1-8a30-cafa2e25ad9f</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>947871da-8c34-46a1-8401-4fdc1b513fe4</Key>
      <Name>Lists</Name>
      <Alias>lists</Alias>
      <Definition>3c340fab-67e5-4c02-b95a-1bca30aff03f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>13c39888-2475-4a4e-b2d7-b3f326943f9f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>f3937a44-5c58-441f-a4d5-84a772bec27d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>