<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3ac3cf6-4717-4da8-a8a9-def046e9518c" Alias="mailchimpItem" Level="3">
  <Info>
    <Name>Mailchimp Item</Name>
    <Icon>icon-paper-plane-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ae07b5d9-1900-47bd-88e6-62063500bff6</Key>
      <Name>List Id</Name>
      <Alias>listId</Alias>
      <Definition>157a6839-a6c6-46e6-9be2-353f84cd116e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a4dfa0b9-f4f3-47c2-9fc3-d93b2cb6d515</Key>
      <Name>List Name</Name>
      <Alias>listName</Alias>
      <Definition>73e5f4bc-8928-42ac-b378-f965fa529dd4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>