<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d13a450a-785a-4543-a407-9c322272534d" Alias="tablePanel" Level="3">
  <Info>
    <Name>Table</Name>
    <Icon>icon-thumbnails-small color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e71f5731-7e47-44ab-a402-321a9c54a718</Key>
      <Name>Table</Name>
      <Alias>table</Alias>
      <Definition>366f77d2-66c3-44c7-905c-63b8ec98108b</Definition>
      <Type>UBaseline.TableEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dd0b0ce2-5377-4448-890a-ff3dbc989962</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>ca657d08-2f86-45d5-a8ec-63c117bb8e56</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>