<section class="comments-panel">
  <h3 class="comments-panel__title">{{'commentsOverView.Title.lbl' | translate}}</h3>
  <ng-container *ngIf="isGroupMember">
    <ul *ngIf="comments" class="comments-list">
      <app-comment-item
        *ngFor="let comment of comments.data"
        class="comments-list__item"
        [data]="comment"
        [activityType]="activityType"
        [commentsActivity]="commentsActivity"
        (deleteComment)="deleteComment($event)"
        (editComment)="editComment($event)"
        (replyComment)="onCommentSubmit($event)">
      </app-comment-item>
    </ul>
    <h4 class="comments-panel__rte-title">{{'commentsOverView.AddComment.lbl' | translate}}</h4>
    <app-rich-text-editor
      [(ngModel)]="description"
      [isDropzone]="false"
      [isEditing]="false"
      placeholder="Write a comment...">
      <button submit
        class="bulletin-popup__submit-button"
        [disabled]="isSubmitDisabled || inProgress"
        (click)="onCommentSubmit()">
        {{'commentsCreate.AddComment.btn' | translate}}
      </button>
    </app-rich-text-editor>
  </ng-container>
  <p *ngIf="!isGroupMember"class="comments-panel__restriction">{{'comments.ReadonlyClick.Message.lbl' | translate}}</p>
</section>
