<style>
    div.m-b-20 ul.displayed-columns li.__selected {
        background: #F5F5F5;
    }

    div.m-b-20 ul.displayed-columns li span.property-name {
        cursor: pointer;
        margin-right: 10px;
        margin-left: 10px;
    }

    div.m-b-20 ul.displayed-columns li {
        vertical-align: central;
        line-height: 30px;
    }

        div.m-b-20 ul.displayed-columns li i.handle {
            cursor: move;
        }

    div.m-b-20 ul.displayed-columns {
        list-style-type: decimal;
    }
</style>

<div class="m-b-20 _clearfix">
    <p class="span6"><b>Title:</b></p>
    <input type="text" class="span6" ng-model="control.value.title" />
</div>
<div class="m-b-20 _clearfix">
    <p class="span6"><b>Amount of displayed users:</b></p>
    <input type="text" class="span6" ng-model="control.value.displayedAmount" />
</div>
<div class="m-b-20 _clearfix">
    <p class="span6"><b>Amount users per request:</b></p>
    <input class="span6" type="text" ng-model="control.value.amountPerRequest" />
</div>
<div class="m-b-20 _clearfix">
    <p class="span6"><b>Displayed columns:</b></p>
    <ul class="span6 displayed-columns" ui-sortable="sortableOptions" ng-model="control.value.properties">
        <li ng-repeat="property in control.value.properties" ng-click="handleClick(property)" ng-class="{'__selected': isSelected(property)}">
            <span class="property-name">{{property.name}}</span>
            <i class="icon icon-navigation handle"></i>
        </li>
    </ul>
</div>
<div class="m-b-20 _clearfix">
    <p class="span6"><b>Order by column:</b></p>
    <select class="span6 displayed-columns" 
        ng-model="control.value.orderBy" 
        ng-options="property.name for property in control.value.selectedProperties track by property.id"
        >
    </select>
</div>
<div class="m-b-20 _clearfix">
    <div ng-show="control.validationMessage">
        <p><label><font color="red">{{control.validationMessage}}</font></label></p>
    </div>
</div>
