@import 'base.less';

:host {
  & ::ng-deep {
    .dropzone {
      border-style: dashed !important;
      border-radius: 10px !important;
      min-height: 0 !important;
      min-height: initial !important;
      border-width: 1px !important;
      z-index: 0;
      padding: 15px 20px !important;
    }

    .dropzone .dz-message {
      position: relative;
      text-align: center;
      margin: 2em 0 !important;
      border: none !important;
      background-color: @main-color !important;
      display: flex !important;
      justify-content: center !important;
    }

    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
      cursor: pointer;
    }

    .dz-text {
      width: auto !important;
    }

    .files-loaded ::ng-deep .dz-message {
      display: none !important;
    }
  }
}

.news-create-panel {
  background-color: @main-color;
  padding: 20px 20px 33px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.form-row {
  margin-bottom: 25px;
}

.subtitle {
  font: @body-font;
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
  color: @body-text-color ;
  margin-bottom: 3px;
}

.pin-info {
  padding-right: 40px;
  padding-left: 40px;

  &__box {
    padding: 10px 0;
  }

  &__text {
    padding-bottom: 10px;
  }
}

.buttons {
  margin-top: 50px;
  &__submit {
    .btn;
    margin-right: 10px;
  }

  &__cancel {
    .button-white;
  }
}

