<!--TODO HTML-->
<section class="news-create-panel">
  <h2 class="news-create-panel__title">News</h2>
  <div class="owner form-row">
    <h3 class="owner__title subtitle">Owner</h3>
    <app-select [items]="tags" [defaultItem]="tags[0].id"></app-select>
  </div>
  <div class="news-title form-row">
    <h3 class="news-title__title subtitle required">Title</h3>
    <text-input type="text" aria-label="Title" class="news-title__input"></text-input>
  </div>
  <div class="description form-row">
    <h3 class="description__title subtitle required">News description</h3>
    <app-rich-text-editor
      class="description__rte"
      [isEditing]="true"
      [isDropzone]="false"
      [isEventsOrNews]="true"
      [placeholder]="''"></app-rich-text-editor>
  </div>
  <div class="tags form-row">
    <h3 class="tags__title subtitle">Tag(s)</h3>
    <app-tag-multiselect class="tags__multiselect" [availableTags]="tags"></app-tag-multiselect>
  </div>
  <div class="form-row">
    <app-datepicker-from-to (setValue)="setValue($event)"></app-datepicker-from-to>
  </div>
  <div class="location form-row">
    <h3 class="location__title subtitle">Location</h3>
    <text-input 
      type="text" 
      aria-label="Location" 
      class="location__input"
      [(ngModel)]="googleMapsModel.locationName"></text-input>
    <agm-map 
      [latitude]="defaultCoordinates.latitude" 
      [longitude]="defaultCoordinates.longitude"
      [zoom]="googleMapsModel.zoom"
      (mapClick)="handleMapClicked($event)" 
      [disableDefaultUI]="googleMapsModel.disableDefaultUI"
      [zoomControl]="googleMapsModel.zoomControl">
      <agm-marker 
        [latitude]="googleMapsModel.coordinates.latitude" 
        [longitude]="googleMapsModel.coordinates.longitude">
      </agm-marker>
    </agm-map>
    <!-- map -->
  </div>
  <div class="pin-block form-row">
    <h3 class="pin-block__title subtitle">Set as important</h3>
    <checkbox-input [(ngModel)]="isPinCheked">Pin post to top of feed</checkbox-input>
    <div *ngIf="isPinCheked" class="pin-info">
      <div class="pin-info__box">
        <div class="pin-info__text">
          Note: Enabling this will mark the post as "Important". It will be pinned to the top until you manually unpin it.
          To automatically unpin the post set the date below, the psot will remain being marked "Important".
        </div>
        <checkbox-input>Accept</checkbox-input>
      </div>
      <div class="pin-info__datepicker">
        <h5 class="pin-info__datepicker-title subtitle">Date to unpin</h5>
        <!-- unpin datepicker -->
      </div>
    </div>
  </div>
  <div class="dropzone-holder form-row">
    <h3 class="dropzone-holder__title subtitle">File(s)</h3>
    <dropzone
      [ngClass]="{'files-loaded': files.length}"
      #dropdownRef
      message="<span class='custom-message icon-upload'>Insert image</span>"
      (success)="onUploadSuccess($event)"
      (removedFile)="onFileRemoved($event)"></dropzone>
  </div>
  <div class="buttons">
    <button class="buttons__submit" (click)="onSubmit()">Submit</button>
    <button class="buttons__cancel">Cancel</button>
  </div>
  {{panelData | json}}
</section>
