@using uIntra.Core.Extentions
@model uIntra.CentralFeed.LatestActivitiesViewModel


<section class="block clearfix _latest-activities">

    <h2 class="block__title">@Model.Title</h2>
    <h3>@Html.Raw(Model.Teaser)</h3>

        @foreach (var item in Model.Items)
        {

            var itemSettings = Model.Settings.First(s => s.Type.Id == item.Type.Id);
            <div class="block__item">
                @{ Html.RenderAction("PreviewItem", itemSettings.Controller, new { item = item }); }
            </div>
         }
    <a href="@Model.Tab.Url" class="btn">@Html.Localize("LatestActivities.SeeAll.btn")</a>
</section>