@using Uintra.Core.Extensions
@model Uintra.Core.BrowserCompatibility.Models.BrowserCompatibilityModel
@if (!@Model.BrowserSupported && @Model.ShowNotification)
{
    <div class="message js-browser-compatibility-notification">
        <div class="message__content">
            <p class="message__txt">@Html.Localize("BrowserCompatibility.Notification.Message")</p>
            <span class="message__close icon-close js-disable-browser-compatibility-notification"></span>
        </div>
    </div>
}