@using System.Web.Mvc.Html
@using uIntra.Core.Extensions
@model IList<Compent.uIntra.Core.UserTags.ViewModels.UserTagViewModel>

@if (Model.Any())
{
    <div class="article _tags">
        @Html.Label("title-lbl", Html.Localize("UserTagsView.Title.lbl"), new { @class = "sub-title" })

        <div class="tags">
            @foreach (var tag in Model)
            {
                <a class="tags__link" href="@tag.Url">
                    <span class="tags__item">@tag.Text</span>
                </a>
            }
        </div>
    </div>
}