@using System.Web.Mvc.Html
@using uIntra.Core.Extensions
@model IList<Compent.uIntra.Core.UserTags.ViewModels.UserTagViewModel>

@if (Model.Any())
{
    <div class="tags">
        <strong class="tags__title">@Html.Localize("UserTagsView.Title.lbl")</strong>
        <div class="tags__list">
            @foreach (var tag in Model)
            {
                <a class="tags__list-item" href="@tag.SearchUrl">
                    <span class="tags__list-txt">@tag.Text</span>
                </a>
            }
        </div>
    </div>
}