.form{
    &__header{
        display:flex;
        align-items:center;
    }

    &__avatar{
        ._profile &{
            width:100px;
            height:100px;
            margin:0 20px 0 0;
        }
    }

    &__meta{
        overflow:hidden;
        flex-grow:2;
    }

    &__name{
        display:block;
    }
}