<div class="panel" ng-controller="faqPanelController" validate-panel="control.value" ng-init="init(control)">
    <div class="span12">
        <div>
            <span class="control-label">FAQ panel</span>
        </div>       
        <div data-ng-show="control.value.title">
            <span class="span12">{{control.value.title}}</span>
        </div>
    </div>

    <div class="span12" ng-hide="control.inGlobalPanelScope">
        <input class="btn span12" type="button" ng-click="open()" value="Edit">
        <umb-overlay ng-if="overlay.show"
                     model="overlay"
                     position="right"
                     style="width: 1200px">
            <div ng-include="overlay.view"></div>
        </umb-overlay>
    </div>
    <div class="span12" ng-if="control.inGlobalPanelScope">
        <div ng-include="overlay.view"></div>
    </div>
</div>