//  Media queries breakpoints
//----------------------------------------------------

    // Extra small screen / phone
    @screen-xs         : 320px;
    @screen-xs-min     : @screen-xs;

    // Small screen / tablet
    @screen-sm         : 768px;
    @screen-sm-min     : @screen-sm;

    // Medium screen / desktop
    @screen-md         : 1024px;
    @screen-md-min     : @screen-md;

    // Large screen / wide desktop
    @screen-lg         : 1440px;
    @screen-lg-min     : @screen-lg;

    // So media queries don't overlap when required, provide a maximum
    @screen-xs-max     : (@screen-sm-min - 1);
    @screen-sm-max     : (@screen-md-min - 1);
    @screen-md-max     : (@screen-lg-min - 1);


    @device-xs         : ~"(max-width: @{screen-xs-max})";
    @device-xs-portrait: ~"(min-width: @{screen-xs-min}) and (max-width: 479px) and (orientation: portrait)";
    @device-xs-portrait-min: ~"(min-width: 479px) and (max-width: @{screen-sm-min}) and (orientation: portrait)";
    @device-xs-landscape: ~"(min-width: 479px) and (max-width: @{screen-sm-min}) and (orientation: landscape)";
    @device-xs-min     : ~"(min-width: @{screen-xs-min})";
    @device-xs-sm      : ~"(max-width: @{screen-sm-max})";

    @device-sm         : ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
    @device-sm-min     : ~"(min-width: @{screen-sm-min})";
    @device-sm-md      : ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-md-max})";

    @device-md         : ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
    @device-md-min     : ~"(min-width: @{screen-md-min})";
    @device-md-lg      : ~"(min-width: @{screen-md-min})";

    @device-lg         : ~"(min-width: @{screen-lg-min})";
    @device-lg-min     : ~"(min-width: @{screen-lg-min})";
    @device-retina     : ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

    @tablet-portrait   : ~"(min-width: @{screen-sm})";
    @tablet            : ~"(min-width: @{screen-md})";
    @desktop           : ~"(min-width: @{screen-lg})";