.input.textarea{
    min-height:initial;
}

.taggle{
    &_list{
        margin:0;
        padding:0;
        list-style:none;

        li{
            float:none;
            display:block;
            overflow:hidden;
            margin:0;

            &.taggle {
                display:inline-block;
                vertical-align:top;
                margin:0 8px 10px 0 !important;

                .close{
                    font-size:1.5rem;
                    color:var(--text-color-dark);
                }
            }
        }
    }

    &_input{
        width:100% !important;
        padding:5px 10px !important;
        font:13px/22px Arial, Helvetica, sans-serif;
        color: #333;
        background: #fff;
        border: 1px solid #ccc;
        margin:0;
    }

    &_placeholder{
        top:16px;
        left:20px;
    }
}

.tags{
    padding:0 0 25px;

    &__title{
        font:bold 18px/22px var(--font-general);
        margin:0 0 14px;
    }

    &__item{
        display:inline-block;
        vertical-align:top;
        border:1px solid #54616b;
        padding:0 10px 1px;
        margin:0 6px 10px 0;
        font:13px/22px var(--font-general);
        text-transform:uppercase;
        color:var(--text-color-dark);
    }
}