<div class="span12">
    <b class="span3">Crops:</b>
    <div class="span9">
        <div class="span12">
            <input class="span1" type="number" ng-model="newItem.width" placeholder="Width" val-highlight="{{hasError}}"/>
            &times;
            <input class="span1" type="number" ng-model="newItem.height" placeholder="Height" val-highlight="{{hasError}}"/>
            <span class="btn btn-default" ng-click="save()">Add</span>
        </div>
        <div class="span12" ng-repeat="crop in ngModel.crops">
            {{crop.width}}&nbsp;&times;&nbsp;{{crop.height}} <span class="btn btn-link" ng-click="remove($index)">Delete</span>
        </div>
    </div>
</div>
