.content {
	&__item {
		@media screen and (min-width: 900px) {
			max-width: 756px;
		}

		&-holder {
            margin-bottom:40px;

			&._pinned:not(._pinnedExpired) {
				background: var(--color-light-gray-2);
				border: solid var(--color-light-gray);
                border-width:1px 0;
                padding: 30px 20px;
                margin-top:-41px;
                position:relative;

                &:before{
                    position:absolute;
                    top:-1px;
                    left:0;
                    right:0;
                    height:1px;
                    background:var(--color-light-gray-2);
                    content:'';
                }

                .content__list-holder > div:first-child &{
                    margin-top:0;

                    &:before{
                        display:none;
                    }
                }
			}
		}
	}
}

.pinned {
	&__item {
        float:right;
		max-width: 150px;
		word-wrap: break-word;
		margin: 0 0 0 15px;
		padding: 7px 10px;
		background-color: #d97400;
		color: #fff;
		font-size: 15px;
		line-height: 19px;

        ._details &{
            position:absolute;
            right:-10px;
            top:40px;
        }

        @media (--for-tablet-portrait-down) {
            &{
                float:none;
                display:block;
                margin:0 0 15px;
            }
        }
	}
}