<div class="groups">
  <div *ngIf="mapedData" class="groups-header-wrapper">
    <div class="groups-header">
      <h2 class="groups-header__title">
        <a
          [routerLink]="mapedData.title.link.originalUrl | ulink"
          class="groups-header__title-link">
          {{mapedData.title.title}}
        </a>
      </h2>
      <ul *ngIf="mapedData.groupLinks" class="tabs col-md-8">
        <li *ngFor="let tab of mapedData.groupLinks" class="tabs__item">
          <a
            [routerLink]="tab.link.originalUrl | ulink"
            class="tabs__item-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{tab.title}}
          </a>
        </li>
        <li *ngIf="mapedData.groupEditPageLink" class="tabs__item tabs__item--settings">
          <a
            [routerLink]="mapedData.groupEditPageLink.link.originalUrl | ulink"
            class="tabs__item-link tabs__item-link--settings"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{mapedData.groupEditPageLink.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ng-content></ng-content>
</div>
