@import 'base.less';

.groups-header {

  &__title {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 15px;

    &-link {
      .alt-link;
    }
  }
}
