.likes-wrapper{
    .content-page &{
        display: block;
        margin: 0 0 22px;
        padding: 20px 20px 19px;
        background: var(--color-white);
        box-shadow: 0 0 2px rgba(0,0,0,0.2);

        @media (--for-tablet-portrait-down) {
            margin:0 -20px 10px;
        }
    }

    .content-page .comments__block & {
        margin: 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .feed__list &{
        display: inline-block;
        vertical-align:top;
    }
}

.like {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 1.3;

    &__title{
        font:20px/25px var(--font-general);
        margin:0 0 36px;

         .feed__item-feed-holder & {
             display:none;
         }
    }

    &__set{
        color: #b2b2b2;
        display:inline-block;
        vertical-align:top;
        margin: 0 15px 0 0;

        .like:hover &,
        &:hover,
        &:focus,
        &:active{
            text-decoration:none;
            color:#5776f9;

            .icon-like{
                color: #b2b2b2;
            }
        }

        &._isLiked{
            color:#555;
            margin: 0 20px 0 0;

            .icon-like{
                color:#555 !important;
                margin:-3px 6px 0 0;
            }
        }
    }

    .icon-like{
        font-size:16px;
        margin:-2px 0 0;
        vertical-align:top;
        display:inline-block;
    }

    &__link{
        color:#aaa;
        padding:0 0 0 25px;
        display:inline-block;
        vertical-align:top;
        margin:0 20px 0 -30px;

        &:hover,
        &:active,
        &:focus{
            color:#5776f9;
            text-decoration:none;
        }

        &._hasLikes,
        &._remove{
            text-indent:-9999px;
            overflow:hidden;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }

    &__popup{
        position:absolute;
        top:100%;
        left:0;
        width:200px;
        margin:0 0 0 -10px;
        background:rgba(0,0,0,0.8);
        border-radius:5px;
        color:var(--color-white);
        opacity:0;
        z-index: 999;
        transition:opacity ease-in 200ms, visibility ease-in 200ms;
        visibility: hidden;
        padding:5px 10px 0;

        .like:hover &{
            opacity:1;
            visibility: visible;
            transition-delay: 200ms;
        }
    }

    &__list{
        margin:0;
        padding:0;
        list-style:none;
        line-height:1.2;

        &-item{
            padding:1px 0 3px;
        }
    }
}