@import "../../../base.less";

.contact-panel {
  &__content {
      .centered;

      margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 30px;

    @media @sm {
      margin-bottom: 40px;
    }
  }


  &__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;

    @media @sm {
      flex-direction: row;
    }
  }

  &__item {
    padding: 0 15px;
    word-break: break-word;
    flex: 0 0 100%;
    margin-bottom: 40px;

    @media @sm {
      flex: 0 0 33.33333333%;
    }

    &-image {
      margin-bottom: 14px;
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;

      @media @sm {
        font-size: 20px;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 1.5;

      @media @sm {
        font-size: 18px;
      }

      a {
        .link;
      }
    }
  }
}

@import "./override.less";
