<section class="contact-panel" *ngIf="data">
    <div class="contact-panel__content">
        <div class="contact-panel__top">
          <h2 *ngIf="data.title?.value" class="contact-panel__title">{{data.title.value}}</h2>
        </div>

        <div class="contact-panel__items" *ngIf="data.contacts?.value">
            <div class="contact-panel__item" *ngFor="let item of data.contacts.value; let i = index">
              <div class="contact-panel__item-image" *ngIf="item.photo?.value">
                <app-picture [data]="item.photo.value"></app-picture>
              </div>
              <div class="contact-panel__item-title">
                <span *ngIf="item.firstName?.value || item.lastName?.value">{{item.firstName?.value}} {{item.lastName?.value}}</span>
              </div>
              <div *ngIf="item.position?.value" class="contact-panel__item-text">
                  {{ item.position.value }}
              </div>
              <div *ngIf="item.location?.value" class="contact-panel__item-text">
                  {{ item.location.value }}
              </div>
              <address>
                <div *ngIf="item.phone?.value" class="contact-panel__item-text">
                  D: <a href="tel:{{item.phone.value}}">{{ item.phone.value }}</a>
                </div>
                <div *ngIf="item.email?.value" class="contact-panel__item-text">
                  E: <a href="mailto:{{item.email.value}}">{{item.email.value}}</a>
                </div>
              </address>
            </div>
        </div>
    </div>
  </section>
