<ng-container *ngIf="data">
  <app-group-details-wrapper *ngIf="panelData?.groupHeader" [data]="panelData.groupHeader">
    <div class="page-wrapper">
      <app-news-form
        edit
        class="group-details-padding"
        [data]="newsData"
        [members]="members"
        [creator]="creator"
        [tags]="tags"
        [pinAllowed]="panelData?.pinAllowed"
        (handleSubmit)="onSubmit($event)"
        (handleCancel)="onCancel()"
      ></app-news-form>
    </div>
  </app-group-details-wrapper>

  <div *ngIf="!panelData?.groupHeader" class="page-wrapper">
    <app-news-form
      edit
      [data]="newsData"
      [members]="members"
      [creator]="creator"
      [tags]="tags"
      [pinAllowed]="panelData?.pinAllowed"
      (handleSubmit)="onSubmit($event)"
      (handleCancel)="onCancel()"
    ></app-news-form>
  </div>
</ng-container>
