<div class="m-b-20 _clearfix">
    <p class="span3"><b>Title:</b></p>
    <input name="title" id="title" ng-model="control.value.displayTitle" />
</div>


<div class="m-b-20 _clearfix">
    <p class="span3"><b>Teaser:</b> <span class="note">Optional</span></p>
    <tiny-mce class="span9" model="control.value.teaser"></tiny-mce>
</div>

    <div class="m-b-20 _clearfix">
    <b class="span3">Tab Type:</b>
    <select name="tabType" id="tabType" ng-model="control.value.tabType" ng-options="option.Id as option.Name for option in availableActivityTypes" required>
        <option value="">None</option>
    </select>
</div>

<div class="m-b-20 _clearfix">
    <p class="span3"><b>Number of activities to display:</b></p>
    <input name="nubmerOfActivities" id="nubmerOfActivities" ng-model="control.value.nubmerOfActivities" />
</div>

<div ng-show="control.validationMessage">
    <p><label><font color="red">{{control.validationMessage}}</font></label></p>
</div>
