@using uCommunity.Core.Extentions
﻿﻿@model Compent.uCommunity.Core.Events.EventOverviewItemModel

<div class="content__item">
    <div class="row clearfix">
        <div class="col-md-9">
            @if (@Model.IsPinned)
            {
                <span class="content__item-label">@Html.Localize("EventsItemView.Pinned.lbl")</span>
            }   
            @Html.Action("ActivityItemHeader", "ActivityHeader", new { header = Model.HeaderInfo })
            <div class="content__item-image"> </div>
            <div class="content__item-txt">
                <p>@Model.Teaser</p>
            </div>
            <div class="content__item-images">
                @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.MediaIds }); }
            </div>
            <div class="content__item-feed">
                <div class="content__item-feed-holder">
                    @{ Html.RenderAction("Likes", "Likes", new { likesInfo = Model.LikesInfo }); }
                    @{ Html.RenderAction("Preview", "Comments", new { activityId = Model.Id, link = Model.HeaderInfo.DetailsPageUrl }); }
                </div>
                @if (Model.CanSubscribe)
                {
                    Html.RenderAction("Index", "Subscribe", new { subscribe = Model.SubscribeInfo, activityId = Model.Id });
                }
            </div>

        </div>
    </div>
</div> 