<style>
    .custom-umb-panel-body {
        padding-left: 10px;
    }

    .tab._active {
        font-weight: bold;
    }
</style>

<umb-panel>
    <div class="umb-panel-body custom-umb-panel-body">
        <div ng-controller="notificationSettingController as ctrl">

            <span class="tab" ng-class="{'_active' : ctrl.isEmailTabSelected()}" ng-click="ctrl.selectEmailTab()">E-mail notification</span>
            <span class="tab" ng-class="{'_active' : ctrl.isUiTabSelected()}" ng-click="ctrl.selectUiTab()">In-App notification</span>

            <form name="settingsForm">
                <br />
                <div ng-bind-html="ctrl.selectedNotifierSettings.notificationInfo"></div>
                <br />
                <div>
                    <span>Do you want to enable this notification:</span>
                    <label for="enableNotification">Yes, enable</label>
                    <input id="enableNotification" type="radio" ng-model="ctrl.selectedNotifierSettings.isEnabled" ng-value="true" ng-change="ctrl.save()">
                    <label for="disableNotification">No, disable</label>
                    <input id="disableNotification" type="radio" ng-model="ctrl.selectedNotifierSettings.isEnabled" ng-value="false" ng-change="ctrl.save()">
                </div>
                <br />

                <div ng-if="ctrl.emailSubjectControlConfig" ng-show="ctrl.isEmailTabSelected()">
                    <div>
                        <label>E-mail subject:</label>
                        <text-control config="ctrl.emailSubjectControlConfig"></text-control>
                    </div>
                    <div>
                        <label>E-mail content:</label>
                        <rich-text-editor config="ctrl.emailContentControlConfig"></rich-text-editor>
                    </div>
                </div>

                <div ng-if="ctrl.uiMessageControlConfig" ng-show="ctrl.isUiTabSelected()">
                    <div>
                        <label>In-App message:</label>
                        <rich-text-editor config="ctrl.uiMessageControlConfig"></rich-text-editor>
                    </div>
                </div>

            </form>
        </div>
    </div>
</umb-panel>