.panel-picker .editors-holder {
    display: flex;
    flex-wrap: wrap;
}

    .panel-picker .editors-holder .editor {
        margin: 10px;
        flex: 0 0 auto;
        width: 100px;
        height: 100px;
        vertical-align: middle;
        text-align: center;
    }

        .panel-picker .editors-holder .editor:hover {
            cursor: pointer;
            background: #F5F5F5;
        }

        .panel-picker .editors-holder .editor .icon {
            margin-top: 30px;
            display: block;
            font-size: 40px;
            line-height: 40px;
        }

        .panel-picker .editors-holder .editor .name {
            font-size: 12px;
        }
