@model List<Uintra.Navigation.BreadcrumbItemViewModel>

<ul class="breadcrumbs">
    @foreach (var breadcrumb in Model)
    {
        <li class="breadcrumbs__item">
            @if (breadcrumb.IsClickable)
            {
                <a class="breadcrumbs__link" href="@breadcrumb.Url">@breadcrumb.Name</a>
            }
            else
            {
                @breadcrumb.Name
            }
        </li>
    }
</ul>