@import "base.less";

user-list-panel {
  .user-list-panel {
    .white-block;
    padding: 20px 20px 0;

    &__title {
      font-size: 25px;
      font-weight: normal;
      line-height: 0.88;
      color: @text-color;
      margin-bottom: 28px;
    }

    &__search-title {
      font-size: 13px;
      font-weight: bold;
      line-height: 22px;
      color: @body-text-color;
      margin-bottom: 2px;
    }
  }

  .search-holder {
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 20px;

    &__input {
      width: 100%;
      margin-right: 10px;
      background-color: @main-color;
      border: 1px solid @border-color;
      font-size: 16px;
      line-height: 20px;
      height: 40px;
      padding: 11px 40px 9px 21px;
      color: @body-text-color;

      @media @md-up {
        max-width: 100%;
      }
    }

    & .icon-search-icon {
      flex-shrink: 0;
      line-height: 40px;
      font-size: 30px;
      position: absolute;
      right: 20px;

      &::before {
        color: @black !important;
      }
    }
  }

  .user-list {
    margin-right: -20px;
    margin-left: -20px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      padding: 10px 0 10px;
      border-bottom: 1px solid @border-color;
      cursor: pointer;

      &:first-child {
        border-top: 1px solid @border-color;
      }

      &-member {
        display: flex;
        align-items: center;
        padding: 0 10px;

        &-avatar {
          margin-right: 10px;
        }
      }

      &-info {
        line-height: 21px;
      }
    }

    &__load-more {
      .button-white;
      margin-left: 10px;
    }
  }

  .cells--1 {
    flex: 0 0 100%;
  }

  .cells--2 {
    flex: 0 0 50%;
  }

  .cells--3 {
    flex: 0 0 33.3%;
  }

  .cells--4 {
    flex: 0 0 25%;
  }

  .cells--5 {
    flex: 0 0 20%;
  }
}
