@import "base.less";

user-list-panel {
  .user-list-panel {
    .white-block;
    padding: 20px;

    &__title {
      font-size: 25px;
      font-weight: normal;
      line-height: 0.88;
      color: @text-color;
      margin-bottom: 28px;
    }

    &__search-title {
      font-size: 13px;
      font-weight: bold;
      line-height: 22px;
      color: @body-text-color;
      margin-bottom: 2px;
    }
  }

  .search-holder {
    display: flex;
    width: 100%;
    position: relative;

    &__input {
      width: 100%;
      margin-right: 10px;
      background-color: @main-color;
      border: 1px solid @border-color;
      font-size: 16px;
      line-height: 20px;
      height: 40px;
      padding: 11px 40px 9px 21px;
      color: @body-text-color;

      @media @md-up {
        max-width: 100%;
      }
    }

    & .icon-search-icon {
      flex-shrink: 0;
      line-height: 40px;
      font-size: 30px;
      position: absolute;
      right: 20px;

      &::before {
        color: @black !important;
      }
    }
  }
}
