<!-- <div class="js-emoji emoji">
  <ul class="emoji__list">
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/smile.svg" title="Smile (:))"
        width="20" height="20" class="emoji-icon smile"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/sad.svg" title="Sad (:()"
        width="20" height="20" class="emoji-icon sad"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/wink.svg" title="Wink (;))"
        width="20" height="20" class="emoji-icon wink"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/shocked.svg" title="Shocked (:|)"
        width="20" height="20" class="emoji-icon shocked"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/tease.svg" title="Tease (:p)"
        width="20" height="20" class="emoji-icon tease"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/funny.svg" title="Funny (:D)"
        width="20" height="20" class="emoji-icon funny"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/angry.svg" title="Angry (:<)"
        width="20" height="20" class="emoji-icon angry"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/skeptical.svg"
        title="Skeptical (:^))" width="20" height="20" class="emoji-icon skeptical"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/surprised.svg"
        title="Surprised (:o)" width="20" height="20" class="emoji-icon surprised"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/great.svg" title="Great (:+1)"
        width="20" height="20" class="emoji-icon great"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/joy.svg" title="Joy (:-))"
        width="20" height="20" class="emoji-icon joy"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/love.svg" title="Love (:x)"
        width="20" height="20" class="emoji-icon love"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/party.svg" title="Party (<o))"
        width="20" height="20" class="emoji-icon party"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/fever.svg" title="Fever (fever)"
        width="20" height="20" class="emoji-icon fever"></li>
    <li class="emoji__list-item"><img src="/App_Plugins/Core/Content/styles/emoji-data/sleepy.svg" title="Sleepy (|-))"
        width="20" height="20" class="emoji-icon sleepy"></li>
  </ul>
</div> -->
