@model IEnumerable<uIntra.Navigation.MyLinkItemViewModel>

<li class="hidden"></li>
@foreach (var item in Model)
{
    <li class="side-nav__item">
        <a class="side-nav__link" href="@item.Url">
            @item.Name
        </a>
    </li>
}
