.pagination() {
  border-top: 1px solid @key-color;
  border-bottom: 1px solid @key-color;
  padding: 0;
  text-align: right;
  font-size: 18px;
  font-weight: 600;

  li {
    position: relative;
    padding: 0;
    vertical-align: top;
  }

  .current {
    background: none;
    color: @link-color;
    font-weight: bold;

    span:not(.show-for-sr) {
      display: block;
      padding: 14px 10px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: @link-color;
      height: 3px;
    }
  }

  a {
    display: block;
    padding: 14px 10px;
    color: @text-color;
  }

  .disabled {
    display: none;
  }

  [aria-label="Next page"] {
    font-size: 0;
    padding: 19px 10px;

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-color: @text-color;
      transform: rotate(45deg);
      display: block;
      margin: 0 0 0 -2px;
    }
  }

  [aria-label="Previous page"] {
    font-size: 0;
    padding: 19px 10px;

    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-color: @text-color;
      transform: rotate(-135deg);
      display: block;
      margin: 0 2px 0 0;
    }
  }
}
