@using System.Web.Mvc.Html
@using uCommunity.Core.Extentions
@model uCommunity.News.NewsOverviewModel

<section class="content">
    <header class="content__header">
        <a class="content__btn" href="@Model.CreatePageUrl">@Html.Localize("NewsOverview.CreateNews.lnk")</a>
    </header>
    <div class="content__list">
        @foreach (var news in Model.Items)
        {
            Html.RenderAction("ItemView", "News", new { model = news });
        }
    </div>
</section>