<section class="notification-page">
    <h1 class="notification-page__title">Notifications</h1>
    <div class="js-notification-overview">
        @using (Html.BeginUmbracoForm("Index", "Notification", null,
                    new Dictionary<string, object> { { "class", "js-ajax-form" }, { "data-append-to", ".js-notifications-listContainer" } }))
        {
            <div class="content__loader js-loading-status" style="display: none;">Loading...</div>

            <input type="hidden" name="page" />
            <div class="tab-content js-notifications-listContainer">
                @{ Html.RenderAction("Index", "Notification");}
            </div>
                    }
    </div>
</section>