<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>

    <authentication>
      <forms domain="dev.compent.dk" xdt:Transform="SetAttributes(domain)" />
    </authentication>
  </system.web>
  <elasticConfiguration url="http://localhost:9203" indexPrefix="uintra_" xdt:Transform="SetAttributes(url)"></elasticConfiguration>
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=.\SQL2014;database=uIntra_Dev;user id=sa;password='asdaID@qd2daa)'"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <elmah>
    <security allowRemoteAccess="true" xdt:Transform="SetAttributes(allowRemoteAccess)"/>
  </elmah>

</configuration>