@model Uintra.Navigation.UserListLinkViewModel

@if (Model.IsVisible)
{
    <ul class="side-nav _people">
        <li class="side-nav__item">
            <a class="side-nav__link _title-link" href="@Model.Url">
                <span class="central-user">
                    <svg class="svg-icon" viewBox="0 0 16 16" width="18px" height="16px">
                        <use xlink:href="#icon-people" x="0" y="0"></use>
                    </svg>
                </span> @Model.Name
            </a>
        </li>
    </ul>
}