@using System.Web.Mvc.Html
@model Uintra.Core.PagePromotion.PagePromotionItemViewModel

<div class="feed__item">
    <div class="clearfix">
        @{ Html.RenderAction("ItemHeader", "Activity", new { header = Model.HeaderInfo }); }
    </div>
    <div class="feed__item-image"> </div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="feed__item-txt _clamp" data-url="@Model.Links.Details">@Html.Raw(Model.Description)</div>
    }
    <div class="feed__item-images">
        @{ Html.RenderAction("Preview", "LightboxGallery", new { model = Model.LightboxGalleryPreviewInfo }); }
    </div>
</div>