<div class="navigation" ng-controller="uNavigationController as uNavCtrl">
    <div class="type-holder">
        <input class="txt" type="text" placeholder="put parent Id or alias for Navigation Compositions"
               ng-model="uNavCtrl.parentIdOrAlias" />
    </div>

    <div>
        <input class="btns btn btn-info-custom" type="button" value="Create Navigation Compositions"
               ng-click="uNavCtrl.create()" ng-disabled="!uNavCtrl.isLoaded || uNavCtrl.isDocumentTypesAlreadyExists" />
        <input class="btns btn btn-info-custom" type="button" value="Delete Navigation Compositions"
               ng-click="uNavCtrl.delete()" ng-disabled="!uNavCtrl.isLoaded || !uNavCtrl.isDocumentTypesAlreadyExists" />
    </div>

    <div id="result-messages" style="color: red;">

    </div>

</div>