<div>
    <section>
        <div class="holder">
            <h2 class="holder__title">{{title}}</h2>
            <div
                *ngFor="let cell of activityCells"
                class="block-item">
                <latest-activity 
                    [activityType]="cell.get().activity.get().type.get()"
                    [activityDate]="cell.get().activity.get().dates.get()[0]"
                    [activityId]="cell.get().activity.get().id.get()"
                    [activityDescription]="cell.get().activity.get().description.get()">
                </latest-activity>
            </div>
            <a routerLink="socials"
                class="holder__button"
                *ngIf="showAll">See all</a>
        </div>
    </section>
</div>