@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Uintra.Core.Extensions
@using Uintra.Core.Context
@model Uintra.Comments.CommentCreateModel

@using (Ajax.BeginContextedForm("Add", "Comments", new AjaxOptions { UpdateTargetId = Model.UpdateElementId, InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "POST", OnComplete = $"new uIntra.methods.CommentOverview('#{Model.UpdateElementId}');" }, new { id="add-comment-form", @class = "comments__form quill--custom js-comment-create", data_parentid = Model.ParentId }))
{
<div class="comments__form-field quill--custom-container">
    <div class="js-comment-create-description"></div>
    <div class="comments__toolbar js-comments-toolbar">
        <button disabled="disabled" class="btn _submit js-comment-create-btn js-disable-submit" type="button">@Html.Localize("CommentsCreate.AddComment.btn")</button>
    </div>
</div>
    @Html.ValidationMessageFor(model => model.Text)
    <input class="js-hidden-comment-create-description" data-val="true" data-val-required="*" name="Text" type="hidden" value="@Model.Text" />
    <input type="hidden" name="parentId" value="@Model.ParentId" />
    <input type="hidden" name="linkPreviewId" />
}