@import "base.less";

:host {
  display: block;
}

::ng-deep .spot-panel {
  .video-modal {
    display: none !important;
  } //todo
}

.spot-panel__list {
  &--for-desk {
    @media @sm-down {
      display: none !important;
    }
  }
  &--for-mobile {
    @media @sm-up {
      display: none !important;
    }
  }
}

.app-default {
  @media @sm-up {
    margin: 0 -20px;
    // flex-wrap: wrap;
    display: flex;
    padding: 4px 0 0;
  }

  .spot-panel {
    &__item {
      @media @sm-up {
        padding: 0 20px;
      }
    }

    &__image {
      position: relative;
      margin: 0 0 19px;

      @media @sm-up {
        margin: 0 0 19px;
      }

      @media @lg-up {
        margin: 0 0 8px;
      }
    }

    &__item-title {
      font-weight: bold;
      margin: 0 0 14px;

      @media @sm-up {
        margin: 0 0 44px;
      }
      @media @lg-up {
        margin: 0 0 14px;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 1.5;

      @media @sm-up {
        padding: 0 0 20px;
        font-size: 22px;
      }
      @media @lg-up {
        padding: 0 0 10px;
      }

      ::ng-deep .base-button__link {
        font-size: 20px;
        font-weight: normal;

        @media @sm-up {
          font-size: 22px;
        }
      }
    }
  }
}

// .loop(@count) when(@count > 0) {
// 	.loop((@count - 1));
// 	:host-context(.spot-panel__content--@{count}) {
// 		.spot-panel {
// 			&__item {
// 				@media @sm-up {
// 					@width: 100% / @count;
// 					content: 'debug';
// 					width: calc(~"@{width} - 40px");
// 					flex: 0 0 calc(~"@{width} - 40px");
// 				}
// 			}
// 		}
// 	}
// }
.loop(@count) when(@count > 0) {
  .loop((@count - 1));
  :host-context(.spot-panel__content--@{count}) {
    .spot-panel {
      &__item {
        @media @sm-up {
          @width: 100% / @count;
          content: "debug";
          width: @width;
          flex: 0 0 @width;
        }
      }
    }
  }
}

.loop(6);

.spot-panel-carousel {
  overflow: hidden;

  &__content {
    display: flex;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
    will-change: transform;
  }

  .spot-panel__item {
    flex: 1 0 80%;
    max-width: 80%;
    margin-right: 9%;
  }

  &__dots {
    margin: 30px 0 50px;
    display: flex;
    justify-content: center;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #707070;
    margin: 0 5px;

    &.active {
      background: #fff;
      box-shadow: inset 0 0 0 1px #707070;
    }
  }
}
