<div class="spot-panel__list" *ngIf="data?.items">
  <div class="spot-panel__item" *ngFor="let item of data.items">
    <div class="spot-panel__image">
      <app-video-element *ngIf="isVideo(item)" [data]="item"></app-video-element>
      <app-picture *ngIf="isImage(item)" [data]="item.media.image"></app-picture>
    </div>

    <h3 class="spot-panel__item-title" *ngIf="item.title">{{ item.title }}</h3>

    <div class="spot-panel__item-description rte" *ngIf="item.description" [innerHTML]="item.description"></div>

    <span class="spot-panel__item-date" *ngIf="item.date">{{ item.date }}</span>

    <app-button class="spot-panel__item-link" *ngIf="item.link" [withArrow]="false" [data]="item.link"></app-button>
  </div>
</div>


