@import "base.less";

likes-panel {
  &.likes-panel--content {
    .white-block;
    display: block;
    padding: 20px;
  }

  .likes-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 36px;
  }
}
