@import "base.less";

.comments-panel {
  margin: 0;
  padding: 24px 0 0;
  border-top: 1px solid @border-color;

  &__title {
    margin: 0 0 36px;
    font-weight: normal;
  }

  &__rte-title {
    margin-bottom: 4px;
  }

  .comment {
    display: flex;

    &__avatar {
      margin-right: 20px;
    }

    &__content {
      margin-bottom: 10px;
    }

    &__info {
      margin-bottom: 5px;
    }
  }

  .ql-container.ql-snow {
    border: 1px solid @border-color;
  }

  .toolbar {
    border-top: none !important;
    padding-right: 0 !important;
  }

  .ql-container {
    height: 62px;
  }

  .ql-editor {
    font-size: 13px !important;
    height: 100%;
  }
}
