@import "base.less";

.comments-panel {
  margin: 0;
  padding: 24px 0 0;
  border-top: 1px solid @border-color;

  &__title {
    margin: 0 0 36px;
    font-weight: normal;
  }

  & ::ng-deep .ql-editor {
    border: 1px solid @border-color !important;
  }
} 