<div class="umbraco-panel__row">
    <input class="umbraco-panel__text-field" name="externalLinkInput" ng-model="externalLink.url" ng-change="validateLink()" type="text" placeholder="http://example.com/" ng-required="isRequired" />
    <span class="umbraco-panel__error" ng-show="isError()">Incorrect link format</span>
</div>
<div class="umbraco-panel__row" ng-if="useAltText">
    <label class="umbraco-panel__label control-label">Alt text:</label>
    <input class="umbraco-panel__text-field" name="altTextInput" type="text" ng-model="externalLink.altText" placeholder="Alt text" />
</div>