.like{
    display:inline-block;
    vertical-align:top;
    position:relative;
    line-height:1.3;

    &__set{
        color: #b2b2b2;
        display:inline-block;
        vertical-align:top;
        margin: 0 10px 0 0;

        .like:hover &,
        &:hover{
            text-decoration:none;
            color:var(--text-color-dark);
        }

        &._isLiked{
            color:var(--text-color-dark);
            margin: 0 20px 0 0;

            .icon-like{
                margin:-2px 5px 0 0;
            }
        }
    }

    .icon-like{
        font-size:16px;
        margin:-2px 0 0;
        vertical-align:top;
        display:inline-block;
    }

    &__link{
        color:var(--text-color-dark);
        padding:0 0 0 25px;
        display:inline-block;
        vertical-align:top;
        margin:0 20px 0 -30px;

        &:hover,
        &:active,
        &:focus{
            color:var(--text-color-dark);
        }

        &._hasLikes,
        &._remove{
            text-indent:-9999px;
            overflow:hidden;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }

    &__popup{
        position:absolute;
        top:100%;
        left:0;
        width:200px;
        margin:0 0 0 -10px;
        background:rgba(0,0,0,0.8);
        border-radius:5px;
        color:var(--color-white);
        opacity:0;
        z-index: 999;
        transition:opacity ease-in 200ms, visibility ease-in 200ms;
        visibility: hidden;
        padding:5px 10px 0;

        .like:hover &{
            opacity:1;
            visibility: visible;
            transition-delay: 200ms;
        }
    }

    &__list{
        margin:0;
        padding:0;
        list-style:none;
        line-height:1.2;

        &-item{
            padding:1px 0 3px;
        }
    }
}