@using Uintra.Core.Extensions
@model Uintra.News.NewsPreviewViewModel

<div class="block__item">
    <p>
        @Html.Localize(Model.ActivityType.ToString())<br />
        @Model.PublishDate.ToDateTimeFormat()
    </p>
    <h3 class="block__subtitle _clamp">
        <a href="@Model.Links.Details">@Html.Raw(Model.Title)</a>
    </h3>
</div>