.search-result{
    &__textbox-holder{
        position:relative;
        margin:0 0 45px;

        .icon-search{
            font-size: 18px;
            position: absolute;
            right: 12px;
            top: 12px;
        }
    }

    &__textbox{
        display:block;
        width:100%;
        margin:0;
        padding:8px 10px 10px;
        font:13px/22px var(--font-general);
        color: var(--text-color-dark);
        background-color: var(--color-white);
        border: 1px solid var(--color-light-gray);
    }

    &__filter{
        position:relative;
        margin:0 0 40px;

        .select2{
            width:100% !important;
            width:100%;
        }

        .select2-selection{
            border-color:var(--color-light-gray) !important;
            padding:8px 10px 9px;
            border-radius:0 !important;
            background:none !important;

            &__rendered{
                vertical-align:top;
            }

            &__choice{
                margin-top:3px !important;
            }
        }

        &-placeholder{
            position:absolute;
            top:13px;
            left:10px;
            color:var(--color-light-gray);
        }
    }

    &__title{
        font:bold 20px/22px var(--font-custom);
        text-transform:uppercase;
        color:var(--text-color-dark);
        margin:0 0 28px;
    }

    &__item{
        margin:0 -15px 18px;
        padding:15px;
        font-size:16px;
        line-height:22px;
        position:relative;
        color:var(--text-color-dark);
        transition:background ease-in 300ms;

        &:hover{
            background:#f1f1f1;
        }

        &-link{
            color:var(--text-color-dark);
            display:block;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;

            &:hover,
            &:active,
            &:focus{
                color:var(--text-color-dark);
                text-decoration:none;
            }
        }

        &-title{
            font:bold 16px/20px var(--font-general);
            margin:0 0 13px;
            color:var(--text-color-dark);
        }

        &-teaser{
            margin:0 0 12px;
            color:var(--text-color-light);

            b{
                 font-weight:normal;
             }
        }

        &-meta{
            font:bold 13px/14px var(--font-custom);
            text-transform:uppercase;
            color:var(--text-color-light);
        }
    }
}