:host {
    display: inline-block;
}

.link {
    &__link {
        color: inherit;
        font-size: inherit;
        display: inline-block;
        vertical-align: top;
        line-height: 1;
        text-decoration: underline;
        vertical-align: baseline;

        &:focus {
            outline: none;
        }
        &:hover{
          text-decoration: none;
        }
    }
}
