:host {
  display: block;
}

.bulletin-text-editor {
  &__input {
    padding: 15px 30px;
  }

  &__footer {
    display: flex;
    align-items: center;;
    width: 100%;
    padding: 15px 30px;
    border-top: 1px solid #ddd;
  }

  &__symbols-counter {
    margin-right: auto;
  }

  &__submit {
    margin-left: 15px;
  }
}
