<div class="bulletin-text-editor">
  <div class="bulletin-text-editor__input">
    <dropzone #dropdownRef [message]="''"></dropzone>

    <quill-editor
      [modules]="quillConfig"
      theme="snow"
      placeholder="Write a message, post a photo or share a document"
      customToolbarPosition="bottom"
    >
      <div quill-editor-toolbar class="bulletin-text-editor__footer toolbar">
        <div class="ql-counter" id="counter"></div>

        <div class="ql-formats">
          <button class="ql-emoji icon-smily"></button>
          <button class="ql-bold" [title]="'Bold'"></button>
          <button class="ql-italic" [title]="'Italic'"></button>
          <button class="ql-link icon-link"></button>
          <button class="" (click)="openDropdown()">
            <span
              class="bulletin-text-editor__attachment icon-attachment"
            ></span>
          </button>
        </div>

        <div class="ql-submit-button">
          <ng-content select="[submit]"></ng-content>
        </div>
      </div>
    </quill-editor>
  </div>
</div>
