<div class="bulletin-text-editor">
  <div class="bulletin-text-editor__input">
    Write a message, post a photo or share a document
  </div>
  <div class="bulletin-text-editor__footer">
    <div class="bulletin-text-editor__symbols-counter">
      0 / 2000
    </div>
    <div class="bulletin-text-editor__controls">
      :) &ensp; B &ensp; I &ensp; Link &ensp; Share
    </div>
    <div class="bulletin-text-editor__submit">
      <ng-content select="[submit]"></ng-content>
    </div>
  </div>
</div>
