@import '~quill/dist/quill.snow.css';
@import '~quill-emoji/dist/quill-emoji.css';

@import 'base.less';
@import './_quill-override.less';
@import './_dropzone-override.less';

@key-color: #261d43;

.button-main() {
  .reset-button;
  background: @key-color;
  color: @text-reverse-color;
  padding: 6px 15px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  width: auto;
}

.bulletin-text-editor {
  &__footer {
    display: flex;
    align-items: center;;
    width: 100%;
    border-top: 1px solid #ddd;
  }

  &__symbols-counter {
    margin-right: auto;
  }

  &__attachment {
    &:before {
      font-size: 26px;
      line-height: 20px;
    }
  }
}
