@import "base.less";

image-panel {
  .image-panel {
    margin-bottom: 40px;
  
    &__content {
      display: block;
    }
  
    &__description {
      margin-top: 20px;
  
      @media @sm-up {
        margin-top: 30px;
      }
    }
  }
}