<section class="image-panel" *ngIf="data">
  <!-- <h2 class="image-panel__title">Panel title</h2> -->
  <h2 *ngIf="data.title" class="image-panel__title">{{data.title}}</h2>
  <a class="image-panel__content"
    [attr.href]="data.link ? data.link.url : null"
    target="{{ data.link?.target || '_self' }}">
    <app-picture class="image-panel__image" *ngIf="data.image" [data]="data.image"></app-picture>
  </a>
  <div *ngIf="data.description" class="image-panel__description" [innerHTML]="data.description"></div>
</section>
