<button class="like-button"
        [disabled]="isDisabled"
        (click)="onClickLike()"
        [ngClass]="{'like-button--active': likeData?.likedByCurrentUser && !isDisabled}">
  <i class="icon-like"></i>
  <ng-container *ngIf="!isDisabled">
    {{ likes }}
    <span class="like-button-tooltip"
          *ngIf="userLikes?.length">
      <span *ngFor="let like of userLikes">{{ like.user }}</span>
    </span>
  </ng-container>
  <span *ngIf="isDisabled"
        class="like-button-tooltip">
    {{'likes.ReadonlyClick.Message.lbl' | translate}} 
  </span>
</button>