@import '~quill/dist/quill.snow.css';
@import '~quill-emoji/dist/quill-emoji.css';

@import 'base.less';
@import './helpers/_quill-override.less';
@import './helpers/_dropzone-override.less';

.bulletin-text-editor {
  &__footer {
    display: flex;
    align-items: center;;
    width: 100%;
    border-top: 1px solid #ddd;
  }

  &__symbols-counter {
    margin-right: auto;
  }

  &__attachment {
    &:before {
      font-size: 26px;
      line-height: 20px;
    }
  }
}
