@import "../../../../../base.less";

:host {
    display: block;
    text-align: center;
    padding: 0 20px;
}

.title {
    color: #000000;
    font-weight: bold;
}
.pre {
    color: #333333;
    line-height: 25px;
    font-size: 16px;
    margin: 21px 0 26px;
}