@import "base.less";

.feed-filters {
  &__tabs {
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__filter {
    margin-right: 30px;
  }

  &__button {
    .button-white;
    margin-left: auto;
  }

  &__wrapper {
    display: flex;
  }
}
