<app-spoiler-section [title]="'centralFeedList.OpenFilters.lbl' | translate" [(ngModel)]="isOpen" (ngModelChange)="handleOpen($event)" class="feed-filters">
  <app-radio-link-group
    *ngIf="tabs"
    [links]="tabs"
    (ngModelChange)="setSelectedTab($event)"
    [ngModel]="selectedTabType"
    class="feed-filters__tabs"
  ></app-radio-link-group>

  <div class="feed-filters__bottom">
    <div class="feed-filters__wrapper" *ngIf="selectTabFilters && selectTabFilters.length">
      <div *ngFor="let filter of selectTabFilters" class="feed-filters__filter">
        <checkbox-input
          [(ngModel)]="filter.isActive"
          (ngModelChange)="changeFilters()"
        >
          {{ filter.title }}
        </checkbox-input>
      </div>
    </div>

    <button (click)="clearFilters()" class="feed-filters__button">
      {{'centralFeedList.ClearFilters.btn' | translate}}
    </button>
  </div>
</app-spoiler-section>
