@import "base.less";

.feed-filters {
  &__tabs {

  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 16px;

      @media @sm-up {
        margin-right: 30px;
      }
    }
  }

  &__button {
    .button-white;
    margin-left: auto;
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;
    margin-top: 20px;
  }
}
