@import "../../../base.less";

:host {
  display: block;
}

.spot-panel {
  &__title {
    &--default {
      .centered;
    }
  }
  &__content {
    padding: 46px 0;
  }

  app-single {
    background-color: #dad8d8;
  }
}