<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>

    <authentication>
      <forms domain="ucommunity.dev.compent.dk" xdt:Transform="SetAttributes(domain)" />
    </authentication>
  </system.web>

  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=.\SQL2014;database=uCommunity_Dev;user id=sa;password='asdaID@qd2daa)'"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="dataDB" connectionString="server=.\SQL2014;database=uCommunity_Dev_TestData;user id=sa;password='asdaID@qd2daa)'"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>