<div ng-controller="EventsManagementController as vm" class="events-management" ng-class="vm.getHeadClasses()">
    <div class="events-table">
        <div class="filters">
            <div class="filter-group">
                <input type="text" class="_admin text-filter" ng-model="vm.filterModel.id" placeholder="Id filter" />
                <input type="text" class="text-filter" ng-model="vm.filterModel.title" placeholder="Title filter" />
            </div>
            <div class="filter-group">
                <date-picker model="vm.filterModel.startDate.from" config="vm.config.filterDate" placeholder="Start date from"></date-picker>
                <date-picker model="vm.filterModel.startDate.to" config="vm.config.filterDate" placeholder="Start date to"></date-picker>
            </div>
            <div class="filter-group">
                <date-picker model="vm.filterModel.endDate.from" config="vm.config.filterDate" placeholder="End date from"></date-picker>
                <date-picker model="vm.filterModel.endDate.to" config="vm.config.filterDate" placeholder="End date to"></date-picker>
            </div>
            <div class="filter-group">
                <date-picker model="vm.filterModel.createdDate.from" config="vm.config.filterDate" placeholder="Create date from"></date-picker>
                <date-picker model="vm.filterModel.createdDate.to" config="vm.config.filterDate" placeholder="Create date to"></date-picker>
            </div>
            <div class="filter-group">
                <date-picker model="vm.filterModel.modifyDate.from" config="vm.config.filterDate" placeholder="Update date from"></date-picker>
                <date-picker model="vm.filterModel.modifyDate.to" config="vm.config.filterDate" placeholder="Update date to"></date-picker>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="_admin">Id</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="events in vm.eventsList | filter: vm.filter track by events.id" ng-class="{'_unpublished' : events.isHidden, '_active' : vm.selectedIndex == $index}" ng-click="vm.selectEventsToEdit(events, $index)">
                    <td class="_admin">{{events.id}}</td>
                    <td>{{events.title}}</td>
                    <td>{{events.startDate | date: vm.dateFormat}}</td>
                    <td>{{events.endDate | date: vm.dateFormat}}</td>
                    <td>{{events.createdDate | date: vm.dateFormat}}</td>
                    <td>{{events.modifyDate | date: vm.dateFormat}}</td>
                    <td>
                        <input type="button" class="btn btn-warning" value="Unpublish" ng-hide="events.isHidden" ng-click="vm.unpublish(events, $index); $event.stopPropagation();" />
                        <input type="button" class="btn btn-success" value="Publish" ng-show="events.isHidden" ng-click="vm.publish(events, $index); $event.stopPropagation();" />
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="vm.delete(events, $index); $event.stopPropagation();" />
                    </td>
                </tr>
                <tr ng-click="vm.selectEventsToEdit(null, null)">
                    <td colspan="7" class="create-events-btn">
                        <i class="icon icon-add"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="events-edit umbraco-panel">
        <i class="icon icon-delete close-btn" ng-click="vm.clearSelected()"></i>
        <form name="editForm" class="events-edit-form">
            <div ng-if="vm.selected">
                <div class="control-group">
                    <h5 class="control-label">Owner:</h5>
                    <select ng-options="user.displayedName for user in vm.users track by user.id" ng-model="vm.selected.owner"></select>
                </div>

                <div class="control-group">
                    <h5 class="control-label">Title:</h5>
                    <input class="umbraco-panel__text-field" type="text" ng-model="vm.selected.title" required="" ng-maxlength="200" name="Title" />
                </div>

                <div class="control-group">
                    <h5 class="control-label">Description:</h5>
                    <tiny-mce model="vm.selected.description" config="vm.config.description"></tiny-mce>
                    <input type="hidden" ng-model="vm.selected.description" required="" name="Description" />
                </div>

                <div class="control-group">
                    <h5 class="control-label">Start date:</h5>
                    <date-picker model="vm.selected.startDate" config="vm.config.startDate" change="vm.startDateChanged()" picker="vm.startDatePicker"></date-picker>
                    <input type="hidden" ng-model="vm.selected.startDate" required="" name="Start date" />
                </div>

                <div class="control-group">
                    <h5 class="control-label">End date:</h5>
                    <date-picker model="vm.selected.endDate" config="vm.config.endDate" change="vm.endDateChanged()" picker="vm.endDatePicker"></date-picker>
                    <input type="hidden" ng-model="vm.selected.endDate" required="" name="End date" date-greater-or-equal="{{vm.selected.startDate}}" />
                </div>

                <div class="control-group">
                    <h5 class="control-label">Publish date:</h5>
                    <date-picker model="vm.selected.publishDate" config="vm.config.publishDate" picker="vm.publishDatePicker"></date-picker>
                    <input type="hidden" ng-model="vm.selected.publishDate" required="" name="Publish date" />
                </div>

                <div class="control-group">
                    <h5 class="control-label">Media:</h5>
                    <media-picker ng-model="vm.selected.media" config="vm.config.media"></media-picker>
                    <span class="note">Select image in *.png, *.jpg, *.svg or *.gif format. <br>Recommended image size: width - 500px;</span>
                </div>
                <div class="validation-summary-errors">
                    <div class="field-validation-error" ng-repeat="req in editForm.$error.required">
                        {{req.$name}} is required!
                    </div>
                    <div class="field-validation-error" ng-repeat="req in editForm.$error.maxlength">
                        {{req.$name}} max length
                    </div>
                    <div class="field-validation-error" ng-repeat="req in editForm.$error.dateGreaterOrEqual">
                        {{req.$name}} should be greater than or equal to Start date
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Save" ng-click="vm.save()" />
        </form>
    </div>
</div>

