<div class="publication publication--important">
  <app-publication-header
    [avatar]="publication.activity.owner.photo"
    [title]="publication.activity.owner.displayedName"
    class="publication__header"
  >
    <div subtitle>
      {{ getPublicationDate() }} -
      <a
        class="publication__activity-type"
        [routerLink]="publication.activity.links.details.baseUrl"
        [queryParams]="detailsParams"
        >{{ publication.activity.type }}
      </a>
    </div>
    <div *ngIf="publication.activity.isPinned" label class="publication__label">
      Important
    </div>
  </app-publication-header>

  <div class="publication__content">
    <div
      class="publication__text"
      [routerLink]="publication.activity.links.details.baseUrl"
      [queryParams]="detailsParams"
      [innerHTML]="publication.activity.description"
    ></div>


    <div class="gallery" [ngClass]="'items-' + countToDisplay">
      <div
        *ngFor="let image of medias | slice: 0:3; index as i"
        class="gallery__image"
        (click)="openGallery(i)"
        [ngStyle]="{ backgroundImage: 'url(' + image.url + ')' }"
      ></div>
      <div class="gallery__counter" *ngIf="additionalImages">+ {{ additionalImages }}</div>
    </div>
    <div class="publication__footer">
      <app-like-button [likeData]="likeData"></app-like-button>
      <a
        class="publication__comment publication__footer-item"
        [routerLink]="publication.activity.links.details.baseUrl"
        [queryParams]="detailsParams"
      >
        <i class="icon-comment"></i>
        {{ commentsCount }}
      </a>
      <button class="publication__share publication__footer-item">
        <i class="icon-share-icon"></i>
        Anbefal
      </button>

      <a
        class="publication__files publication__footer-item"
        *ngIf="documentsCount"
        [routerLink]="publication.activity.links.details.baseUrl"
        [queryParams]="detailsParams"
      >
        <i class="icon-attachment"></i>
        {{ documentsCount }}
        {{ documentsCount > 1 ? "Files added" : "File added" }}</a

      >
    </div>
  </div>
</div>
