<div class="publication publication--important">
  <app-publication-header
    [avatar]="'https://cataas.com/cat?width=200&height=200'"
    [title]="'Publication header title'"
    class="publication__header"
  >
    <div subtitle>
      31.12.2016 - Bulletin
    </div>
    <div label class="publication__label">Important</div>
  </app-publication-header>

  <div class="publication__content">
    <div [innerHTML]="publication.activity.description"></div>
  </div>

  <div class="publication__footer">
    <div class="publication__like publication__footer-item">
      <i class="icon-like"></i>
      25
    </div>
    <div class="publication__comment publication__footer-item">
      <i class="icon-comment"></i>
      4
    </div>
    <div class="publication__share publication__footer-item">
      <i class="icon-share-icon"></i>
      Anbefal
    </div>
  </div>

  <!-- <pre>
    {{ publication | json }}
    </pre -->
</div>
