body {
    margin:0;
    background:#fff;
    font:14px/1.3 Arial, Helvetica, sans-serif;
}

.wrapper{
    width:100%;
    overflow:hidden;
}

.header{
    width:1000px;
    margin:0 auto;
    padding:10px 0;
}

.main{
    width:1000px;
    margin:0 auto;
    display:flex;
}

.aside{
    width:200px;
}
