body {
    margin:0;
    background:#fff;
    font:14px/1.3 Arial, Helvetica, sans-serif;
}

.wrapper{
    width:100%;
    overflow:hidden;
}

.header{
    &__row{
        margin:0;
        padding:0;
        border:0;
    }
}
