@font-face {
    font-family: 'Open Sans';
    src: url('/Content/fonts/opensans-regular-webfont.eot');
    src: url('/Content/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), 
        url('/Content/fonts/opensans-regular-webfont.svg') format('svg'), 
        url('/Content/fonts/opensans-regular-webfont.woff2') format('woff2'), 
        url('/Content/fonts/opensans-regular-webfont.woff') format('woff'), 
        url('/Content/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/Content/fonts/opensans-bold-webfont.eot');
    src: url('/Content/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/Content/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/Content/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('/Content/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    margin:0;
    background:#fff;
    font:14px/1.3 'Open Sans', Helvetica, sans-serif;
}

.wrapper{
    width:100%;
    overflow:hidden;
    padding: 137px 0 0 251px;

    ._with-sub-nav._with-subtitle &{
        padding-top:172px;
    } 

    @media (--for-tablet-portrait-down) {
        ._with-sub-nav &,
        & {
            padding: 131px 0 0;
        }

        ._with-sub-nav._with-subtitle &{
            padding:181px 0 0;
        }
    }
}


.main{
    width:100%;
    overflow:hidden;
    padding:50px 80px 20px 70px;    

    @media (--for-tablet-portrait-down) {
        & {
            padding: 20px;
            overflow: visible;
        }
    }
 }
