<div class="span12" ng-click="changeActiveQuestion(-1)">
    <div class="m-b-20 _clearfix">
        <b class="span3">Panel title:</b>
        <input class="span9" type="text" name="title" ng-model="control.value.title" required />
    </div>
    <div class="span12">
        <div class="m-b-20 _clearfix">
            <b class="span3">Panel description:</b>
            <tiny-mce class="span9" model="control.value.description" config="rteConfigAlias"></tiny-mce>
        </div>
    </div>
</div>

<div class="span12" ng-repeat="question in control.value.questions" ng-show="control.active">

    <div ng-hide="$index == activeQuestion" ng-click="changeActiveQuestion($index)" style="cursor:pointer;">
        <div class="span3">
            <b class="span12">Question {{$index + 1}}</b>
        </div>
        <div class="span9">
            <b class="span12">{{question.question}}</b>
        </div>
    </div>

    <div ng-show="$index == activeQuestion">
        <div class="m-b-20 _clearfix">
            <b class="span3">Question title:</b>
            <input class="span9" type="text" name="title" ng-model="question.question" required />
        </div>
        <div class="span12">
            <div class="m-b-20 _clearfix">
                <b class="span3">Question answer:</b>
                <tiny-mce class="span9" model="question.answer" config="rteConfigAlias" required c-required=""></tiny-mce>
            </div>
        </div>
        <input type="button" class="btn btn-danger pull-right" ng-click="removeQuestion(question)" value="Remove this question" />
    </div>
</div>
<input type="button" class="btn btn-success" ng-click="addQuestion()" value="Add question">