@import "../../../base.less";

:host {
  display: block;

  &.full-content .image-panel__content {
    .centered;
  }

  &.full-browser .image-panel__content {
    .centered-max;
  }
}

.image-panel {
  margin-bottom: 40px;

  &__content {
    display: block;
  }
}
