@import "../../../../../base.less";

:host {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media @sm-down {
        @media (orientation: portrait) {
            flex-basis: 100% / 2;
            width: 100% / 5;
        }
    }
}

.icon-panel-item {

    &__content {
        text-decoration: none;
        &:focus {
            outline: none;
        }
    }
    &__title {
        line-height: 1.4;
        font-size: 18px;
        font-family: @font-family-2;
        margin-top: 20px;
        @media @sm-down {
            margin-top: 10px;
        }
    }

}

:host ::ng-deep .picture--svg {
    img {
        @media @sm-down {
            @media (orientation: portrait) {
                width: 46% !important;
            }
        }       
    }
}