@import "base.less";
.video-element {
  position: relative;;
  width: 100%;

  &__thumbnail {
    max-width: 100%;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20%;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='125' height='125'%3E%3Cpath d='M62.5 0A62.5 62.5 0 1 0 125 62.5 62.7 62.7 0 0 0 62.5 0zM50 90.6V34.4l37.5 28.1L50 90.6z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
