@import "base.less";
.video-element {
  position: relative;;
  width: 100%;

  &__thumbnail {
    max-width: 100%;
    cursor: pointer;

    &:hover:after{
      opacity: .8;
    }

    &:after {
      content: "";
      transition: opacity 0.3s linear;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 19%;
      height: 100%;
      //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='125' height='125'%3E%3Cpath d='M62.5 0A62.5 62.5 0 1 0 125 62.5 62.7 62.7 0 0 0 62.5 0zM50 90.6V34.4l37.5 28.1L50 90.6z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiB2aWV3Qm94PSIwIDAgMTIwIDEyMCI+CiAgICA8ZGVmcz4KICAgICAgICA8c3R5bGU+CiAgICAgICAgICAgIC5wcmVmaXhfX2Nscy0xe2ZpbGw6IzIzMWYyMH0KICAgICAgICA8L3N0eWxlPgogICAgPC9kZWZzPgogICAgPGcgaWQ9InByZWZpeF9fXy1lLXZpZGVvcGxheSIgZGF0YS1uYW1lPSItZS12aWRlb3BsYXkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0uMDc4IC0uMjUpIj4KICAgICAgICA8cGF0aCBpZD0icHJlZml4X19QYXRoXzI4IiBkPSJNNjAuMDc4LjI1YTYwIDYwIDAgMTA2MCA2MCA2MCA2MCAwIDAwLTYwLTYwem0wIDEwOS40MTJBNDkuNDEyIDQ5LjQxMiAwIDExMTA5LjQ5IDYwLjI1YTQ5LjQxMiA0OS40MTIgMCAwMS00OS40MTIgNDkuNDEyeiIgY2xhc3M9InByZWZpeF9fY2xzLTEiIGRhdGEtbmFtZT0iUGF0aCAyOCIvPgogICAgICAgIDxwYXRoIGlkPSJwcmVmaXhfX1BhdGhfMjkiIGQ9Ik0xNCA3Mi45MTVsNDEuOTA4LTMxLjE4OUwxNCAxMC41Mzd6IiBjbGFzcz0icHJlZml4X19jbHMtMSIgZGF0YS1uYW1lPSJQYXRoIDI5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyOS41NjYgMTguNTI0KSIvPgogICAgPC9nPgo8L3N2Zz4K");

      @media @sm-up{
        width: 12.5%;
      }
      @media @lg-up{
        width: 10.5%;
      }
    }
  }
}
