@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@model uCommunity.Likes.LikesViewModel
@{
    var isLiked = Model.CanAddLike ? "" : "_isLiked";
}
<div class="like" id="likes_@Model.ActivityId">
    <span class="like__set @isLiked"><i class="icon-like"></i> @Model.Users.Count()</span>

    @(Model.CanAddLike
        ? Ajax.ActionLink("Add", "AddLike", "Likes", new { activityId = Model.ActivityId }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = string.Concat("likes_", Model.ActivityId) }, new { @class = "like__link" })
        : Ajax.ActionLink("Remove", "RemoveLike", "Likes", new { activityId = Model.ActivityId }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = string.Concat("likes_", Model.ActivityId) }, new {@class = "like__link"}))

    @if (Model.Users.Any())
    {
        <div class="like__popup">
            @foreach (var name in Model.Users)
            {
                @Html.Label(name)
            }
        </div>
    }
</div>