<main class="main">
  <a class="accessibility-btn accessibility-btn--top" href="#maincontent" (click)="scrollToBlock($event)">{{'skipToContent.btn' | translate}}</a>
  <ng-container *ngIf="!isLoginPage && hasLeftLoginPage">
    <app-header></app-header>
  </ng-container>

  <div class="content">
    <ng-container *ngIf="!isLoginPage && hasLeftLoginPage">
      <nav class="nav">
        <div class="nav__header">
          <!--TODO: mobile search-->
          <app-search></app-search>
          <button class="nav__close" (click)="closeLeftNav()" role="button"></button>
        </div>

        <app-left-navigation></app-left-navigation>
      </nav>
    </ng-container>

    <div class="content__wrap">
      <router-outlet></router-outlet>
      <app-go-to-top-button></app-go-to-top-button>
    </div>
  </div>
</main>

<app-image-gallery></app-image-gallery>
