<ng-container *ngIf="data">
  <app-group-details-wrapper *ngIf="data?.groupHeader"
                             [data]="data.groupHeader">
    <div class="group-details-padding">
      <div class="page-wrapper">
        <div class="col-md-8">
          <app-event-form [data]="data.data"
                          (submit)="onSubmit($event)"
                          (cancel)="onCancel()">
          </app-event-form>
        </div>
      </div>
    </div>
  </app-group-details-wrapper>
  <div class="page-wrapper"
       *ngIf="!data?.groupHeader">
       <div class="col-md-8">
         <app-event-form [data]="data.data"
                         (submit)="onSubmit($event)"
                         (cancel)="onCancel()"
                         [(inProgress)]="inProgress">
         </app-event-form>
       </div>
  </div>
</ng-container>
