<div class="nav-notification" (clickOutside)="hide()">
  <button (click)="onToggle()" class="nav-notification__button">
    <span class="icon-bell-icon"></span>
    <app-notification-count [count]="notificationCount"></app-notification-count>
  </button>

  <div [hidden]="!isShow" class="nav-notification__popup">
    <div class="nav-notification__spinner-wrapper" *ngIf="isLoading">
      <div class="nav-notification__spinner"></div>
    </div>

    <div
      class="nav-notification__spinner-wrapper"
      *ngIf="!isLoading && notifications && notifications.length === 0">
        No new notifications
    </div>

    <ng-container *ngIf="notifications">
      <app-notifications-item
        [notification]="notification"
        *ngFor="let notification of notifications"
      ></app-notifications-item>
    </ng-container>

    <app-notifications-item [link]="notificationPageUrl" (click)="hide()">
      See all notifications
    </app-notifications-item>
  </div>
</div>
