<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
    
<link rel="stylesheet" href="/wwwroot/styles.6d38d2e7e0cd870f1691.css"></head>
<body>
    <app-root></app-root>

    
    
    
    
    
    
<script src="/wwwroot/runtime-es2015.56947407b2db2ec956c1.js" type="module"></script><script src="/wwwroot/runtime-es5.56947407b2db2ec956c1.js" nomodule defer></script><script src="/wwwroot/polyfills-es5.e9e43b9933456ce9070c.js" nomodule defer></script><script src="/wwwroot/polyfills-es2015.08a96ecc5638dc3c2f82.js" type="module"></script><script src="/wwwroot/main-es2015.01c67dd416fdf1935d57.js" type="module"></script><script src="/wwwroot/main-es5.01c67dd416fdf1935d57.js" nomodule defer></script></body>
</html>
