<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.78f6bc365c4ca609e214.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.e3305a544c983b3aa5de.js" defer></script><script src="/wwwroot/polyfills-es5.de05ea176730fc1499c6.js" nomodule defer></script><script src="/wwwroot/polyfills.7f99b29f82e88a6945a7.js" defer></script><script src="/wwwroot/scripts.43908c7a98175d5552fe.js" defer></script><script src="/wwwroot/main.0e135c719f87e045e02d.js" defer></script></body>
</html>
