<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.9c3d3e60515bd440a071.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime-es2015.d6527cfe06421f5a0de6.js" type="module"></script><script src="/wwwroot/runtime-es5.d6527cfe06421f5a0de6.js" nomodule defer></script><script src="/wwwroot/polyfills-es5.d3c018d4cf3bfdad5075.js" nomodule defer></script><script src="/wwwroot/polyfills-es2015.7c4fff09cda350f2d479.js" type="module"></script><script src="/wwwroot/main-es2015.994c7972da60ed250a6e.js" type="module"></script><script src="/wwwroot/main-es5.994c7972da60ed250a6e.js" nomodule defer></script></body>
</html>
