<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
    
<link rel="stylesheet" href="/wwwroot/styles.fd5d46b09244b6ecc51f.css"></head>
<body>
    <app-root></app-root>

    
    
    
    
    
    
<script src="/wwwroot/runtime-es2015.b5fef9572ef4f0f4cf80.js" type="module"></script><script src="/wwwroot/runtime-es5.b5fef9572ef4f0f4cf80.js" nomodule defer></script><script src="/wwwroot/polyfills-es5.e9e43b9933456ce9070c.js" nomodule defer></script><script src="/wwwroot/polyfills-es2015.08a96ecc5638dc3c2f82.js" type="module"></script><script src="/wwwroot/main-es2015.d76884892687b0c179e5.js" type="module"></script><script src="/wwwroot/main-es5.d76884892687b0c179e5.js" nomodule defer></script></body>
</html>
