<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.16d593cb3859ea7835c3.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.7734896848c463523b5a.js" defer></script><script src="/wwwroot/polyfills-es5.f85dec5af1d875853ed0.js" nomodule defer></script><script src="/wwwroot/polyfills.9e757b023f280b1314cf.js" defer></script><script src="/wwwroot/scripts.f11072d9a7e77e9d5f15.js" defer></script><script src="/wwwroot/main.85d98f177190ba264c7e.js" defer></script></body>
</html>
