<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.8755257668b1827f32ef.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.9b4a6635478e85ca932d.js" defer></script><script src="/wwwroot/polyfills-es5.cf65d3ec6e46525a5783.js" nomodule defer></script><script src="/wwwroot/polyfills.1c7582dfd8476cc116b9.js" defer></script><script src="/wwwroot/scripts.43908c7a98175d5552fe.js" defer></script><script src="/wwwroot/main.d839a796a0ac58eb4bbb.js" defer></script></body>
</html>
