<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.7a9493320cd2643317eb.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.ac4c53dc5d0e84e83725.js" defer></script><script src="/wwwroot/polyfills-es5.f85dec5af1d875853ed0.js" nomodule defer></script><script src="/wwwroot/polyfills.9e757b023f280b1314cf.js" defer></script><script src="/wwwroot/scripts.bde318467678bccfd8f5.js" defer></script><script src="/wwwroot/main.e6b90533bcdec03f05f6.js" defer></script></body>
</html>
