<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.c8fc09cf5f04bdd25b04.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.c18c481e9432de5a3840.js" defer></script><script src="/wwwroot/polyfills-es5.f85dec5af1d875853ed0.js" nomodule defer></script><script src="/wwwroot/polyfills.9e757b023f280b1314cf.js" defer></script><script src="/wwwroot/scripts.98301de3644494c7ddf1.js" defer></script><script src="/wwwroot/main.cdad9854ff59acdb773c.js" defer></script></body>
</html>
