<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.9c3d3e60515bd440a071.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.9878ed197583cf648126.js" defer></script><script src="/wwwroot/polyfills-es5.65dbb91e184f2cce0808.js" nomodule defer></script><script src="/wwwroot/polyfills.62013083f344fade2f70.js" defer></script><script src="/wwwroot/scripts.f11072d9a7e77e9d5f15.js" defer></script><script src="/wwwroot/main.41bc7c840ba5bb8521fe.js" defer></script></body>
</html>
