<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.cbee2db2578c29d3c38f.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.92b8f04c959b71335e67.js" defer></script><script src="/wwwroot/polyfills-es5.3eafeac0fec2c47dbb47.js" nomodule defer></script><script src="/wwwroot/polyfills.aec55042f10bc0d588ce.js" defer></script><script src="/wwwroot/scripts.43908c7a98175d5552fe.js" defer></script><script src="/wwwroot/main.bb9e0f94bb5acdedd145.js" defer></script></body>
</html>
