<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.78f6bc365c4ca609e214.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.653511ae325b935a269a.js" defer></script><script src="/wwwroot/polyfills-es5.e5cc5fb00e54cf1c4577.js" nomodule defer></script><script src="/wwwroot/polyfills.aec55042f10bc0d588ce.js" defer></script><script src="/wwwroot/scripts.43908c7a98175d5552fe.js" defer></script><script src="/wwwroot/main.6020f778a20f0250d817.js" defer></script></body>
</html>
