<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
    
<link rel="stylesheet" href="/wwwroot/styles.645711df06ba017f775e.css"></head>
<body>
    <app-root></app-root>

    
    
    
    
    
    
<script src="/wwwroot/runtime-es2015.4f293711cc090de17a3f.js" type="module"></script><script src="/wwwroot/runtime-es5.4f293711cc090de17a3f.js" nomodule defer></script><script src="/wwwroot/polyfills-es5.d3c018d4cf3bfdad5075.js" nomodule defer></script><script src="/wwwroot/polyfills-es2015.7c4fff09cda350f2d479.js" type="module"></script><script src="/wwwroot/main-es2015.32ae8b3302b7e8e5b7ae.js" type="module"></script><script src="/wwwroot/main-es5.32ae8b3302b7e8e5b7ae.js" nomodule defer></script></body>
</html>
