<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.e525a255cb02b2422515.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.7f3ab653e67b75d4ab4f.js" defer></script><script src="/wwwroot/polyfills-es5.2716a252ff08731c6aed.js" nomodule defer></script><script src="/wwwroot/polyfills.351995d953b1fa47d5cd.js" defer></script><script src="/wwwroot/scripts.755336941a50856dad23.js" defer></script><script src="/wwwroot/main.e9d4ffa319ee1893e814.js" defer></script></body>
</html>
