<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.fc50d3e938703f1ce9ee.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.5ac7d53cb37cb272e951.js" defer></script><script src="/wwwroot/polyfills-es5.c6169ce944562fa6f393.js" nomodule defer></script><script src="/wwwroot/polyfills.7b43e056524ea0fdb19b.js" defer></script><script src="/wwwroot/scripts.43908c7a98175d5552fe.js" defer></script><script src="/wwwroot/main.4d5ee3d6fc2ccfa13dab.js" defer></script></body>
</html>
