<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
    
<link rel="stylesheet" href="/wwwroot/styles.b81f288b9341e007518e.css"></head>
<body>
    <app-root></app-root>

    
    
    
    
    
    
<script src="/wwwroot/runtime-es2015.6ea57ba01febfeac4cc1.js" type="module"></script><script src="/wwwroot/runtime-es5.6ea57ba01febfeac4cc1.js" nomodule defer></script><script src="/wwwroot/polyfills-es5.c6d7099f8b4f279dee63.js" nomodule defer></script><script src="/wwwroot/polyfills-es2015.7c4fff09cda350f2d479.js" type="module"></script><script src="/wwwroot/main-es2015.f57ab8eb0e73c20c7457.js" type="module"></script><script src="/wwwroot/main-es5.f57ab8eb0e73c20c7457.js" nomodule defer></script></body>
</html>
