<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
    
<link rel="stylesheet" href="/wwwroot/styles.2db828f32bde7438b698.css"></head>
<body>
    <app-root></app-root>

    
    
    
    
    
    
<script src="/wwwroot/runtime-es2015.232ee621567470c1eddf.js" type="module"></script><script src="/wwwroot/runtime-es5.232ee621567470c1eddf.js" nomodule defer></script><script src="/wwwroot/polyfills-es5.d3c018d4cf3bfdad5075.js" nomodule defer></script><script src="/wwwroot/polyfills-es2015.7c4fff09cda350f2d479.js" type="module"></script><script src="/wwwroot/main-es2015.06d46a4e86e3d51af25d.js" type="module"></script><script src="/wwwroot/main-es5.06d46a4e86e3d51af25d.js" nomodule defer></script></body>
</html>
