<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.9c3d3e60515bd440a071.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.3d7e3d7c3f0dad305fca.js" defer></script><script src="/wwwroot/polyfills-es5.307e92fa44181d27a229.js" nomodule defer></script><script src="/wwwroot/polyfills.55fbe7fd975512dc5384.js" defer></script><script src="/wwwroot/scripts.f11072d9a7e77e9d5f15.js" defer></script><script src="/wwwroot/main.477b71e525d239eb2483.js" defer></script></body>
</html>
