<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
        <link rel="stylesheet" href="/wwwroot/assets/gerlands/style.css">
	  
<link rel="stylesheet" href="/wwwroot/styles.78f6bc365c4ca609e214.css"></head>
<body>
    
    
    <app-root></app-root>
    
    
<script src="/wwwroot/runtime.f258cfbeb70062ae4943.js" defer></script><script src="/wwwroot/polyfills-es5.82d9a72b8ef3f2d97f53.js" nomodule defer></script><script src="/wwwroot/polyfills.17072dd0e1d9a27198f2.js" defer></script><script src="/wwwroot/scripts.bde318467678bccfd8f5.js" defer></script><script src="/wwwroot/main.40e3791e6cf64d38fd3d.js" defer></script></body>
</html>
