.rte {
  strong, b {
    font-family: @font;
    font-weight: bold;
  }

  em, i {
    font-family: @font;
    font-style: italic;
  }

  ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  ol {
    list-style: decimal;
    padding-left: 40px;
    margin-bottom: 10px;
  }
}
