<app-spoiler-section [title]="'Filter'" class="feed-filters">
  <app-radio-link-group
    *ngIf="tabs"
    [links]="tabs"
    (ngModelChange)="setSelectedTab($event)"
    [ngModel]="selectedTabType"
    class="feed-filters__tabs"
  ></app-radio-link-group>

  <div class="feed-filters__bottom">
    <div *ngFor="let filter of selectTabFilters" class="feed-filters__filter">
      <checkbox-input
        [(ngModel)]="filter.isActive"
        (ngModelChange)="changeFilters()"
      >
        {{filter.title}}
      </checkbox-input>
    </div>

    <button (click)="clearFilters()" class="feed-filters__button">
      Clear filters
    </button>
  </div>
</app-spoiler-section>
