dropzone > .dropzone.dz-wrapper {
  padding: 0 14px !important;
  height: 0 !important;

  &.dz-started {
    height: auto !important;
  }

  .dz-message {
    border: 0 !important;
    background: none !important;
    min-height: 0 !important;
  }
}
