.block._document-panel {
    &__title{
        font:bold 16px/20px var(--font-custom);
        text-transform:uppercase;
        margin:0 0 9px;
        color:var(--text-color-dark);

        &-link{
            color:var(--text-color-dark);

            &:hover,
            &:focus,
            &:active{
                color:var(--text-color-dark);
            }
        }
    }
}

.documents{
    margin:0;
    padding:5px 0 0;
    list-style:none;

    ._horizontal &{
        display:flex;
        align-items:stretch;
        flex-wrap:wrap;
        margin:0 0 0 -20px;
    }

    &__item{
        overflow:hidden;
        margin:0 0 10px;

        ._vertical &{
            overflow:hidden;
            margin:0 0 16px;
        }
        
        ._horizontal &{
            text-align:center;
            width:100%;
            max-width:150px;
            min-width:100px;
            padding:0 0 10px 20px;

            @media (--for-desktop-up){
                &{
                    width:33%;
                }
            }
        }

        &-link{
            color:var(--text-color-dark);

            &:hover{
                color:var(--text-color-dark);
            }

            ._horizontal &{
                background:#fbfbfb;
                display:block;
                height:100%;
                border:1px solid var(--color-light-gray-2);
                border-radius:2px;
                padding:11px 10px 8px;
                color:var(--text-color-dark);

                &:hover,
                &:active,
                &:focus{
                    color:var(--text-color-dark);
                    text-decoration:none;
                }
            }
        }
        &-name{
            display:block;
            overflow:hidden;

            ._horizontal &{
                font-size:11px;
                line-height:13px;
                word-break:break-all;
                display:inline-block;
                overflow:visible;
            }
        }
    }

    &__icon{
        width: 24px;
        height: 24px;
        float:left;
        margin:0 10px 0 0;

        ._vertical &{
            margin: 0 8px 0 0;
        }

        ._horizontal &{
            float:none;
            margin:0 auto 3px;
            width: 30px;
            height: 30px;
        }
    }

    &__more{
        display:inline-block;
        font:bold 13px/15px var(--font-custom);
        text-transform:uppercase;
        margin:0 0 20px;
    }
}