<div class="header">
  <app-user-avatar
    class="header__avatar"
    [routerLink]="details.links.owner.originalUrl"
    [photo]="details.headerInfo.owner.photo"
    [name]="details.headerInfo.owner.displayedName"
  ></app-user-avatar>

  <div class="details">
    <div class="details-item">
      <a
      [routerLink]="details.links.owner.originalUrl"
        class="details-item__name"
      >
        <span>{{ details.headerInfo.owner.displayedName }}</span>
      </a>
      <span class="details-item__date">
        - {{ details.headerInfo.dates[0] }} -
      </span>
      <span class="details-item__category">{{ activityName }}</span>
      <a
        class="details-item__location"
        *ngIf="googleMapUrl && location.shortAddress"
        [href]="googleMapUrl"
        target="_blank"
        >
        <span class="icon-pin-icon"></span>
        {{ location.shortAddress }}</a>
    </div>
  </div>
</div>
