@import 'base.less';

.header {
  display: flex;

  &__avatar {
    display: inline-block;
    margin-right: 11px;
    text-decoration: none;
    color: initial;
  }
}

.details-item {
  &__name {
    font-weight: 700;
    color: @body-text-color;
    text-decoration: none;
    .link;
  }

  &__location {
    .link;
    margin-left: 8px;
  }
}
