#sidebar .ss-content{
    padding:0;
}

#sidebar .ss-scroll {
    right: 0 !important;
    position: absolute;
}

.sidebar{
    padding-left:35px !important;

    &__holder{
        padding:50px 32px 0 0;

        @media (--for-tablet-portrait-down){
            &{
                padding:0;
            }
        }
    }
}

.side-nav {
    margin:0;
    padding:30px 20px 9px 25px;
    list-style:none;
    font-weight: bold;
    font-size:16px;
    line-height: 22px;
    font-family:var(--font-general);
    border-top:2px solid #f6f6f6;

    &._groups,
    &._system,
    &._links{
        padding-top:17px;
    }

    &:first-of-type{
        border:none;
    }

    .ss-content &{
        margin:0 -32px 18px 0;
        padding:0 32px 0 0;
        max-width:282px;
    }

    &__title {
         padding:4px 45px 4px 19px;
         margin: 0;
    }

    &__item{
        position:relative;
    }

    &__link{
        display:block;
        padding:11px 45px 9px 19px;
        color:var(--text-color-dark);
        word-wrap: break-word;
        cursor:pointer;
        margin:0 0 -2px;

        &:hover,
        &:focus,
        &:active,
        ._active > &{
            background:#f6f6f6;
            text-decoration:none;
            color:#261d43;
            border-left:2px solid var(--header-bg);
            padding-left:17px;
        }

        &:hover{
            .icon-close{
                display:block;
            }
        }

        ._active > &{
            cursor:default;
            pointer-events:none;
        }

        ._clickable > &{
            pointer-events:initial;
            cursor:pointer;
        }

        ._system &,
        ._links &,
        ._groups &{
            padding-left:50px;

            &:hover,
            &:focus,
            &:active,
            ._active > &{
                padding-left:48px;
            }
        }
    }

	&__arrow{
		position: absolute;
        top:0;
        height:42px;
        width:30px;
        right:0;
        cursor:pointer;

        ._heading > &,
        ._system &,
        ._links &{
		    left: -12px;
            width:auto;
        }

        .sidebar__holder > .side-nav > .side-nav__item > &{
            display:block;
        }

		&:after {
			content: '';
			position: absolute;
            top:15px;
            right:21px;
			width: 9px;
			height: 9px;
			border: solid var(--text-color-dark);
			border-width: 1px 0 0 1px;
            transform: rotate(225deg);

            ._heading > &,
            ._system &,
            ._links &{
			    top:15px;
                left:auto;
            }

			._expand > & {
				transform: rotate(45deg);
				border-color: var(--text-color-dark);
                top:20px;

                ._heading > &,
                ._system &,
                ._links &{
                    top:20px;
                }
			}

            @media (--for-tablet-portrait-down) {
                &{
                    right:15px;
                }
            }
		}
	}

    .glyphicon{
        position: absolute;
        top: 12px;
        right: 19px;
        color:var(--header-bg);

        &:before{
            font-size:15px;
        }

        @media (--for-tablet-portrait-down) {
            &{
                right:13px;
            }
        }
    }

    &._system & &,
    &._links & &,
    &._groups & &{
        &__link{
            padding-left:53px;

            &:hover,
            &:focus,
            &:active{
                padding-left:51px;
            }
        }
    }

    & &{
        margin:0;
        padding:0;
        list-style:none;
        font-family:var(--font-general);
        border-top:none;

        .side-nav{
            &__link{
                padding-left:30px;
                font-weight:normal;

                &:hover,
                &:focus,
                &:active,
                ._active > &{
                    padding-left:28px;
                }
            }

            .side-nav{
                &__link{
                    padding-left:50px;

                    &:hover,
                    &:focus,
                    &:active,
                    ._active > &{
                        padding-left:48px;
                    }
                }

                .side-nav{
                    &__link{
                        padding-left:70px;

                        &:hover,
                        &:focus,
                        &:active,
                        ._active > &{
                            padding-left:68px;
                        }
                    }

                    .side-nav{
                        &__link{
                            padding-left:90px;

                            &:hover,
                            &:focus,
                            &:active,
                            ._active > &{
                                padding-left:88px;
                            }
                        }
                    }
                }
            }
        }
    }

    .side-nav{
        display: none;
    }

    ._expand > &{
        display: block;
    }

    &__icon{
        font-size: 15px;
        left: 18px;
        position: absolute;
        top: 11px;

        &.icon-groups{
            &:before{
                font-size:18px;
            }
        }

        @media(--for-tablet-portrait-down){
            &{
                
            }
        }
    }

    @media (--for-tablet-portrait-down) {
        &{
            font-size: 16px;
            padding:31px 11px 20px 0;
            background:var(--color-white);

            &._for-mobile{
                border-top:none;
            }

            &__overlay{
                position:fixed;
                top:0;
                left:0;
                right:0;
                bottom:0;
                opacity:0;
                visibility:hidden;
                z-index:100;
                transition:all linear 250ms;
                
                ._menu-expanded &{
                    opacity:1;
                    visibility:visible;
                }
            }

            &__link {
                padding: 11px 45px 9px 19px;
                margin: 0 0 -7px;

                ._active &{
                    border-left-width:5px;
                    padding-left:13px;
                }
            }
        }

        & & {
            padding: 3px 0 0;
            font-size:16px;

            &__item {
                margin: 0 0 5px;
            }

            &__link {
                &._with-icon{
                    padding-right:0;
                    padding-left:0;
                    background:none;

                    .icon{
                        display:inline-block;
                        vertical-align:middle;
                        width:30px;
                        margin-right:15px;
                    }

                    img{
                        margin-right:15px;
                    }
                }
            }
        }

        &__link {
            padding-left: 19px;
        }
    }
}