.coming-events{
    .icon-calendar{
        display:none;

        .sidebar &{
            display:inline-block;
            margin:0 10px 0 0;
        }
    }

    &__list{
        margin:0;
        padding:0 0 2px;
        list-style:none;

        &-item{
            padding:2px 0 13px;
        }
    }

    &__date{
        float:left;
        background:#f6f6f6;
        text-align:center;
        width:50px;
        height:50px;
        margin:0 20px 0 0;
        padding:10px;
    }

    &__day{
        display:block;
        font-size:18px;
        line-height:1em;
        font-weight:bold;
    }

    &__month{
        display:block;
        font-size:13px;
        line-height:1.33em;
        text-transform:uppercase;
    }

    &__description{
        overflow:hidden;
        font-size:13px;
        line-height:18px;
    }

    &__title{
        font-size:14px;
        line-height:12px;
        font-weight:bold;
        margin:0 0 7px;

        &-link{
            color:#333;

            &:hover,
            &:active,
            &:focus{
                color:#333;
            }
        }
    }

    &__creator{
        margin:0 0 2px;
    }

    &__time,
    &__creator{
        display:block;
    }
}

.dropzone .dz-preview .dz-image {
    z-index: 9;
}