@using uIntra.Core.Extentions
@model IEnumerable<uIntra.Tagging.Core.Models.TagViewModel>

@if (Model.Any())
{
    <h3 class="tags__title">@Html.Localize("UserTagsView.Title.lbl")</h3>

    foreach (var tag in Model)
    {
        <span class="tags__item">@tag.Text</span>
    }
}