@using uIntra.Core.Extensions
@model IEnumerable<uIntra.Tagging.Core.Models.TagEditModel>
<label class="form__label" for="description">@Html.Localize("UserTagsEdit.Title.lbl")</label>
<div class="activity-tags-holder js-activity-tags-holder input textarea clearfix" data-model-name="tags" data-placeholder="@Html.Localize("Tags.Placeholder")" data-activity-tags="@Model.ToJson()"></div>