@using System.Web.Mvc.Html
@using uIntra.Core.Activity
@using uIntra.Core.Extentions
@model Compent.uIntra.Core.Events.EventPreviewViewModel
<section class="content">
    <div class="row clearfix">
        <h2>
            Title: @Model.Title
        </h2>
        
        <h3>
            Creator: @Model.Creator.DisplayedName
        </h3>
        
        <h4>
            Start date: @Model.StartDate
            End date: @Model.EndDate
        </h4>
    </div>
</section>
