<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0151d9cc-3d2c-48aa-b6ab-c32453dfe549" Alias="File - Size" Level="4">
  <Info>
    <Name>File - Size</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Media+Types/File</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "BIGINT"
}]]></Config>
</DataType>