<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01c0fa26-66f9-473c-ace0-5de1f5132c23" Alias="Page Settings Composition - Add To Sitemap" Level="4">
  <Info>
    <Name>Page Settings Composition - Add To Sitemap</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Compositions/Page+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>