<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8e8286b-3662-4df6-9a7a-a44401c0fa74" Alias="Agreement Picker" Level="3">
  <Info>
    <Name>Agreement Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Shared</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/dataFolder/agreementFolder",
    "id": null
  },
  "Filter": "agreementItem",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>