<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff3c47b3-0209-4891-9bc6-8a2fe1c648f6" Alias="Archived Urls - Urls" Level="4">
  <Info>
    <Name>Archived Urls - Urls</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Compositions/Archived+Urls</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>