<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b95c8339-5728-4f11-9cbe-667010e2e204" Alias="Meta Data Composition - Social Title" Level="4">
  <Info>
    <Name>Meta Data Composition - Social Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Compositions/Meta+Data</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 120
}]]></Config>
</DataType>