<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba092914-3678-4bab-8eff-4f9bb8f0c680" Alias="FAQ Panel - Items" Level="4">
  <Info>
    <Name>FAQ Panel - Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Panels/FAQ</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "fAQItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ question? (question? question: 'Item') : 'Item'}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>