<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62fbc87a-0bf5-497c-a7cd-ddbf2c323b82" Alias="Central Feed - Tab type - UBaseline - Key Value Dropdown List" Level="1">
  <Info>
    <Name>Central Feed - Tab type - UBaseline - Key Value Dropdown List</Name>
    <EditorAlias>UBaseline.KeyValueDropdownList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>29</SortOrder>
  </Info>
  <Config><![CDATA[{
  "multiple": "0",
  "values": {
    "items": [
      {
        "value": "None",
        "key": "none"
      },
      {
        "value": "All",
        "key": "all"
      },
      {
        "value": "News",
        "key": "news"
      },
      {
        "value": "Events",
        "key": "events"
      },
      {
        "value": "Bulletins",
        "key": "bulletins"
      }
    ]
  }
}]]></Config>
</DataType>