<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ca380fd-a531-4a9a-b5f0-f7af5a4133da" Alias="Coming Events - Title - Textbox" Level="1">
  <Info>
    <Name>Coming Events - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>58</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>