<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee3298b8-cc9e-4d47-b05a-3acac6ad714a" Alias="Contact Item - Position" Level="4">
  <Info>
    <Name>Contact Item - Position</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>6</SortOrder>
    <Folder>UBaseline/Items/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>