<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebf49a20-ad4e-45f9-85ec-872446521f5c" Alias="Contact Item - Last Name" Level="4">
  <Info>
    <Name>Contact Item - Last Name</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>UBaseline/Items/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>