<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c050890a-3142-465a-a070-2c0ca86c7da3" Alias="Contact Item - Photo" Level="4">
  <Info>
    <Name>Contact Item - Photo</Name>
    <EditorAlias>UBaseline.ImagePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Items/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false
  }
}]]></Config>
</DataType>