<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8184778-da9d-4bcf-8d42-d00faaaecbef" Alias="Contact Item - Phone" Level="4">
  <Info>
    <Name>Contact Item - Phone</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Items/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>