<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34cd4ffb-9f41-4c50-bd1e-027726981f9c" Alias="Contact Panel - Type" Level="4">
  <Info>
    <Name>Contact Panel - Type</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Simple"
    },
    {
      "id": 2,
      "value": "Extended"
    }
  ]
}]]></Config>
</DataType>