<?xml version="1.0" encoding="utf-8"?>
<DataType Key="950094e6-547a-45b6-8be0-a58f9fadb9be" Alias="Contact Item - Email" Level="4">
  <Info>
    <Name>Contact Item - Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Items/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>