<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da789fcd-1b2f-479a-88e8-9e10d4660c6a" Alias="News Details - Preview Image" Level="4">
  <Info>
    <Name>News Details - Preview Image</Name>
    <EditorAlias>UBaseline.ImagePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>UBaseline/Pages/News+Details</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false,
    "showAlt": true
  }
}]]></Config>
</DataType>