<?xml version="1.0" encoding="utf-8"?>
<DataType Key="232cba7f-1651-4913-bf46-0dd47368b842" Alias="Document Library Panel - See All" Level="4">
  <Info>
    <Name>Document Library Panel - See All</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Document+Library</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>