<?xml version="1.0" encoding="utf-8"?>
<DataType Key="777bb58e-e3d8-4139-a9ea-474e935b8a4e" Alias="Document Library Panel - Link for Headline" Level="4">
  <Info>
    <Name>Document Library Panel - Link for Headline</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Panels/Document+Library</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>