<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1af95d3c-e43b-4f93-bfc0-2df8d4a58370" Alias="Folder - Allowed Media Extensions - Textbox" Level="1">
  <Info>
    <Name>Folder - Allowed Media Extensions - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>49</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>