<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f97a691-c66a-444b-b671-54cf7d860636" Alias="Generic Properties - Convert In Process - Label" Level="1">
  <Info>
    <Name>Generic Properties - Convert In Process - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>63</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>