<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ffac2ad-2a3b-49b0-b2aa-05d85630ad09" Alias="Google Maps Panel - Address" Level="4">
  <Info>
    <Name>Google Maps Panel - Address</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Google+Maps</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>