<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5eb23448-8253-4cb0-9223-488ba831cc43" Alias="Google Maps Panel - Longitude" Level="4">
  <Info>
    <Name>Google Maps Panel - Longitude</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/Google+Maps</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>