<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b684fd1a-bcd9-45db-86df-49f49fa3d7f1" Alias="Group Navigation - Navigation Title - Textbox" Level="1">
  <Info>
    <Name>Group Navigation - Navigation Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>46</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>