<?xml version="1.0" encoding="utf-8"?>
<DataType Key="188a61cf-603d-42dc-8a3b-d0b1f363f762" Alias="Group Navigation - Sort Order - Numeric" Level="1">
  <Info>
    <Name>Group Navigation - Sort Order - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>50</SortOrder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>