<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b37c325b-328b-4597-968a-e419b061a84e" Alias="Home Page - Title" Level="4">
  <Info>
    <Name>Home Page - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Pages/Home</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>