<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d792e48-4cf2-4872-b24d-dfc68c8be987" Alias="Home Page - Cookie Disclaimer Title" Level="4">
  <Info>
    <Name>Home Page - Cookie Disclaimer Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Pages/Home</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>