<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58253311-f236-4926-9161-04961054881d" Alias="Home Page - Site Logo" Level="4">
  <Info>
    <Name>Home Page - Site Logo</Name>
    <EditorAlias>UBaseline.ImagePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Pages/Home</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [
      {
        "name": "desktop",
        "alias": "desktop",
        "width": 240,
        "height": 78,
        "media": "(min-width: 320px)"
      }
    ],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false,
    "showSvg": true,
    "showAlt": true
  }
}]]></Config>
</DataType>