<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d8cd08d-80e4-4753-a675-8f1e965418d8" Alias="Icon Item - Icon Scale" Level="4">
  <Info>
    <Name>Icon Item - Icon Scale</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Items/Icon</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 100.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 100.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>