<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87546c33-e39c-4d0b-be7d-4115ea8b9a02" Alias="Icon Item - Title" Level="4">
  <Info>
    <Name>Icon Item - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Items/Icon</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>