<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bba0f407-c891-4fda-b774-1a3ff3f4f1ad" Alias="Icon Panel - Center Text" Level="4">
  <Info>
    <Name>Icon Panel - Center Text</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Icon</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>