<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21dc22c8-b543-43ae-b3f5-b6681b6d0c17" Alias="Image - Upload image" Level="4">
  <Info>
    <Name>Image - Upload image</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Media+Types/Image</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>