<?xml version="1.0" encoding="utf-8"?>
<DataType Key="539d92c7-9f50-4dc0-af1b-5944056fd770" Alias="Image Panel - Link" Level="4">
  <Info>
    <Name>Image Panel - Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/Image</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>