<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8b97682-a625-4d5e-810f-118ff57ef496" Alias="Image - Intranet User Id - Label" Level="1">
  <Info>
    <Name>Image - Intranet User Id - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>40</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>