<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89b30989-deb8-450f-90b4-275cc374f3cc" Alias="Image Panel - Image Picker" Level="4">
  <Info>
    <Name>Image Panel - Image Picker</Name>
    <EditorAlias>UBaseline.ImagePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Image</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [
      {
        "name": "desktop",
        "alias": "desktop",
        "width": 1920,
        "height": 1080,
        "media": ""
      }
    ],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false,
    "showAlt": true
  }
}]]></Config>
</DataType>