<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b232a972-0254-4920-a277-8aadbd50c41d" Alias="Image - Type" Level="4">
  <Info>
    <Name>Image - Type</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Media+Types/Image</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>