<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d788cbc8-5380-49b4-898c-2603e3ef0930" Alias="Image Alt" Level="3">
  <Info>
    <Name>Image Alt</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Shared</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>