<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e85ca16f-5676-4106-b9bf-25b0cbeebeae" Alias="Internal Server Error - Title" Level="4">
  <Info>
    <Name>Internal Server Error - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Pages/Internal+Server+Error</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>