<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a62d53a-6ec1-4d5c-9f09-d35abe6d386a" Alias="Last Activity - Type" Level="4">
  <Info>
    <Name>Last Activity - Type</Name>
    <EditorAlias>availableActivitySelector</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UIntra/Panels/LatestActivities</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>