<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef4bde5e-01a1-44fd-b287-206b8bd74e7e" Alias="Last Activity - Display Count" Level="4">
  <Info>
    <Name>Last Activity - Display Count</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UIntra/Panels/LatestActivities</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 5.0,
  "InitialValue2": 0.0,
  "MinimumValue": 1.0,
  "MaximumValue": 10.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>