<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1a5aa03-99af-4323-924d-5718fc165b61" Alias="Links Panel - Title" Level="4">
  <Info>
    <Name>Links Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Links</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>