<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49e65d40-ba64-42fb-931c-edba67a9b46f" Alias="Links Panel - Links" Level="4">
  <Info>
    <Name>Links Panel - Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/Links</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>