<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4e4aa51-469e-4f2a-9e9f-f5bc0fb614b4" Alias="MailTemplate - Extra tokens - Textarea" Level="1">
  <Info>
    <Name>MailTemplate - Extra tokens - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>53</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>