<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3937a44-5c58-441f-a4d5-84a772bec27d" Alias="Mailchimp Panel - Title" Level="4">
  <Info>
    <Name>Mailchimp Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/Mailchimp</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>