<?xml version="1.0" encoding="utf-8"?>
<DataType Key="510f46d6-e37c-4a48-9020-19bf86bf9a1e" Alias="MailTemplate - Email type - Dropdown" Level="1">
  <Info>
    <Name>MailTemplate - Email type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>54</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": []
}]]></Config>
</DataType>