<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b72ee27-b785-42d9-aae1-e2b937e6d165" Alias="MailTemplate - CC Emails - Textbox" Level="1">
  <Info>
    <Name>MailTemplate - CC Emails - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>57</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>