<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6afa958-f625-4d3d-8f5f-01c0445e4459" Alias="MailTemplate - From Name - Textbox" Level="1">
  <Info>
    <Name>MailTemplate - From Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>58</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>