<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9652832d-f015-44a4-8025-b2cb1585e874" Alias="Mailchimp Item - Group Id" Level="4">
  <Info>
    <Name>Mailchimp Item - Group Id</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Items/Mailchimp</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>