<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f47ece0-d00d-44ec-8499-ceb4d4b85cc2" Alias="MailTemplate - Subject - Textbox" Level="1">
  <Info>
    <Name>MailTemplate - Subject - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>51</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>