<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6a04ab9-64db-4e39-8b27-c16cfaec4c99" Alias="Media Folder Type" Level="1">
  <Info>
    <Name>Media Folder Type</Name>
    <EditorAlias>EnumDropdownList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>48</SortOrder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>