<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da3f3e4a-fae8-4905-89a7-da0f1327c57e" Alias="Member - Member Changes Watcher - Member Changes Watcher" Level="1">
  <Info>
    <Name>Member - Member Changes Watcher - Member Changes Watcher</Name>
    <EditorAlias>MemberChangesWatcher</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>39</SortOrder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>