<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21a7d093-3143-423b-ae43-9285683fe1e5" Alias="Member - Related User - Related user picker" Level="1">
  <Info>
    <Name>Member - Related User - Related user picker</Name>
    <EditorAlias>custom.RelatedUserPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>57</SortOrder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>