<?xml version="1.0" encoding="utf-8"?>
<DataType Key="419bc5a1-4558-4fe7-8c30-22a3af06b848" Alias="Member - First Login Performed - Checkbox" Level="1">
  <Info>
    <Name>Member - First Login Performed - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>37</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>