<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3134a6a-b2f1-4d36-bb58-9e60d96a5bdc" Alias="Member - Photo - Media Picker" Level="1">
  <Info>
    <Name>Member - Photo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>33</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>