<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2c35981-afef-448b-b4a2-ab06f6497fcf" Alias="Member - Phone - Textbox" Level="1">
  <Info>
    <Name>Member - Phone - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>34</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>