<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1cb99ae2-8670-4d42-91a5-675a59f923f0" Alias="Member - First Name - Textbox" Level="1">
  <Info>
    <Name>Member - First Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>31</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>