<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2af7863e-3334-4bf7-9511-323e0ce1a1da" Alias="Member Changes Watcher" Level="1">
  <Info>
    <Name>Member Changes Watcher</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>38</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>