<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5220cdc-2b00-471f-997d-5fad50784e6f" Alias="Meta Data Composition - Social Description" Level="4">
  <Info>
    <Name>Meta Data Composition - Social Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Compositions/Meta+Data</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 120,
  "Rows": null
}]]></Config>
</DataType>