<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20271e35-855f-4b49-846c-72fbbe64fa16" Alias="Meta Data Composition - Description" Level="4">
  <Info>
    <Name>Meta Data Composition - Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Compositions/Meta+Data</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160,
  "Rows": null
}]]></Config>
</DataType>