<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8460d5dd-84c4-43e4-9aec-e512cbee62bd" Alias="Microdata" Level="3">
  <Info>
    <Name>Microdata</Name>
    <EditorAlias>UBaseline.Microdata</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Shared</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>