<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bf94b38-c3b7-4a2f-843a-03c30c9e3def" Alias="Navigation Composition - Title" Level="4">
  <Info>
    <Name>Navigation Composition - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Compositions/Navigation</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>