<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d3dff16-73fb-4f81-bc21-de810cf168d4" Alias="Navigation - Show in Sub Menu - Checkbox" Level="1">
  <Info>
    <Name>Navigation - Show in Sub Menu - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>43</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>