<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e06ae5aa-4a6b-4a5a-9e3f-83a93de30f8a" Alias="News Overview - Title" Level="4">
  <Info>
    <Name>News Overview - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Pages/News+Overview</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>