<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2450ea8-405f-4e95-a2a2-4f18993e3be3" Alias="Notification PopUp count - Slider" Level="3">
  <Info>
    <Name>Notification PopUp count - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UIntra/Pages</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 4.0,
  "InitialValue2": 0.0,
  "MinimumValue": 1.0,
  "MaximumValue": 10.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>