<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b104e1a-a6ee-42ef-9d1c-32117513090d" Alias="Notification Page - Title" Level="3">
  <Info>
    <Name>Notification Page - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UIntra/Pages</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>