<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4813c398-c948-4829-99a7-804557320dfb" Alias="Page Settings Composition - Include In Search" Level="4">
  <Info>
    <Name>Page Settings Composition - Include In Search</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Compositions/Page+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>