<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81d83d6b-7d27-433d-80f3-003ab824f6ee" Alias="Panel Settings Composition - Theme" Level="4">
  <Info>
    <Name>Panel Settings Composition - Theme</Name>
    <EditorAlias>UBaseline.PanelThemePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Compositions/Panel+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "settings": [
    {
      "alias": "default-theme",
      "textColor": "#333333",
      "backgroundColor": "#ffffff",
      "titleColor": "#000000",
      "buttonColor": "#083959"
    },
    {
      "alias": "grey-blue-theme",
      "textColor": "#ffffff",
      "backgroundColor": "#67a9af",
      "titleColor": "#ffffff",
      "buttonColor": "#ffffff"
    },
    {
      "alias": "blue-theme",
      "textColor": "#ffffff",
      "backgroundColor": "#083959",
      "titleColor": "#ffffff",
      "buttonColor": "#ffffff"
    },
    {
      "alias": "grey-theme",
      "textColor": "#333333",
      "backgroundColor": "#dad8d8",
      "titleColor": "#000000",
      "buttonColor": "#083959"
    }
  ]
}]]></Config>
</DataType>