<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0d57967-92d2-43e7-b5b4-0d247a4034db" Alias="Quote Panel - Author" Level="4">
  <Info>
    <Name>Quote Panel - Author</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/Quote</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 45
}]]></Config>
</DataType>