<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9d67cac-6227-4b6a-8b24-c176c5abd1a9" Alias="Right Column Panel Container" Level="3">
  <Info>
    <Name>Right Column Panel Container</Name>
    <EditorAlias>UBaseline.PanelContainer</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>UBaseline/Shared</Folder>
  </Info>
  <Config><![CDATA[{
  "hiddenPanels": []
}]]></Config>
</DataType>