<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63478b40-3fbb-4d0d-96c8-2620bcfb5fcd" Alias="Search Page - Title" Level="4">
  <Info>
    <Name>Search Page - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Pages/Search</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>