<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4d6c0f3-73b3-41e4-a614-56d8aa1691bd" Alias="Seo Composition - Script" Level="4">
  <Info>
    <Name>Seo Composition - Script</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Compositions/Seo</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>