<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0c588ac-f6e6-4eaf-94eb-26d6a1b738fc" Alias="SharedLinkItem - Links Group Title - Textbox" Level="1">
  <Info>
    <Name>SharedLinkItem - Links Group Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>44</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>