<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b62501be-e8a3-4b24-89a1-824b57e7bc41" Alias="Spot Panel - Columns Count" Level="4">
  <Info>
    <Name>Spot Panel - Columns Count</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/Spot</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 4.0,
  "InitialValue2": 0.0,
  "MinimumValue": 1.0,
  "MaximumValue": 6.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>