<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac56b33a-3b1f-4d5e-a9a8-6d45f9244087" Alias="Spot Panel - Items" Level="4">
  <Info>
    <Name>Spot Panel - Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Spot</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "spotItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ title? (title? title: ncContentTypeAlias) : ncContentTypeAlias}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>