<?xml version="1.0" encoding="utf-8"?>
<DataType Key="285a1f65-5a6b-4b48-afec-4e3b7b2248dc" Alias="Svg Panel - Button" Level="4">
  <Info>
    <Name>Svg Panel - Button</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/Svg</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>