<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97a7f1ba-60c9-4295-b9c3-5689135f3d38" Alias="Svg Panel - Description" Level="4">
  <Info>
    <Name>Svg Panel - Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Panels/Svg</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>