<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa76f8fc-d78f-4b4b-9ba4-405053c8fab1" Alias="Svg Panel - Title" Level="4">
  <Info>
    <Name>Svg Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>6</SortOrder>
    <Folder>UBaseline/Panels/Svg</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>