<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3d9af96-4288-4f62-ab94-e58ce5149a83" Alias="Svg Panel - Scale" Level="4">
  <Info>
    <Name>Svg Panel - Scale</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>UBaseline/Panels/Svg</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 100.0,
  "InitialValue2": 0.0,
  "MinimumValue": 1.0,
  "MaximumValue": 100.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>