<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79a59c85-b243-489d-8fbc-02310fa80882" Alias="Top Image - Media" Level="4">
  <Info>
    <Name>Top Image - Media</Name>
    <EditorAlias>UBaseline.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Compositions/Top+Image</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false,
    "showAlt": true
  },
  "videoSettings": {
    "useThumbnail": false,
    "showLoop": true,
    "useMobileVideo": true
  }
}]]></Config>
</DataType>