<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0473910c-264d-4cef-a919-a81965bea63f" Alias="User Tags - Tag - Select" Level="4">
  <Info>
    <Name>User Tags - Tag - Select</Name>
    <EditorAlias>userTags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UIntra/Panels/User+Tags</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>