<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3ef117f-b24c-4c87-beb2-68a82dfe561e" Alias="User Tag - Text" Level="3">
  <Info>
    <Name>User Tag - Text</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UIntra/Shared</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>