<?xml version="1.0" encoding="utf-8"?>
<DataType Key="973357aa-bf1d-4291-a887-588081ac2766" Alias="Video - Description - Rich Text Editor" Level="1">
  <Info>
    <Name>Video - Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>64</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>