<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb7e929f-078f-45f8-a7b1-708a73e26644" Alias="Video Panel - Title" Level="4">
  <Info>
    <Name>Video Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Video</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>