@import 'base.less';

.type-and-date {
  margin-bottom: 6px;
}

.block-subtitle-clamp {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  display: -webkit-box;
}

.activity-item-container {
  text-decoration: none !important;
  color: @body-text-color;
}