@import 'base.less';

.tabs {
  display: none;
  position: relative;
  font-size: 20px;
  line-height: 22px;
  max-width: 1552px;
  margin: 0 auto;
  padding: 15px 20px 20px;

  @media @md-up {
    display: flex;
    padding: 15px 0 20px 330px;
  }

  @media @lg-up {
    padding-left: 355px;
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &__item-link {
    text-decoration: none;
    color: @body-text-color;

    &.active {
      cursor: default;
      color: @heading-bg;
    }
  }
}

.groups-header {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: @main-color;
}
