@import "base.less";

:host {
    display: block;
    .centered;
}

.spot-panel {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        justify-content: space-between;
        @media @md {
            flex-wrap: nowrap;
        }
    }

    &__item {
        margin: 20px;
        flex-grow: 1;
        @media @md {
            flex: 1;
        }

        &-title {
            font-weight: bold;
            color: @text-color;
            margin-top: 16px;
            font-size: 16px;
        }


        &-description {
            margin-top: 10px;
        }

        &-date {
            font-size: 13px;
            color: @text-color;
            margin-top: 10px;
            display: block;
        }
    }

}

:host-context(.spot-panel__content--3) {
    .spot-panel {
        &__list {
            @media @sm {
                flex-wrap: nowrap;
            }
        }
    }
}

:host-context(.spot-panel__content--2) {
    .spot-panel {
        &__item {
            @media @sm {
                flex: 1 1 0;
            }
        }
    }
}
