@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{
    var viewModel = Model.value;
}

<section class="block faq-panel clearfix">
    @if (!String.IsNullOrEmpty((string)viewModel.title))
    {
        <h2 class="block__title">@viewModel.title</h2>
    }

    @if (!string.IsNullOrEmpty((string)viewModel.description))
    {
        <div class="block__description">@Html.Raw((string)viewModel.description)</div>
    }

    <div class="faq-panel__holder">
        @foreach (var question in viewModel.questions)
        {
            <div class="js-faq-panel">
                <div class="faq-panel__content">
                    <div class="faq-panel__area">
                        <div class="faq-panel__heading">
                            <h3 class="faq-panel__title js-toggler"><span class="icon-arrow-left"></span> @question.question</h3>
                        </div>
                        <div class="faq-panel__body js-body">
                            <div class="faq-panel__holder js-holder">
                                <div class="rich-text-editor RTE-blue">
                                    @Html.Raw((string)question.answer)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>