.table-panel {

    &__title {
        color: inherit;
    }

    .table {
        display: table;
        width: 100%;
        table-layout: fixed;
        color: inherit;

        @media (--for-phone-only) {
            display: block;    
        }
        
        &__row {
            display: table-row;

            @media (--for-phone-only) {
                display: block;    
            }

            &:nth-child(2n) {
                background-color: #fafafa;

                @media (--for-phone-only) {
                    background-color: inherit;  
                }
            }
        }

        &__col {
            display: table-cell;
            border: 1px solid #ebebeb;

            @media (--for-phone-only) {
                display: flex;    
                align-items: center;

                &:before {
                    content: attr(data-label);
                    display: block;
                    padding: 10px 29px 12px;
                    width: 50%;
                    border-right: 1px solid #f5f5f5;
                }

                &:first-child {
                    background: #ebebeb;
                    font-weight: bold;

                    &:before {
                        display: none;
                    }

                    &:after {
                        content: "";
                        display: block;
                        padding: 10px 29px 12px;
                        width: 50%;
                    }

                    span {
                        text-align: left;
                    }
                }

                &:nth-child(2n) {
                    background-color: #fafafa;
                }
            }

            span {
                display: block;  
                padding: 10px 29px 12px; 
                white-space: pre-line;

                @media (--for-phone-only) {
                    width: 50%;
                    text-align: center;
                }

                &.cell-center {
                    text-align: center;

                    @media (--for-phone-only) {
                        text-align: left;
                    }
                }

                &.cell-right {
                    text-align: right;                    

                    @media (--for-phone-only) {
                        text-align: left;
                    }
                }

                &.cell-left {
                    text-align: left;

                    @media (--for-phone-only) {
                        text-align: left;
                    }
                }
            }

            &._header {
                font-weight: bold;
                border-left-color: #f5f5f5;
                border-right-color: #f5f5f5;
                background: #ebebeb;

                @media (--for-phone-only) {
                    display: none;    
                }

                &:first-child {
                    border-left-color: #ebebeb;
                }

                &:last-child {
                    border-right-color: #ebebeb;
                }

            }
        }
    } 
}