.table-panel {
    margin:0 0 20px;

    .content:not(._central-feed){
        padding:15px 20px 10px;

        @media (--for-tablet-portrait-down) {
            padding:15px 15px 10px;
        }
    }

    &__title {
        text-transform:uppercase;
        padding:0 0 10px;
        margin:0 0 18px;
        color: var(--color-submit);
        position:relative;

        .aside &{
            background:var(--color-submit);
            color:var(--color-white);
            margin:-15px -20px 20px;
            padding:15px 20px 10px;
        }

        @media (--for-tablet-portrait-down) {
            margin:0 0 20px;
        }

        &:before{
            content:'';
            position:absolute;
            bottom:0;
            left:-20px;
            right:51%;
            height:1px;
            background:#f6f6f6;
            
            .col-md-6 &{
                right:-20px; 
            }

            .aside &{
                display:none;
            }

            @media (--for-tablet-portrait-down) {
                right:-20px;   
            }
        }
    }

    .table {
        list-style:none;
        margin:0 0 10px;
        padding:0;
        display: table;
        width: 100%;
        table-layout: fixed;
        color: inherit;
        border-top: 1px solid #d6d6d6;
        font-size:13px;
        
        @media (--for-phone-only) {
            display: block; 
            border:0;
        }

        .aside &,
        .col-md-6 &{
            display: block; 
            border:0;
        }
        
        &__row {
            display: table-row;

            @media (--for-phone-only) {
                display: block;
                border-top: 1px solid #d6d6d6;
                margin:0 0 20px;
            }

            .aside &,
            .col-md-6 &{
                display: block;
                border-top: 1px solid #d6d6d6;
                margin:0 0 20px;
            }

            &--bold{
                .table__col{
                    &:first-child{
                        font-weight:bold;
                        @media (--for-phone-only) {
                            font-weight:normal;
                        }

                        .aside &,
                        .col-md-6 &{
                            font-weight:normal;
                        }
                    }
                }
            }
        }

        &__col {
            display: table-cell;
            border: 1px solid #d6d6d6;
            border-width:0 1px 1px 0;

            @media (--for-phone-only) {
                display: flex;    
                align-items: center;
                border-width:0 1px 1px 1px;
            }

            .aside &,
            .col-md-6 &{
                display: flex;    
                align-items: center;
                border-width:0 1px 1px 1px;
            }

            &:first-child {
                border-width: 0 1px 1px 1px;

                @media (--for-phone-only) {
                    border-width:0 1px 1px 1px;    
                }
                
                .aside &,
                .col-md-6 &{
                    border-width:0 1px 1px 1px; 
                }
            }

            &:before{
                content: attr(data-label);
                display: none;
                padding: 14px 9px 10px;
                width: 50%;
                border-right: 1px solid #d6d6d6;
                font-weight:bold;
            }

            span {
                display: block;  
                padding:13px 10px 11px;
                white-space: pre-line;
                word-break: break-all;

                @media (--for-phone-only) {
                    padding:11px 9px 9px;
                    width:100%;
                }

                .aside &,
                .col-md-6 &{
                    padding:11px 9px 9px;
                    width:100%;
                }

                &.cell-center {
                    text-align: center;
                }

                &.cell-right {
                    text-align: right;
                }

                &.cell-left {
                    text-align: left;
                }
            }
        }

        &--with-header{
            .table__row{
                &:first-child{
                    @media (--for-phone-only) {
                        display: none;    
                    }

                    .aside &,
                    .col-md-6 &{
                        display:none;
                    }

                    .table__col{
                        font-weight:bold;
                    }
                }
            }

            .table__col{
                word-break: break-all;
                &:before{
                    @media (--for-phone-only) {
                        display: block;    
                    }

                    .aside &,
                    .col-md-6 &{
                        display:block;
                    }
                }
            }


        }
    } 
}