.date-picker .holder {
    position: relative;
}

    .date-picker .holder .flatpickr-calendar {
        left: 0 !important;
        top: 2px !important;
    }

.date-picker .input-btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}

    .date-picker .input-btn:hover {
        text-decoration: none;
        cursor: pointer;
    }

.show-validation.ng-invalid .control-group.error date-picker.ng-invalid .input-holder .flatpickr-input {
    border: 1px solid #9d261d;
}

.show-validation.ng-invalid .control-group.error date-picker.ng-invalid .input-btn {
    border: 1px solid #9d261d;
    background: #9d261d;
    color: #fff;
}
