@import url('https://fonts.googleapis.com/css?family=Roboto:400');
.umb-rte {
    font-size: 16px;
    line-height: 1.45;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
}

ul, ol{
    margin:0;
}

ul li, ol li{
    margin-top:15px;
}

ul li:first-child, ol li:first-child{
    margin-top:0;
}

ol{
    padding-left: 33px;
    counter-reset: newCounter;
}

ol li{
    position: relative;
}

ol li:before{
    counter-increment: newCounter;
    content: counters(newCounter, '.') '.';
    position: absolute;
    top: 0;
    left:-4px;
    font-weight: bold;
    transform: translateX(-100%);
}
  
/**umb_name:h2*/
h2 {
	font-size: 2.074em;
}

/**umb_name:h3*/
h3 {
	font-size: 1.728em;
}

/**umb_name:h4*/
h4 {
	font-size: 1.44em;
}

/**umb_name:h5*/
h5 {
	font-size: 1.2em;
}

/**umb_name:small*/
.text--small {
	font-size: 0.833em;
}

/**umb_name:paragraph*/
p {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
