@import url('https://fonts.googleapis.com/css?family=Roboto:400');
.umb-rte {
    font-size: 16px;
    line-height: 1.45;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    margin: 2.75rem 0 1rem;
    font-weight: 400;
}

/**umb_name:h2*/
h2 {
	font-size: 2.074em;
}

/**umb_name:h3*/
h3 {
	font-size: 1.728em;
}

/**umb_name:h4*/
h4 {
	font-size: 1.44em;
}

/**umb_name:h5*/
h5 {
	font-size: 1.2em;
}

/**umb_name:small*/
text--small {
	font-size: 0.833em;
}

/**umb_name:paragraph*/
p {
	margin-bottom: 1.25em;
	font-family: 'Roboto', sans-serif;
}
