<!DOCTYPE html>
<html id="html" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apis.google.com/js/platform.js"></script>
</head>
<body>
    <script>
        function init() {
            gapi.load("auth2", function () {
                gapi.auth2.init({
                    client_id: '@Model.GoogleClientId'
                }).then(function (googleAuthObject) {
                    googleAuthObject.signOut().then(function () {
                        window.location.href = '@Model.LoginUrl';
                    });
                    }, function () {
                        window.location.href = '@Model.LoginUrl';
                    });
            });
        }
        init();
    </script>
</body>
</html>
