<?xml version="1.0" encoding="utf-8"?>
<Image Key="c6fd8406-e8d5-45bc-bec5-67531ee50372" Alias="1-female-mallard-duck-j-mccombie.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/femaleMallardDuckJMccombieJpg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="1-female-mallard-duck-j-mccombie.jpg" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>c2fea434-6237-4a09-aef9-715d6c74cda6</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>160284</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/accp1rwv/1-female-mallard-duck-j-mccombie.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>900</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>600</Value>
    </umbracoWidth>
  </Properties>
</Image>