<?xml version="1.0" encoding="utf-8"?>
<Image Key="737abd68-c3c4-4206-a5a2-7a71d563f796" Alias="Black15" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Black15</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Black15" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId />
    <isDeleted>
      <Value>1</Value>
    </isDeleted>
    <umbracoBytes>
      <Value>54291</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/n04hu24e/black15.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1200</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1920</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>