<?xml version="1.0" encoding="utf-8"?>
<File Key="9683989d-6a40-4f11-bab7-3110454a8df5" Alias="business-areas-01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/businessAreas01Svg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="business-areas-01.svg" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>8371</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>svg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>/media/qwmihfsa/business-areas-01.svg</Value>
    </umbracoFile>
    <useInSearch />
  </Properties>
</File>