<?xml version="1.0" encoding="utf-8"?>
<File Key="952dd40f-94d2-41e9-aaa7-1bda156a3c1b" Alias="business-areas.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/businessAreasSvg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="business-areas.svg" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>124903</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>svg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>/media/c5kc1fos/business-areas.svg</Value>
    </umbracoFile>
    <useInSearch />
  </Properties>
</File>