<?xml version="1.0" encoding="utf-8"?>
<File Key="ab19a5ba-b7f9-4f38-97a7-520c6ef9466e" Alias="business-areas (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/businessAreas1Svg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="business-areas (1).svg" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>124903</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>svg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>/media/uksbtk5z/business-areas-1.svg</Value>
    </umbracoFile>
    <useInSearch />
  </Properties>
</File>