<?xml version="1.0" encoding="utf-8"?>
<Image Key="a5a5a508-ad14-4c8a-b960-723a5d9ff4eb" Alias="download.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/downloadPng</Path>
    <Trashed>false</Trashed>
    <NodeName Default="download.png" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>c2fea434-6237-4a09-aef9-715d6c74cda6</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>5698</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>png</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/b0slljiu/download.png","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>131</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>383</Value>
    </umbracoWidth>
  </Properties>
</Image>