<?xml version="1.0" encoding="utf-8"?>
<Image Key="02651b8f-bf3e-4428-8076-b4b2e7109f13" Alias="female_mallard_nest_-_natures_pics_edit2.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/female_mallard_nest__natures_pics_edit2Jpg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="female_mallard_nest_-_natures_pics_edit2.jpg" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>c2fea434-6237-4a09-aef9-715d6c74cda6</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>1670828</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/renhkar4/female_mallard_nest_-_natures_pics_edit2.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>960</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1440</Value>
    </umbracoWidth>
  </Properties>
</Image>