<?xml version="1.0" encoding="utf-8"?>
<Image Key="651da1e1-c323-4c70-bc0c-dfce8c71e487" Alias="Maxresdefault 825X510 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Maxresdefault825X5101</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Maxresdefault 825X510 (1)" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value>alt</Value>
    </alt>
    <intranetUserId />
    <isDeleted>
      <Value>1</Value>
    </isDeleted>
    <umbracoBytes>
      <Value>42126</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/24qb0zjd/maxresdefault-825x510.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": []
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>510</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>825</Value>
    </umbracoWidth>
    <useInSearch>
      <Value>0</Value>
    </useInSearch>
  </Properties>
</Image>