<?xml version="1.0" encoding="utf-8"?>
<Image Key="e8b3df6a-72dc-4d74-b39e-8af09e9c402e" Alias="maxresdefault-825x510.jpg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/maxresdefault825x510Jpg1</Path>
    <Trashed>false</Trashed>
    <NodeName Default="maxresdefault-825x510.jpg (1)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9905f18d-ea81-47b5-b790-93c9518553d1</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>42126</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/ntplh0g2/maxresdefault-825x510.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>510</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>825</Value>
    </umbracoWidth>
  </Properties>
</Image>