<?xml version="1.0" encoding="utf-8"?>
<Image Key="038755dd-f503-4f2f-a123-25f3bbeb3910" Alias="maxresdefault-825x510.jpg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/maxresdefault825x510Jpg2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="maxresdefault-825x510.jpg (2)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9905f18d-ea81-47b5-b790-93c9518553d1</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>42126</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/1nkjoayd/maxresdefault-825x510.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>510</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>825</Value>
    </umbracoWidth>
  </Properties>
</Image>