<?xml version="1.0" encoding="utf-8"?>
<Image Key="f7c467ea-3ffa-4d99-aa86-81f9ec3fa65c" Alias="photo-1510283310679-2ef18c6f792d.jpg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo15102833106792ef18c6f792dJpg1</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1510283310679-2ef18c6f792d.jpg (1)" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>c2fea434-6237-4a09-aef9-715d6c74cda6</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>370369</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/3rtnj350/photo-1510283310679-2ef18c6f792d.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1300</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1950</Value>
    </umbracoWidth>
  </Properties>
</Image>