<?xml version="1.0" encoding="utf-8"?>
<Image Key="f1165095-5eb8-4752-8b6b-2abd642153b0" Alias="photo-1568324186935-653443458f37.jpg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1568324186935653443458f37Jpg2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1568324186935-653443458f37.jpg (2)" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>125303</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/snibn2ny/photo-1568324186935-653443458f37.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>954</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>632</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>