<?xml version="1.0" encoding="utf-8"?>
<Image Key="b338b0e9-a2d3-4e29-a3be-29550fa8c067" Alias="photo-1557769956-79f4c40fa20e.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo155776995679f4c40fa20eJpg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1557769956-79f4c40fa20e.jpg" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>781080</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/34ydrm4t/photo-1557769956-79f4c40fa20e.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>2600</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1950</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>