<?xml version="1.0" encoding="utf-8"?>
<Image Key="4d82120b-eee6-4120-8201-2e3f5a8e1bae" Alias="photo-1531425417025-c7b80ff344bb.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1531425417025C7b80ff344bbJpg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1531425417025-c7b80ff344bb.jpg" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>c2fea434-6237-4a09-aef9-715d6c74cda6</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>111513</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/bujietpg/photo-1531425417025-c7b80ff344bb.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>900</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1350</Value>
    </umbracoWidth>
  </Properties>
</Image>