<?xml version="1.0" encoding="utf-8"?>
<Image Key="fa0d6108-41cc-44fd-a2dd-1f58e6b05b90" Alias="photo-1531425417025-c7b80ff344bb.jpg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1531425417025C7b80ff344bbJpg2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1531425417025-c7b80ff344bb.jpg (2)" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>111513</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/bzqb14wm/photo-1531425417025-c7b80ff344bb.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>900</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1350</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>