<?xml version="1.0" encoding="utf-8"?>
<Image Key="54942873-9701-4df1-88a4-6d860e7c4900" Alias="photo-1568324186935-653443458f37.jpg (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1568324186935653443458f37Jpg3</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1568324186935-653443458f37.jpg (3)" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>125303</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/ouujivab/photo-1568324186935-653443458f37.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>954</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>632</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>