<?xml version="1.0" encoding="utf-8"?>
<Image Key="8e4c0d04-0fcb-4232-8074-2e0c33de911c" Alias="photo-1567953738940-569a09f2ca43.jpg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1567953738940569a09f2ca43Jpg2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1567953738940-569a09f2ca43.jpg (2)" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>846465</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/aigfzdwl/photo-1567953738940-569a09f2ca43.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>3201</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>2134</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>