<?xml version="1.0" encoding="utf-8"?>
<Image Key="ca88837d-29a8-4082-8957-f0ed56e66be2" Alias="photo-1567953738940-569a09f2ca43.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1567953738940569a09f2ca43Jpg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1567953738940-569a09f2ca43.jpg" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>c2fea434-6237-4a09-aef9-715d6c74cda6</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>846465</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/pobjrsvi/photo-1567953738940-569a09f2ca43.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>3201</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>2134</Value>
    </umbracoWidth>
  </Properties>
</Image>