<?xml version="1.0" encoding="utf-8"?>
<Image Key="563b471e-4800-4e67-aefc-2cca26d72b30" Alias="photo-1556367076-7866e61cb403.jpg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo15563670767866e61cb403Jpg2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1556367076-7866e61cb403.jpg (2)" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>123175</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/dbddwvqa/photo-1556367076-7866e61cb403.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>900</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1350</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>