<?xml version="1.0" encoding="utf-8"?>
<Image Key="527130ff-047f-4fb0-9e58-c296711a6939" Alias="photo-1556367076-7866e61cb403.jpg (4)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo15563670767866e61cb403Jpg4</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1556367076-7866e61cb403.jpg (4)" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>123175</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/5eyhcut5/photo-1556367076-7866e61cb403.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>900</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1350</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>