<?xml version="1.0" encoding="utf-8"?>
<Image Key="2b4afe2d-61a9-4112-a5d9-cbd3935eec47" Alias="photo-1568324186935-653443458f37.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1568324186935653443458f37Jpg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1568324186935-653443458f37.jpg" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>125303</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/fp5euk3j/photo-1568324186935-653443458f37.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>954</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>632</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>