<?xml version="1.0" encoding="utf-8"?>
<Image Key="3ced0831-bfd4-4b9f-aa77-a3fb42f6b411" Alias="photo-1428572509712-cb9a529e81d7.jpg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1428572509712Cb9a529e81d7Jpg2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1428572509712-cb9a529e81d7.jpg (2)" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9077118c-c4aa-49b5-9fdf-845bbdbb19a7</Value>
    </intranetUserId>
    <isDeleted />
    <umbracoBytes>
      <Value>110350</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/g2eo0pgu/photo-1428572509712-cb9a529e81d7.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>900</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1350</Value>
    </umbracoWidth>
    <useInSearch />
  </Properties>
</Image>