<?xml version="1.0" encoding="utf-8"?>
<Image Key="ea93af57-44b2-4516-8996-875b5248f208" Alias="photo-1428572509712-cb9a529e81d7.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo1428572509712Cb9a529e81d7Jpg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="photo-1428572509712-cb9a529e81d7.jpg" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>c2fea434-6237-4a09-aef9-715d6c74cda6</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>110350</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/kgxjh0vs/photo-1428572509712-cb9a529e81d7.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>900</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1350</Value>
    </umbracoWidth>
  </Properties>
</Image>