<?xml version="1.0" encoding="utf-8"?>
<Image Key="af2a35a8-5204-43e9-8cf6-5d767a506046" Alias="relationship-management.jpg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/relationshipManagementJpg1</Path>
    <Trashed>false</Trashed>
    <NodeName Default="relationship-management.jpg (1)" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9905f18d-ea81-47b5-b790-93c9518553d1</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>42898</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/vy0dvlye/relationship-management.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>369</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>550</Value>
    </umbracoWidth>
  </Properties>
</Image>