<?xml version="1.0" encoding="utf-8"?>
<Image Key="8ad3226e-1922-4f88-9bee-d6032408e602" Alias="relationship-management.jpg (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/relationshipManagementJpg3</Path>
    <Trashed>false</Trashed>
    <NodeName Default="relationship-management.jpg (3)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <alt />
    <intranetUserId>
      <Value>9905f18d-ea81-47b5-b790-93c9518553d1</Value>
    </intranetUserId>
    <umbracoBytes>
      <Value>42898</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/narnhcrc/relationship-management.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>369</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>550</Value>
    </umbracoWidth>
  </Properties>
</Image>