<?xml version="1.0" encoding="utf-8"?>
<Image Key="ab635f99-cc86-44a2-9dc9-baabbf5e9979" Alias="Welcome Scan" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WelcomeScan</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Welcome Scan" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt />
    <umbracoBytes>
      <Value>516424</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/t3phhk2g/welcome-scan.jpg","crops":[]}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>768</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1024</Value>
    </umbracoWidth>
  </Properties>
</Image>