.rte {
  font: 18px/1.5 @body-font;
  @media @md-up{
    font-size: 20px;
  }
  @media @lg-up{
    font-size: 22px;
  }

  .aside &{
    font-size: 16px;
    line-height: 1.5;
  }

  h2 {
    font-size: 34px;
    line-height: 1.29;

    @media @sm-up{
      font-size: 40px;
      line-height: 1.3;
    }

    .aside &{
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 10px;
    }
  }

  h3 {
    font-size: 22px;
    line-height: 1.5;

    @media @md-up{
      font-size: 24px;
    }
    @media @lg-up{
      font-size: 28px;
    }

    .aside &{
      font-size: 16px;
      line-height: 1.5;
    }
  }

  strong, b {
    font-family: @font;
    font-weight: bold;
  }

  em, i {
    font-family: @font;
    font-style: italic;
  }

  ul {
    padding-left: 48px;

    @media @md-up{
      padding-left: 68px;
    }

    li{
      margin-top: 20px;
      position: relative;

      @media @md-up{
        margin-top: 28px;
      }
      @media @lg-up{
        margin-top: 37px;
      }

      &:first-child{
        margin-top: 0;
      }

      &:before{
        content: '';
        position: absolute;
        left: -28px;
        top: 12px;
        width: 8px;
        height: 8px;
        background: currentColor;
        border-radius: 50%;
        overflow: hidden;

        @media @md-up{
          left: -38px;
        }
      }
    }
  }

  ol {
    padding-left: 53px;
    counter-reset: newCounter;

    @media @md-up{
      padding-left: 73px;
    }

    li{
      margin-top: 20px;
      position: relative;

      @media @md-up{
        margin-top: 28px;
      }
      @media @lg-up{
        margin-top: 37px;
      }

      &:first-child{
        margin-top: 0;
      }

      &:before{
        counter-increment: newCounter;
        content: counters(newCounter, '.') '.';
        position: absolute;
        top: 0;
        left:-4px;
        font-weight: bold;
        transform: translateX(-100%);
      }
    }
  }

  img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  a{
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

  p{
    margin: 0 0 24px;

    @media @md-up{
      margin: 0 0 28px;
    }
  }
}
