h1 {
  font: 400 25px/22px @font;
  color: @body-text-color;
}

h2 {
  font: bold 20px/22px @font;
  color: @body-text-color;
}

h3 {
  font: bold 18px/22px @font;
  color: @body-text-color;
}

h4 {
  font: bold 13px/22px @font;
  color: @body-text-color;
}

h5 {
  font: 16px/22px @font;
  color: @body-text-color;
}
