<div class="page-header-wrapper">
  <div class="row-flex">
    <div class="page-header">
      <app-breadcrumbs [breadcrumbs]="data?.breadcrumbs"></app-breadcrumbs>

      <ul *ngIf="subNavigation?.length" class="tabs"><!-- class="tabs col-md-8" -->
        <li *ngFor="let tab of subNavigation" class="tabs__item">
          <a
            [routerLink]="tab.url"
            class="tabs__item-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{tab.name}}
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
<div class="page-wrapper">
  <div class="row-flex">
    <div class="main-column" [ngClass]="{'main-column--full-content': !data?.rightColumnPanels?.length}">
      <ubl-dynamic-component
        *ngFor="let panel of data?.panels"
        [data]="panel"
      ></ubl-dynamic-component>
    </div>
    <div class="right-column aside" *ngIf="data?.rightColumnPanels?.length">
      <ubl-dynamic-component *ngFor="let panel of data?.rightColumnPanels;" [data]="panel"></ubl-dynamic-component>
    </div>
  </div>
</div>
