<div class="page-header-wrapper">
  <div class="row-flex">
    <div class="page-header">
      <app-breadcrumbs [breadcrumbs]="data?.breadcrumbs"></app-breadcrumbs>
    </div>
  </div>
</div>
<div class="page-wrapper">
  <div class="row-flex">
    <div class="main-column" [ngClass]="{'main-column--full-content': !data?.rightColumnPanels?.length}">
      <ubl-dynamic-component
        *ngFor="let panel of data?.panels"
        [data]="panel"
      ></ubl-dynamic-component>
    </div>
    <div class="right-column aside" *ngIf="data?.rightColumnPanels?.length">
      <ubl-dynamic-component *ngFor="let panel of data?.rightColumnPanels;" [data]="panel"></ubl-dynamic-component>
    </div>
  </div>
</div>
