@import "base.less";

article-page {
  display: block;

  .main-column {
    -webkit-box-flex: 0;
    flex: 1 0 100%;
    padding: 0 10px;
    width: 100%;

    @media @md-up {
      flex-basis: 62.5%;
      padding: 0 20px;
    }

    @media @lg-up {
      flex-basis: 66.6%;
    }

    &--full-content {
      max-width: 100%;
    }

    text-panel,
    [class$="-panel"] {
      display: block;
      margin: 0 -10px;

      @media @md-up{
        margin: 0 -20px;
      }
    }
  }

  .right-column {
    -webkit-box-flex: 0;
    flex: 1 0 100%;
    padding: 0 10px;
    width: 100%;

    @media @md-up{
      width: 37.5%;
      flex-basis: 37.5%;
      padding: 0 0 0 20px;
    }

    @media @lg-up{
      width: 33.4%;
      flex-basis: 33.4%;
      padding: 0 20px;
    }

    ubl-dynamic-component{
      display: block;
      margin-bottom: 0;

      @media @md-up{
        margin-bottom: 63px;
      }
    }
  }
}
