@using Uintra.Core.Extensions
@model Uintra.Notification.NotificationPreviewViewModel

<div class="notification">
    <a href="#" class="notification__icon js-notification">
        <svg class="svg-icon" viewBox="0 0 512 512" width="25px" height="25px">
            <use xlink:href="#icon-bell" x="0" y="0"></use>
        </svg>
        <span class="js-notification__number notification__number"></span>
    </a>
    <div class="notification__list-holder">
        <div class="notification__list-drop">
            <div class="notification__list-frame js-notification-list _loading"></div>
            <a class="notification__all" href="@Model.NotificationsUrl">@Html.Localize("NotificationPreview.ShowAllNotifications.lbl")</a>
        </div>
    </div>
</div>