.h1() {
    font-family: @font-family-2;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
}

.h2() {
    font-family: @font-family-2;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
}

.h2-panel-title() {
    font-family: @font-family;
    color: @text-color;

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3;
}

.h3-panel-title() {
  font-family: @font-family;
  color: @text-color;

  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3;

  @media @sm {
      font-size: 32px;
  }
}

.h3() {

}

.h4() {

}

.h5() {

}

.h6() {

}

.link() {
  text-decoration: none;
  color: @link-color;
  border-bottom: 1px solid @link-underline-color;

  &:hover {
    border: 0;
  }
}

.large() {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  @media @sm{
    font-size: 22px;
  }
}

.button() {
  padding: 8px 10px;

  border: 3px solid @link-color;
  background: @link-color;
  color: @text-reverse-color;

  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.left-arrow() {
  &:before{
    content:"";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: middle;

    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
    transform:rotate(-45deg);
    margin: 0 10px 2px 0;

    @media @md{
      margin: 0 10px 2px 2px;
    }
  }
}
