<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b4b8ec1-cc0b-40b7-ad45-949fbd34196c" Alias="Activity Create - Type - Dropdown" Level="4">
  <Info>
    <Name>Activity Create - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UIntra/Panels/Activity+Create</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 2,
      "value": "None"
    },
    {
      "id": 3,
      "value": "News"
    },
    {
      "id": 4,
      "value": "Events"
    },
    {
      "id": 1,
      "value": "Social"
    }
  ]
}]]></Config>
</DataType>