<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02318add-878a-47dd-972a-50e49d63f50b" Alias="Anchor Composition - Anchor Name" Level="4">
  <Info>
    <Name>Anchor Composition - Anchor Name</Name>
    <EditorAlias>UBaseline.AnchorField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Compositions/Anchor</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>