<?xml version="1.0" encoding="utf-8"?>
<DataType Key="680cdaa8-0353-463b-a106-413ce69018fe" Alias="AnonymousAccessComposition - Checkbox" Level="1">
  <Info>
    <Name>AnonymousAccessComposition - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>65</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>