<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4840daf9-0c51-4dd3-b333-7f7f44826de8" Alias="Coming Events - Events Amount - Numeric" Level="1">
  <Info>
    <Name>Coming Events - Events Amount - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>59</SortOrder>
  </Info>
  <Config><![CDATA[{
  "min": 1
}]]></Config>
</DataType>