<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2b54bf2-2034-4d02-a435-0fa0734fe165" Alias="Contact Item - First Name" Level="4">
  <Info>
    <Name>Contact Item - First Name</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Items/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>