<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c5d54f9-6a62-4cfe-8144-1ddb0ff6be8a" Alias="Contact Panel - Title" Level="4">
  <Info>
    <Name>Contact Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>