<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28e71b86-224a-435a-9b44-ff0641f87346" Alias="Document Library Panel - Title" Level="4">
  <Info>
    <Name>Document Library Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/Document+Library</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>