<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0960895-280f-4fd6-91ab-1b1b928313e0" Alias="FAQ Item - Question" Level="4">
  <Info>
    <Name>FAQ Item - Question</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Items/FAQ</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>