<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43346bc0-e49e-451c-bbe9-ec4beef92f5e" Alias="FAQ Panel - Title" Level="4">
  <Info>
    <Name>FAQ Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/FAQ</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>