<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dafc5814-f9d3-4460-9ece-bec2853fa22c" Alias="Home Page - Site Title" Level="4">
  <Info>
    <Name>Home Page - Site Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Pages/Home</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>