<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf6f450a-e7d8-4353-b6ef-d097181cc0cc" Alias="Icon Panel - Title" Level="4">
  <Info>
    <Name>Icon Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/Icon</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>