<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b80af6fd-45a4-4ae3-bd8a-8bfe2455773c" Alias="Image - Description - Rich Text Editor" Level="1">
  <Info>
    <Name>Image - Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>63</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "link",
      "unlink"
    ],
    "stylesheets": [
      "/css/rte.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>