<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47c282fe-b2e0-4ebd-b9f5-8e47ac02135a" Alias="Image - Title - Textbox" Level="1">
  <Info>
    <Name>Image - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>62</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>