<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df3a5066-2fa5-482b-8a89-33c92d42aaaf" Alias="MailTemplate - Bcc Emails - Textbox" Level="1">
  <Info>
    <Name>MailTemplate - Bcc Emails - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>58</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>