<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8019bcd-41d3-42a5-8de0-51086f84833b" Alias="Mail Template To" Level="1">
  <Info>
    <Name>Mail Template To</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>56</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "toEmail",
      "ncTabAlias": "Content",
      "nameTemplate": "{toEmail}"
    },
    {
      "ncAlias": "toName",
      "ncTabAlias": "Content",
      "nameTemplate": "{toName}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>