<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb174e81-28c0-402c-89fb-92f6a45b8359" Alias="Mailchimp List Container" Level="3">
  <Info>
    <Name>Mailchimp List Container</Name>
    <EditorAlias>UBaseline.MailchimpListContainer</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Shared</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>