<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2060276-cbc5-4b57-bbb5-8dd77390e7b1" Alias="Member - Last Name - Textbox" Level="1">
  <Info>
    <Name>Member - Last Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>32</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>