<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08025bd5-7ef6-4941-a7c3-d7ba25834c8d" Alias="Meta Data Composition - Social Image" Level="4">
  <Info>
    <Name>Meta Data Composition - Social Image</Name>
    <EditorAlias>UBaseline.ImagePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Compositions/Meta+Data</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [
      {
        "name": "General",
        "alias": "General",
        "width": 300,
        "height": 300,
        "media": ""
      }
    ],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false
  }
}]]></Config>
</DataType>