<?xml version="1.0" encoding="utf-8"?>
<DataType Key="010d797e-f8a3-4a13-9ce2-78c00b7ce6db" Alias="News Details - Show News" Level="4">
  <Info>
    <Name>News Details - Show News</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Pages/News+Details</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>