<?xml version="1.0" encoding="utf-8"?>
<DataType Key="896e982d-8eda-425e-aee4-2f24a5a23dec" Alias="SharedLinkItem - Sort - Numeric" Level="1">
  <Info>
    <Name>SharedLinkItem - Sort - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>45</SortOrder>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 1,
  "max": 100
}]]></Config>
</DataType>