<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c1bb8d4-9a4d-4454-a531-96ab89fe1bc8" Alias="Spot Panel - Title" Level="4">
  <Info>
    <Name>Spot Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/Spot</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>