<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca657d08-2f86-45d5-a8ec-63c117bb8e56" Alias="Table Panel - Title" Level="4">
  <Info>
    <Name>Table Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Table</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>