<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c18a2846-f269-4282-97ae-3c8117d80e28" Alias="Top Image - Title" Level="4">
  <Info>
    <Name>Top Image - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Compositions/Top+Image</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>