<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2550484-d4a4-40f4-aaec-170a38f228c2" Alias="Uintra Links Picker" Level="3">
  <Info>
    <Name>Uintra Links Picker</Name>
    <EditorAlias>custom.LinksPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UIntra/Shared</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>