<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c7765a7-44b6-49e3-9217-b45b7f7c0da9" Alias="UTM Configuration Composition - Utm Parameters (Panel)" Level="4">
  <Info>
    <Name>UTM Configuration Composition - Utm Parameters (Panel)</Name>
    <EditorAlias>UBaseline.UtmConfiguration.Panel</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Compositions/UTM+Configuration</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>