<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a12769a-17b0-4f24-ae18-e88daf16fdd1" Alias="UTM Configuration Composition - Utm Parameters (Page)" Level="4">
  <Info>
    <Name>UTM Configuration Composition - Utm Parameters (Page)</Name>
    <EditorAlias>UBaseline.UtmConfiguration.Page</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Compositions/UTM+Configuration</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>