@import "base.less";

.datepicker {
  max-width: 270px;

  & ::ng-deep .udatepicker-input {
    .input;
  }
}

.pin-info {
  padding-right: 40px;
  padding-left: 40px;

  &__box {
    padding: 10px 0;
  }

  &__text {
    padding-bottom: 10px;
  }
}

.form-row {
  margin-bottom: 25px;
}

.subtitle {
  .subtitle();
}
