<section>
    <h1 class="social-edit-title">{{socialEdit.name}}</h1>
    <label for="desciption">Description</label>
    <app-rich-text-editor [(ngModel)]="socialEdit.description"
                          [isUnderline]="false"
                          placeholder="Write a message, post a photo or share a document"></app-rich-text-editor>
    <app-tag-multiselect class="bulletin-popup__multiselect"
                         [availableTags]="socialEdit.availableTags"
                         [(ngModel)]="socialEdit.tags">
    </app-tag-multiselect>
    <dropzone #dropdownRef
              (success)="handleUpload($event)"
              (removedFile)="handleRemove($event)">
    </dropzone>
    <button class="btn"
            (click)="handleSave()">SAVE</button>
    <button class="btn"
            (click)="handleDelete()">DELETE</button>
    <a class="btn"
       [routerLink]="['/social-details']"
       [queryParams]="{id: socialEdit.activityId}">CANCEL</a>
</section>