@import 'base.less';

.event-form-subscripiton {
  &__title {
    margin-bottom: 5px;
  }

  &__notes {
    padding: 10px 35px;
  }

  &__textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 190px;
    padding: 10px;
    overflow: auto;
    font-size: 13px;
    line-height: 22px;
    color: @body-text-color;
    background: @main-color;
    border: 1px solid @border-color;
    margin-top: 10px;
  }
}

.event-subscription {
  &__notes {
    margin-bottom: 10px;
  }

  &__btn {
    .button-white;
    padding: 0 15px;
    height: 30px;
    margin-bottom: 5px;

    &:hover .event-subscription__btn-icon {
      display: inline;
    }

    &-icon {
      display: none;
    }
  }
}
