<!-- TODO: refactor it -->

<ng-container *ngIf="routerLink">
  <a [routerLink]="routerLink" [queryParams]="queryParams" class="avatar-link">
    <img
      *ngIf="photo"
      class="avatar"
      src="{{ photo }}"
      [ngClass]="{ big: big }"
    />
    <div
      *ngIf="!photo"
      class="avatar letter"
      [innerHtml]="firstChar"
      [ngClass]="{ big: big }"
    ></div>
  </a>
</ng-container>

<ng-container *ngIf="!routerLink">
  <img
    *ngIf="photo"
    class="avatar"
    src="{{ photo }}"
    [ngClass]="{ big: big }"
  />
  <div
    *ngIf="!photo"
    class="avatar letter"
    [innerHtml]="firstChar"
    [ngClass]="{ big: big }"
  ></div> </ng-container
>
