.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #eee;

    
  }
  .avatar.big {
    width: 60px;
    height: 60px;
  }
  
  .letter {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f6f6f6;
    font-size: 20px;
    text-transform: uppercase;
    color: #5776f9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
}

  