@model int

<div class="umbraco-link _for-desktop">
    <a class="umbraco-link__link" href="@Url.Action("GoToUmbracoEditPage", "Navigation", new { pageId = Model })" title="" target="_blank" rel="noopener noreferrer"><i class="icon-umbraco"></i></a>
</div>
