@model List<uIntra.Navigation.BreadcrumbItemViewModel>
    
@foreach (var breadcrumb in Model)
{

    //use breadcrumb.IsClickable for current page
    <a href="@breadcrumb.Url">@breadcrumb.Name</a>
}
