@model List<uIntra.Navigation.BreadcrumbItemViewModel>
    
@foreach (var breadcrumb in Model)
{
    if (breadcrumb.IsClickable)
    {
        <a href="@breadcrumb.Url">@breadcrumb.Name</a>
    }
    else
    {
        @breadcrumb.Name
    }
}
