@import "base.less";

activity-create-panel {
  .create-bulletin {
    position: relative;
    .shadow;

    &__input {
      display: flex;
      padding: 14px 66px 14px 15px;
      cursor: text;
      background: @main-color;

      @media @md-up {
        padding: 22px 20px;
        align-items: center;
      }

      @media @md-down {
        height: 50px;
      }

      &-placeholder {
        .reset-button;
        border: 0;
        cursor: text;
        text-align: left;

        @media @md-up {
          margin-left: 10px;
        }
      }

      @media @md-down {
        app-user-avatar {
          display: none;
        }
      }
    }
  }

  .bulletin-popup {
    position: fixed;
    left: 8px;
    right: 8px;
    top: 8px;
    background: @main-color;
    z-index: 13;
    opacity: 0;
    animation: fadeIn 0.2s ease-out forwards;

    @media @md-up {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    &__background {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 12;
      opacity: 0;
      animation: fadeIn 0.1s ease-out forwards;
    }

    &__close-button {
      .reset-button;
      position: absolute;
      right: 17px;
      top: 10px;
      width: 31px;
      height: 31px;
      z-index: 14;
      font-size: 1.8em;
      cursor: pointer;
    }

    &__header {
      padding: 21px 40px 16px 30px;
    }

    &__multiselect {
      padding: 21px 30px 16px;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  dropzone > .dropzone.dz-wrapper {
    padding: 0 14px !important;
    height: 0 !important;

    &.dz-started {
      height: auto !important;
    }

    .dz-message {
      border: 0 !important;
      background: none !important;
      min-height: 0 !important;
    }

    .dz-remove {
      margin-top: 5px;
      color: #337ab7;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .feed-btns {
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    background-color: @main-color;
    padding: 12px 20px;

    @media @md-up {
      display: flex;
    }

    &__col {
      flex-grow: 1;
      opacity: 0;

      .btn-default {
        margin-right: 16px;
      }
    }
  }
}
