@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?15u34m');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?15u34m#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?15u34m') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?15u34m') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?15u34m#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-admin {
  &:before {
    content: @icon-admin;
  }
}
.icon-arrow-down {
  &:before {
    content: @icon-arrow-down;
  }
}
.icon-arrow-right {
  &:before {
    content: @icon-arrow-right;
  }
}
.icon-attachment {
  &:before {
    content: @icon-attachment;
  }
}
.icon-back-arrow {
  &:before {
    content: @icon-back-arrow;
  }
}
.icon-bell-icon {
  &:before {
    content: @icon-bell-icon;
  }
}
.icon-bulletin {
  &:before {
    content: @icon-bulletin;
  }
}
.icon-burger-menu {
  &:before {
    content: @icon-burger-menu;
  }
}
.icon-calendar {
  &:before {
    content: @icon-calendar;
  }
}
.icon-checkmark {
  &:before {
    content: @icon-checkmark;
  }
}
.icon-checkmark-2 {
  &:before {
    content: @icon-checkmark-2;
  }
}
.icon-checkmark-icon {
  &:before {
    content: @icon-checkmark-icon;
  }
}
.icon-close {
  &:before {
    content: @icon-close;
  }
}
.icon-comment {
  &:before {
    content: @icon-comment;
  }
}
.icon-doc-doc {
  &:before {
    content: @icon-doc-doc;
    color: #555;
  }
}
.icon-doc-icon .path1 {
  &:before {
    content: @icon-doc-icon-path1;
    color: rgb(226, 229, 231);
  }
}
.icon-doc-icon .path2 {
  &:before {
    content: @icon-doc-icon-path2;
    margin-left: -0.75em;
    color: rgb(176, 183, 189);
  }
}
.icon-doc-icon .path3 {
  &:before {
    content: @icon-doc-icon-path3;
    margin-left: -0.75em;
    color: rgb(202, 209, 216);
  }
}
.icon-doc-pdf {
  &:before {
    content: @icon-doc-pdf;
    color: #555;
  }
}
.icon-doc-xsl {
  &:before {
    content: @icon-doc-xsl;
    color: #555;
  }
}
.icon-dots {
  &:before {
    content: @icon-dots;
  }
}
.icon-drag {
  &:before {
    content: @icon-drag;
  }
}
.icon-group {
  &:before {
    content: @icon-group;
  }
}
.icon-groups {
  &:before {
    content: @icon-groups;
  }
}
.icon-like {
  &:before {
    content: @icon-like;
  }
}
.icon-link {
  &:before {
    content: @icon-link;
  }
}
.icon-linkarrow {
  &:before {
    content: @icon-linkarrow;
  }
}
.icon-logout {
  &:before {
    content: @icon-logout;
  }
}
.icon-narrow-arrow {
  &:before {
    content: @icon-narrow-arrow;
  }
}
.icon-news {
  &:before {
    content: @icon-news;
  }
}
.icon-pin-icon {
  &:before {
    content: @icon-pin-icon;
  }
}
.icon-printer {
  &:before {
    content: @icon-printer;
  }
}
.icon-search-icon {
  &:before {
    content: @icon-search-icon;
    color: #929292;
  }
}
.icon-share-icon {
  &:before {
    content: @icon-share-icon;
  }
}
.icon-smily {
  &:before {
    content: @icon-smily;
  }
}
.icon-star {
  &:before {
    content: @icon-star;
  }
}
.icon-time {
  &:before {
    content: @icon-time;
  }
}
.icon-uintra {
  &:before {
    content: @icon-uintra;
  }
}
.icon-u-intra-logo {
  &:before {
    content: @icon-u-intra-logo;
    color: #fff;
  }
}
.icon-u-intra-text-logo {
  &:before {
    content: @icon-u-intra-text-logo;
    color: #fff;
  }
}
.icon-umbraco-logo {
  &:before {
    content: @icon-umbraco-logo;
    color: #ec6e1c;
  }
}
.icon-upload {
  &:before {
    content: @icon-upload;
  }
}
.icon-user-profile {
  &:before {
    content: @icon-user-profile;
  }
}
.icon-video-play {
  &:before {
    content: @icon-video-play;
  }
}
.icon-window {
  &:before {
    content: @icon-window;
    color: #4e4e50;
  }
}

