@import "base.less";

:host {
  display: block;
}

::ng-deep .spot-panel {
  padding: 30px 10px 49px;
  .theme(bg-color);
  .theme(text-color);

  @media @sm-up{
    padding: 29px 20px 49px;
  }
  @media @lg-up{
    padding: 48px 20px 49px;
  }

  ::ng-deep .aside &{
    font-size: 16px;
    line-height: 1.5;
    padding: 11px 10px 20px;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.5;
    .theme(title-color);
    margin: 0 0 46px;

    @media @sm-up{
      margin: 0 0 19px;
    }

    @media @lg-up{
      margin: 0 0 43px;
    }

    ::ng-deep .aside &{
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 10px;
    }
  }

  a{
    .theme(link-color);
  }

  .base-button__link{
    .theme(link-color);
  }
}
