<ng-container *ngIf="data">
  <app-group-details-wrapper *ngIf="data?.groupHeader"
                             [data]="data.groupHeader">
    <div class="group-details-padding">
      <div class="page-wrapper col-md-8">
        <app-event-form edit
                        [data]="data.details"
                        (submit)="onSubmit($event)"
                        (cancel)="onCancel()"
                        (hide)="onHide()">
        </app-event-form>
      </div>
    </div>
  </app-group-details-wrapper>

  <div class="page-wrapper col-md-8"
       *ngIf="!data?.groupHeader">
    <app-event-form edit
                    [data]="data.details"
                    (submit)="onSubmit($event)"
                    (cancel)="onCancel()"
                    (hide)="onHide()">
    </app-event-form>
  </div>
</ng-container>