@import 'base.less';

.documents-list {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  max-width: 50%;

  &__item {
    border-bottom: 1px solid @border-grey;
    padding: 10px 0;

    &:first-child {
      border-top: 1px solid @border-grey;
    }
  }

  &__link {
    color: #555;
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 0 0 15px;
  }
}
