.taggle{
    &_list{
        margin:0;
        padding:0;
        list-style:none;

        li{
            float:none;
            display:block;
            overflow:hidden;

            &.taggle {
                display:inline-block;
                vertical-align:top;
                margin:0 8px 10px 0 !important;

                .close{
                    font-size:1.5rem;
                    color:var(--text-color-dark);
                }
            }
        }
    }

    &_input{
        width:100% !important;
        padding:5px 10px !important;
        font:13px/22px Arial, Helvetica, sans-serif;
        color: #333;
        background: #fff;
        border: 1px solid #ccc;
        margin:0;
    }
}