<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
    <customErrors mode="Off"  xdt:Transform="SetAttributes(mode)"/>
    <customErrors xdt:Transform="RemoveAttributes(defaultRedirect, redirectMode)"/>
  </system.web>
  <connectionStrings >
    <add name="umbracoDbDSN" connectionString="" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.webServer>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules xdt:Transform="InsertIfMissing">
        <rule xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="Uintra20 Https redirect rule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>