<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
  </system.web>
  <connectionStrings >
    <add name="umbracoDbDSN" connectionString="server=192.168.0.207\MSSQL2016DEV;database=uIntra_Dev_2_0_Notifications_Hub;user id=sa;password='q1w2e3r4'" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>