<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
      <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
    </system.web>
    <connectionStrings >
      <remove name="umbracoDbDSN" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <add name="umbracoDbDSN" connectionString="server=192.168.0.207\MSSQL2016DEV;database=uIntra_Dev_2_0;user id=sa;password='q1w2e3r4'" providerName="System.Data.SqlClient"  xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <remove name="umbracoDbDSN_QA" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
      <add name="umbracoDbDSN_QA" connectionString="" providerName="System.Data.SqlClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
    </connectionStrings>
  </configuration>
