@using uIntra.Core.User
@model UserPhotoViewModel

<div class=" @($"avatar {Model.AdditionalCssModificator}")">
    <a href="@Model.ProfileUrl">
        <img style="width: 60px; height: 60px;" class="avatar__img" src="@Model.ProfileUrl"/>
    </a>
</div>