@using uIntra.Core.Extentions
@model uIntra.Core.User.UserPhotoViewModel
@{
    var profilePageUrl = ViewData.GetProfilePageUrl(Model.Id);
}

<div class="content__item-avatar">
    <a href="@profilePageUrl">
        <img style="width: 60px; height: 60px;" class="content__item-avatar-img" src="@(Model.Photo)" />
    </a>
</div>