<main>
  <div class="content">
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="/">left navigation</a></li>
      </ul>
    </nav>
    <div class="content__wrap">
      <div class="row-flex">
        <div class="col-md-8">
          <div class="aside-opener">
            <span class="icon-window js-aside-opener"></span>
          </div>
          <div class="bulletin-details-content">
            <ubl-dynamic-component *ngFor="let panel of data.panels.get()" [data]="panel.get()"></ubl-dynamic-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


