.taggle{
    max-width:50%;

    &_list{
        margin:0;
        padding:0;
        list-style:none;

        .taggle{
            background: var(--color-light-gray-3);
            border-radius: 7px;
            color: var(--color-white);
            display: inline-block;
            font-size: 13px;
            padding: 1px 10px 2px;
            vertical-align: top;
            margin:0 10px 10px 0;
        }
    }

    &_text{
        vertical-align:middle;
        margin:0 10px 0 0;
    }

    &_input{
        display:block;
        width:100% !important;
        margin:0;
        padding:9px 10px 10px !important;
        font:13px/22px Arial, Helvetica, sans-serif;
        color: #333;
        background: #fff;
        border: 1px solid #ccc;
        position: relative;
    }
}