@import "base.less";

:host {
    display: block;
}
:host(.document-library--horizontal) {
    .document-library {
        &__links {
            display: flex;
        }

        &__link {
            flex: 1 0 50%;
            max-width: 50%;
            display: inline-flex;
        }
    }
}

:host(.document-library--vertical) {

    .document-library {
        &__links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__link {
            display: inline-flex;
        }
    }
}

