<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3c34ad62-61bf-4012-9e24-cfccc2db3b2f" Alias="NewsDetails.BackLink.Text" Level="2">
  <Info>
    <Parent>NewsDetails</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Back</Translation>
    <Translation Language="da-DK">Back</Translation>
  </Translations>
</Dictionary>