<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c08f347-8904-4d22-b6fa-1f6c29d1811a" Alias="MailchimpPanel.ButtonText" Level="2">
  <Info>
    <Parent>MailchimpPanel</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Subscribe</Translation>
    <Translation Language="da-DK">Tilmeld</Translation>
  </Translations>
</Dictionary>