<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="90475b0f-46a4-42ca-8fa1-6e49b3d28661" Alias="SearchResult.SubTitle" Level="2">
  <Info>
    <Parent>SearchResult</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">About ${0} results</Translation>
    <Translation Language="da-DK">Cirka ${0} resultater</Translation>
  </Translations>
</Dictionary>