<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ce9b8dc0-4b90-4616-8699-08f6e527a026" Alias="LoadMore.Label" Level="1">
  <Info>
    <Parent>General</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Load more</Translation>
    <Translation Language="da-DK">Load more</Translation>
  </Translations>
</Dictionary>