<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f83e7d01-0d74-4b4e-bdd4-9c8a18329a9d" Alias="AutoSuggest.AllResults" Level="2">
  <Info>
    <Parent>AutoSuggest</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">See all results</Translation>
    <Translation Language="da-DK">Se alle resultater</Translation>
  </Translations>
</Dictionary>