@import "base.less";

app-spoiler-section {
  display: block;
  margin-bottom: 20px;
}

.feed-filters {
  &__tabs {
    margin-bottom: 20px;
  }
  &__bottom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &__filter {
    margin-right: 30px;
  }
  &__button {
    margin-left: auto;
    outline: 0;
    background: #fff;
    color: #555;
    border: 1px solid #8f8f8f;
    padding: 6px 15px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    width: auto;
  }
}
