@import "base.less";

app-spoiler-section {
  display: block;
  margin-bottom: 20px;
}

.central-feed {
  &__loader {
    .spinner;
    color: #444;

    &-wrapper {
      display: flex;
      justify-content: center;
      margin: 30px auto 60px;
    }
  }
}
