<div class="publication publication--important"
     *ngIf="publication?.links?.owner?.originalUrl">
  <app-publication-header [avatar]="publication.owner?.photo"
                          [title]="publication.owner?.displayedName"
                          [link]="publication.links?.owner"
                          [groupInfo]="publication.groupInfo"
                          class="publication__header">
    <div class="publication__subtitle"
         subtitle>
      {{ getPublicationDate() }} -
      <a class="publication__type"
         [routerLink]="publication.links?.details?.baseUrl | ulink"
         [queryParams]="publication.links?.details?.params | uparams">{{ publication.type }}
      </a>
      <div
        class="icon-pin-icon publication__location-container"
        *ngIf="publication.location?.address && publication.location?.shortAddress"
      >
        <a  [href]="
          'https://www.google.co.uk/maps?q=' +
          publication.location.address
        "
            class="publication__location-link"
            target="_blank">
          {{ publication.location.shortAddress }}
        </a>
      </div>
    </div>
    <div *ngIf="publication.isPinned"
         label
         class="publication__label"
         [ngClass]="{
        'publication__label--no-actual': !publication.isPinActual
      }">
      {{'activity.Pinned.lbl' | translate}}
    </div>
  </app-publication-header>

  <div class="publication__content">
    <a class="publication__clickable-aria"
       [routerLink]="publication.links?.details?.originalUrl | ulink">
      <p *ngIf="publication.title"
         class="publication__title">
        {{ publication.title }}
      </p>
      <div class="publication__text rte"
           [innerHTML]="publication.description"></div>
    </a>

    <app-link-preview *ngIf="publication?.linkPreview" [firstLinkPreview]="publication.linkPreview"></app-link-preview>

    <div *ngIf="publication.currentMemberSubscribed" class="publication__subscribed">
        <div class="publication__subscribed-label">
          <i class="publication__subscribed-icon icon-checkmark-icon"></i>
          {{'centralFeed.IsSubscribed.lbl' | translate}}
        </div>
    </div>
    <div *ngIf="medias.length"
         class="gallery"
         [ngClass]="'items-' + countToDisplay">
      <div *ngFor="let image of medias | slice: 0:countToDisplay; index as i"
           class="gallery__image"
           (click)="openGallery(i)"
           [ngStyle]="{ backgroundImage: 'url(' + image.previewUrl + ')' }">
        <span *ngIf="image.extension == 'mp4'"
              class="icon-video-play"
              [ngClass]="'icon-video-play--' + countToDisplay"></span>
      </div>
      <div class="gallery__counter"
           *ngIf="additionalImages">
        + {{ additionalImages }}
      </div>
    </div>
    <div class="publication-footer">
      <div class="publication-footer-left-block">
        <app-like-button [likeData]="likeData"
                         [isDisabled]="!publication?.isGroupMember"></app-like-button>
        <a class="publication-footer-item"
           [routerLink]="publication.links?.details?.baseUrl | ulink"
           [queryParams]="publication.links?.details?.params | uparams"
           [fragment]="'comment'">
          <i class="icon-comment"></i>
          <span class="publication-footer-item__text">{{ publication?.isGroupMember ? commentsCount : '' }}</span>
        </a>
        <!-- <button class="publication__share publication-footer-item">
          <i class="icon-share-icon"></i>
          {{'centralFeedPublication.Recomend.lbl' | translate}}
        </button> -->
      </div>

      <a class="publication__files publication-footer-item"
         *ngIf="documentsCount"
         [routerLink]="publication.links?.details?.baseUrl | ulink"
         [queryParams]="publication.links?.details?.params | uparams">
        <i class="icon-attachment"></i>
        {{ documentsCount }}
        {{getDocumentsText()}}
      </a>
    </div>
  </div>
</div>
