.reset-input() {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;

  font-size: inherit;
  font-family: inherit;

  vertical-align:top;
  overflow:auto;

  -webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

.reset-button() {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
}

.button-main() {
  .reset-button;
  background: @key-color;
  color: @text-reverse-color;
  padding: 6px 15px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  width: auto;
}
