@import 'base.less';

.create-bulletin {
  max-width: 600px;
  margin: 30px auto;
}

// .bulletin-popup__wrapper {
//   &::before {
//     content: '';

//   }
// }

// TODO: move to global mixin
@key-color: #261d43;
@text-reverse-color: #fff;
.button-reset() {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
}
.button-main() {
  .button-reset;
  background: @key-color;
  color: @text-reverse-color;
  padding: 6px 15px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
}

.bulletin-popup {
  position: relative;
  background: #fff;
  z-index: 13;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 12;
  }

  &__close-button {
    .button-reset;
    position: absolute;
    right: 17px;
    top: 10px;
    width: 31px;
    height: 31px;
    z-index: 14;
    font-size: 1.6em;
  }

  &__header {
    padding: 21px 40px 16px 30px;
  }

  &__multiselect {
    padding: 21px 30px 16px;
  }

  &__submit-button {
    .button-main;
  }
}















.bulletin-container {
  display: flex;

  @media @md {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    background: @background-color;
  }

  &__picture {
    display: none;

    @media @md {
      display: block;
      width: 30px;
      height: 30px;
      margin: auto 10px auto 20px;
    }
  }

  &__pop-up-button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: @background-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    content: "Write a bulletin";

    @media @md-down {
      margin-right: 1px;
    }

    @media @md {
      height: 70px;
    }
  }
}

.dropdown-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @background-color;

  @media @md {
    display: none;
  }
}

