<!-- <div class="bulletin-container">
  <div class="bulletin-container__picture">
  </div>
  <button class="bulletin-container__pop-up-button" (click)="showPopUp()">
    Write a quick message or share a photo
  </button>
  <div class="dropdown-icon">
  </div>
</div>
<app-modal *ngIf="isShow" [isShow]="isShow" (close)="handleClose()">
  <app-pop-up-bulletin [tags]="tags"></app-pop-up-bulletin>
</app-modal> -->
<div class="create-bulletin">
<div class="create-bulletin__input">Input</div>

<div class="bulletin-popup__wrapper">
  <div class="bulletin-popup">
    <app-tag-multiselect class="bulletin-popup__multiselect"></app-tag-multiselect>
  </div>
</div>

</div>