@using uIntra.Core.User
@model UserPhotoViewModel
@{
    var userAvatarSrc = UserPhotoHelper.GetUserPhotoOrDefaultAvatar(Model.Photo);
}

<div class="avatar">
    <a href="@Model.ProfilePageUrl">
        <img style="width: 60px; height: 60px;" class="avatar__img" src="@userAvatarSrc?width=60" />
    </a>
</div>