@using uIntra.Core.Extentions
@model uIntra.Core.User.UserPhotoViewModel
@{
    var profilePageUrl = ViewData.GetProfilePageUrl(Model.Id);
    var userAvatarSrc = !String.IsNullOrEmpty(Model.Photo) ? Model.Photo : "/content/images/default-avatar.png";
}

<div class="avatar">
    <a href="@profilePageUrl">
        <img style="width: 60px; height: 60px;" class="avatar__img" src="@userAvatarSrc" />
    </a>
</div>