.notifications{
    &__title{         
        font:bold 20px/22px var(--font-custom);
        text-transform:uppercase;
        color:var(--text-color-dark);
        margin:0 0 28px;
    }

    &__list{
        margin:0;
        padding:0;
        list-style:none;

        .notification &{
            background:var(--color-white);
            border:1px solid var(--color-light-gray);
        }

        &-item{
            display:flex;
            align-items:center;
            margin:0;
            padding:10px 0;
            border-bottom:1px solid var(--color-light-gray);
            position:relative;

            .notification &{
                padding:13px 20px;
                align-items:flex-start;

                &:last-child{
                    border:none;
                }
            }

            &:after{
                position:absolute;
                top:-1px;
                left:-20px;
                right:-20px;
                bottom:-1px;
                background:var(--color-light-gray-2);
                display:none;
                z-index:-1;
                content:'';
            }

            &[data-viewed='false']{
                .notification &{
                    background:var(--color-light-gray-2);
                }

                &:after{
                    display:block;

                    .notification &{
                        display:none;
                    }
                }
            }
        }

        &-avatar{
            width:60px;
            min-width:60px;
            height:60px;
            border:1px solid var(--color-light-gray);
            margin:0 20px 0 0;
            position:relative;
            overflow:hidden;

            &-img{
                height: auto !important;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width:60px;
            }

            .notification &{
                margin-top:7px;
            }
        }

        &-link{             
            color:var(--text-color-dark);

            &:active,
            &:focus,
            &:hover{
                color:var(--text-color-dark);
            }
        }

        &-title{
            margin:0 0 5px;
            font:bold 16px/22px var(--font-general);
        }

        &-meta{
            font-size: 13px;
            margin:0;
            overflow:hidden;
            flex-grow:2;
        }

        &-icon{
            float:left;
            width:30px;
            padding:0;

            .icon-lightning,
            .icon-cancel,
            .icon-time,
            .icon-like,
            .icon-comment{
                &:before{
                    font-size:16px;
                    color:var(--color-light-gray-3);
                }
            }

            @media (--for-tablet-portrait-down) {
                & {
                    margin:22px 0 0;
                }
            }

            .icon-comment{
                display:block;
                padding:5px 0 0;
            }

            .notification &{
                display:none;
            }
        }

        &-holder{
            overflow:hidden;
        }

        &-type,
        &-name{
            margin:0;
            font:13px/22px var(--font-general);
        }

        &-date{
            margin:0 0 0 20px;
            float:right;

            .notification &{
                float:none;
                margin:0;
            }
        }
    }
}