@import "base.less";

developer-ui-kit {
  display: block;
  max-width: 1000px;
  margin: 40px auto 200px;

  section {
    margin-bottom: 50px;
  }
}

.test-block {
  width: 200px;
  height: 100px;

  &.shadow {
    .shadow;
  }

  &.spinner {
    .spinner;
  }
}

// TODO: move to mixin
.text-input {
  border: 1px solid #ccc;
  padding: 5px;
}


