@import "base.less";

@editor-height: 24px * 5;

quill-editor {
  display: block;
  position: relative;

  .toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ddd;
  }

  // Disable default icon in tollbar
  .ql-link,
  .ql-italic,
  .ql-bold,
  .ql-emoji,
  .ql-dropzone {
    font-size: 14px;
    margin-right: 8px;

    svg {
      display: none;
    }
  }

  .ql-underline {
    font-size: 14px;
    margin-right: 8px;
  }

  // Customize toolbar icons
  .ql-bold:before {
    content: "B";
    width: 20px;
    height: 20px;
    background-image: none;
    font-weight: 600;
    line-height: 20px;
  }
  .ql-italic:before {
    content: "i";
    width: 20px;
    height: 20px;
    background-image: none;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
  }
  .ql-dropzone.icon-attachment:before {
    font-size: 26px;
    line-height: 20px;
  }

  // Reset editor styles
  .ql-container.ql-snow {
    border: 0;
  }

  .ql-editor {
    padding: 0 15px;
    margin: 14px 0;
    font-size: 16px;
    line-height: 24px;
    max-height: @editor-height;

    @media @sm-up {
      padding: 0 30px;
    }

    &.ql-blank::before {
      left: 15px;
      font-style: normal;
      color: #aaa;

      font-style: normal;
      opacity: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @media @sm-up {
        left: 30px;
      }
    }
  }

  // Customize toolbar
  .ql-toolbar.ql-snow {
    padding: 15px;
    border: 0;
    border-top: 1px solid #ccc;

    @media @sm-up {
      padding: 15px 30px;
    }

    &.top-mode {
      padding: 8px;
      border: 1px solid #ccc !important;
    }
  }

  .ql-toolbar.ql-snow .ql-formats,
  .ql-formats-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .ql-toolbar button {
    margin-bottom: 5px;
  }

  // Customize buttons
  .ql-snow.ql-toolbar button,
  .ql-snow .ql-toolbar button {
    float: initial;
    display: flex;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    justify-content: center;
  }
  .ql-snow.ql-toolbar .ql-submit-button button,
  .ql-snow .ql-toolbar .ql-submit-button button {
    .button-blue;
  }

  .ql-snow.ql-toolbar.top-mode button {
    border: none;
  }

  // Customize symbols counter
  .ql-counter {
    margin-right: auto;

    &.invalid span {
      color: #c70a0a;
    }
  }

  .icon-smily {
    font-size: 14px;
    margin-right: 8px;
  }
}

:host-context(.comments-panel) {
  & ::ng-deep .ql-container.ql-snow {
    padding: 6px 10px;
  }

  & ::ng-deep .ql-editor {
    padding: 0;
  }
}

.hidden {
  display: none;
}
