@screen-xs         : 320px;
@screen-sm         : 768px;
@screen-md         : 1024px;
@screen-lg         : 1190px;

@screen-xs-max     : (@screen-xs - 1);
@screen-sm-max     : (@screen-sm - 1);
@screen-md-max     : (@screen-md - 1);
@screen-lg-max     : (@screen-lg - 1);

@xs         : ~"(min-width: @{screen-xs})";
@xs-down    : ~"(max-width: @{screen-xs-max})";

@sm         : ~"(min-width: @{screen-sm})";
@sm-down    : ~"(max-width: @{screen-sm-max})";
@sm-only    : ~"(min-width: @{screen-sm}) and (max-width: @{screen-md-max})";

@sm-md      : ~"(min-width: @{screen-sm}) and (max-width: @{screen-lg-max})";

@md         : ~"(min-width: @{screen-md})";
@md-down    : ~"(max-width: @{screen-md-max})";
@md-only    : ~"(min-width: @{screen-md}) and (max-width: @{screen-lg-max})";

@lg         : ~"(min-width: @{screen-lg})";
@lg-down    : ~"(max-width: @{screen-lg-max})";