.create-bulletin {
	position: relative;
    height:70px;
    background:var(--color-white);
    box-shadow:0 0 2px rgba(0,0,0,0.2);

    @media (--for-tablet-portrait-down) {
        margin:0 -15px 10px;
        height:50px;
        box-shadow:none;
        position:relative;
        z-index:2;
	}

    &__dimmed-bg{
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0,0.4);
        display:none;
        z-index:12;
        content:'';

        ._expanded &{
            display:block;
        }
    }

    &__form{
        ._expanded &{
            overflow:hidden;
            position:relative;
            z-index:13;
            background:var(--color-white);
        }

        form{
            position:relative;
            &:before{
                content:'';
                position:absolute;
                top:0;
                left:0;
                z-index:-1;
                width:0;
                height:0;
            }

            &.submitted{
                &:before{
                    width:100%;
                    height:100%;
                    z-index:1001;
                }
            }
        }
    }

    &__mobile-placeholder{
        display:none;
        font-family:var(--font-general);
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index:-1;
        color:#aaa;
        font-size:16px;
        line-height:22px;
        padding:14px 71px 14px 15px;
        background:var(--color-white);

        @media (--for-tablet-portrait-down) {
            display:block;
	    }

        ._expanded &{
            @media (--for-tablet-portrait-down) {
                display:none;
	        }
        }
    }

    &._expanded{
        height:auto;
        z-index:1000;
        position:absolute;
        top:0;
        left:15px;
        right:15px;

        @media (--for-tablet-portrait-down) {
            background:none;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            margin: 0 !important;
            position: fixed;
	    }

        .feed__item-title-holder{
            display:block;
        }
        
        .quill--custom .ql-container .ql-editor,
        .ql-container .ql-editor {
            height:auto;
            max-height:108px;
            padding:0;

            &.ql-blank{
                &:before{
                    left:22px;
                    top:auto;
                    right:22px;
                    color:#aaa;

                    @media (--for-tablet-portrait-down) {
                        display:block;
                        left:15px;
                        right:15px;
                    }
                }
            }
        }

        .quill--custom{
            .ql-toolbar.ql-snow + .ql-container.ql-snow,
            .ql-container.ql-snow {
                border-bottom:1px solid #d6d6d6;
                padding:12px 22px;
                height:auto;

                @media (--for-tablet-portrait-down) {
                    height:auto;
                    padding:12px 15px;
	            }
            }
            
            .btn{
                display:block;
                margin:0 0 10px 20px;
		        @media (--for-tablet-portrait-down) {
			        display:block;
		        }

                @media (--for-phone-only){
                    margin:0 0 10px 5px;
                }
            }
        }

        .ql-toolbar{
            display: flex;
            border: 0;
            justify-content: space-between;
            margin:0;
            padding: 0;
            text-align: left;
            flex: 1;
            position: static;
            flex-direction: row;
        }

        .ql-counter{
            flex:1;
            margin:6px 0 0;
            white-space:nowrap;

            .warning{
                color:var(--color-contrast);;
            }
        }

        .ql-tools{
            text-align:right;
        }
    }

    &__toolbar{
        display:none; 
        flex-direction:row-reverse;
        padding:10px 22px 0;
        border-top:1px solid #d6d6d6;
        position:relative;

        ._expanded &{
            display:flex;
        }

        @media(--for-tablet-portrait-down){
            padding:10px 8px 0;
        }
    }

    &__holder{
        ._expanded &{
            overflow-X:hidden;
            overflow-Y:auto;
            /*max-height:calc(100vh - 132px);*/

            /*@media (--for-desktop-down) {
                max-height:calc(100vh - 105px);
            }*/

            @media(--for-tablet-portrait-down){
                /*max-height:calc(100vh - 20px);*/
                margin:8px;
            }
        }
    }

    .feed__item{
        &-heading{
            margin:0;
        }

        &-title-holder{
            display:none;
        }
    }

    &__user{
        position:absolute;
        padding: 21px 22px 16px;

        @media(--for-tablet-portrait-down){
            display:none;
            padding: 21px 15px 16px;
        }

        ._expanded &{
            position:static;

            @media(--for-tablet-portrait-down){
                display:block;
            }
        }

        .avatar{
            width:30px;
            height:30px;
            min-width:30px;
            border-radius:50%;

            ._expanded &{
                width:60px;
                height:60px;
            }
        }
    }

    &__tags{
        display:none;
        padding: 0 22px 25px;
        ._expanded &{
            display:block;
        }

        @media(--for-tablet-portrait-down){
            padding:0 15px 25px;
        }
    }

    .quill--custom{
        .ql-toolbar.ql-snow + .ql-container.ql-snow,
        .ql-container.ql-snow {
            border:none;
            height:70px;
            padding:25px 20px 23px 62px;
            cursor:text;

            @media (--for-tablet-portrait-down) {
                background:none;
                height:50px;
                padding:14px 66px 14px 15px;
	        }
        }

        .ql-toolbar{
            display:none;
        }

        .btn{
            margin:-40px 20px 10px 0;
            display:none;

            @media(--for-phone-only){
                margin:-40px 7px 10px 0;
            }
        }
    }

    .ql-container .ql-editor {
        height:auto;
        padding:0;

        &.ql-blank{
            &:before{
                @media (--for-tablet-portrait-down) {
                    display:none;
                }

                ._expanded &{
                    @media (--for-tablet-portrait-down) {
                        display:block;
                    }
                }
            }
        }
    }

    & .quill--custom .ql-container .ql-editor,
	.ql-container .ql-editor {
        font-size:16px;

        &.ql-blank{
            &:before{
                font-family:var(--font-general);
                font-style:normal;
                color:var(--text-color-dark);
                opacity:1;
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
                left:62px;
                top:25px;
                right:20px;
            }
        }

        a{
            color:var(--header-bg);

            &:hover{
                color:var(--header-bg);
            }
        }
	}

	&__close {
		position: absolute;
		top: 19px;
		right: 10px;
		width: 31px;
		height: 31px;
		border: none;
        padding:0;
        margin:0;
		background: none;
        text-indent:-9999px;
        overflow:hidden;
        z-index:14;
        display:none;

        ._expanded &{
            display:block;
        }

        @media (--for-desktop-down) {
            top:10px;
	    }

		&:before {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 2px;
			background: #303030;
			transform: rotate(45deg);
            margin-top:-1px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 2px;
			background: #303030;
			transform: rotate(-45deg);
            margin-top:-1px;
		}
	}
    
    .dropzone{
        border:none !important;
        padding:0 !important;
    }
}

.bulletin{
    &__btn{
        &-holder{
            border-bottom: 1px solid var(--color-light-gray);
            padding-right:70px;
            background:#f6f6f6;
            position: relative;
            z-index: 12;
            min-height:70px;
            margin: 0 -20px;
            padding: 0 0 20px;

            &:before{
                content:'';
                position:absolute;
                left:0;
                top:0;
                right:0;
                height:50px;
                background:var(--color-white);
                z-index:-1;
            }
            @media (--for-tablet-portrait-down) {
                margin-top:0;
                border-bottom:none;
	        }
        }

        &-expand{
            display:block;
            padding:14px 71px 14px 20px;
            background: var(--color-white);
            font-size:16px;
            line-height:22px;
            color:#aaa;
            cursor:pointer;

            &:hover{
                text-decoration:none;
                color:#aaa;
            }
        }
    }
}

.btn._edit-bulletin {
	@media (--for-tablet-portrait-down) {
		display: inline-block !important;
	}
}

.select2-container--default .select2-results > .select2-results__options {
    @media (--for-desktop-down) {
        max-height: 136px !important;
    }

    @media (--for-tablet-portrait-down) {
        max-height: 102px !important;
    }

    .create-bulletin &{
        max-height:102px !important;
    }
}

/* popup (lightbox) styles */
.popup {
    height: 0;
    position:relative;
    z-index:13;
}

.popup-box {
    position: fixed; /* or absolute */
    top: -9999%;
    bottom: 9999%;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    background: #fff;
    z-index: 999;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    visibility: hidden;

    @media (--for-tablet-portrait-down) {
        top: 8%;
        bottom: 8%;
        left: 8%;
        right: 8%;
    }
}

.scrollable {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: auto;
    padding-right: 25px;
}

/* overlay styles */
.overlay {
    background: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    position: static;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: fixed;
    visibility: hidden;
}

/* close btn styles */
.close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #333;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
    line-height: 26px;
    font-size: 26px;
    font-weight: bold;
    text-indent: -9999px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-decoration: none !important;

    &:after {
        border-radius: 50%;
        content: '\00d7';
        text-indent: 0;
        height: 100%;
        width: 100%;
        display: block;
    }
}
/* fake-anchor */
.fake-anchor {
    position: fixed;
    z-index: -1;
    top: 0;

    &:target {
        top: 300px; /* winphone 8 fix */

        /* action */
        & ~ .overlay {
            opacity: 1;
            visibility: visible;
        }

        & ~ .popup-box {
            opacity: 1;
            z-index: 999;
            visibility: visible;
        }
    }
}
    

    