.create-bulletin {
	position: relative;
    margin:0 0 20px;
    height:70px;
    background:var(--color-white);
    box-shadow:0 0 2px rgba(0,0,0,0.2);

    &__dimmed-bg{
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0,0.4);
        display:none;
        z-index:12;
        content:'';

        ._expanded &{
            display:block;
        }
    }

    &__form{
        ._expanded &{
            position:relative;
            z-index:13;
            background:var(--color-white);
        }
    }

    &._expanded{
        height:auto;

        .ql-container .ql-editor {
            &.ql-blank{
                &:before{
                    left:20px;
                    top:auto;
                    right:20px;
                    color:#aaa;
                }
            }
        }
    }

    .feed__item-heading{
        margin:0;
    }

    &__user{
        position:absolute;
        padding: 21px 22px 16px;

        ._expanded &{
            position:static;
        }

        .avatar{
            width:30px;
            height:30px;
            min-width:30px;
            border-radius:50%;

            ._expanded &{
                width:60px;
                height:60px;
            }
        }
    }
    &__tags{
        display:none;
        padding: 0 22px 25px;
        ._expanded &{
            display:block;
        }
    }
	&__description {
		border: none !important;
	}

	.ql-container .ql-editor {
		height: auto;
        font-size:16px;
        padding:12px 20px;

        &.ql-blank{
            &:before{
                font-family:var(--font-general);
                font-style:normal;
                color:var(--text-color-dark);
                opacity:1;
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
                left:62px;
                top:25px;
                right:0;
            }
        }

        a{
            color:var(--color-red);

            &:hover{
                color:var(--color-red);
            }
        }
	}

	&__close {
		position: absolute;
		top: 19px;
		right: 10px;
		width: 31px;
		height: 31px;
		border: none;
        padding:0;
        margin:0;
		background: none;
        text-indent:-9999px;
        overflow:hidden;

		&:before {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 2px;
			background: #303030;
			transform: rotate(45deg);
            margin-top:-1px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 2px;
			background: #303030;
			transform: rotate(-45deg);
            margin-top:-1px;
		}
	}

	&__toolbar.ql-toolbar{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-width: 1px 0 0 !important;
        flex-wrap:wrap;
        padding:8px 15px 0;
        position:relative;

		.ql-formats {
			display: flex;
            margin-bottom: 8px;
            margin-left: 15px;
            margin-right:0;

			button {
				margin: 0 0 0 15px;
                height:30px;
                border-radius:50%;
                border:1px solid #d8d8d8;

                svg{
                    width:18px;
                    height:18px;
                }

				&:first-child {
					margin: 0;
				}
			}
		}

		button {
			min-width: 30px;
			min-height: 24px;
			width: auto;
			height: auto;

            &:hover {
				color: var(--text-color-dark);
                background-color:var(--color-light-gray-2);
			}

			&._send {
				color: var(--color-white);
				background-color: var(--color-submit);
				border: 1px solid var(--color-submit);
                border-radius:20px;
                padding-left:14px;
                padding-right:14px;

				&:hover {
					background-color:#5c5672;
                    color:var(--color-white);
                    border-color:#5c5672;
				}

				&:disabled {
					opacity: 0.5;

					&:hover {
						cursor: default;
					}
				}
			}

            &._upload{
                text-indent:-9999px;
                font-size:0;
                background:url(./images/attach.svg) no-repeat 50% 50% / 14px auto;

                &:hover {
					color: var(--text-color-dark);
                    background-color:var(--color-light-gray-2);
				}
            }

            &.ql-bold,
            &.ql-italic,
            &.ql-link{
                max-width:30px;
                max-height:30px;
                display:inline-block;
            }

            &.ql-link{
                background:url(./images/link.svg) no-repeat 50% 50% / 13px auto;

                &:hover {
					color: var(--text-color-dark);
                    background-color:var(--color-light-gray-2);
				}

                svg{
                    display:none;
                }
            }
		}
	}

    .dropzone{
        border:none !important;
        padding:0 !important;
    }
}

.bulletin{
    &__btn{
        &-holder{
            border-bottom: 1px solid var(--color-light-gray);
            margin: -20px -20px 20px;
            padding: 10px 20px;
            padding-right:70px;
            background: var(--color-white);
            position: relative;
            z-index: 12;
            min-height:50px;

            @media (--for-tablet-portrait-down) {
                margin-top:0;
                border-bottom:none;
	        }
        }

        &-expand{
            display:block;
            padding:4px 0;
            font-size:16px;
            line-height:22px;
            color:#aaa;

            &:hover{
                text-decoration:none;
                color:#aaa;
            }
        }
    }
}

.btn._edit-bulletin {
	@media (--for-tablet-portrait-down) {
		display: inline-block !important;
	}
}