@import "base.less";

uintra-groups-documents-page {
  .group-documents {
    .shadow;
    background-color: @main-color;
    padding: 20px;

    &__title {
      margin-bottom: 6px;
    }

    &__dropzone {
      margin-bottom: 30px;
    }

    .dropzone-wrapper {
      display: block;
      margin-bottom: 16px;
    }
  }
}
