<app-group-details-wrapper [id]="data?.groupId">
  <div class="page-wrapper">
    <div class="group-room-wrapper row-flex">
      <div *ngIf="data" class="col-md-8">
        <ubl-dynamic-component *ngFor="let panel of data.panels.get()" [data]="panel.get()"></ubl-dynamic-component>
      </div>
      <div class="col-md-4">
        <div class="right-column">
          <h2 class="right-column__title">Title</h2>
          <img class="right-column__image" src="https://picsum.photos/id/237/380/690">
          <div class="right-column__info">
            <div class="right-column__info-description">Description with innerHTML</div>
            <span>Amount of members - </span>
            <span>Owner: </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-group-details-wrapper>
