@import "base.less";

.result-list{
  position: relative;
  list-style: none;

  &__item{
    position: relative;

    &:before {
      content: attr(data-number) ".";
      color: @link-color;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      line-height: 1.39;
      position: absolute;
      top: 0;
      left: 4px;
    }
  }

  &__title{
    color: @link-color;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.39;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 5px;
  }

  &__text{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;

    & /deep/ em {
      font-weight: 600;
    }
  }
}
