@import "../../../../base.less";
:host {
   display: block;
   @media @sm-down {
    display: none;
   }
}
.navigation {
    display: flex;
    align-items: baseline;

    &__item {
        color: @text-color;
        text-decoration: none;
        font-size: 18px;
        margin-left: 30px;
        line-height: 1;

        &:first-child {
            margin-left: 0;
        }
    }

}