@import "base.less";

// Variables
@even-row-color: darken(@background-color, 10);
@odd-row-color: darken(@background-color, 5);

@side-padding: 16px;
@top-bottom-padding: 14px;


:host {
  display: block;

  &.full-content .table-panel__content {
    .centered;
  }

  &.full-browser .table-panel__content {
    .centered-max;
  }
}

.table-panel {
  margin-bottom: 40px;

  @media @sm {
    margin-bottom: 60px;
  }

  app-heading /deep/ .heading__title {
    .h2-panel-title;
    margin-bottom: 20px;
  }

  &__table {
    width: 100%;

    tr {
      &:nth-child(even) td {
        background-color: @even-row-color;
      }

      &:nth-child(odd) td {
        background-color: @odd-row-color;
      }
    }

    th,
    td {
      padding: @top-bottom-padding @side-padding;
    }

    th {
      .theme(bg-color);
      .theme(text-color);
    }
  }
}

// Adaptive
@media @sm-down {
  .table-panel {
    table,
    thead,
    tbody,
    tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      td {
        &:first-child {
          .theme(bg-color);
          .theme(text-color);
        }

        &:nth-child(odd) {
          background-color: @odd-row-color;
        }

        &:nth-child(even) {
          background-color: @even-row-color;
        }
      }
    }

    td {
      display: flex;
      justify-content: space-between;

      &[data-label] {
        &:before {
          content: attr(data-label);
          padding-right: @side-padding;
          text-align: left;
        }
      }
    }
  }
}

@import "./override.less";
