<div class="page-wrapper">
  <ul class="groups-list">
    <li class="groups-list-item">
      <a class="groups-list-item__link">
        <div class="groups-list-item__image-wrapper">
          <img class="groups-list-item__image">
        <!-- Add avatar in case if there no image -->
        </div>
        <div class="groups-list-item__info">
          <h3 class="groups-list-item__info-title">Title</h3>
          <div class="groups-list-item__info-description">Description</div>
          <p class="groups-list-item__info-members">Members</p>
        </div>
      </a>
    </li>
    <li class="groups-list-item">
      <a class="groups-list-item__link">
        <div class="groups-list-item__image-wrapper">
          <img class="groups-list-item__image">
        <!-- Add avatar in case if there no image -->
        </div>
        <div class="groups-list-item__info">
          <h3 class="groups-list-item__info-title">Title</h3>
          <div class="groups-list-item__info-description">Description</div>
          <p class="groups-list-item__info-members">Members</p>
        </div>
      </a>
    </li>
    <li class="groups-list-item">
      <a class="groups-list-item__link">
        <div class="groups-list-item__image-wrapper">
          <img class="groups-list-item__image">
        <!-- Add avatar in case if there no image -->
        </div>
        <div class="groups-list-item__info">
          <h3 class="groups-list-item__info-title">Title</h3>
          <div class="groups-list-item__info-description">Description</div>
          <p class="groups-list-item__info-members">Members</p>
        </div>
      </a>
    </li>
  </ul>
</div>
