<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
      <div class="pswp__container" style="transform: translate3d(0px, 0px, 0px);">
          <div class="pswp__item" style="display: block; transform: translate3d(-1147px, 0px, 0px);">
            <div class="pswp__zoom-wrap" style="transform: translate3d(317px, 44px, 0px) scale(1);">
              <img class="pswp__img" src="/media/2205/photo-1567953738940-569a09f2ca43.jpg" style="opacity: 1; width: 391px; height: 586px;">
            </div>
          </div>
          <div class="pswp__item" style="transform: translate3d(0px, 0px, 0px);">
            <div class="pswp__zoom-wrap" style="transform: translate3d(73px, 44px, 0px) scale(1);">
              <img class="pswp__img" src="/media/2200/photo-1510283310679-2ef18c6f792d.jpg" style="opacity: 1; width: 879px; height: 586px; display: block;">
            </div>
          </div>
          <div class="pswp__item" style="display: block; transform: translate3d(1147px, 0px, 0px);">
            <div class="pswp__zoom-wrap" style="transform: translate3d(73px, 44px, 0px) scale(1);">
              <img class="pswp__img" src="/media/2202/photo-1556367076-7866e61cb403.jpg" style="opacity: 1; width: 879px; height: 586px;">
            </div>
          </div>
      </div>

      <div class="pswp__ui pswp__ui--fit pswp__ui--hidden">
          <div class="pswp__counter"></div>
          <div class="pswp__top-bar">
              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
              <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                          <div class="pswp__preloader__donut"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
          </div>
          <button class="123 pswp__button pswp__button--arrow--left icon-arrow-left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right icon-arrow-right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
          </div>
      </div>
  </div>
</div>
