@inherits Umbraco.Web.Mvc.UmbracoViewPage<Uintra.Users.UserList.UsersRowsViewModel>
@using Uintra.Core.Extensions
@using Uintra.Users
@using Uintra.Users.Helpers
@using Uintra.Users.UserList

@foreach (var user in Model.Users)
{
    <tr class="members-table__row">
        @foreach (var column in Model.SelectedColumns)
        {
            <td class="members-table__cell">
                @switch (column.Type)
                {
                    case ColumnType.Email:
                        {
                            <a class="members-table__link" href="mailto:@user.Email">@user.Email</a>
                        }
                        break;
                    case ColumnType.Photo:
                        {
                            @Html.Action("Photo", "User", new
                            {
                                user = user.User,
                                cssModificator = "avatar--group-member",
                                photoWidth = 40
                            })
                        }
                        break;
                    case ColumnType.Text:
                        {
                            <span class="members-table__name">@ReflectionHelper.GetUIColumnValue(user, column)</span>
                        }
                        break;
                }
            </td>
        }
    </tr>
}