.user-list-panel {
    margin: 0 0 22px;
    padding: 20px 20px 19px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);

    @media (--for-tablet-portrait-down) {
        padding: 20px 10px 19px;
        margin: 0 -15px 22px;
    }
}

.user-search{
    padding:20px 0 0;

    &__title{
        font-size: 25px;
        font-weight: 400;
        line-height: 0.88;
        color: #262626;
        margin:0 0 28px;
    }

    &__subtitle{
        font:bold 13px/22px var(--font-general);
        color: #555;
        margin:0 0 2px;
    }

    &__form{
        position:relative;
        border: solid 1px var(--color-light-gray);
        margin:0 0 20px;
        background:var(--color-white);

        .alertify &{
            margin:0 0 30px;
        }

        &:after{
            content:'';
            display:block;
            clear:both;
        }
    }

    &__button{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border: none;
        background: none;
        padding: 6px 15px;
        cursor: pointer;
        z-index:4;

        @media (--for-tablet-portrait-down){
            padding:5px;
        }

        .icon-search{
            display:block;
            color:var(--color-black);

            &:before{
                font-size:30px;
                @media (--for-tablet-portrait-down){
                    font-size:25px;
                }
            }
        }
    }

    &__input{
        float:left;
        width:100%;
        background:none;
        border:none;
        font-size:13px;
        line-height:15px;
        margin:0;
        padding:13px 60px 12px 10px;
        color:var(--text-color-dark);
        position:relative;
        z-index:3;

        &:-ms-input-placeholder {
            color:#aaa;
            opacity:1;
        }

        &::placeholder{
            color:#aaa;
            opacity:1;
        }

        @media (--for-tablet-portrait-down){
            padding:10px 40px 10px 9px;
        }
    }
}

.users-table{
    margin:0 0 50px;
    font-size:13px;
    line-height:22px;
    color:var(--text-color-dark);

    &__row{
        display:flex;
        margin:0 -20px;
        justify-content:space-between;
        align-items:center;
        border-bottom:1px solid #e6e6e6;
        cursor:pointer;
        position:relative;

        @media (--for-tablet-portrait-down){
            margin:0;
            display:block;
            padding:20px 42px 16px 40px;
        }

        &:first-child{
            border-top:1px solid #e6e6e6;
        }

        &:hover{
            background:#f6f6f6;

            .avatar__letter{
                background:#eee;
            }
        }
    }

    &__cell{
        padding:10px 0 10px 2.7%;
        overflow:hidden;

        &:last-child{
            padding:10px 20px 10px 0;

            @media (--for-tablet-portrait-down) {
                padding:0;
            }
        }

        @media (--for-tablet-portrait-down) {
            padding:0;
        }

        .alertify &{
            padding:10px 0 10px 20px

            @media (--for-tablet-portrait-down) {
                padding:0;
            }
        }

        &--name{
            width:28.8%;
            flex: 1 1 28.8%;

            .alertify &{
                width:30%;
                flex: 1 1 30%;
            }

            @media (--for-tablet-portrait-down) {
                width:100%;

                .alertify & {
                    width: 100%;
                }
            }
        }
        &--info{
            width:35%;

            .alertify &{
                width:40%;
            }

            @media (--for-tablet-portrait-down) {
                width:100%;

                .alertify & {
                    width: 100%;
                }
            }
        }
        &--tools{
            width:16%;
            @media (--for-tablet-portrait-down) {
                width:100%;
            }
        }
        &--text{
            width:16%;
            @media (--for-tablet-portrait-down) {
                width:100%;
            }
        }
        &--btn{
            width:36%;

            &:last-child{
                width:10.5%;
                text-align:right;

                .alertify &{
                    width:30%;
                }

                @media (--for-tablet-portrait-down) {
                    width:100%;

                    .alertify & {
                        width: 100%;
                    }
                }
            }

            @media (--for-tablet-portrait-down) {
                width:100%;

                .alertify & {
                    width: 100%;
                }
            }

            .fake-select{
                position:relative;
                display:inline-block;
                padding:0 0 0 23px;
                min-width:142px;

                @media (--for-tablet-portrait-down) {
                    padding:0;
                }

                .select2-container{
                    width: 100% !important;
                    &--focus{
                        .select2-selection--single{
                            outline: 0;
                        }
                    }

                    &--open{
                        .select2-dropdown--below{
                            border:1px solid #ccc;
                        }
                    }

                    .select2-selection--single{
                        background:none;
                        border:0;
                        height:auto;
                        position:relative;

                        .select2-selection__rendered{
                            font: inherit;
                            line-height: 1.2;
                            padding:0;
                        }
                    
                        .select2-selection__arrow{
                            position: absolute;
                            right:10px;
                            width:6px;
                            height:6px;
                            top:50%;
                            border:1px solid #666;
                            border-width:0 0 1px 1px;
                            transform: rotate(-45deg);
                            margin-top:-5px;
                            line-height: 0;
                            z-index: 1;

                            b{
                                 display:none !important;
                             }
                        }

                    }
                }
            }
        }

        .btn{
            .alertify &{
                padding:6px 9px;
                margin:0;
            }
        }
    }

    &__info{
        display:flex;
        align-items:center;

        @media (--for-tablet-portrait-down) {
            display:block;
            margin:0; 
        }
    }

    &__name{
        font-size:16px;
        line-height:1.38;
        font-weight:700;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin:0 0 0 4.5%;
        @media (--for-tablet-portrait-down){
            margin:2px 0 1px;
        }

        .alertify &{
            margin:0 0 0 20px;
            @media (--for-tablet-portrait-down){
                margin:2px 0 1px;
            }
        }
    }

    &__text{
        display: block;
        white-space: nowrap;
        padding:0 0 0 26px;
        position:relative;

        &:first-child{
            @media (--for-tablet-portrait-down){
                margin:0 0 10px;
            }
        }

        .svg-icon{
            position:absolute;
            top:-3px;
            left:0;
            z-index:2;
        }

    }

    &__delete {
		width: 31px;
		height: 31px;
		border: none;
        padding:0;
        margin:-4px -10px 0px 0;
		background: none;
        text-indent:-9999px;
        overflow:hidden;
        position:relative;

        @media (--for-tablet-portrait-down){
            position:absolute;
            top:56px;
            right:16px;
            z-index:2;
        }

		&:before {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 2px;
			background: #303030;
			transform: rotate(45deg);
            margin-top:-1px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 8px;
			top: 50%;
			right: 8px;
			height: 2px;
			background: #303030;
			transform: rotate(-45deg);
            margin-top:-1px;
		}
	}
    
    .btn{
        margin:0 0 5px;
        text-transform:none;
        padding:6px 4px;

        &.btn-default{
            padding: 6px 11px;
            text-transform: uppercase;
        }

        &:focus{
            background: var(--color-white);
            box-shadow:none;
        }

        @media (--for-tablet-portrait-down) {
            width:auto;
            position: absolute;
            top: 20px;
            right: 10px;
            z-index: 2;
            color:#888;
        }

        .svg-icon{
            display:none;

            @media (--for-tablet-portrait-down){
                display: inline-block;
                vertical-align: top;
            }
        }

        span{
            @media (--for-tablet-portrait-down){
                display:none;
            }
        }

        &-holder{
            text-align:right;
            padding:0;
        }
    }
}


.user-details{
    margin: 0 -28px 0 -20px;
    padding:4px 0 0;
    color:var(--text-color-dark);
    font-size:16px;
    line-height:1.38;

    &__header{
        display:flex;
        align-items:center;
        margin:0 0 40px;

        @media (--for-tablet-portrait-down) {
            display:block;
            margin:0 0 10px;
        }
    }

    &__info{
        flex-grow: 1;
        display: flex;
        align-items: center;
        width:53%;

        @media (--for-tablet-portrait-down) {
            width:100%;
            padding:0 0 10px;
        }
    }

    &__contacts{
        flex-grow:1;
        padding:9px 0 0 22px;
        margin:0;
        width:47%;

        @media (--for-tablet-portrait-down) {
            width:100%;
            padding:0 0 10px;
        }

        &:after{
            content:'';
            display:block;
            clear:both;
        }
    }

    &__avatar{
        width:90px;
        height:90px;
        border-radius:50%;
        overflow:hidden;
        flex-shrink:0;

        @media (--for-tablet-portrait-down) {
            width:60px;
            height:60px;
        }
    }

    &__title-block{
        padding:4px 0 0 20px;
    }

    &__title{
        display:block;
        font-size:20px;
        line-height:1.1;
        margin:0 0 4px;
    }

    &__subtitle{
        display:block;
    }

    &__term{
        float:left;
        clear: left;
        padding:0 6px 3px 0;
        width: 22%;

        @media (--for-tablet-portrait-down) {
            width:40%;
        }
    }

    &__description{
        float:left;
        width: 78%;
        margin:0 0 3px;
        overflow:hidden;
        text-overflow:ellipsis;

        @media (--for-tablet-portrait-down) {
            width:60%;
        }
    }

    &__add-info{
        margin:0;

        &:after{
            content:'';
            display:block;
            clear:both;
        }
    }

    &__info-item{
        float:left;
        clear: left;
        padding:0 6px 13px 0;
        width: 24%;

        @media (--for-tablet-portrait-down) {
            width:40%;
        }
    }

    &__info-text{
        float:left;
        width: 76%;
        margin:0 0 13px;

        @media (--for-tablet-portrait-down) {
            width:60%;
        }
    }

    .tags__list{
        margin:-14px 0 0 -9px;
        font-size:14px;
        line-height:1.142;
    }

    &__text{
        margin:0 0 42px;
    }
}

.alertify.user-details-popup{
    .ajs-dialog {
        max-width: 760px;
    }

    .ajs-modal{
        @media (--for-tablet-portrait-down) {
            padding:0 15px;
        }
    }
}
