@import "base.less";

uintra-groups-members-page {
  .group-members {
    .shadow;
    background-color: @main-color;
    padding: 20px;

    &-wrapper {
      padding-top: 95px;
    }

    &__title {
      font-size: 25px;
      font-weight: 400;
      line-height: 0.88;
      color: @heading-bg;
      margin-bottom: 28px;
    }

    &__search-title {
      font-size: 13px;
      line-height: 22px;
      margin-bottom: 2px;
    }
  }

  .search {
    border: 1px solid @border-color;

    &-wrapper {
      position: relative;
      margin-bottom: 20px;
    }
  }

  .icon-search-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;

    &:before {
      color: @heading-bg;
    }
  }

  .pop-up-btn {
    display: block;
    margin-left: auto;
  }
}

.members-list {
  margin-bottom: 20px;
  margin-top: 30px;

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid @border-color;

    @media @md-down {
      align-items: flex-start;
      padding: 20px 10px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex: 1;

    @media @md-down {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__avatar {
    margin-right: 10px;

    @media @md-down {
      margin-top: 8px;
    }
  }

  &__name {
    flex: 1 0 30%;
    max-width: 30%;
    padding: 0 8px;

    font-size: 16px;
    line-height: 1.38;
    font-weight: 700;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__info {
    flex: 1 0 40%;
    max-width: 40%;
    padding: 8px;

    font-size: 13px;
    line-height: 22px;
    color: @body-text-color;
    word-break: break-all;
  }
  &__group {
    flex: 1 0 20%;
    max-width: 20%;
    padding: 8px;
  }

  &__group,
  &__info,
  &__name {
    @media @md-down {
      max-width: 100%;
    }
  }

  &__remove {
    text-align: right;
    padding: 8px;

    &-button {
      .reset-button;
      cursor: pointer;
    }
  }
}
