<section class="table-panel" *ngIf="data">
  <div class="table-panel__content">
    <app-heading>{{data.title}}</app-heading>

    <table class="table-panel__table">
      <thead *ngIf="headerRow">
        <tr>
          <th
            [innerHTML]="headerRow[0].value"
            [ngStyle]="{ textAlign: getAlignClass(headerRow[0]) }"></th>
          <th>
            <table class="table-panel__inner-table">
              <tr>
                <th
                  *ngFor="let cell of headerRow.slice(1)"
                  [innerHTML]="cell.value"
                  [ngStyle]="{ textAlign: getAlignClass(cell) }"></th>
              </tr>
            </table>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.table.cells">
          <td
            [innerHTML]="row[0].value"
            [attr.data-label]="(headerRow && headerRow[0].plainText) ? headerRow[0].plainText : null"
            [ngStyle]="{ textAlign: getAlignClass(row[0]) }">
          </td>
          <td>
            <table class="table-panel__inner-table">
              <tr>
                <td
                  *ngFor="let cell of row.slice(1); let i = index"
                  [innerHTML]="cell.value"
                  [attr.data-label]="(headerRow && headerRow[i+1].plainText) ? headerRow[i+1].plainText : null"
                  [ngStyle]="{ textAlign: getAlignClass(cell) }"></td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
