<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa65fe8a-a859-423f-b8c2-8953ab351937" Alias="heroPanel" Level="3">
  <Info>
    <Name>Hero</Name>
    <Icon>icon-user color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6a06f54f-ab94-47ae-b3e6-6a8e3309bb7c</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>1ca57ead-8f50-4992-8164-790f314d2c54</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eb0e229d-97ad-4316-adb1-59417a7f3222</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>3eb24d66-cd8d-4b06-a8ff-f1eb2a9ee3c4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>84015740-c00e-4799-aa0d-4618838d3b64</Key>
      <Name>Media</Name>
      <Alias>media</Alias>
      <Definition>2946cdd7-52e9-4acf-9163-daf8cc34dd24</Definition>
      <Type>UBaseline.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>974fed04-f30d-474a-bb19-dc58ee4959cd</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>b770d243-26a9-4d58-bcc0-cafe785c8c77</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>