<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="103c12c9-efb5-4c2e-826a-b335186a01e5" Alias="anchorComposition" Level="3">
  <Info>
    <Name>Anchor</Name>
    <Icon>icon-anchor color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>519a2d52-cd87-4b16-992a-7f942f938433</Key>
      <Name>Anchor Name</Name>
      <Alias>anchor</Alias>
      <Definition>02318add-878a-47dd-972a-50e49d63f50b</Definition>
      <Type>UBaseline.AnchorField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Allowed character is English letters and non-decimal numbers]]></Description>
      <SortOrder>-5</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>