<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eaf36506-f687-4dbb-8c04-235c2e81163c" Alias="archivedUrlsComposition" Level="3">
  <Info>
    <Name>Archived Urls</Name>
    <Icon>icon-link color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0f77faab-f871-4fb2-897e-7204c4bdb280</Key>
      <Name>Urls</Name>
      <Alias>archivedUrls</Alias>
      <Definition>ff3c47b3-0209-4891-9bc6-8a2fe1c648f6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Should be without domain. Enter the values separated by semicolon.
Example: /test-url;/sub-url/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Archived Urls</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Archived Urls</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>