<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1498180-4bef-43c7-8c75-22c457191418" Alias="articleContinuedPanel" Level="3">
  <Info>
    <Name>Article Continued</Name>
    <Icon>icon-right-double-arrow color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cfb73ba8-ba1e-4c8b-8f5f-f9e21b60fd73</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c29a5bdb-6d3f-441f-a1e2-e27cabd316ef</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b086d46f-c1c8-46f5-a60f-8969aae99146</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>deca16d9-590d-411e-8b26-041dd29e0f39</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>