<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f51c33d-cf43-43df-8538-af4b0867f84f" Alias="contactItem" Level="3">
  <Info>
    <Name>Contact Item</Name>
    <Icon>icon-umb-users color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Contact Description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0aa14616-b62b-42ef-af8f-8ec331f10c50</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>950094e6-547a-45b6-8be0-a58f9fadb9be</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[The Email Description]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>80421731-fbec-4f47-9e91-8c06be0ebc3c</Key>
      <Name>First Name</Name>
      <Alias>firstName</Alias>
      <Definition>e2b54bf2-2034-4d02-a435-0fa0734fe165</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The First Name Description]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5cc5658e-82b3-45db-8ff6-96aa1dab3376</Key>
      <Name>Last Name</Name>
      <Alias>lastName</Alias>
      <Definition>ebf49a20-ad4e-45f9-85ec-872446521f5c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Last Name Decription]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f16d6a70-a0bc-4e1c-8576-1114790dfe93</Key>
      <Name>Location</Name>
      <Alias>location</Alias>
      <Definition>c1c2ec88-7c7b-42fb-9753-174d8de07565</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Location Decription]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>443e45cf-1d30-4db8-af64-a95d6ecfe36a</Key>
      <Name>Phone</Name>
      <Alias>phone</Alias>
      <Definition>e8184778-da9d-4bcf-8d42-d00faaaecbef</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Phone Description]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3a160472-8dea-4534-ad50-b01061ad0aeb</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>c050890a-3142-465a-a070-2c0ca86c7da3</Definition>
      <Type>UBaseline.ImagePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Photo Description]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>969bd43c-0675-43c5-9076-6ee8c7186946</Key>
      <Name>Position</Name>
      <Alias>position</Alias>
      <Definition>ee3298b8-cc9e-4d47-b05a-3acac6ad714a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Position Description]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>