<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="abe239c2-9c55-42bb-be39-f27ee929431f" Alias="dataFolder" Level="3">
  <Info>
    <Name>Data</Name>
    <Icon>icon-folders color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Parent>
    <Compositions>
      <Composition Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6faf48e6-2f4b-4678-a56d-e6eacc1b4841">contactListFolder</ContentType>
    <ContentType Key="934f1c6a-4bad-4649-b35b-1c8c8de0317f">folders</ContentType>
    <ContentType Key="9c2e13ed-e262-43d3-96a4-c5b7335d01ed">agreementFolder</ContentType>
    <ContentType Key="9e6d7d94-b5cd-4c15-856c-8a2f5d45ad4d">panelsFolder</ContentType>
    <ContentType Key="f2ba09f5-0d6d-4073-920d-fb92fcbd3049">userTags</ContentType>
    <ContentType Key="15e8c9b4-35de-450d-aaf4-6347a647e53e">sharedLinks</ContentType>
    <ContentType Key="b790b3f5-6071-46c6-8371-8409e58cdcb0">mailTemplateFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>