<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ad08e3d-0685-4c11-a554-f4f2fca81f44" Alias="documentLibraryPanel" Level="3">
  <Info>
    <Name>Document Library</Name>
    <Icon>icon-documents color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e2f99971-85e5-4810-8c96-8fd4df95ac2c</Key>
      <Name>Link for Headline</Name>
      <Alias>linkForHeadline</Alias>
      <Definition>777bb58e-e3d8-4139-a9ea-474e935b8a4e</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5f440d1a-9362-47a8-bcc3-8fe378282aee</Key>
      <Name>Max Count of Documents</Name>
      <Alias>maxCountOfDocuments</Alias>
      <Definition>18f3e06f-f2c1-45bd-a15c-e866e9da1e31</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8170e2f9-eaea-43b2-be38-00f8339247de</Key>
      <Name>Media Library</Name>
      <Alias>mediaLibrary</Alias>
      <Definition>9de6a691-1610-42dd-9f4b-d592142a6479</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d13d9cfe-4646-4dae-8243-950d0f9b8d5c</Key>
      <Name>Panel Type</Name>
      <Alias>panelType</Alias>
      <Definition>3282c1d5-c3d3-42c5-90f1-5e7e677ea8fd</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>83477115-00e7-4eb9-aa69-2179e9039a2c</Key>
      <Name>Rich Text Editor</Name>
      <Alias>richTextEditor</Alias>
      <Definition>9391cce8-3fbd-4b45-b662-8467f3d9b826</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>220ea926-bf54-4353-9fe6-2246fd717a2e</Key>
      <Name>See All Link</Name>
      <Alias>seeAllLink</Alias>
      <Definition>232cba7f-1651-4913-bf46-0dd47368b842</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e566e60c-5996-44ac-9944-bb4b3f75bf90</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>28e71b86-224a-435a-9b44-ff0641f87346</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>