<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0cedfff5-1079-419a-948f-c2c53c9f7812" Alias="eventOverview" Level="3">
  <Info>
    <Name>Event Overview</Name>
    <Icon>icon-calendar-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Parent>
    <Compositions>
      <Composition Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9246c05d-39ec-4bc2-9848-f631784c363f">eventCreatePage</ContentType>
    <ContentType Key="7143b9c1-5d93-482d-a812-fe55e6ddc33f">eventDetailsPage</ContentType>
    <ContentType Key="469c80c9-4b70-4698-9183-c1044c58e878">eventEditPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>