<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6f85cd2-25ab-4d3b-a1ae-6c8398cd7d7f" Alias="fAQItem" Level="3">
  <Info>
    <Name>Accordions Item</Name>
    <Icon>icon-item-arrangement color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d7400c47-2a45-4534-8bee-c6e1e9aa795e</Key>
      <Name>Description</Name>
      <Alias>answer</Alias>
      <Definition>0bfd413d-11d5-4638-a8f3-ac5bfe07e1ba</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>266dfd07-44a6-4c57-bc9d-b304af912453</Key>
      <Name>Headline</Name>
      <Alias>question</Alias>
      <Definition>b0960895-280f-4fd6-91ab-1b1b928313e0</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>