<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2be93b20-becb-471b-bd3b-0316d38b3025" Alias="groupNavigationComposition" Level="3">
  <Info>
    <Name>Group Navigation</Name>
    <Icon>icon-thumbnail-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>01d9a328-41d1-4268-a39d-b6d0c8e5d93c</Key>
      <Name>Navigation Title</Name>
      <Alias>navigationTitle</Alias>
      <Definition>b684fd1a-bcd9-45db-86df-49f49fa3d7f1</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Group Navigation</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5a4ae2af-cc08-4f97-b839-56b96de45523</Key>
      <Name>Show In Menu</Name>
      <Alias>showInMenu</Alias>
      <Definition>549e0efb-9065-44a9-9118-6a8aa5522fa6</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Group Navigation</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc3ecfc9-bb81-4833-a7b4-8d2b33a250d7</Key>
      <Name>Sort Order</Name>
      <Alias>sortOrder</Alias>
      <Definition>188a61cf-603d-42dc-8a3b-d0b1f363f762</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Group Navigation</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Group Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>