<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a50a80df-426d-48b6-a398-ca0537642da0" Alias="groupsRoomPage" Level="3">
  <Info>
    <Name>Groups Room Page</Name>
    <Icon>icon-eye color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Parent>
    <Compositions>
      <Composition Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Composition>
      <Composition Key="ac6ff81e-2429-41c2-bc3e-140ddf1bb94c">pageSettingsComposition</Composition>
      <Composition Key="929b3b12-d25f-4148-864a-25cc43e88094">panelsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3952336b-57ea-4616-9cb8-efb39fc911f3">groupsDocumentsPage</ContentType>
    <ContentType Key="1f701904-5cc1-435b-b94f-308770dc2eb5">groupsEditPage</ContentType>
    <ContentType Key="d6a99666-346a-409b-9eb8-549cdd7d9f75">groupsMembersPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>