<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac0f5f04-c809-467b-950c-ab6fa98586bf" Alias="homePage" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Parent>
    <Compositions>
      <Composition Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Composition>
      <Composition Key="00cf90f0-c826-4158-b2a5-4c66bee46748">globalScriptsComposition</Composition>
      <Composition Key="b1febf36-6e26-48db-ad3a-98b4b4fc56bb">metaDataComposition</Composition>
      <Composition Key="82f14651-4ca9-4244-a8a6-b5140463c809">navigationComposition</Composition>
      <Composition Key="ac6ff81e-2429-41c2-bc3e-140ddf1bb94c">pageSettingsComposition</Composition>
      <Composition Key="929b3b12-d25f-4148-864a-25cc43e88094">panelsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="28312ba7-74e3-492b-8123-9c1eb5999839">internalServerErrorPage</ContentType>
    <ContentType Key="2f55416d-be19-4131-9021-ce0a07a30565">pageNotFoundPage</ContentType>
    <ContentType Key="8065ad8e-54c5-440c-b033-41f51387493e">articlePage</ContentType>
    <ContentType Key="abe239c2-9c55-42bb-be39-f27ee929431f">dataFolder</ContentType>
    <ContentType Key="d00c5060-2b02-4d8e-9ae4-943430b13c61">searchPage</ContentType>
    <ContentType Key="49dbc182-79ff-4af7-8cb7-8482783fe065">loginPage</ContentType>
    <ContentType Key="6581b931-c4ef-445b-a082-2edd81e81c2e">socialDetailsPage</ContentType>
    <ContentType Key="57a2d8fb-e430-4ef4-869e-b213151720bc">latestActivitiesPanel</ContentType>
    <ContentType Key="0d49fcaa-403c-4c5e-b9c3-02e205eb6312">socialEditPage</ContentType>
    <ContentType Key="ea44d9f8-9edb-4481-8e3c-7589eb0cfa21">headingPage</ContentType>
    <ContentType Key="a57c3255-e10b-4d82-8677-8e3263da6d78">profilePage</ContentType>
    <ContentType Key="3c2431d8-ec8e-4a65-ada0-05872dbf3e8e">profileEditPage</ContentType>
    <ContentType Key="01f1f184-f74c-4c4e-8486-c3accf26da09">uintraNewsDetailsPage</ContentType>
    <ContentType Key="4e735883-5da3-401c-8251-e79eb455eb76">uintraNewsEditPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9c2d71fd-b78f-4767-b8de-c1db1c5b3fb5</Key>
      <Name>Cookie Disclaimer Description</Name>
      <Alias>cookieDisclaimerDescription</Alias>
      <Definition>6c4f3bcd-371a-491e-bad2-6ca28d56d6f1</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>540c1c51-7d40-4afb-abcd-2985ba3b0174</Key>
      <Name>Cookie disclaimer title</Name>
      <Alias>cookieDisclaimerTitle</Alias>
      <Definition>7d792e48-4cf2-4872-b24d-dfc68c8be987</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>715c9c2d-0f3f-4f27-8ab9-34ecf6ba561b</Key>
      <Name>Global title of the website</Name>
      <Alias>siteTitle</Alias>
      <Definition>dafc5814-f9d3-4460-9ece-bec2853fa22c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will be added automatically on all pages after the Page Title.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d83b7e38-2557-47f9-acd8-b7b24ee45459</Key>
      <Name>Page Title</Name>
      <Alias>title</Alias>
      <Definition>b37c325b-328b-4597-968a-e419b061a84e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Page Title will be shown before the Site Title as the main title of the page and is important for bookmarking, social media and SEO indexing.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>