<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a002638-4b15-4316-ac59-280b3dd2ccc2" Alias="iconItem" Level="3">
  <Info>
    <Name>Icon Item</Name>
    <Icon>icon-item-arrangement color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9166ce5e-f4c3-42a7-8ec0-9af31d4d876f</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>aad3e716-d38b-49e0-aff1-95fdd51aebe3</Definition>
      <Type>UBaseline.ImagePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9f11fe9d-9f40-46b5-bc15-430646411ad9</Key>
      <Name>Icon Scale</Name>
      <Alias>iconScale</Alias>
      <Definition>7d8cd08d-80e4-4753-a675-8f1e965418d8</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9fdd30df-b93b-4c96-b6c9-b0d4c3a8dfe7</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>dbb390ca-b315-46c6-bf60-ecf002b40c48</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a1ce07fd-2e55-4ec6-9d8e-e7c73345c459</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>87546c33-e39c-4d0b-be7d-4115ea8b9a02</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>