<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="57a2d8fb-e430-4ef4-869e-b213151720bc" Alias="latestActivitiesPanel" Level="3">
  <Info>
    <Name>Latest Activities</Name>
    <Icon>icon-lightbulb-active color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1057ca54-4788-4843-9e8c-57e284be12c5</Key>
      <Name>Activity Type</Name>
      <Alias>activityType</Alias>
      <Definition>3a62d53a-6ec1-4d5c-9f09-d35abe6d386a</Definition>
      <Type>availableActivitySelector</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>507ee25c-90a0-4c2b-abf1-ee8b9d463ad2</Key>
      <Name>Count To Display</Name>
      <Alias>countToDisplay</Alias>
      <Definition>ef4bde5e-01a1-44fd-b287-206b8bd74e7e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>39cd8698-ac1e-4a06-88e9-b2a7781427fe</Key>
      <Name>Teaser</Name>
      <Alias>teaser</Alias>
      <Definition>5e57571e-0691-40c2-8141-b5a042a0fc8e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>426bb764-6286-498a-9039-25ea9e7a7514</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>d396d757-927a-48c5-a408-fdffae00f5eb</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>