<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34cc3a69-a782-4732-9ddc-0fbce4d40ee5" Alias="mailTemplate" Level="3">
  <Info>
    <Name>Mail Template</Name>
    <Icon>icon-message color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09e8bada-5296-44c5-850d-25630120135c</Key>
      <Name>Bcc Emails</Name>
      <Alias>bccEmails</Alias>
      <Definition>df3a5066-2fa5-482b-8a89-33c92d42aaaf</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Recipient</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>651dada4-ff06-4be8-b9aa-75ea8073517a</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>25f9935f-0199-4288-9db4-d87383f0b8bf</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>933c3d72-2c0e-4f96-a7ed-71404056b96a</Key>
      <Name>CC Emails</Name>
      <Alias>ccEmails</Alias>
      <Definition>7b72ee27-b785-42d9-aae1-e2b937e6d165</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Recipient</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>06ebd7a6-c63f-4496-92f8-40f4f748e556</Key>
      <Name>Extra Tokens</Name>
      <Alias>extraTokens</Alias>
      <Definition>a4e4aa51-469e-4f2a-9e9f-f5bc0fb614b4</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b7ce76b1-ad08-43d1-8dd9-5d0b2e872ab0</Key>
      <Name>From Email</Name>
      <Alias>fromEmail</Alias>
      <Definition>0e46b460-8a1b-4aeb-83ce-c47cfb064926</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sender</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5a664f94-88e5-4ab2-afef-f4ab77aa3b7e</Key>
      <Name>From Name</Name>
      <Alias>fromName</Alias>
      <Definition>b6afa958-f625-4d3d-8f5f-01c0445e4459</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sender</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6a5be00c-591a-49e3-9f59-4699109cb58b</Key>
      <Name>Subject</Name>
      <Alias>subject</Alias>
      <Definition>3f47ece0-d00d-44ec-8499-ceb4d4b85cc2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Recipient</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Sender</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>