<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f47a03d4-6ba0-498d-9363-f8290eba89a2" Alias="mailTemplatesFolder" Level="3">
  <Info>
    <Name>Mail Templates Folder</Name>
    <Icon>icon-mailbox color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Parent>
    <Compositions>
      <Composition Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c9a8278d-9a98-43e7-bbbf-1e7eea0317a3">mailTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>