<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee0f5df7-9108-45b7-a142-2db15dd9df64" Alias="newsPanel" Level="3">
  <Info>
    <Name>News</Name>
    <Icon>icon-billboard color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1c2eb9c7-90dc-4c11-b237-8f34e2238406</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c8d8ed6a-5148-420a-ad57-2fb669851aa4</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d1b15e3f-b7c8-4fd7-85ec-e2cfa6dd16d7</Key>
      <Name>Previews Count</Name>
      <Alias>previewsCount</Alias>
      <Definition>3b41e3f3-a579-4d7f-9a23-dee38a4f1c1a</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b20837c2-0bd8-4aed-aafb-f63d3ec51f9c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>b4829d32-ea2a-4a11-b5d7-0e410b4f923a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>