<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac6ff81e-2429-41c2-bc3e-140ddf1bb94c" Alias="pageSettingsComposition" Level="3">
  <Info>
    <Name>Page Settings</Name>
    <Icon>icon-umb-settings color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ed75ddd2-6e7e-41c9-8f1f-2aebdbc93bcb</Key>
      <Name>Add to sitemap</Name>
      <Alias>addToSitemap</Alias>
      <Definition>01c0fa26-66f9-473c-ace0-5de1f5132c23</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This page will be added to /sitemap.xml for Google indexing.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f30d7d35-f7f5-40f8-865a-7b5e8f2074e8</Key>
      <Name>Include page in search results</Name>
      <Alias>includeInSearch</Alias>
      <Definition>4813c398-c948-4829-99a7-804557320dfb</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This page will be included in internal site search.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>