<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e6d7d94-b5cd-4c15-856c-8a2f5d45ad4d" Alias="panelsFolder" Level="3">
  <Info>
    <Name>Panels</Name>
    <Icon>icon-panel-close color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Parent>
    <Compositions>
      <Composition Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>