<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e633dbb-c092-48ed-b55d-eb3c5137283b" Alias="quotePanel" Level="3">
  <Info>
    <Name>Quote</Name>
    <Icon>icon-quote color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="103c12c9-efb5-4c2e-826a-b335186a01e5">anchorComposition</Composition>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
      <Composition Key="78a22913-4275-4a27-bbf3-2f31e2a1e2c5">panelUtmConfigurationComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aeb96472-5437-436e-9285-3f1bfddca6e1</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>b0d57967-92d2-43e7-b5b4-0d247a4034db</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c16dc69c-6080-40c1-9ad2-2bfa7209fadc</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>662aec69-70dc-46a6-860e-34d517e645fc</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8916cf98-09fc-4ea2-8fa0-905cf98d918c</Key>
      <Name>Quote</Name>
      <Alias>quote</Alias>
      <Definition>0f60b99a-2188-46f6-aaf5-e190c0de9d70</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>