<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15e8c9b4-35de-450d-aaf4-6347a647e53e" Alias="sharedLinks" Level="3">
  <Info>
    <Name>Shared Links</Name>
    <Icon>icon-network-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Parent>
    <Compositions>
      <Composition Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Composition>
    </Compositions>
    <DefaultTemplate>SharedLinks</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9f2520c-d0a5-477e-9eb5-f7fb370aba46">SharedLinks</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0388ef4f-42c6-4f65-8fe9-9e010c9f6627">sharedLinkItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>