<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0388ef4f-42c6-4f65-8fe9-9e010c9f6627" Alias="sharedLinkItem" Level="3">
  <Info>
    <Name>Shared Link Item</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d652b8b8-82c3-4448-9d6f-bfee924e51ed</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>b2550484-d4a4-40f4-aaec-170a38f228c2</Definition>
      <Type>custom.LinksPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>269b7f4c-3367-420e-a00e-dd7fcdc23bbc</Key>
      <Name>Links Group Title</Name>
      <Alias>linksGroupTitle</Alias>
      <Definition>a0c588ac-f6e6-4eaf-94eb-26d6a1b738fc</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e8cbac93-a6e7-4f7a-9cee-d2ac634e09cf</Key>
      <Name>Sort</Name>
      <Alias>sort</Alias>
      <Definition>896e982d-8eda-425e-aee4-2f24a5a23dec</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>