<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5ba491c0-eafd-4763-809f-2901663735e8" Alias="spotItem" Level="3">
  <Info>
    <Name>Spot Item</Name>
    <Icon>icon-item-arrangement color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>27304fa6-8955-4282-9eef-135fef91a49b</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>469e9273-c5f3-479c-a085-495eaf26ce9c</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>06724dff-07bf-42e1-830f-6b48cd31d6a2</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>b27d1ba4-e448-47c5-a9a3-30d8f2b35965</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>afd5041c-791c-4625-bdd5-23871e61b4cf</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>31a6473f-9f1d-4006-8937-52586142d5dc</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7b884870-8b61-4386-aa30-f253ce9b2824</Key>
      <Name>Media</Name>
      <Alias>media</Alias>
      <Definition>d520f2e1-4726-4969-ad6f-87d86f2b5153</Definition>
      <Type>UBaseline.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>93284f4a-49fd-412a-8cd0-9856fab8f7f8</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>bbb3b0c7-40f2-4256-a625-53764ae16529</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>