<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f701904-5cc1-435b-b94f-308770dc2eb5" Alias="uintraGroupsEditPage" Level="3">
  <Info>
    <Name>Groups Edit Page</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Parent>
    <Compositions>
      <Composition Key="08fd53cf-cc19-4f29-8817-33da362abc27">basePage</Composition>
      <Composition Key="2be93b20-becb-471b-bd3b-0316d38b3025">groupNavigationComposition</Composition>
      <Composition Key="ac6ff81e-2429-41c2-bc3e-140ddf1bb94c">pageSettingsComposition</Composition>
      <Composition Key="929b3b12-d25f-4148-864a-25cc43e88094">panelsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>