<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ba98b96-b8cc-40d0-bb6d-70be712961c6" Alias="videoPanel" Level="3">
  <Info>
    <Name>Video</Name>
    <Icon>icon-video color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="103c12c9-efb5-4c2e-826a-b335186a01e5">anchorComposition</Composition>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
      <Composition Key="78a22913-4275-4a27-bbf3-2f31e2a1e2c5">panelUtmConfigurationComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2e0d213d-75c2-40c8-8092-46c19da9c6e2</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>f3b7599e-604a-49c9-b4a5-306e928a414a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fa3d12bf-3a4b-4830-9f5f-23f766e71efc</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>cb7e929f-078f-45f8-a7b1-708a73e26644</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>35c317ee-df9b-40a5-9012-ec14d070b991</Key>
      <Name>Video</Name>
      <Alias>video</Alias>
      <Definition>913817d3-e3c6-469a-ae6a-3072abc9d9c0</Definition>
      <Type>UBaseline.VideoPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>