<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04fc49e0-0087-4813-8640-3020b44c1999" Alias="Image - Height" Level="4">
  <Info>
    <Name>Image - Height</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Media+Types/Image</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "INT"
}]]></Config>
</DataType>