<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18f3e06f-f2c1-45bd-a15c-e866e9da1e31" Alias="Document Library Panel - Max Count of Documents" Level="4">
  <Info>
    <Name>Document Library Panel - Max Count of Documents</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Panels/Document+Library</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>