<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ca57ead-8f50-4992-8164-790f314d2c54" Alias="Hero Panel - Description" Level="4">
  <Info>
    <Name>Hero Panel - Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Hero</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>