<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31639655-3256-4a21-bc19-e22fc1cabf2c" Alias="File - Type" Level="4">
  <Info>
    <Name>File - Type</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Media+Types/File</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>