<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b41e3f3-a579-4d7f-9a23-dee38a4f1c1a" Alias="News Panel - Previews Count" Level="4">
  <Info>
    <Name>News Panel - Previews Count</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/News</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MinimumValue": 1.0,
  "MaximumValue": 6.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>