<?xml version="1.0" encoding="utf-8"?>
<DataType Key="686b7ecc-487f-4bf0-80b9-59a91db6c10b" Alias="Top Image - Description" Level="4">
  <Info>
    <Name>Top Image - Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Compositions/Top+Image</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>