<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f71416c-c12b-46e8-8ca9-9d528a787fd4" Alias="Svg Panel - Svg" Level="4">
  <Info>
    <Name>Svg Panel - Svg</Name>
    <EditorAlias>UBaseline.ImagePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Panels/Svg</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false,
    "showSvg": true
  }
}]]></Config>
</DataType>