<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fd4cb10-4364-49af-80b8-159c44b7a9b6" Alias="Svg Panel - Align" Level="4">
  <Info>
    <Name>Svg Panel - Align</Name>
    <EditorAlias>UBaseline.KeyValueRadioButtonList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>6</SortOrder>
    <Folder>UBaseline/Panels/Svg</Folder>
  </Info>
  <Config><![CDATA[{
  "values": {
    "default": "align-left",
    "items": [
      {
        "value": "Left",
        "key": "align-left"
      },
      {
        "value": "Right",
        "key": "align-right"
      }
    ]
  }
}]]></Config>
</DataType>