<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aad3e716-d38b-49e0-aff1-95fdd51aebe3" Alias="Icon Item - Icon" Level="4">
  <Info>
    <Name>Icon Item - Icon</Name>
    <EditorAlias>UBaseline.ImagePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Items/Icon</Folder>
  </Info>
  <Config><![CDATA[{
  "imageSettings": {
    "imageTypeAlias": "Image",
    "mediaFolderId": null,
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    },
    "multiMode": false,
    "showAlt": false,
    "showSvg": true
  }
}]]></Config>
</DataType>