@using uCommunity.Core.Extentions
@model IEnumerable<string>

<div class="form__input" id="activityTagsHolder" data-model-name="tags" data-placeholder="@Html.Localize("Tags.Placeholder")" data-activity-tags="@Model.JoinWithSeparator(",")"></div>