<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0565d4f0-b7ab-4787-a65b-6b0ad1fd58e7" Alias="Social.Label" Level="2">
  <Info>
    <Parent>Social</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share:</Translation>
    <Translation Language="da-DK">Share:</Translation>
  </Translations>
</Dictionary>