<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="52ff6cc4-6db5-4fcf-aeeb-c0e2a517b812" Alias="AutoSuggest" Level="1">
  <Info>
    <Parent>Panels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="da-DK"></Translation>
  </Translations>
</Dictionary>