<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="69736017-3fee-460a-9c09-be21eae5671a" Alias="AutoSuggest.Placeholder" Level="2">
  <Info>
    <Parent>AutoSuggest</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search</Translation>
    <Translation Language="da-DK">Søg</Translation>
  </Translations>
</Dictionary>