<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c39c8137-897c-4b23-a76d-6a9c359ee5cb" Alias="ActivityItemHeader.CategoryName.PagePromotion.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Promotion</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>