<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a5082ee2-fb55-4b60-9e4f-7b5b1a4ed373" Alias="ActivityItemHeader.CategoryName.All.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">All</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>