<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dfaf7a28-cae2-41e4-82e1-71a3b0f070ef" Alias="ActivityItemHeader.CategoryName.Bulletins.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Bulletin</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>