<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae53933d-2ea7-4827-a419-4701a2b69b00" Alias="ActivityItemHeader.CategoryName.Events.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Event</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>