<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="27de18af-a1b3-4965-bc2b-cbc4857869e1" Alias="ActivityItemHeader.Creator.Inactive.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Inactive</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>