<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="96f93e1e-9b7f-4f91-80f9-288d0c4146b3" Alias="ActivityLikeAdded" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">liked your activity</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>