<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="27dea415-e610-49dc-9424-3e28578e3d14" Alias="BrowserCompatibility.Notification.Message" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">NB! Your browser is not fully compatible with the current version of Intranet.</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>