<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dc2aa326-4f00-4a29-a00f-03e26723e557" Alias="BulletinsEdit.Delete.btn" Level="1">
  <Info>
    <Parent>Bulletins</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Delete</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>