<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3f089092-d890-4f59-bf25-aa7ca18a688e" Alias="BulletinsEdit.AtLeastOneFieldMustBeFilled.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">At least one field must be filled</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>