<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e1e1626-04c1-4fa2-9f4b-ac08f74d3045" Alias="CentralFeed.Filter.Events.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Events</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>