<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3f233f47-ee44-4200-a8f0-672a3b994bc6" Alias="CentralFeedList.ClearFilters.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Clear Filters</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>