<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e774e0c9-2ec9-4429-bc14-e84fcebf7cc9" Alias="CentralFeedList.OpenFilters.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">FILTER</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>