<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="76eb0e53-725b-459c-a6e5-b62ccccaca76" Alias="CentralFeed.Filter.PagePromotion.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Promotion</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>