<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5445c35e-6f6d-4099-a9c6-deacea41f3d2" Alias="CentralFeedList.ShowPinned.chkbx" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Show only Important</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>