<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="06539427-782c-472d-b677-45cd8df02d2b" Alias="CentralFeed.Filter.Socials.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Socials</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>