<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="17a7d408-0af5-40b5-b468-6940fa6bd017" Alias="CentralFeed.CreateLink_News.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Create News</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>