<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d534033-194f-48c8-8030-92dccc4af7a7" Alias="CentralFeedPublication.Recomend.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Anbefal</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>