<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a3102fc-cf55-44c2-9b97-ed8b5ac0a562" Alias="CentralFeedList.Empty.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Nothing has been posted yet!</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>