<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="573c7e72-a9b2-4adc-96a7-803be99bcdda" Alias="Common.NotifyAllSubscribers.Cancel" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Cancel</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>