<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="64f41208-4a1d-4c2d-85d4-1bbf6902d33c" Alias="CommentsCreate.AddComment.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Send</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>