<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="916b9ea8-ac84-489a-bb6d-efa30d272db3" Alias="Common.NotifyAllSubscribers.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Confirm</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>