<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e39d6889-c0ad-4d01-81ef-33b9c8dbe390" Alias="CommentsOverView.AddComment.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Add comment</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>