<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a298f837-78f6-4d04-82b0-3530b2ce5071" Alias="CommentsOverView.EditComment.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Save</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>