<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a2c5f5ab-7714-4a9e-aa69-57e99e771b8c" Alias="CommentsOverView.ReadOnlyMessage.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Only subscribed person can comment activity in the group</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>