<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c3030e70-c6e0-4221-850c-70b6dc51791e" Alias="Comments.ReadonlyClick.Message.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Only subscribed person can comment activity in the group</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>