<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c7a5cd33-3de5-4ecb-aaa4-073973ab10f5" Alias="CommentsOverView.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Comments</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>