<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ff719aeb-8239-411b-abca-4c81620fbfd4" Alias="CommentsView.ModifyDate.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Edited at</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>