<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c6f3ebfa-908d-4484-8ce1-adf6dd07088f" Alias="Common.NotifyAllSubscribers" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Would you like to notify subscribers about changes?</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>