<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a64740d9-84c8-4022-8a29-2ff7803a91a7" Alias="Comments.Author.Inactive.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Inactive</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>