<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db92b1b4-6dfb-4e09-96b6-bb8fad332f1a" Alias="CommentLikeAdded" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">liked your comment</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>