<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e23d4c5-e781-415d-8268-3ef6585acdf9" Alias="Common.NotifyAllSubscribers.Yes" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Yes</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>