<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f19d3afe-d4d6-4235-a38d-0fb0eb45859a" Alias="Common.Cancel.lnk" Level="1">
  <Info>
    <Parent>Bulletins</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cancel</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>