<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="64ec0dca-62f4-40f2-a2ce-33c7710ddddb" Alias="Common.NotifyAllSubscribers.No" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>