<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="02ec1f1d-9f84-4726-8a73-4cd8be8f5a20" Alias="CommentReplied" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">replied on your comment</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>