<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="08f34058-abd1-409d-aa53-1e792263278d" Alias="CreateIGroup.DescriptionRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A description is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>