<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f2af01f4-1bcd-4938-9546-df706216981c" Alias="CreateNews.TitleRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A title is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>