<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="96e7f616-2747-4bfc-a704-5dd2d2f92e44" Alias="CreateNews.TitleMaxLength.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">The title is must be shorter than {0} characters</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>