<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="551104fa-94b8-4628-b01e-72b2df2ec0f7" Alias="createEvents.AcceptRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Add mark to Accept checkbox</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>