<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e10fcd4b-cb1f-4bd7-b82e-499fafcc8018" Alias="CreateNews.DescriptionRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A description is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>