<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a956d452-feaa-455c-a617-564e3bb78c07" Alias="CreateEvents.TitleRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A title is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>