<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cfe68788-7064-4845-a214-1a86df5ee98b" Alias="CreateActivity.EndPinDateRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Endpin date required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>