<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="98a1a349-292f-4182-87ad-b45736d20fbd" Alias="CreateEvents.DescriptionRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A description is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>