<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7af72009-df2b-409a-b128-d5b18d977190" Alias="CreateEvents.TitleMaxLength.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">The title is must be shorter than {0} characters</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>