<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="90f514a1-e552-43f5-a8af-96773ff7d109" Alias="credentialsNotValid.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Credentials not valid</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>