<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bba45c92-d45a-4cb9-be8b-bef5f46ed46d" Alias="DeactivatedGroupPage.GroupWasDisabled.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Group was hidden</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>