<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d4cd22ed-9dc1-4453-8952-e5bcced6239c" Alias="DetailsView.Important.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Important</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>