<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1013c2ee-5cc9-4611-95ca-5dae4432e256" Alias="DetailsView.GoToList.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Go to list</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>