<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4c05e6d6-8c08-4dbe-915e-98694839d19a" Alias="DocumentsList.Empty.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Documents list is empty</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>