<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7c41d369-1a78-47b6-ae0d-5ea34650e16a" Alias="DropZone.EventForm.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Insert image by dropping it here or browser to insert it</Translation>
  </Translations>
</Dictionary>