<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c6fbc40d-5d54-4634-84aa-c432ca0b5fa8" Alias="DropZone.GroupsForm.Label" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Insert image by dropping it here or browser to insert it</Translation>
  </Translations>
</Dictionary>