<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="20d52693-f67f-4e1e-a170-e287e87415fe" Alias="EventsEdit.LocationAddressPlaceholder.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter address</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>