<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b4e52318-d6ce-4a47-a196-454978123ab3" Alias="EventsEdir.StartDate.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Event start date and time</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>