<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f1dc05df-be75-4dc7-97de-adc9f6d9bc92" Alias="EventsCreate.UploadFiles.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Drop files and images here or click to upload.</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>