<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5914b3b0-8354-4963-8727-562a09bbd2ee" Alias="EventsCreate.EndDate.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Event end date and time</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>