<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9cd3014b-c790-4e9a-820c-5ce218315160" Alias="EventsCreate.StartDate.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Event start date and time</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>