<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="69951aa4-33f5-4c3e-8bd0-11c38d5a7065" Alias="EventsEdit.Title.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Title</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>