<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fcf0e3a8-1e28-4875-8d7f-42825d61a547" Alias="EventsEdit.LocationTitlePlaceholder.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter name of the location</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>