<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be0f3328-77dc-4ae1-a1da-235a52e4bd56" Alias="EventsCreate.LocationAddressPlaceholder.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter address</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>