<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4fcf42e1-16e5-41f0-b226-b98f44ff74db" Alias="EventsCreate.CanSubscribe.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">It should be possible to subscribe</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>