<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="07e377fd-ae74-4575-b614-918574e21140" Alias="EventsEdit.UploadFiles.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">File(s)</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>