<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="61f76559-9064-4b9d-a3ec-82f822812446" Alias="EventsCreate.Title.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Title</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>