<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="17c2b918-cc96-4a8b-9644-e60025c29faf" Alias="EventsEdit.Hide.btn" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Hide Event</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>