<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d0353ab9-9ab9-401b-810b-02170ae7f0c0" Alias="EventsCreate.LocationTitlePlaceholder.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter name of the location</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>