<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cf3b9c5b-0a9f-4532-9439-fb318387f00f" Alias="EventsEdit.LocationTitle.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location title</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>