<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a331944-dd72-4f38-bc81-6227e0af9734" Alias="EventsEdit.EndDateRequired.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">An end date is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>