<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="acf1c2c3-743b-43ac-8755-465671137f23" Alias="EventsEdit.DescriptionRequired.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">A description is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>