<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="472e96be-97c4-4596-9bf2-fa04f915c4d6" Alias="EventsItemView.Pinned.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Important</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>