<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="981fede7-efb4-4100-9467-a349347e2b3f" Alias="EventsCreate.LocationTitle.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location title</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>