<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b370a549-f100-4c41-9210-493c170a12c5" Alias="EventsCreate.PublishDate.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Event publish date and time</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>