<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="52b3f61b-6936-4df9-b9f6-57c2a854a832" Alias="EventsEditPage.Title.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Edit Event</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>