<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1916bfd1-609e-4ff4-bcf6-adb2ada4f43f" Alias="EventsCreate.Create.btn" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Save</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>