<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5f016c32-d120-4423-ba10-8e06c8f21ed0" Alias="EventsCreate.PublishDateRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Publish date required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>