<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb493f32-ee94-4768-a07f-0521300e8b16" Alias="eventsEdit.AcceptRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Add mark to Accept checkbox</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>