<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ec90df29-2601-45e4-9d06-bd4d33b56e73" Alias="EventsEdit.PublishDateRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Publish date required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>