<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4cebe358-bccd-4abf-a048-efaaf59deaf8" Alias="EventsEdit.StartDateRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Start date required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>