<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aea5390e-852f-4735-a426-12a4bc39aea2" Alias="EventsEdit.LocationAddressMaxLength.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The location address is must be shorter than {0} characters</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>