<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5cce42ea-74bb-4f44-aba8-2e1b0abf238f" Alias="Events.ComingEvents.Empty.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">There are no upcoming events</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>