<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ceec30fb-52d4-4b75-a71e-62414b68a41c" Alias="EventsCreate.LocationAddressMaxLength.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The location address is must be shorter than {0} characters</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>