<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3c492143-a51e-4c7e-bff0-a077fe26c532" Alias="EventsCreate.LocationAddress.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location address</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>