<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1c86dcb3-e0d1-4a48-ab90-d64110196fab" Alias="EventsEdit.PublishDate.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Event publish date and time</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>