<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4c5dc1c7-4d21-4ced-88b4-6b17fbd4ddc7" Alias="EventsEdit.Edit.btn" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Update</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>