<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ff89264f-f3b9-4409-9233-4590c3d93e2a" Alias="EventsEdit.Description.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Description</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>