<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ba351932-bc03-4df1-8432-a103bb0dcb25" Alias="EventsEdit.StartDate.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Event start date and time</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>