<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e5aca1e9-55bb-45f1-b718-8b6bdd6ec5d0" Alias="EventsCreatePage.Title.lbl" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create Event</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>