<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b55bbc8-f6ce-4ef9-aa2a-5d8155b4626d" Alias="EVENTITEMVIEW.PINNED.LBL" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Important</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>