<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fb40423c-9bf1-4310-aeb0-720926b0f03d" Alias="Social.LinkedinShare" Level="2">
  <Info>
    <Parent>Social</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Linkedin Share</Translation>
    <Translation Language="da-DK">Linkedin Share</Translation>
  </Translations>
</Dictionary>