<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0d9dd62e-4b7a-4f48-8733-2f2008d03ef8" Alias="FileUploadView.UploadFiles.lbl" Level="1">
  <Info>
    <Parent>Bulletins</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Insert image</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>