<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fffcc139-986e-4d43-a8f7-12130ec5b7b0" Alias="forgotPassword.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Forgot password</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>