<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6b81e7b-bc7c-4e9c-b383-58b0315a3550" Alias="GroupInfo.OneMemberCount.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">member</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>