<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30ad871b-e3f0-4221-82a1-388d2aeb852a" Alias="GroupDocuments.Table.Name.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Document</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>