<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e1064e97-bcc5-4a5d-bef3-9a369f229df7" Alias="GroupEdit.GroupImage.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Group image</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>