<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be85d81f-490c-4a24-81c2-271dcb9db7bc" Alias="GroupDocuments.Delete.ConfirmText.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Are you sure you would like to delete this document?</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>