<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c205a1a9-25c8-4007-9f07-99b7ac59ce98" Alias="GroupDocuments.Table.Date.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Date</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>