<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6c3bb032-355e-477f-b271-c177a7ad7664" Alias="GroupDocuments.Delete.Confirm.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Delete</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>