<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="461341bb-3791-441f-8a59-9cdd923898a3" Alias="GroupMembers.Delete.ConfirmCancel.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Cancel</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>