<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="81290f75-c491-4083-9a10-c7ca98a06038" Alias="GroupDocuments.Table.Type.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Document type</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>