<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d06f8640-8af7-4277-b47a-de1867800698" Alias="GroupCreate.GroupImage.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">GroupImage</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>