<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="32537cf0-fef9-4db4-8052-6d3a5a788767" Alias="GroupInfo.Unsubscribe.Message.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Are you sure?</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>