<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="49230ae4-65b0-448c-b232-43e29be5a69a" Alias="GroupDocuments.Table.Creator.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Added by</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>