<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4ff57732-bd94-4c2f-a37b-c3a779287417" Alias="GroupInfo.Unsubscribe.Title.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Unsubscribe confirmation</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>