<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="79578c37-49d4-4f6f-b749-a26e0fbef122" Alias="GroupEdit.PageTitle.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Edit group settings</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>