<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bc77aefe-a223-4050-b430-7ce5f12a4d45" Alias="GroupMembers.Table.Email.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Email</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>