<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="33c9c609-df54-4c51-92f8-79f19969b7d2" Alias="GroupMembers.Table.GroupMember.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Member 1</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>