<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b57daa4f-906f-47ad-aa9c-1e34150d0f98" Alias="GroupInfo.MembersCount.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">members</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>