<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="095fb33b-978c-4c20-a33a-111c2f6cbbe9" Alias="GroupDocument.Upload.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Upload new group document</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>