<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6698ecd5-5aa6-47fc-84a3-783013658a7c" Alias="GroupCreate.FormTitle.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Create Group</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>