<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1820f4d0-3f49-4620-921f-ed2b5f36c97e" Alias="GroupMembers.Delete.Text.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Are you sure?</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>