<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2dafd48f-b4f1-4925-8e60-fde21715386a" Alias="GroupInfo.IsSubscribed.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">You are subscribed</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>