<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="832aff38-cb1b-4a3c-9ba0-ddcbb3cb32ed" Alias="groupEdit.TitleLengthValidation.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A title shouldn't have more than {{0}} chars</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>