<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df1a4465-646a-4b2a-a369-e3027c5c1e78" Alias="GroupDocuments.Delete.ConfirmCancel.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Cancel</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>