<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="05f0255e-a7b2-4501-a05a-dcdc0b9f1a3b" Alias="GroupCreate.GroupTitle.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Group title</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>