<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b3fdab2c-b37e-48f4-af87-2674fc5727d7" Alias="GroupCreate.Description.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Description</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>