<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="458dcf3b-ee6c-417c-bb3e-e237bcae4616" Alias="GroupInfo.Subscribe.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Subscribe</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>