<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="05d365bc-77a5-4cde-9fc0-d9f77416935b" Alias="GroupMembers.Delete.Confirm.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Confirm</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>