<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68683130-1917-4e87-8bdb-008d966c6dc9" Alias="GroupMembers.Table.GroupAdmin.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Admin 1</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>