<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e1a4e997-2295-4d2b-ba32-1378921aead8" Alias="GroupEdit.Description.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Description</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>