<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="44707a5c-933e-4633-952e-2786d6fc6d9a" Alias="LatestActivities.SeeAll.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">See all</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>