<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4105c9ce-5f3c-443d-b0e8-e42bda01d3d6" Alias="LeftNavigationUserMenu.ViewProfile.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">View profile</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>