<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d1321583-a9b4-4cef-9f6c-bba3997b75b6" Alias="LeftNavigationUserMenu.Logout.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Logout</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>