<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="09d88004-d39e-4846-9196-ddbace432f55" Alias="LightboxGallery.Count.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">File(s) added</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>