<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="efc460b4-892b-4e7e-ab63-e14421f0f78b" Alias="LightboxGallery.AttachedDocuments.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Attached documents:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>