<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="737fde67-bb4f-49ec-8365-5a843dc9214b" Alias="LightboxGallery.Count.Many.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Files added</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>