<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55ae7f26-be0c-4df4-9f43-0c7779d01795" Alias="LightboxGallery.AttachedFiles.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Attached files</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>