<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef773cc8-e4fc-4c07-bd06-8af5d08bdcd9" Alias="LightboxGallery.Count.One.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">File added</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>