<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="38680808-c938-4892-85c3-0c49238beac2" Alias="Likes.ReadonlyClick.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Likes</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>