<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83a1f624-53aa-4d9c-a984-b45c937e3c4c" Alias="Likes.ReadonlyClick.Message.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Only subscribed person can like activity in the group</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>