<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="60f753ea-e03f-413a-92ba-c6bacab6164f" Alias="LocationInputPlaceholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Enter a location</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>