<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="596fd6a0-4b36-42f8-8715-07fadc74ad84" Alias="Login.ErrorWhenGenerateNewCredentials.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">You cannot generate new credentials at the moment. Please, try after 30 sec.</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>