<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4e6de529-36cb-4393-9995-407eb29aa554" Alias="Login.CreateNewCredentials.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Generate new</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>