<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="97276403-da11-46c2-8b87-cf551b519f34" Alias="Login.VersionIdentificatorPrefix.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">v</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>