<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0d1e6f80-6fa6-4f41-84e2-f857c6b0b48f" Alias="Login.PleaseUseNextCredentialsToLogin.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Please use next credentials to login:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>