<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b799d2ce-59f9-43e9-9ba1-1ae3060627ec" Alias="MailchimpPanel.AllTopics" Level="2">
  <Info>
    <Parent>MailchimpPanel</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All topics</Translation>
  </Translations>
</Dictionary>