<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d4ce7b05-fc61-41d2-a147-d10c692198ac" Alias="MailchimpPanel.PrivacyPolicyLabel" Level="2">
  <Info>
    <Parent>MailchimpPanel</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Privacy policy</Translation>
  </Translations>
</Dictionary>