<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b622d3e-134e-4c0b-b441-3428ef0f8dca" Alias="NewsEdit.Description.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Description</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>