<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="008e62eb-38f7-487b-8f00-3bdd289101cf" Alias="NewsEditPage.PublishDateRequired.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A publishing date is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>