<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df5070a9-6452-4354-804d-2d0f7d44a0df" Alias="NewsCreate.Description.lbl" Level="1">
  <Info>
    <Parent>News</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">News description</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>