<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="14d5ffea-1bae-4dc6-b4d8-315f14a7c9a4" Alias="NewsCreate.Title.lbl" Level="1">
  <Info>
    <Parent>News</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Title</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>