<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59d1603d-99fc-4290-a930-f96bc003504d" Alias="NewsItemView.Pinned.lbl" Level="1">
  <Info>
    <Parent>News</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Important</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>