<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ca0740bf-1e51-4f84-8483-a3f84feaaed0" Alias="NewsEdit.PinValidation.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Unpin date should be between the Publish date and the Unpublish date</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>