<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ea717e5f-1c5c-42c0-8fb5-822b9f8d5570" Alias="NewsEdit.TitleMaxLength.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">The title is must be shorter than {0} characters</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>