<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2db6813d-38ef-40dc-97d1-a18ba6bc4012" Alias="NewsCreatePage.Title.lbl" Level="1">
  <Info>
    <Parent>News</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">News</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>