<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="945c60de-53fa-4ac3-8084-a9a8aca4c0ba" Alias="NewsCreate.UploadFiles.lbl" Level="1">
  <Info>
    <Parent>News</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">File(s)</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>