<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2caf7f1f-a38a-4357-aa7f-9892eeae3f82" Alias="NewsCreate.Create.btn" Level="1">
  <Info>
    <Parent>News</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>