<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="afe43f7e-98cb-4793-8ad1-8f56fc1026e9" Alias="NewsEdit.DescriptionRequired.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">A description is required</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>