<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fd703fec-1a20-4a7f-a428-973559c21355" Alias="NotificationPreview.ShowAllNotifications.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">See all notifications</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>