<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="34ed3209-df71-4af6-9db4-30f0618e6935" Alias="Notifications.EmptyNotificationList.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">There are no notifications yet</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>