<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4fa81e63-ec97-4e7a-ab02-994aee1cba98" Alias="Notifications.Pinned.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Important</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>