<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9be88890-574e-4f28-8757-a8e500d0a5aa" Alias="PageLeaveAlert" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Are you sure? Changes you made may not be saved.</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>