<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="40e0ecdd-1318-4262-8905-a6533bd5663e" Alias="Pin.AcceptPinText.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Note: 
Enabling this will mark the post as "Important". It will be pinned to the top until you manually unpin it.
To automatically unpin the post set the date below, the psot will remain being marked "Important".</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>