<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83155e27-64b4-4e0d-a2c1-0656005f3ef6" Alias="Pin.SetPinned.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Pin post to top of feed</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>