<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1b439dbe-8efb-40f1-9def-c3e410b99b52" Alias="Pin.Activity.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Set as important</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>