<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="835e3e33-0faf-4ab7-a730-427ec15e780b" Alias="PopupNotification.OkBtn.Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Close</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>