<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="28f900d8-be0b-4375-8095-4241fb4efb9c" Alias="Profile.NotifierSettings.Confirmation.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Are you sure?</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>