<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ad3cd7d5-8b8e-4a1b-9ed7-9326c12c2632" Alias="Profile.EmailNotifications.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Notifications</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>