<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e63cd959-6e46-4ad6-a8da-30dc2bf2abcd" Alias="Profile.Overview.Email.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">E-mail:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>