<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="972c4339-256e-4cab-896b-4b5c17dce442" Alias="Profile.Overview.Department.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Department:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>