<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="53ad68e3-96cc-44b9-824e-ff86204550a5" Alias="Profile.Overview.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Profile</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>