<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5598a21-a6e5-405a-b0ce-59c52482a94f" Alias="Profile.FirstName.Placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Enter your first name</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>