<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b7236ec5-3363-4b7b-838c-85845f5d603e" Alias="Profile.EmailNotifications.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Send me email notifications</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>