<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f5a6fc37-c3ef-45a5-9b3f-a6d87963e683" Alias="Profile.Overview.Phone.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Phone:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>