<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="945f3a8a-a347-4445-900d-d0efeb992ae7" Alias="Profile.DeletePhotoConfirm.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Are you sure you want to remove this profile picture</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>