<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1c530e17-fa9d-4a42-b52b-bc4adc6adfdc" Alias="Profile.Department.Placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Department placeholder</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>