<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="52525430-72eb-450a-a0a7-f7be12864049" Alias="SearchBox.Empty.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Try to find something else</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>