<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b2956c9-5d4c-4dc2-9510-8562207dec73" Alias="SearchResult.Filter.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Search results based on:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>