<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5b6e751-3f2c-4a29-9a6a-72c4bb6c8cdb" Alias="SearchResult.YouSearchedFor.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">You searched for "{0}".</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>