<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ecdb769b-9140-4f34-a26e-29a36c4b71a7" Alias="Search.Filter.OnlyPinned.chkbx" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Show only pinned</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>