<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d252840-466e-4184-ae35-edee0686e28f" Alias="SearchResult.Search.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Search term</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>