<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e470143b-c93d-4ae1-a874-9e9a76b3861f" Alias="SearchResult.Count.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">We found {0} results!</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>