<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="65416726-dc7f-469a-8b3f-2d9bc0274445" Alias="SearchBox.SeeAll.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">See all search results</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>