<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="98fed203-4899-4325-84ad-3ec35acba84d" Alias="SocialCreate.HideTags.btn" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Remove all tags</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>