<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="439e27ed-1a84-406a-bd3e-2b525edfcf78" Alias="SocialsCreate.PopupPlaceholder.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Write a message, post a photo or share a document</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>