<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="403c6666-0ebf-4e5e-84eb-7de628cfc565" Alias="SocialsEdit.Description.lbl" Level="1">
  <Info>
    <Parent>Bulletins</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Description</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>