<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e49e19e8-da50-419b-b209-a94df8b7080b" Alias="SubscribersOverView.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">List of subscribed users</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>