<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a79e2ff-7fce-4a10-8a5a-43ff8d3bf349" Alias="SubscribeView.NotificationIsEnabled.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Check to disable notifications</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>