<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d2b00e12-5238-4b34-9bf9-7297efee95ba" Alias="SubscribeView.NotificationIsDisabled.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Uncheck to enable notifications</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>