<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f0cde965-5c8a-40b3-92c0-5ca74d712b27" Alias="SubscribeView.Subscribe.lnk" Level="1">
  <Info>
    <Parent>DetailsView.Edit.lbl</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Subscribe</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>