<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8bb6849a-59ff-4f81-9655-17736c7195a3" Alias="SubscribeSettings.CanSubscribe.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Make it possible for people to subscribe to your event</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>