<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb446f43-504b-4207-87a8-ad812010d252" Alias="SubscribeView.Unsubscribe.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Unsubscribe</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>