<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9bd13c14-5c1d-4ac8-97bf-037898856fea" Alias="SubscribeSettings.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Event participation</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>