<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f2eee755-dcdd-46d0-8475-d37694e7913b" Alias="SubscribeSettings.SubscribeNotes.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Notes about the subscription, deadlines or any other suitable title</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>