<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f06e0d3f-d443-4c98-ad1f-88e334daa4ca" Alias="SystemLinks.Menu.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Shared Links</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>