<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9ca22aff-0ef8-4cda-8083-dd4df03eea84" Alias="TopNavigation.UintraDocumentationLink.lnk" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Uintra Help</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>