<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c82bb9fd-94c2-4f70-b264-bff29df50a36" Alias="TopNavigation.EditProfile.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Edit profile</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>