<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a6548ff1-00d6-4712-9bf8-fd459ae4c8ac" Alias="TopNavigation.MagicLink.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Umbraco magic is here, just click!</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>