<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="16eb254a-859b-4290-8104-2fc6955c30df" Alias="TopNavigation.LoginToUmbraco.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Login to Umbraco</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>