<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e86a8e6d-7cda-4421-8fa8-e4faab33d13d" Alias="UserList.Table.GroupMember.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Group Member</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>