<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e241f023-fbc0-4d92-9124-51eaab521b9b" Alias="UserTagsView.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">This activity is tagged</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>