<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59d4ce7c-1dc4-45c3-9b44-09eab2d7668a" Alias="UserList.Search.Placeholder.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Search for name, phone number, e-mail or anything else</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>