<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1cbafea0-5b19-444d-92fa-1640ee0ca1cf" Alias="UserTagsPicker.Placeholder.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Tags</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>