<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="43e0ca2f-89c6-47a8-82dc-cf5b30b37c6d" Alias="UserList.DetailsPopup.Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">profile</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>