<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="17b8bd12-8970-4646-8e97-005b905ad82e" Alias="UserList.Confirm.Delete.Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Are you sure?</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>