<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7ab4f2ca-ed66-4d6b-aec6-08409747d6d2" Alias="UserTagsPicker.AddTags.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Tag(s)</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>