<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="edbee09d-8acd-4939-a305-a0d1e8715472" Alias="UserList.Table.Department.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Department</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>