<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8635e16c-dbbb-4356-bff1-15d6d17ed597" Alias="UserList.Table.LoadMoreButton.Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Load More</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>