<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0c466219-8f1d-4ddb-9ec4-2ebc5c9ab02c" Alias="UserList.Table.GroupAdmin.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Group Admin</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>