<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4fb65482-5932-4834-ab9a-ed76d58c8bd9" Alias="UserList.DetailsPopup.Tags.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Tags subscription</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>