<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be570ae0-8465-4fd7-a964-6d9284f26e0a" Alias="UserListPanel.GroupPopUpTitle.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">People</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>