<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f3c8dd0e-cf6a-4994-a351-2054b6908fdc" Alias="UserList.Search.Title.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Search people</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>