<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="483cbaa3-f75a-45d8-844d-b5cd9be573d3" Alias="UserList.Table.EmptyResult.lbl" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">No results, try other keywords</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>