.content{
    padding:0;

    &__header{
        overflow:hidden;
        margin:0 0 20px;

        .content__btn{
            float:right;
        }
    }

    &__btn{
        background:#ccc;
        color:#333;
        padding:6px 9px 7px;
        display:inline-block;
        vertical-align:top;
        text-decoration:none;

        &:hover{
            text-decoration:underline;
        }
    }

    &__item{
        padding:0 20px;
        margin:0 -20px 50px;
        font-size:16px;
        color:#333;
        position:relative;

        &._isPinned{
            background:#eee;
            border:solid #ccc;
            border-width:1px 0;
            position:relative;
            padding:35px 20px 39px;
        }

        &-label{
            position:absolute;
            top:6px;
            right:0;
            background:#dd0a2d;
            color:#fff;
            text-transform:uppercase;
            font:bold 13px/15px Arial, Helvetica, sans-serif;
            padding:6px 10px 8px;
            display:none;

            ._isPinned &{
                display:block;
            }
        }

        &-heading{
            margin:0 0 11px;
            font-size:13px;
            display:flex;

            ._details &{
                margin:0 0 22px;
            }
        }

        &-avatar{
            width:60px;
            min-width:60px;
            height:60px;
            margin:0 20px 3px 0;
            position:relative;
            overflow:hidden;
            border:1px solid #ccc;

            &-img{
                position:absolute;
                top:50%;
                left:50%;
                height:auto !important;
                transform: translate(-50%, -50%);
            }
        }

        &-title-holder{
            padding:0;
        }

        &-title{
            font:bold 18px/22px Arial, Helvetica, sans-serif;
            margin:-5px 0 5px;

            &-link{
                color:#333;

                &:hover,
                &:focus,
                &:active{
                    color:#333;
                }
            }
        }

        &-meta{
            margin:0;
        }

        &-location{
            padding:0 0 0 23px;

            &-link,
            &-link:hover,
            &-link:active,
            &-link:focus{
                color:#444;
            }
        }

        &-img{
            margin:17px 0 16px;
        }

        &-info{
            color:#333;
        }

        &-txt{
            margin:0 0 -5px;

            p{
                margin:0 0 22px;
            }

            b,
            strong,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight:bold;
            }

            &._clamp{
                max-height:118px;
                overflow:hidden;
                margin:0;
                padding:0 0 18px;
                position:relative;

                > p:last-child{
                    margin-bottom:0;
                }

                &::after{
                    position:absolute;
                    left:0;
                    right:0;
                    bottom:0;
                    height:23px;
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
                    content: '';
                }
            }
        }

        &-print{
            float:right;
        }

        &-images{

            &-list{
                margin:0 0 19px -26px;
                padding:0;
                list-style:none;
                letter-spacing:-4px;

                &-item{
                    float:left;
                    vertical-align:top;
                    letter-spacing:0;
                    padding:0 0 10px 26px;
                    max-width:33.3%;
                    position:relative;
                }

                &-image{
                    max-width:100%;
                }
            }

            &-remove{
                position:absolute;
                top:-10px;
                right:-10px;
                width:25px;
                height:25px;
                text-align:center;
                border-radius:50%;
                background:#fff;
                box-shadow:0 0 5px rgba(0,0,0,0.5);
                cursor:pointer;

                .icon-close{
                    font-weight:bold;
                    font-size:18px;
                    line-height:25px;
                    color:#333;
                }
            }
        }

        &-feed{
            font-size:13px;
            margin: 0 0 25px;
        }

        &-like,
        &-comment{
            margin: 0 10px 0 0;
            display:inline-block;
            vertical-align:top;
            position:relative;

            &-link{
                color: #b2b2b2;

                .content__item-like:hover &,
                &:hover{
                    text-decoration:none;
                    color:#333;
                }

                &._isLiked{
                    color:#333;
                }
            }

            .icon-like,
            .icon-comment{
                font-size:16px;
                margin:0 7px 0 0;
                vertical-align:top;
            }

            .icon-comment{
                vertical-align:middle;
            }

            &-set{
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                text-indent:-9999px;
                overflow:hidden;

                a{
                    display:block;
                }
            }

            &-popup{
                position:absolute;
                top:100%;
                left:0;
                width:200px;
                margin:0 0 0 -10px;
                background:rgba(0,0,0,0.8);
                border-radius:5px;
                color:#fff;
                opacity:0;
                z-index:-1;
                transition:opacity ease-in 200ms 200ms;
                padding:5px 10px 0;

                .content__item-like:hover &{
                    opacity:1;
                    z-index:999;
                }
            }
        }

        &-subscribe {
            display:inline-block;
            vertical-align:top;
            margin:-3px 0 30px 20px;

            @media (max-width:900px;){
                display:block;
                margin:15px 0 0;
            }

            &-set{
                display:inline-block;
                vertical-align:top;
                margin:0 16px 0 0;
            }

            &-label{
                display:inline-block;
                vertical-align:top;
                margin:4px 0 0;
                color:#dd0a2d;
                font-size:12px;

                .check {
                    margin: 0;
                }
            }

            &-btn{
                display:inline-block;
                border: 1px solid #e3e3e3;
                padding:7px 10px 8px 33px;
                font: 12px/14px Arial, Helvetica, sans-serif;
                text-transform:uppercase;
                position:relative;
                color:#333;
                vertical-align:top;

                &:before{
                    font-family:icomoon;
                    position:absolute;
                    top:7px;
                    left:11px;
                }

                &:hover{
                    color:#333;
                }

                &._subscribe{
                    &:before{
                        font-size:10px;
                        content:'\e903';
                    }
                }

                &._unsubscribe{
                    &:before{
                        font-size:14px;
                        content:'\e907';
                    }
                }
            }
        }
    }

    &__loader{
        position:fixed;
        top:140px;
        left:250px;
        width:50%;
        max-width:100%;
        bottom:0;
        background-color:rgba(255,255,255,0.5);
        font-size:0;
        line-height:0;
        z-index:10;

        &:before{
            position:absolute;
            top:150px;
            left:50%;
            content:url(./loader.gif);
            width:64px;
            height:64px;
            margin:0 0 0 -32px;
        }
    }
}
