<div class="groups-managment" ng-controller="groupsController as gc">
    <div>
        <div>
            <label for="showHidden">Show hidden</label>
            <input id="showHidden" type="checkbox" ng-model="gc.showHidden" ng-change="gc.showHiddenChanged()" />
        </div>
        <div>
            <input type="text" ng-model="$$filter" placeholder="Search..." />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a ng-click="gc.sort(gc.sortFields.title)" ng-class="gc.getSortClass(gc.sortFields.title)">Title</a>
                </th>
                <th>
                    <a ng-click="gc.sort(gc.sortFields.createDate)" ng-class="gc.getSortClass(gc.sortFields.createDate)">Create Date</a>
                </th>
                <th>
                    <a ng-click="gc.sort(gc.sortFields.creator)" ng-class="gc.getSortClass(gc.sortFields.creator)">Creator</a>
                </th>
                <th>
                    <a ng-click="gc.sort(gc.sortFields.updateDate)" ng-class="gc.getSortClass(gc.sortFields.updateDate)">Update Date</a>
                </th>
                <th>Link</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in gc.itemsList | filter:$$filter track by item.id" ng-class="{'_hidden' : item.isHidden}">
                <td>{{item.title}}</td>
                <td>{{item.createDate | date: vm.dateFormat}}</td>
                <td>{{item.creatorName}}</td>
                <td>{{item.updateDate | date: vm.dateFormat}}</td>
                <td>
                    <a href="{{item.link}}" target="_blank" style="color: #DD0A2D">Open group</a>
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Deactivate" ng-hide="item.isHidden" ng-click="gc.hide(item)" />
                    <input type="button" class="btn btn-success" value="Activate" ng-show="item.isHidden" ng-click="gc.show(item)" />
                </td>
            </tr>
        </tbody>
    </table>
    <umb-overlay ng-if="gc.confirmOverlay.show" model="gc.confirmOverlay" position="center" class="confirm-overlay"></umb-overlay>
</div>