<?xml version="1.0" encoding="utf-8"?>
<socialDetailsPage Key="6b91ed95-f0f5-4854-878c-b1dcbb4dab31" Alias="Bulletin Details" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/BulletinDetails</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Bulletin Details">
      <Name Culture="en-us">Bulletin Details</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <behaviour>
      <Value Culture="en-us">full-content</Value>
    </behaviour>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "likesPanel",
      "order": 0,
      "properties": []
    },
    {
      "contentTypeAlias": "commentsPanel",
      "order": 1,
      "properties": []
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <theme>
      <Value Culture="en-us">{
  "alias": "default-theme",
  "textColor": "#333333",
  "backgroundColor": "#ffffff",
  "titleColor": "#000000",
  "buttonColor": "#083959"
}</Value>
    </theme>
  </Properties>
</socialDetailsPage>