<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="bd3e2fa6-0717-4369-b96e-92178e53e84a" Alias="Comments One" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/CommentsOne</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Comments One">
      <Name Culture="en-us">Comments One</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript />
    <footerLocalScript />
    <headerLocalScript />
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription />
    <metaTitle />
    <navigationTitle />
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "commentsPanel",
      "order": 0,
      "properties": []
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <socialDescription />
    <socialImage />
    <socialTitle />
    <title>
      <Value Culture="en-us">Comments One</Value>
    </title>
  </Properties>
</articlePage>