<?xml version="1.0" encoding="utf-8"?>
<socialCreatePage Key="03b9c0e4-e0e4-4ffb-8881-ab7d3740c170" Alias="Create Social" Level="3">
  <Info>
    <Parent Key="da40c67b-727d-45ce-8419-c4df5e62dc5c">Socials</Parent>
    <Path>/Home/Socials/CreateSocial</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Create Social">
      <Name Culture="en-us">Create Social</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
  </Properties>
</socialCreatePage>