<?xml version="1.0" encoding="utf-8"?>
<eventCreatePage Key="a0a6cc9b-3a3e-446e-b184-0110183570ac" Alias="Create Event" Level="3">
  <Info>
    <Parent Key="05d9d803-7d4c-4ab7-8771-56ee290da150">Events</Parent>
    <Path>/Home/Events/CreateEvent</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Create Event">
      <Name Culture="en-us">Create Event</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
  </Properties>
</eventCreatePage>