<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="36c0a56b-2557-402f-9eb0-f0bb962c9dfa" Alias="DDDDDDDDDDDD" Level="4">
  <Info>
    <Parent Key="7a15bc40-9c06-4bfb-b850-d1de8605be49">333</Parent>
    <Path>/Home/Article//DDDDDDDDDDDD</Path>
    <Trashed>false</Trashed>
    <NodeName Default="DDDDDDDDDDDD">
      <Name Culture="en-us">DDDDDDDDDDDD</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript>
      <Value Culture="en-us"></Value>
    </bodyLocalScript>
    <footerLocalScript>
      <Value Culture="en-us"></Value>
    </footerLocalScript>
    <headerLocalScript>
      <Value Culture="en-us"></Value>
    </headerLocalScript>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription>
      <Value Culture="en-us"></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"></Value>
    </metaTitle>
    <microdata>
      <Value Culture="en-us"></Value>
    </microdata>
    <navigationTitle>
      <Value Culture="en-us"></Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "documentLibraryPanel",
      "order": 0,
      "properties": [
        {
          "alias": "title",
          "value": "dqwq",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "richTextEditor",
          "value": "&lt;p&gt;DWQdwqW wefweafwea &lt;a href=\"/{localLink:umb://document/19a7e2239e9d467b91946c8c4c26e193}\" title=\"(Home)\"&gt;fawe&lt;/a&gt; fwaef aweaf wef wef&lt;/p&gt;\n&lt;div id=\"gtx-trans\" style=\"position: absolute; left: 191px; top: 30px;\"&gt;\n&lt;div class=\"gtx-trans-icon\"&gt;&lt;/div&gt;\n&lt;/div&gt;",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "pageSize",
          "value": 4,
          "propertyEditorAlias": "Umbraco.Integer"
        },
        {
          "alias": "linkText",
          "value": [
            {
              "name": "Profile",
              "udi": "umb://document/9ab79d36b70144148d2ca531d7de9992",
              "url": "/profile/",
              "icon": "icon-umb-members color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "link",
          "value": [
            {
              "name": "(222)",
              "udi": "umb://document/ab9bde83ffb8441387d945d5ca64eb6a",
              "url": "/article/222/",
              "icon": "icon-article color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "listOrder",
          "value": "Vertical",
          "propertyEditorAlias": "Umbraco.RadioButtonList"
        },
        {
          "alias": "mediaLibrary",
          "value": "umb://media/13202a5005944307ab60398feb08cc22,umb://media/651da1e1c3234c70bc0cdfce8c71e487,umb://media/90bba322e7404b378b77f7f5b1ab39b3,umb://media/f74bf9b9e83b4c79a73c492eaecca79f,umb://media/103517faeb744726a0900676c730c830",
          "propertyEditorAlias": "Umbraco.MediaPicker"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    },
    {
      "contentTypeAlias": "documentLibraryPanel",
      "order": 1,
      "properties": [
        {
          "alias": "title",
          "value": "AWFAWEF",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "richTextEditor",
          "value": "&lt;p&gt;DWQdwqW &lt;a href=\"/{localLink:umb://document/19a7e2239e9d467b91946c8c4c26e193}\" title=\"(Home)\"&gt;wefweafwea&lt;/a&gt; fawe fwaef aweaf wef wef&lt;/p&gt;\n&lt;div id=\"gtx-trans\" style=\"position: absolute; left: 155px; top: -18px;\"&gt;\n&lt;div class=\"gtx-trans-icon\"&gt;&lt;/div&gt;\n&lt;/div&gt;",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "pageSize",
          "value": 3,
          "propertyEditorAlias": "Umbraco.Integer"
        },
        {
          "alias": "linkText",
          "value": [
            {
              "name": "(Create Event)",
              "udi": "umb://document/a0a6cc9b3a3e446eb1840110183570ac",
              "url": "/events/create-event/",
              "icon": "icon-add color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "link",
          "value": [
            {
              "name": "(Home)",
              "udi": "umb://document/19a7e2239e9d467b91946c8c4c26e193",
              "url": "/",
              "icon": "icon-home color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "listOrder",
          "value": "Vertical",
          "propertyEditorAlias": "Umbraco.RadioButtonList"
        },
        {
          "alias": "mediaLibrary",
          "value": "umb://media/737abd68c3c44206a5a27a71d563f796,umb://media/118de6313d924ec0992f3b9c9949ee5c,umb://media/038755ddf5034f2fa12325f3bbeb3910,umb://media/21e6aad0f4444c8b927174168f8bd726,umb://media/af2a35a8520443e98cf65d767a506046,umb://media/e8b3df6a72dc4d74b39e8af09e9c402e,umb://media/26a2e4875c6546629706f54f0e116b5e",
          "propertyEditorAlias": "Umbraco.MediaPicker"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "blue-theme",
            "textColor": "#ffffff",
            "backgroundColor": "#083959",
            "titleColor": "#ffffff",
            "buttonColor": "#ffffff"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <rightColumnPanels>
      <Value>{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </rightColumnPanels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <socialDescription>
      <Value Culture="en-us"></Value>
    </socialDescription>
    <socialImage>
      <Value Culture="en-us"></Value>
    </socialImage>
    <socialTitle>
      <Value Culture="en-us"></Value>
    </socialTitle>
    <title>
      <Value Culture="en-us">DDDDDDDDDDDDD</Value>
    </title>
    <utmConfiguration>
      <Value>{
  "isEnabled": false,
  "parameters": []
}</Value>
    </utmConfiguration>
  </Properties>
</articlePage>