<?xml version="1.0" encoding="utf-8"?>
<eventDetailsPage Key="d6db27b4-48db-487e-9ae2-348d6377ca45" Alias="Details Event" Level="3">
  <Info>
    <Parent Key="05d9d803-7d4c-4ab7-8771-56ee290da150">Events</Parent>
    <Path>/Home/Events/DetailsEvent</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Details Event">
      <Name Culture="en-us">Details Event</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
  </Properties>
</eventDetailsPage>