<?xml version="1.0" encoding="utf-8"?>
<socialDetailsPage Key="ed31e846-a747-4a43-a61b-bc2ddfe150b1" Alias="Details Social" Level="3">
  <Info>
    <Parent Key="da40c67b-727d-45ce-8419-c4df5e62dc5c">Socials</Parent>
    <Path>/Home/Socials/DetailsSocial</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Details Social">
      <Name Culture="en-us">Details Social</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <behaviour>
      <Value Culture="en-us">full-content</Value>
    </behaviour>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "likesPanel",
      "order": 0,
      "properties": []
    },
    {
      "contentTypeAlias": "commentsPanel",
      "order": 1,
      "properties": []
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <theme>
      <Value Culture="en-us">{
  "alias": "default-theme",
  "textColor": "#333333",
  "backgroundColor": "#ffffff",
  "titleColor": "#000000",
  "buttonColor": "#083959"
}</Value>
    </theme>
  </Properties>
</socialDetailsPage>