<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="cefbb9c1-6eda-4f29-9e21-42e86a1e4c2f" Alias="Documents" Level="3">
  <Info>
    <Parent Key="266821d3-a1cb-4b04-8a57-0303b2eca197">Article</Parent>
    <Path>/Home/Article/Documents</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Documents">
      <Name Culture="en-us">Documents</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript>
      <Value Culture="en-us"></Value>
    </bodyLocalScript>
    <footerLocalScript>
      <Value Culture="en-us"></Value>
    </footerLocalScript>
    <headerLocalScript>
      <Value Culture="en-us"></Value>
    </headerLocalScript>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription>
      <Value Culture="en-us"></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"></Value>
    </metaTitle>
    <microdata>
      <Value Culture="en-us"></Value>
    </microdata>
    <navigationTitle>
      <Value Culture="en-us">Documents</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "linksPanel",
      "order": 0,
      "properties": [
        {
          "alias": "title",
          "value": "grgwrgesrger",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "links",
          "value": [
            {
              "name": "(Socials)",
              "udi": "umb://document/da40c67b727d45ce8419c4df5e62dc5c",
              "url": "/socials/",
              "icon": "icon-notepad color-green",
              "published": true,
              "trashed": false
            },
            {
              "name": "(Home)",
              "udi": "umb://document/19a7e2239e9d467b91946c8c4c26e193",
              "url": "/",
              "icon": "icon-home color-green",
              "published": true,
              "trashed": false
            },
            {
              "name": "(Search)",
              "udi": "umb://document/e69e7136d922487ca9a38a16d3b33c9b",
              "url": "/search/",
              "icon": "icon-search color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "pink-theme",
            "textColor": "#333333",
            "backgroundColor": "#fadddc",
            "titleColor": "#000000",
            "buttonColor": "#261d43"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-browser",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    },
    {
      "contentTypeAlias": "textPanel",
      "order": 1,
      "properties": [
        {
          "alias": "description",
          "value": "&lt;p&gt;test&lt;/p&gt;",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "link",
          "value": [
            {
              "name": "(Home)",
              "udi": "umb://document/19a7e2239e9d467b91946c8c4c26e193",
              "url": "/",
              "icon": "icon-home color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    },
    {
      "contentTypeAlias": "faqPanel",
      "order": 2,
      "properties": [
        {
          "alias": "title",
          "value": "Chotki",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "description",
          "value": "&lt;p&gt;test&lt;/p&gt;",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "items",
          "value": [
            {
              "key": "3d37ded8-7657-409c-982b-64c2a4e6d77a",
              "name": "test",
              "ncContentTypeAlias": "fAQItem",
              "question": "test",
              "answer": "&lt;p&gt;test&lt;/p&gt;\n&lt;p&gt;&lt;a href=\"/{localLink:umb://document/266821d3a1cb4b048a570303b2eca197}\" title=\"(Article)\"&gt;test link&lt;/a&gt;&lt;/p&gt;\n&lt;p&gt;&lt;a rel=\"noopener\" href=\"https://google.com\" target=\"_blank\"&gt;test external link&lt;/a&gt;&lt;/p&gt;\n&lt;div id=\"gtx-trans\" style=\"position: absolute; left: -38px; top: 53px;\"&gt;\n&lt;div class=\"gtx-trans-icon\"&gt;&lt;/div&gt;\n&lt;/div&gt;",
              "anchor": ""
            },
            {
              "key": "751b1ef8-3df9-4fc6-a948-12ace954536f",
              "name": "testtest",
              "ncContentTypeAlias": "fAQItem",
              "question": "testtest",
              "answer": "&lt;p&gt;Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Vivamus aliquet elit ac nisl. Aliquam lobortis.&lt;/p&gt;\n&lt;p&gt;Ut varius tincidunt libero. Phasellus blandit leo ut odio. Nullam quis ante.&lt;/p&gt;\n&lt;p&gt;Pellentesque posuere. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Maecenas vestibulum mollis diam.&lt;/p&gt;",
              "anchor": ""
            }
          ],
          "propertyEditorAlias": "Umbraco.NestedContent"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    },
    {
      "contentTypeAlias": "documentLibraryPanel",
      "order": 3,
      "properties": [
        {
          "alias": "title",
          "value": "Library",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "richTextEditor",
          "value": "&lt;p&gt;Library&lt;/p&gt;",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "pageSize",
          "value": "",
          "propertyEditorAlias": "Umbraco.Integer"
        },
        {
          "alias": "linkText",
          "value": [],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "link",
          "value": [],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "listOrder",
          "value": "Horizontal",
          "propertyEditorAlias": "Umbraco.RadioButtonList"
        },
        {
          "alias": "mediaLibrary",
          "value": "umb://media/6920150fe9bd40d88d076c29d999f865,umb://media/103517faeb744726a0900676c730c830,umb://media/f74bf9b9e83b4c79a73c492eaecca79f,umb://media/6920150fe9bd40d88d076c29d999f865,umb://media/79dc4850368b43558e396ea7882c9ccf,umb://media/98b750c543d94964a95cd8d407450f42",
          "propertyEditorAlias": "Umbraco.MediaPicker"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    },
    {
      "contentTypeAlias": "documentLibraryPanel",
      "order": 4,
      "properties": [
        {
          "alias": "title",
          "value": "Chotki",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "richTextEditor",
          "value": "",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "pageSize",
          "value": 2,
          "propertyEditorAlias": "Umbraco.Integer"
        },
        {
          "alias": "linkText",
          "value": [
            {
              "name": "Profile",
              "udi": "umb://document/9ab79d36b70144148d2ca531d7de9992",
              "url": "/profile/",
              "icon": "icon-umb-members color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "link",
          "value": [],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "listOrder",
          "value": "Vertical",
          "propertyEditorAlias": "Umbraco.RadioButtonList"
        },
        {
          "alias": "mediaLibrary",
          "value": "umb://media/90bba322e7404b378b77f7f5b1ab39b3,umb://media/f74bf9b9e83b4c79a73c492eaecca79f,umb://media/103517faeb744726a0900676c730c830,umb://media/6920150fe9bd40d88d076c29d999f865,umb://media/79dc4850368b43558e396ea7882c9ccf,umb://media/1b7cf35373cc48b0aa5917f2e38ed57d,umb://media/98b750c543d94964a95cd8d407450f42",
          "propertyEditorAlias": "Umbraco.MediaPicker"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <rightColumnPanels>
      <Value>{
  "localPanels": [
    {
      "contentTypeAlias": "linksPanel",
      "order": 0,
      "properties": [
        {
          "alias": "title",
          "value": "sdveafvwaef",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "links",
          "value": [
            {
              "name": "(Home)",
              "udi": "umb://document/19a7e2239e9d467b91946c8c4c26e193",
              "url": "/",
              "icon": "icon-home color-green",
              "published": true,
              "trashed": false
            },
            {
              "name": "(News)",
              "udi": "umb://document/cc1bebcceec24d9fa023d16c57cfa85e",
              "url": "/news/",
              "icon": "icon-newspaper-alt color-green",
              "published": true,
              "trashed": false
            }
          ],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "anchor",
          "value": "",
          "propertyEditorAlias": "UBaseline.AnchorField"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "blue-theme",
            "textColor": "#ffffff",
            "backgroundColor": "#083959",
            "titleColor": "#ffffff",
            "buttonColor": "#ffffff"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "utmConfiguration",
          "value": {
            "isVisible": true,
            "parameters": []
          },
          "propertyEditorAlias": "UBaseline.UtmConfiguration.Panel"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </rightColumnPanels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <socialDescription>
      <Value Culture="en-us"></Value>
    </socialDescription>
    <socialImage>
      <Value Culture="en-us"></Value>
    </socialImage>
    <socialTitle>
      <Value Culture="en-us"></Value>
    </socialTitle>
    <title>
      <Value Culture="en-us">Documents</Value>
    </title>
    <utmConfiguration>
      <Value>{
  "isEnabled": false,
  "parameters": []
}</Value>
    </utmConfiguration>
  </Properties>
</articlePage>