<?xml version="1.0" encoding="utf-8"?>
<eventEditPage Key="ba72514b-c53f-4fb9-a95a-45f7f3f9b8af" Alias="Edit Event" Level="3">
  <Info>
    <Parent Key="05d9d803-7d4c-4ab7-8771-56ee290da150">Events</Parent>
    <Path>/Home/Events/EditEvent</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Edit Event">
      <Name Culture="en-us">Edit Event</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
  </Properties>
</eventEditPage>