<?xml version="1.0" encoding="utf-8"?>
<sharedLinkItem Key="5469746f-d518-44a3-9ba1-aa0b9c0b45d4" Alias="empty" Level="4">
  <Info>
    <Parent Key="605b1897-96b8-4e96-8846-14be2197e663">Shared Links</Parent>
    <Path>/Home/Data/SharedLinks/empty</Path>
    <Trashed>false</Trashed>
    <NodeName Default="empty" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <links />
    <linksGroupTitle>
      <Value>empty</Value>
    </linksGroupTitle>
    <sort>
      <Value>2</Value>
    </sort>
  </Properties>
</sharedLinkItem>