<?xml version="1.0" encoding="utf-8"?>
<forbiddenPage Key="7110bec7-240a-42dd-b37e-39dd6bd074a0" Alias="Forbidden" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/Forbidden</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Forbidden" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <panels>
      <Value>{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
  </Properties>
</forbiddenPage>