<?xml version="1.0" encoding="utf-8"?>
<uintraGroupsMembersPage Key="5592b977-bd29-4432-8bd0-880244857548" Alias="Group Members" Level="4">
  <Info>
    <Parent Key="2e41d462-c298-4aaf-a64f-cfbcf7e5d6c9">Group Room</Parent>
    <Path>/Home/Groups/GroupRoom/GroupMembers</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Group Members">
      <Name Culture="en-us">Group Members</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <navigationTitle>
      <Value Culture="en-us">Group Members</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">0</Value>
    </showInMenu>
    <sortOrder />
  </Properties>
</uintraGroupsMembersPage>