<?xml version="1.0" encoding="utf-8"?>
<uintraGroupsPage Key="590955a7-90c9-4b5a-8552-ea99465102fd" Alias="Groups" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/Groups</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Groups">
      <Name Culture="en-us">Groups</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <navigationTitle>
      <Value Culture="en-us">Groups</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <sortOrder />
  </Properties>
</uintraGroupsPage>