<?xml version="1.0" encoding="utf-8"?>
<uintraGroupsCreatePage Key="dcaae056-1d7d-4c05-95b2-33f301d03176" Alias="Group Create" Level="3">
  <Info>
    <Parent Key="590955a7-90c9-4b5a-8552-ea99465102fd">Groups</Parent>
    <Path>/Home/Groups/GroupCreate</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Group Create">
      <Name Culture="en-us">Group Create</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <navigationTitle>
      <Value Culture="en-us">Create</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <sortOrder>
      <Value Culture="en-us">1</Value>
    </sortOrder>
  </Properties>
</uintraGroupsCreatePage>