<?xml version="1.0" encoding="utf-8"?>
<uintraGroupsEditPage Key="88da13a0-8ee9-4d8c-a14a-f04baa1aa663" Alias="Group Settings" Level="4">
  <Info>
    <Parent Key="2e41d462-c298-4aaf-a64f-cfbcf7e5d6c9">Group Room</Parent>
    <Path>/Home/Groups/GroupRoom/GroupSettings</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Group Settings">
      <Name Culture="en-us">Group Settings</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <navigationTitle>
      <Value Culture="en-us">Settings</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">0</Value>
    </showInMenu>
    <sortOrder />
  </Properties>
</uintraGroupsEditPage>