<?xml version="1.0" encoding="utf-8"?>
<groupsDocumentsPage Key="53290f67-627d-4d10-af2f-b65ca2897aca" Alias="Group Documents" Level="4">
  <Info>
    <Parent Key="2e41d462-c298-4aaf-a64f-cfbcf7e5d6c9">Group Room</Parent>
    <Path>/Home/Groups/GroupRoom/GroupDocuments</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Group Documents">
      <Name Culture="en-us">Group Documents</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <navigationTitle>
      <Value Culture="en-us"></Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">0</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">0</Value>
    </showInSubMenu>
  </Properties>
</groupsDocumentsPage>