<?xml version="1.0" encoding="utf-8"?>
<uintraGroupsRoomPage Key="2e41d462-c298-4aaf-a64f-cfbcf7e5d6c9" Alias="Group Room" Level="3">
  <Info>
    <Parent Key="590955a7-90c9-4b5a-8552-ea99465102fd">Groups</Parent>
    <Path>/Home/Groups/GroupRoom</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Group Room">
      <Name Culture="en-us">Group Room</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <navigationTitle>
      <Value Culture="en-us">Room</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "activityCreatePanel",
      "order": 0,
      "properties": [
        {
          "alias": "tabType",
          "value": [
            "Social"
          ],
          "propertyEditorAlias": "Umbraco.DropDown.Flexible"
        }
      ]
    },
    {
      "contentTypeAlias": "centralFeedPanel",
      "order": 1,
      "properties": [
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "tabType",
          "value": [
            "All"
          ],
          "propertyEditorAlias": "Umbraco.DropDown.Flexible"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        },
        {
          "alias": "itemsPerRequest",
          "value": "",
          "propertyEditorAlias": "Umbraco.Integer"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">0</Value>
    </showInMenu>
    <sortOrder>
      <Value Culture="en-us"></Value>
    </sortOrder>
  </Properties>
</uintraGroupsRoomPage>