<?xml version="1.0" encoding="utf-8"?>
<headingPage Key="10c7f972-e834-41eb-878c-b1cd59a8f0de" Alias="Heading 1" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/Heading1</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Heading 1">
      <Name Culture="en-us">Heading 1</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <navigationTitle>
      <Value Culture="en-us">Heading 1</Value>
    </navigationTitle>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
  </Properties>
</headingPage>