<?xml version="1.0" encoding="utf-8"?>
<homePage Key="19a7e223-9e9d-467b-9194-6c8c4c26e193" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyScript>
      <Value Culture="en-us"></Value>
    </bodyScript>
    <cookieDisclaimerDescription>
      <Value Culture="en-us"></Value>
    </cookieDisclaimerDescription>
    <cookieDisclaimerTitle>
      <Value Culture="en-us"></Value>
    </cookieDisclaimerTitle>
    <footerScript>
      <Value Culture="en-us"></Value>
    </footerScript>
    <headerScript>
      <Value Culture="en-us"></Value>
    </headerScript>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription>
      <Value Culture="en-us">dfghdf</Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us">dfghdg</Value>
    </metaTitle>
    <navigationTitle>
      <Value Culture="en-us">Home</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "activityCreatePanel",
      "order": 0,
      "properties": [
        {
          "alias": "tabType",
          "value": [
            "Social"
          ],
          "propertyEditorAlias": "Umbraco.DropDown.Flexible"
        }
      ]
    },
    {
      "contentTypeAlias": "centralFeedPanel",
      "order": 1,
      "properties": [
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "tabType",
          "value": [
            "All"
          ],
          "propertyEditorAlias": "Umbraco.DropDown.Flexible"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        }
      ]
    },
    {
      "contentTypeAlias": "latestActivitiesPanel",
      "order": 2,
      "properties": [
        {
          "alias": "title",
          "value": "Title",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "teaser",
          "value": "&lt;p&gt;Teaser&lt;/p&gt;",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "activityType",
          "value": {
            "id": 0,
            "name": "All"
          },
          "propertyEditorAlias": "availableActivitySelector"
        },
        {
          "alias": "countToDisplay",
          "value": "5",
          "propertyEditorAlias": "Umbraco.Slider"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <siteTitle>
      <Value Culture="en-us"></Value>
    </siteTitle>
    <socialDescription>
      <Value Culture="en-us">hdghd</Value>
    </socialDescription>
    <socialImage>
      <Value Culture="en-us"></Value>
    </socialImage>
    <socialTitle>
      <Value Culture="en-us">dfghdg</Value>
    </socialTitle>
    <title>
      <Value Culture="en-us">Home</Value>
    </title>
  </Properties>
</homePage>