<?xml version="1.0" encoding="utf-8"?>
<homePage Key="19a7e223-9e9d-467b-9194-6c8c4c26e193" Alias="Home" Level="2">
  <Info>
    <Parent Key="4cf231e7-8bbd-47df-81e0-f676af0bea49">Login</Parent>
    <Path>/Login/Home</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyScript>
      <Value Culture="en-us"></Value>
    </bodyScript>
    <cookieDisclaimerDescription>
      <Value Culture="en-us"></Value>
    </cookieDisclaimerDescription>
    <cookieDisclaimerTitle>
      <Value Culture="en-us"></Value>
    </cookieDisclaimerTitle>
    <footerScript>
      <Value Culture="en-us"></Value>
    </footerScript>
    <headerScript>
      <Value Culture="en-us"></Value>
    </headerScript>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription>
      <Value Culture="en-us"></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"></Value>
    </metaTitle>
    <navigationTitle>
      <Value Culture="en-us"></Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "imagePanel",
      "order": 0,
      "properties": [
        {
          "alias": "image",
          "value": {
            "image": {
              "mediaId": 1286,
              "alt": "flowers",
              "crops": [
                {
                  "name": "desktop",
                  "alias": "desktop",
                  "width": 1920,
                  "height": 1080,
                  "media": ""
                }
              ],
              "focalPoint": {
                "left": 0.5,
                "top": 0.5
              }
            }
          },
          "propertyEditorAlias": "UBaseline.ImagePicker"
        },
        {
          "alias": "link",
          "value": [],
          "propertyEditorAlias": "Umbraco.MultiUrlPicker"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "blue-theme",
            "textColor": "#ffffff",
            "backgroundColor": "#083959",
            "titleColor": "#ffffff",
            "buttonColor": "#ffffff"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-browser",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <siteTitle>
      <Value Culture="en-us"></Value>
    </siteTitle>
    <socialDescription>
      <Value Culture="en-us"></Value>
    </socialDescription>
    <socialImage>
      <Value Culture="en-us"></Value>
    </socialImage>
    <socialTitle>
      <Value Culture="en-us"></Value>
    </socialTitle>
    <title>
      <Value Culture="en-us">Home</Value>
    </title>
  </Properties>
</homePage>