<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="e274db20-55f1-46b2-8c75-68af8b3316e6" Alias="left menu item2" Level="3">
  <Info>
    <Parent Key="f69593ef-06e1-4f71-a4c6-8f42fb1dc000">left menu item1</Parent>
    <Path>/Home/leftMenuItem1/leftMenuItem2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="left menu item2">
      <Name Culture="en-us">left menu item2</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript>
      <Value Culture="en-us"></Value>
    </bodyLocalScript>
    <footerLocalScript>
      <Value Culture="en-us"></Value>
    </footerLocalScript>
    <headerLocalScript>
      <Value Culture="en-us"></Value>
    </headerLocalScript>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription>
      <Value Culture="en-us"></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"></Value>
    </metaTitle>
    <navigationTitle>
      <Value Culture="en-us">left menu item2</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "articleStartPanel",
      "order": 0,
      "properties": [
        {
          "alias": "title",
          "value": "Article start title",
          "propertyEditorAlias": "Umbraco.TextBox"
        },
        {
          "alias": "description",
          "value": "&lt;p&gt;Article start description&lt;/p&gt;",
          "propertyEditorAlias": "Umbraco.TinyMCE"
        },
        {
          "alias": "theme",
          "value": {
            "alias": "default-theme",
            "textColor": "#333333",
            "backgroundColor": "#ffffff",
            "titleColor": "#000000",
            "buttonColor": "#083959"
          },
          "propertyEditorAlias": "UBaseline.PanelThemePicker"
        },
        {
          "alias": "behaviour",
          "value": "full-content",
          "propertyEditorAlias": "UBaseline.KeyValueRadioButtonList"
        }
      ]
    },
    {
      "contentTypeAlias": "userListPanel",
      "order": 1,
      "properties": []
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <socialDescription>
      <Value Culture="en-us"></Value>
    </socialDescription>
    <socialImage>
      <Value Culture="en-us"></Value>
    </socialImage>
    <socialTitle>
      <Value Culture="en-us"></Value>
    </socialTitle>
    <title>
      <Value Culture="en-us">left menu item2</Value>
    </title>
  </Properties>
</articlePage>