<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="9542cd65-e883-487b-9f32-e34acae9be43" Alias="left menu item5" Level="6">
  <Info>
    <Parent Key="0e29011b-c0fc-4855-b0b4-7b32853488d1">left menu item4</Parent>
    <Path>/Home/leftMenuItem1/leftMenuItem2/leftMenuItem3/leftMenuItem4/leftMenuItem5</Path>
    <Trashed>false</Trashed>
    <NodeName Default="left menu item5">
      <Name Culture="en-us">left menu item5</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript />
    <footerLocalScript />
    <headerLocalScript />
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription />
    <metaTitle />
    <navigationTitle>
      <Value Culture="en-us">left menu item5</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <socialDescription />
    <socialImage />
    <socialTitle />
    <title>
      <Value Culture="en-us">left menu item5</Value>
    </title>
  </Properties>
</articlePage>