<?xml version="1.0" encoding="utf-8"?>
<headingPage Key="f69593ef-06e1-4f71-a4c6-8f42fb1dc000" Alias="left menu item1" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/leftMenuItem1</Path>
    <Trashed>false</Trashed>
    <NodeName Default="left menu item1">
      <Name Culture="en-us">left menu item1</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <navigationTitle>
      <Value Culture="en-us">left menu item1</Value>
    </navigationTitle>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
  </Properties>
</headingPage>