<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="621d9119-79e8-4da7-846c-213d29438620" Alias="left menu item3" Level="4">
  <Info>
    <Parent Key="e274db20-55f1-46b2-8c75-68af8b3316e6">left menu item2</Parent>
    <Path>/Home/leftMenuItem1/leftMenuItem2/leftMenuItem3</Path>
    <Trashed>false</Trashed>
    <NodeName Default="left menu item3">
      <Name Culture="en-us">left menu item3</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript />
    <footerLocalScript />
    <headerLocalScript />
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription />
    <metaTitle />
    <navigationTitle>
      <Value Culture="en-us">left menu item3</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <socialDescription />
    <socialImage />
    <socialTitle />
    <title>
      <Value Culture="en-us">left menu item3</Value>
    </title>
  </Properties>
</articlePage>