<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="cf78cd04-b3ca-4669-acdd-044328231c7a" Alias="Likes Comments Test" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/LikesCommentsTest</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Likes Comments Test">
      <Name Culture="en-us">Likes Comments Test</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript />
    <footerLocalScript />
    <headerLocalScript />
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription />
    <metaTitle />
    <navigationTitle />
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "likesPanel",
      "order": 0,
      "properties": []
    },
    {
      "contentTypeAlias": "commentsPanel",
      "order": 1,
      "properties": []
    },
    {
      "contentTypeAlias": "activityCreatePanel",
      "order": 2,
      "properties": [
        {
          "alias": "tabType",
          "value": [
            "News"
          ],
          "propertyEditorAlias": "Umbraco.DropDown.Flexible"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <socialDescription />
    <socialImage />
    <socialTitle />
    <title>
      <Value Culture="en-us">Likes Comments Test</Value>
    </title>
  </Properties>
</articlePage>