<?xml version="1.0" encoding="utf-8"?>
<loginPage Key="4cf231e7-8bbd-47df-81e0-f676af0bea49" Alias="Login" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Login" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value>0</Value>
    </addToSitemap>
    <bodyLocalScript>
      <Value></Value>
    </bodyLocalScript>
    <bodyScript>
      <Value></Value>
    </bodyScript>
    <footerLocalScript>
      <Value></Value>
    </footerLocalScript>
    <footerScript>
      <Value></Value>
    </footerScript>
    <headerLocalScript>
      <Value></Value>
    </headerLocalScript>
    <headerScript>
      <Value></Value>
    </headerScript>
    <includeInSearch>
      <Value>0</Value>
    </includeInSearch>
  </Properties>
</loginPage>