<?xml version="1.0" encoding="utf-8"?>
<mailTemplatesFolder Key="3baedc8c-487d-499f-8d67-54ef5055c6ef" Alias="Mail Templates" Level="3">
  <Info>
    <Parent Key="4d330514-9c1d-47fc-abd3-c0ee4cbe3a99">Data</Parent>
    <Path>/Home/Data/MailTemplates</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Mail Templates">
      <Name Culture="en-us">Mail Templates</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties />
</mailTemplatesFolder>