<?xml version="1.0" encoding="utf-8"?>
<uintraMyGroupsPage Key="349a23e9-ac63-419d-a541-01fa2100a8ea" Alias="My Groups" Level="3">
  <Info>
    <Parent Key="590955a7-90c9-4b5a-8552-ea99465102fd">Groups</Parent>
    <Path>/Home/Groups/MyGroups</Path>
    <Trashed>false</Trashed>
    <NodeName Default="My Groups">
      <Name Culture="en-us">My Groups</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <navigationTitle>
      <Value Culture="en-us">My Groups</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
  </Properties>
</uintraMyGroupsPage>