<?xml version="1.0" encoding="utf-8"?>
<uintraNewsEditPage Key="e4eeb49c-3638-4d2e-9825-b1cfd8e34cd4" Alias="News Edit" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/NewsEdit</Path>
    <Trashed>false</Trashed>
    <NodeName Default="News Edit" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value>1</Value>
    </addToSitemap>
    <includeInSearch>
      <Value>1</Value>
    </includeInSearch>
    <panels>
      <Value>{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
  </Properties>
</uintraNewsEditPage>