<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="9d4b5e04-fa14-4823-b7ea-8f395cf1af09" Alias="News Create" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/NewsCreate</Path>
    <Trashed>false</Trashed>
    <NodeName Default="News Create">
      <Name Culture="en-us">News Create</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript>
      <Value Culture="en-us"></Value>
    </bodyLocalScript>
    <footerLocalScript>
      <Value Culture="en-us"></Value>
    </footerLocalScript>
    <headerLocalScript>
      <Value Culture="en-us"></Value>
    </headerLocalScript>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription>
      <Value Culture="en-us"></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"></Value>
    </metaTitle>
    <navigationTitle>
      <Value Culture="en-us"></Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [
    {
      "contentTypeAlias": "activityCreatePanel",
      "order": 0,
      "properties": [
        {
          "alias": "tabType",
          "value": [
            "News"
          ],
          "propertyEditorAlias": "Umbraco.DropDown.Flexible"
        }
      ]
    }
  ],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <socialDescription>
      <Value Culture="en-us"></Value>
    </socialDescription>
    <socialImage>
      <Value Culture="en-us"></Value>
    </socialImage>
    <socialTitle>
      <Value Culture="en-us"></Value>
    </socialTitle>
    <title>
      <Value Culture="en-us">News Create</Value>
    </title>
  </Properties>
</articlePage>