<?xml version="1.0" encoding="utf-8"?>
<uintraNewsOverviewPage Key="cc1bebcc-eec2-4d9f-a023-d16c57cfa85e" Alias="News" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <NodeName Default="News">
      <Name Culture="en-us">News</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties />
</uintraNewsOverviewPage>