<?xml version="1.0" encoding="utf-8"?>
<notificationsPage Key="9e6f03e3-1beb-4519-8549-31623e08de35" Alias="Notifications" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/Notifications</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Notifications" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <notificationsPopUpCount>
      <Value>4</Value>
    </notificationsPopUpCount>
    <title>
      <Value>Notification</Value>
    </title>
  </Properties>
</notificationsPage>