<?xml version="1.0" encoding="utf-8"?>
<profileEditPage Key="d2767ebc-ada7-4653-b123-172d9e52d42e" Alias="Profile Edit" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/ProfileEdit</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Profile Edit" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value>1</Value>
    </addToSitemap>
    <behaviour>
      <Value>full-content</Value>
    </behaviour>
    <includeInSearch>
      <Value>1</Value>
    </includeInSearch>
    <panels>
      <Value>{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <theme>
      <Value>{
  "alias": "default-theme",
  "textColor": "#333333",
  "backgroundColor": "#ffffff",
  "titleColor": "#000000",
  "buttonColor": "#083959"
}</Value>
    </theme>
  </Properties>
</profileEditPage>