<?xml version="1.0" encoding="utf-8"?>
<profilePage Key="9ab79d36-b701-4414-8d2c-a531d7de9992" Alias="Profile" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/Profile</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Profile" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value>1</Value>
    </addToSitemap>
    <behaviour>
      <Value>full-content</Value>
    </behaviour>
    <includeInSearch>
      <Value>1</Value>
    </includeInSearch>
    <panels>
      <Value>{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <theme>
      <Value>{
  "alias": "default-theme",
  "textColor": "#333333",
  "backgroundColor": "#ffffff",
  "titleColor": "#000000",
  "buttonColor": "#083959"
}</Value>
    </theme>
  </Properties>
</profilePage>