<?xml version="1.0" encoding="utf-8"?>
<sharedLinkItem Key="3ae3f65e-b5c0-4cc9-9ca6-ec1b2ff8080a" Alias="sdwqwd" Level="4">
  <Info>
    <Parent Key="605b1897-96b8-4e96-8846-14be2197e663">Shared Links</Parent>
    <Path>/Home/Data/SharedLinks/sdwqwd</Path>
    <Trashed>false</Trashed>
    <NodeName Default="sdwqwd" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <links>
      <Value>[
  {
    "target": "_self",
    "type": 0,
    "id": 1354,
    "name": "Notifications",
    "caption": "Notifications",
    "icon": "icon-timer color-black",
    "link": "http://localhost/notifications/,http://uintra20.local.compent.dk/notifications/"
  }
]</Value>
    </links>
    <linksGroupTitle>
      <Value>Chotki22222</Value>
    </linksGroupTitle>
    <sort>
      <Value></Value>
    </sort>
  </Properties>
</sharedLinkItem>