<?xml version="1.0" encoding="utf-8"?>
<sharedLinks Key="605b1897-96b8-4e96-8846-14be2197e663" Alias="Shared Links" Level="3">
  <Info>
    <Parent Key="4d330514-9c1d-47fc-abd3-c0ee4cbe3a99">Data</Parent>
    <Path>/Home/Data/SharedLinks</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Shared Links" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</sharedLinks>