<?xml version="1.0" encoding="utf-8"?>
<socialOverviewPage Key="da40c67b-727d-45ce-8419-c4df5e62dc5c" Alias="Socials" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/Socials</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Socials">
      <Name Culture="en-us">Socials</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties />
</socialOverviewPage>