<?xml version="1.0" encoding="utf-8"?>
<socialEditPage Key="cdecde0d-2b28-40da-b889-21f2b52bd193" Alias="Social Edit" Level="2">
  <Info>
    <Parent Key="19a7e223-9e9d-467b-9194-6c8c4c26e193">Home</Parent>
    <Path>/Home/SocialEdit</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Social Edit">
      <Name Culture="en-us">Social Edit</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <behaviour>
      <Value Culture="en-us">full-content</Value>
    </behaviour>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <theme>
      <Value Culture="en-us">{
  "alias": "default-theme",
  "textColor": "#333333",
  "backgroundColor": "#ffffff",
  "titleColor": "#000000",
  "buttonColor": "#083959"
}</Value>
    </theme>
  </Properties>
</socialEditPage>