<?xml version="1.0" encoding="utf-8"?>
<articlePage Key="58e8417b-66be-4777-862e-cd19acd512d5" Alias="test" Level="3">
  <Info>
    <Parent Key="f69593ef-06e1-4f71-a4c6-8f42fb1dc000">left menu item1</Parent>
    <Path>/Home/leftMenuItem1/test</Path>
    <Trashed>false</Trashed>
    <NodeName Default="test">
      <Name Culture="en-us">test</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
  </Info>
  <Properties>
    <addToSitemap>
      <Value Culture="en-us">1</Value>
    </addToSitemap>
    <bodyLocalScript>
      <Value Culture="en-us"></Value>
    </bodyLocalScript>
    <footerLocalScript>
      <Value Culture="en-us"></Value>
    </footerLocalScript>
    <headerLocalScript>
      <Value Culture="en-us"></Value>
    </headerLocalScript>
    <includeInSearch>
      <Value Culture="en-us">1</Value>
    </includeInSearch>
    <metaDescription>
      <Value Culture="en-us"></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"></Value>
    </metaTitle>
    <navigationTitle>
      <Value Culture="en-us">test</Value>
    </navigationTitle>
    <panels>
      <Value Culture="en-us">{
  "localPanels": [],
  "globalPanels": []
}</Value>
    </panels>
    <showInMenu>
      <Value Culture="en-us">1</Value>
    </showInMenu>
    <showInSubMenu>
      <Value Culture="en-us">1</Value>
    </showInSubMenu>
    <socialDescription>
      <Value Culture="en-us"></Value>
    </socialDescription>
    <socialImage>
      <Value Culture="en-us"></Value>
    </socialImage>
    <socialTitle>
      <Value Culture="en-us"></Value>
    </socialTitle>
    <title>
      <Value Culture="en-us">test</Value>
    </title>
  </Properties>
</articlePage>