<?xml version="1.0" encoding="utf-8"?>
<mailTemplate Key="d223f4e2-5d6f-4473-868d-e4522321072e" Alias="Test Mail Template" Level="4">
  <Info>
    <Parent Key="77776923-c8fc-44f0-864f-88b4f9819a59">Mail Templates</Parent>
    <Path>/Home/Data/MailTemplates/TestMailTemplate</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Test Mail Template" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bccEmails />
    <body>
      <Value>&lt;p&gt;Test Mail Template&lt;/p&gt;</Value>
    </body>
    <ccEmails />
    <emailType>
      <Value>[]</Value>
    </emailType>
    <extraTokens />
    <fromMail />
    <fromName />
    <subject>
      <Value>Test Mail Template</Value>
    </subject>
    <to />
  </Properties>
</mailTemplate>