<?xml version="1.0" encoding="utf-8"?>
<sharedLinkItem Key="93672886-6e82-47e5-aff6-e363fc0aca25" Alias="werwrwerw" Level="4">
  <Info>
    <Parent Key="605b1897-96b8-4e96-8846-14be2197e663">Shared Links</Parent>
    <Path>/Home/Data/SharedLinks/werwrwerw</Path>
    <Trashed>false</Trashed>
    <NodeName Default="werwrwerw" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <links>
      <Value>[
  {
    "target": "_self",
    "type": 0,
    "id": 1301,
    "name": "Central Feed test",
    "caption": "Central Feed test",
    "icon": "icon-article color-green",
    "link": "http://localhost/central-feed-test/,http://uintra20.local.compent.dk/central-feed-test/"
  },
  {
    "link": "https://www.google.com",
    "caption": "Google",
    "target": "_self",
    "type": 1
  },
  {
    "link": "mailTo:svi@compent.net",
    "caption": "Sergey Vinnichenko",
    "target": "_self",
    "type": 2,
    "prettyCaption": "Sergey Vinnichenko",
    "userCaption": "Sergey Vinnichenko",
    "prettyLink": "svi@compent.net"
  }
]</Value>
    </links>
    <linksGroupTitle>
      <Value></Value>
    </linksGroupTitle>
    <sort>
      <Value></Value>
    </sort>
  </Properties>
</sharedLinkItem>