@using Uintra.Core.Extensions
@using Uintra.Groups
@using Uintra.Core.Controls.FileUpload
@model Uintra.Groups.GroupDocumentsViewModel
@{
    Guid groupId;
}

@{
    if (!Guid.TryParse(Request.QueryString.Get("groupId"), out groupId))
    {
        <h3>Group id is not defined!!</h3>
        return;
    }
}

<div class="form" id="js-group-documents">
    @if (Model.CanUploadFiles)
    {
        using (Html.BeginUmbracoForm("Upload", "GroupDocuments"))
        {
            <div class="form__row clearfix">
                <label class="form__label" for="file-upload">@Html.Localize("GroupDocument.Upload.lbl")</label>
                @{
                    var settings = new FileUploadSettings { AllowedExtensions = null, MaxFilesCount = 1 };
                    Html.RenderAction("Uploader", "FileUpload", new { Settings = settings/*, Model = null*/ });
                }
            </div>
            @Html.ValidationSummary()
            <div class="form__row form__row--top-indent clearfix">
                <input class="btn _submit js-submit" type="submit" value="@Html.Localize("GroupDocuments.Create.btn")" />
            </div>
        }
    }
    <div>
        @{Html.RenderAction("DocumentsTable", "GroupDocuments", new { groupId, column = GroupDocumentDocumentField.Name, direction = Direction.Asc });}
    </div>
</div>

