<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d11ca76-093a-4fed-b97a-3cbc4e95ba4d" Alias="News Details - Publish Date" Level="4">
  <Info>
    <Name>News Details - Publish Date</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Pages/News+Details</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "DD. MMMM YYYY",
  "OffsetTime": false
}]]></Config>
</DataType>