<?xml version="1.0" encoding="utf-8"?>
<DataType Key="157a6839-a6c6-46e6-9be2-353f84cd116e" Alias="Mailchimp Item - List Id" Level="4">
  <Info>
    <Name>Mailchimp Item - List Id</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Items/Mailchimp</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>