<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31a6473f-9f1d-4006-8937-52586142d5dc" Alias="Spot Item - Link" Level="4">
  <Info>
    <Name>Spot Item - Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Items/Spot</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>