<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3934ec2a-8864-42a2-835b-23e3b8ba4657" Alias="Mailchimp Panel - Audiences" Level="4">
  <Info>
    <Name>Mailchimp Panel - Audiences</Name>
    <EditorAlias>UBaseline.Mailchimp</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Panels/Mailchimp</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>