<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5955654e-a92b-456e-8374-86c28d458fd8" Alias="News Details - Title" Level="4">
  <Info>
    <Name>News Details - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Pages/News+Details</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>