<?xml version="1.0" encoding="utf-8"?>
<DataType Key="913817d3-e3c6-469a-ae6a-3072abc9d9c0" Alias="Video Panel - Video picker" Level="4">
  <Info>
    <Name>Video Panel - Video picker</Name>
    <EditorAlias>UBaseline.VideoPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/Video</Folder>
  </Info>
  <Config><![CDATA[{
  "videoSettings": {
    "useThumbnail": true,
    "showLoop": true,
    "useMobileVideo": true
  }
}]]></Config>
</DataType>