<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2401242-12ea-470a-acf5-592b4407b84a" Alias="Contact Panel - Contact List" Level="4">
  <Info>
    <Name>Contact Panel - Contact List</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/dataFolder/contactListFolder",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>