<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aef6f814-d74c-4c09-a76f-9ad180b24ade" Alias="Article Start Panel - Title" Level="4">
  <Info>
    <Name>Article Start Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>UBaseline/Panels/Article+Start</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>