<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4829d32-ea2a-4a11-b5d7-0e410b4f923a" Alias="News Panel - Title" Level="4">
  <Info>
    <Name>News Panel - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Panels/News</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>