<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1c2ec88-7c7b-42fb-9753-174d8de07565" Alias="Contact Item - Location" Level="4">
  <Info>
    <Name>Contact Item - Location</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>UBaseline/Items/Contact</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 125
}]]></Config>
</DataType>