<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2948ebc-3ae6-4e4b-b373-650b014f3f42" Alias="Article Page - Title" Level="4">
  <Info>
    <Name>Article Page - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>UBaseline/Pages/Article</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>