<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d29e1bb9-8846-4099-96ac-a9788a662045" Alias="Map Panel - Picker" Level="4">
  <Info>
    <Name>Map Panel - Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>UBaseline/Panels/Map</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>