<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd578057-9569-42f6-8fac-ea8043272906" Alias="AutoSuggest Panel - Tip" Level="4">
  <Info>
    <Name>AutoSuggest Panel - Tip</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/AutoSuggest</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>