<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3b7599e-604a-49c9-b4a5-306e928a414a" Alias="Video Panel - Description" Level="4">
  <Info>
    <Name>Video Panel - Description</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>UBaseline/Panels/Video</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 500
}]]></Config>
</DataType>