@import "base.less";

.social-edit {
  .white-block();
  padding: 36px 20px;

  &__title {
    margin: 0 0 25px;
  }
}

:host {
  .form {
    display: block;

    &__label {
      margin: 0 0 3px;
      display: block;
    }

    &__row-btns {
      .button {
        margin-right: 10px;
      }
    }
  }

  & ::ng-deep {
    .ql-editor {
      padding: 0;
    }

    .dz-message {
      margin: ;
    }

    .dropzone {
      border-style: dashed !important;
      border-radius: 10px !important;
      min-height: 0 !important;
      min-height: initial !important;
      border-width: 1px !important;
      z-index: 0;
      padding: 15px 20px !important;
    }

    .dz-message {
      border: none !important;
      background: inherit !important;
    }
  }
}

.bulletin-popup {
    position: fixed;
    left: 8px;
    right: 8px;
    top: 8px;
    background: @main-color;
    z-index: 13;
    opacity: 0;
    animation: fadeIn 0.2s ease-out forwards;
    max-height: 80vh;
    overflow: auto;

    @media @md-up {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    &__close-button {
      .reset-button;
      position: absolute;
      right: 17px;
      top: 10px;
      width: 31px;
      height: 31px;
      z-index: 14;
      font-size: 1.8em;
      cursor: pointer;
    }

    &__header {
      padding: 21px 40px 16px 30px;
    }
  }
