<div class="subcomment">
  <app-user-avatar class="subcomment__avatar" [data]="data.creator.photo" big></app-user-avatar>
  <div class="subcomment__container">
    <app-comment-header 
      [data]="data" 
      (toggleEditingMode)="toggleEditingMode()"
      (commentDelete)="onCommentDelete()"></app-comment-header>
    <div *ngIf="!isEditing" class="comment__content" innerHTML="{{data.text}}"></div>
    <!-- <app-like-button [likeData]="data.likeModel"></app-like-button> -->
  </div>
</div>

<app-rich-text-editor
  *ngIf="isEditing"
  [(ngModel)]="editedValue"
  [isDropzone]="false"
  placeholder="">
    <div class="submit-container" submit>
      <button
        class="bulletin-popup__submit-button"
        (click)="toggleEditingMode()">
        Cancel
      </button>
      <button
        class="bulletin-popup__submit-button"
        (click)="onSubmitEditedValue()">
        Save
      </button>
    </div>
</app-rich-text-editor>
