<div class="links-picker" ng-class="getMainClass()">
    <table class="table links-table">
        <thead>
            <tr>
                <th></th>
                <th>Url/Content</th>
                <th>Title</th>
                <th class="alt-text">Alt text</th>
                <th>Target</th>
                <th ng-if="config.types.length">Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="model">
            <tr ng-repeat="link in getRepeaterModel()" ng-class="{'_not-sortable' : isSingleMode}">
                <td style="width: 20px"><i class="icon icon-navigation handle handle-move"></i></td>
                <td>
                    <input type="text" ng-if="link.type == linkTypes.External" ng-model="link.link" placeholder="http://example.com" required />
                    <input type="email" ng-if="link.type == linkTypes.Email" ng-model="link.prettyLink" placeholder="mail@mail.com" required ng-change="processEmailChange(link)" />
                    <span ng-if="link.type == linkTypes.Internal || link.type == linkTypes.Media" class="internal-links-picker"
                          ng-click="link.type == linkTypes.Internal ? internalPicker(link) : mediaPicker(link)">
                        <i class="icon hover-hide" ng-class="link.icon"></i>
                        {{link.name}}
                    </span>
                </td>
                <td>
                    <input type="text" ng-model="link.caption" ng-if="link.type != linkTypes.Email" required />
                    <input type="text" ng-model="link.prettyCaption" ng-if="link.type == linkTypes.Email" required ng-change="processCaptionChange(link)" />
                </td>
                <td class="alt-text"><input type="text" ng-model="link.altText" /></td>
                <td>
                    <select ng-options="target.value as target.name for target in config.linkTargets" ng-model="link.target" ng-if="link.type != linkTypes.Email"></select>
                </td>
                <td ng-if="config.types.length">
                    <select ng-options="t as t.name for t in config.types track by t.name" ng-model="link.additionalType"></select>
                </td>
                <td><input type="button" class="btn btn-danger remove-button" ng-click="removeLink(link)" value="Remove" /></td>
            </tr>
        </tbody>
    </table>
    <div class="dropdown btn-group add-link-btn">
        <button type="button" class="btn btn-info dropdown-toggle" ng-click="toggleAddDropdown()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add link<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-click="addDropdownClose()" on-outside-click="addDropdownClose()" ng-show="addDropdownShow">
            <li ng-click="addInternalLink()" ng-show="showType('internal')">Internal</li>
            <li ng-click="addExternalLink()" ng-show="showType('external')">External</li>
            <li ng-click="addEmailLink()" ng-show="showType('email')">Email</li>
            <li ng-click="addMediaLink()" ng-show="showType('media')">Media</li>
        </ul>
    </div>
</div>