@using System.Web.Mvc.Html
@using uIntra.Core.Extensions
@model uIntra.CentralFeed.LatestActivitiesViewModel


<section class="block clearfix _latest-activities js-latest-activities">

    <h2 class="block__title">@Model.Title</h2>
    @if (!string.IsNullOrWhiteSpace(Model.Teaser))
    {
        <h3 class="block__teaser">@Html.Raw(Model.Teaser)</h3>
    }
    @foreach (var item in Model.Feed)
    {
        Html.RenderAction("PreviewItem", item.ControllerName, new { item = item.Activity, links = item.Options.Links });
    }
    @Html.Hidden("typeId", Model.Tab.Type.Id)
    <a class="btn js-see-all">@Html.Localize("LatestActivities.SeeAll.btn")</a>
</section>