<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d" Alias="Folder" Level="1">
  <Info>
    <Name>Folder</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>5082eb50-8754-40bd-88c9-17d73573572c</Key>
      <Name>Allowed Media Extensions</Name>
      <Alias>allowedMediaExtensions</Alias>
      <Definition>1af95d3c-e43b-4f93-bfc0-2df8d4a58370</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Generic properties</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5f470fe5-9e03-469d-ad0e-d57c4fe9487f</Key>
      <Name>Folder Type</Name>
      <Alias>folderType</Alias>
      <Definition>f6a04ab9-64db-4e39-8b27-c16cfaec4c99</Definition>
      <Type>EnumDropdownList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Generic properties</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b452e5af-85a5-4f72-82a0-13671c7b6094</Key>
      <Name>Group Id</Name>
      <Alias>groupId</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Generic properties</Tab>
    </GenericProperty>
  </GenericProperties>
  <Structure>
    <MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d">Folder</MediaType>
    <MediaType Key="cc07b313-0843-4aa8-bbda-871c8da728c8">Image</MediaType>
    <MediaType Key="4c52d8ab-54e6-40cd-999c-7a5f24903e4d">File</MediaType>
  </Structure>
  <Tabs>
    <Tab>
      <Caption>Generic properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>