<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="a78f1a84-4dad-4064-a047-05d0b8d9a1eb" Alias="genericProperties" Level="2">
  <Info>
    <Name>Generic Properties</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>7e938f27-f2f3-40e2-b9e3-e300926b1960</Key>
      <Name>Intranet User Id</Name>
      <Alias>intranetUserId</Alias>
      <Definition>d8b97682-a625-4d5e-810f-118ff57ef496</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Generic Properties</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e8a5c427-0729-4f0a-ba4f-70c5f652513e</Key>
      <Name>Is deleted</Name>
      <Alias>isDeleted</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Generic Properties</Tab>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Caption>Generic Properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>