<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="cc07b313-0843-4aa8-bbda-871c8da728c8" Alias="Image" Level="1">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a78f1a84-4dad-4064-a047-05d0b8d9a1eb">genericProperties</Composition>
      <Composition Key="301aeb47-5ca9-4cef-bc7a-b1a6781f2708">searchMediaComposition</Composition>
    </Compositions>
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>cb4aeb9b-4522-4a8d-b82a-c02bb9e55132</Key>
      <Name>Alt</Name>
      <Alias>alt</Alias>
      <Definition>d788cbc8-5380-49b4-898c-2603e3ef0930</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00000009-0000-0000-0000-000000000000</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>b122cd1b-4ff4-4c34-86d1-655ad465327f</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in bytes]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0000000a-0000-0000-0000-000000000000</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>b232a972-0254-4920-a277-8aadbd50c41d</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00000006-0000-0000-0000-000000000000</Key>
      <Name>Upload image</Name>
      <Alias>umbracoFile</Alias>
      <Definition>21dc22c8-b543-43ae-b3f5-b6681b6d0c17</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00000008-0000-0000-0000-000000000000</Key>
      <Name>Height</Name>
      <Alias>umbracoHeight</Alias>
      <Definition>04fc49e0-0087-4813-8640-3020b44c1999</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in pixels]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00000007-0000-0000-0000-000000000000</Key>
      <Name>Width</Name>
      <Alias>umbracoWidth</Alias>
      <Definition>a0c3a971-88ba-42a9-9664-757469db283e</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in pixels]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Image</Tab>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Caption>Image</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>