<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="301aeb47-5ca9-4cef-bc7a-b1a6781f2708" Alias="searchMediaComposition" Level="2">
  <Info>
    <Name>Search Media Composition</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>521eebd2-44d6-4aa9-9f12-2a9108122510</Key>
      <Name>Use in search</Name>
      <Alias>useInSearch</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Search Media Composition</Tab>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Caption>Search Media Composition</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>