<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="c16c953e-c028-4b31-8c9e-9e8a23cfa012" Alias="video" Level="1">
  <Info>
    <Name>Video</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a78f1a84-4dad-4064-a047-05d0b8d9a1eb">genericProperties</Composition>
      <Composition Key="301aeb47-5ca9-4cef-bc7a-b1a6781f2708">searchMediaComposition</Composition>
    </Compositions>
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>c2df5b4c-454e-4a58-b327-d57631d77e8e</Key>
      <Name>Thumbnail url</Name>
      <Alias>thumbnailUrl</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>531eb1f1-2708-4f04-8e29-792275ebcc71</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4a66a526-4674-45f6-a74c-0208302d6aba</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>60cf043c-9b61-4209-92f4-8fc07eb1ada7</Key>
      <Name>Umbraco file</Name>
      <Alias>umbracoFile</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fa7c61ba-3e5a-4662-a2dd-f2a2e81c1bc7</Key>
      <Name>Height</Name>
      <Alias>videoHeight</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6d8543fa-087a-4013-ab64-fabf56fcc8b6</Key>
      <Name>Width</Name>
      <Alias>videoWidth</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Caption>File</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>