<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="c67482f1-c760-4b98-a555-e510fc9b556d" Alias="video" Level="1">
  <Info>
    <Name>Video</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a78f1a84-4dad-4064-a047-05d0b8d9a1eb">genericProperties</Composition>
      <Composition Key="301aeb47-5ca9-4cef-bc7a-b1a6781f2708">searchMediaComposition</Composition>
    </Compositions>
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>fa4dcd59-0b5c-4d44-8af1-5296fb86b24e</Key>
      <Name>Thumbnail url</Name>
      <Alias>thumbnailUrl</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b1550cf1-4c41-4fe4-be81-a017c0c82084</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6cf4bc4f-9029-49fb-a7b9-f452b44c3c81</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e0348cad-a4ae-46f0-a533-f9591743d549</Key>
      <Name>Umbraco file</Name>
      <Alias>umbracoFile</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9b950017-ba46-429d-b477-54fa6eec4bc1</Key>
      <Name>Height</Name>
      <Alias>videoHeight</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b4ebd1fa-a5ac-4b55-90b6-d6e7be20aadb</Key>
      <Name>Width</Name>
      <Alias>videoWidth</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>File</Tab>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Caption>File</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>