.profile {
  .white-block();
  padding: 40px 20px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .btn {
      margin-left: 10px;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    flex-grow: 1;
  }
}

.user-block {
  display: flex;
}
