.profile {
  .white-block();
  padding: 40px 20px;
  font-size: 16px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .button {
      margin-left: 10px;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    flex-grow: 1;
  }

  .avatar {
    width: 90px !important;
    height: 90px !important;
  }
}

.user-block {
  display: flex;

  &__col {
    flex-grow: 1;

    &:first-child {
      flex: 0 0 90px;
    }
  }
}
