<form class="login-form"
      [formGroup]="loginForm"
      novalidate
      (ngSubmit)="submit()">
  <div class="row-flex">
    <div class="col-12">
      <div class="logo">
        <img src="wwwroot/assets/img/u-intra-text-logo.svg"
             alt="Uintra" />
      </div>
    </div>
  </div>
  <div class="row-flex">
    <div class="col-12">
      <input formControlName="login"
             type="text"
             [placeholder]="'emailPlaceholder' | translate"
             class="input" />
    </div>
  </div>
  <div class="row-flex">
    <div class="col-12">
      <input formControlName="password"
             type="password"
             [placeholder]="'passwordPlaceholder' | translate"
             class="input" />
    </div>
  </div>
  <div class="login-form__bottom-block">
    <button [disabled]="inProgress || loginForm.invalid"
            class="btn">{{'login.Login.btn' | translate}}</button>
  </div>
  <ul class="error-list"
      *ngIf="errors">
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</form>