@using System.Web.Mvc.Html
@model Uintra.Core.Location.ActivityLocation

<a class="feed__item-address" href="http://maps.google.co.uk/maps?q=@Model.Address" target="blank">
    <svg class="svg-icon" viewBox="0 0 32 32" width="21px" height="25px">
        <use xlink:href="#icon-location" x="0" y="0"></use>
    </svg>@Model.ShortAddress
</a>