﻿.greeting {
    color: #ccc;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font:16px/1.25em var(--font-custom);
    padding:4px 60px 0 0;
    text-align:right;

    ._with-avatar &{
        padding-right:18px;
    }

    &__username {
        font-family: var(--font-custom);
        font-weight: bold;
        margin: 0 0 0 15px;
        color:var(--color-white);
    }
    &__role {
        color: #777;
        margin: 0 0 0 15px;
    }
}

.menu {
    @media (--for-tablet-portrait-down) {
        position:absolute;
        top:50%;
        right:15px;
        z-index: 101;
        width: 30px;
        height:30px;
	    padding: 0;
        margin:-15px 0 0;
        display: flex;
	    justify-content: center;
	    align-items: center;

        &__burger{
            width: 20px;
            height: 17px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;

            &-line{
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: var(--color-white);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;

                    ._menu-expanded &{
                        top: 7px;
                        transform: rotate(135deg);
                    }
                }

                &:nth-child(2) {
                    top: 7px;

                    ._menu-expanded &{
                        opacity: 0;
                        left: -20px;
                    }
                }

                &:nth-child(3) {
                    top: 14px;

                    ._menu-expanded &{
                        top: 7px;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }
}
.search-holder {
    display: flex;
    width: 100%;
    padding: 0 21px 0 0;
    align-items:center;
}

.search{
    position:relative;
    flex-grow:1;

    @media (--for-tablet-portrait-down) {
        background: var(--color-light-gray-2);
        padding:17px 15px;

        &__form {
            overflow:hidden;
        }
    }

    @media (--for-tablet-landscape-up) {
        float: left;
        max-width:100%;
        padding:7px 0;
        text-align: left;
        margin:0 13px 0 0;

        &__form {
            display: block;
        }
    }

    @media (--for-big-desktop-up) {
        width:100%;
    }

    &__input{
        float:left;
        width:100%;
        background:var(--color-white);
        border:none;
        font-size:16px;
        line-height:36px;
        height:40px;
        margin:0;
        padding:1px 40px 1px 21px;
        color:var(--text-color-dark);

        &:-ms-input-placeholder {
            color:var(--text-color-light);
        }

        @media (--for-tablet-portrait-down){
            height: 41px;
            font-size: 16px;
        }
    }

    &__button{
        position:absolute;
        top: 11px;
        right: 6px;
        border:none;
        background:none;
        padding:0 8px;
        cursor:pointer;

        &:hover{
            text-decoration:none;
        }

        @media (--for-tablet-portrait-down) {
            top: 22px;
            right: 15px;
        }

        .icon-search{
            font-size:18px;
            color:var(--color-black);
        }
    }
}

.autocomplete-suggestions{
    background-color:var(--color-white);
    box-shadow:2px 3px 5px rgba(0,0,0,0.3);
    max-height: 450px !important;
    overflow:auto;
    border:1px solid var(--color-light-gray-3);
    border-top:none;
    position:fixed !important;
    top:46px !important;

    @media (--for-tablet-portrait-down){
        top:58px !important; 
        position:absolute !important;
    }
    
    .autocomplete-suggestion{
	    display: flex;
	    align-items: center;
        border-top:1px solid var(--color-light-gray-3);
        padding:9px 15px 8px 20px;
        font-size:14px;

        &.autocomplete-selected,
        &:hover{
            background-color:var(--color-light-gray-3);
            cursor:pointer;
        }

        &__link{
            color:var(--text-color-dark);

            &:hover{
                text-decoration:none;
            }
        }

	    &__list {
		    display: inline-block;
		    margin: 0 5px 0 0;
		    padding: 0;
		    list-style: none;
	    }
	    &__frame {
		    display: inline-block;
		    margin: 0 5px;
	    }

	    .icon {
		    width: 20px;
		    height: 20px;
		    margin: 0 10px 0 0;
	    }

        .type{
	        margin: 0 0 0 auto;
            font-size:12px;
            font-family:var(--font-custom);
            text-transform:uppercase;
            color:var(--text-color-light);
            order:1;
        }

        .title {
            margin:-9px 0 -8px;
            padding:9px 0 8px;
            order:0;

            &._all{
	            position: relative;
	            flex-grow: 1;
                font-size: 13px;
	            padding:8px 0 9px;

                &:after{
                    position:absolute;
                    top: 12px;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    border:solid var(--text-color-dark);
                    border-width:0 1px 1px 0;
                    transform:rotate(-45deg);
                    content:'';
                }
            }
        }
    }

    .autocomplete-no-suggestion{
        padding:9px 20px 8px;
    }
}

.user {
    float:right;
    position:relative;
    padding:14px 0 13px;
    margin:0;

	@media (--for-tablet-portrait-down){
		position:static;
		display: flex;
		padding:0;
	}

    .icon-user{
        &.user__opener:before{
            position:absolute;
            right:15px;
        }

        &._with-avatar:before{
            display:none;

            @media (--for-tablet-portrait-down){
                &{
                    display:block;
                }
            }
        }
    }

    &__opener{
        color:var(--color-white);
        display:block;
        position:relative;
        padding:2px 2px 4px 17px;
        cursor:pointer;

        &._with-avatar{
            margin:-5px 0;

            @media (--for-tablet-portrait-down){
                margin:0;
            }
        }

	    &:not(._with-avatar) {
		    .user__avatar {
			    display: none !important;
		    }
	    }

        &:active,
        &:focus,
        &:hover{
            text-decoration:none;
            color:var(--color-white);
        }

        @media (--for-tablet-portrait-down){
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        padding:26px 15px 25px;
	        position:relative;
	        z-index:3;
	        margin:0;

            ._usermenu-expanded &{
                background-color:var(--color-light-gray-2);
                color:var(--text-color-dark);
            }
        }

        &-arrow{
            position:absolute;
            top:11px;
            right:-2px;
            width:6px;
            height:6px;
            border:solid var(--color-white);
            border-width:0 1px 1px 0;
            transform:rotate(45deg);

            ._with-avatar &{
                top:12px;
            }

            @media (--for-tablet-portrait-down){
                display:none;
            }
        }
    }

    &__avatar{
        position:relative;
        width:30px;
        height:30px;
        overflow:hidden;
        float:right;
        margin:0 13px 0 0;
        border-radius:50%;

        &-img{
            height: auto;
            left: 50%;
            max-width: 100%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .user__menu &{
            float:left;
            width:30px;
            height:30px;
            margin:0 10px 0 -40px;
        }

        .user__menu ._with-avatar &{
            margin:-5px 10px 0 -45px;
        }

        ._with-avatar &.icon-user{
            &:before{
                display:none;
            }
        }
    }

    &__menu{
        position:absolute;
        top:100%;
        right:-7px;
        background:var(--color-white);
        margin:0;
        padding:0;
        list-style:none;
        border:1px solid #bfbfbf;
        box-shadow:2px 2px 3px rgba(0,0,0,0.2);
        width:286px;
        font-size:14px;
        transform:translate(0, -100%);
        transition: transform linear 200ms;
        display:none;

        @media (--for-tablet-portrait-down){
            right:0;
            left:0;
            width:auto;
            border:none;
            background:var(--color-light-gray-2);
            display:block;
        }

        &:before{
            display:block;
            content:'';
            width:10px;
            height:10px;
            background:var(--color-white);
            border:solid #bfbfbf;
            border-width:1px 1px 0 0;
            transform:rotate(-45deg);
            position:absolute;
            top:-6px;
            right:14px;

            @media (--for-tablet-portrait-down){
                display:none;
            }
        }

        ._usermenu-expanded &{
            transform: translate(0, 0);
            display:block;

            @media (--for-tablet-portrait-down){
                display:flex;
                flex-direction:column;
            }
        }

        &-item{
            border-top:1px solid #bfbfbf;

            @media (--for-tablet-portrait-down){
                order:1;

                &._for-mobile{
                    order:0;
                    border-bottom:1px solid #bfbfbf;
                }
            }


            &:first-child{
                border:none;

                @media (--for-tablet-portrait-up){
                    .user__menu-link{
                        position:relative;

                        &:hover{
                            &::before{
                                display:block;
                            }
                        }
                        
                        &::before{
                            display:none;
                            content: '';
                            width: 10px;
                            height: 10px;
                            background: #333;
                            transform: rotate(-45deg);
                            position: absolute;
                            top: -6px;
                            right: 14px;
                        }


                    }
                }
            }
        }

        &-link{
            color:var(--text-color-dark);
            display:block;
            padding:13px 10px 11px 58px;
            position:relative;

            @media (--for-tablet-portrait-down){
                padding:20px 10px 18px 58px;
            }

            :nth-child(1):not(._for-mobile) > &{
                &:before{
                    display:block;
                    content:'';
                    width:10px;
                    height:10px;
                    background:var(--color-white);
                    border:solid #bfbfbf;
                    border-width:1px 1px 0 0;
                    transform:rotate(-45deg);
                    position:absolute;
                    top:-6px;
                    right:14px;

                    @media (--for-tablet-portrait-down){
                        display:none;
                    }
                }

                &:hover,
                &:active,
                &:focus{
                    &:before{
                        background:#333;
                    }
                }
            }

            &:not(._with-avatar):active,
            &:not(._with-avatar):focus,
            &:not(._with-avatar):hover{
                text-decoration:none;
                color:var(--color-white);
                background:#333;
            }
        }

        &-name{
            text-transform:uppercase;
            font-weight:bold;
        }

        .icon{
            position:absolute;
            top:11px;
            left:17px;

            &.icon-user{
                top:6px;
                left: 16px;
            }

            &.icon-logout{
                left: 21px;
                top: 10px;
            }

            &.icon-umbraco{
                top: 8px;
            }

            @media (--for-tablet-portrait-down){
                top:19px;
            }
        }
    }
}
