.message{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:var(--color-contrast);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
    height:90px;
    display:flex;
    align-items:center;
    z-index:9999;
    transition:transform linear 200ms;

    &._hidden{
        transform:translate(0, -100%);
    }

    &__content{
        text-align:center;
        width:100%;
        color:var(--color-white);
    }

    &__txt{
        margin:0;
    }

    &__close{
        position:absolute;
        top:10px;
        right:10px;
        color:var(--color-white);
        cursor:pointer;

        &:before{
            font-size: 22px;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
    }
}