@import "../../../base.less";

:host {
    display: block;
}

.icon-panel {
    .theme(bg-color);

    &__content {
        .centered;
        .theme(text-color);
    }

    &__title {
        font-family: @font-family;
        .theme(title-color);
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 40px;
        padding-top: 30px;
    }

    &__title + &__items {
        padding-top: 0;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        padding-top: 45px;
        align-items: stretch;
        justify-content: space-between;
        @media @sm-down {
            justify-content: space-evenly;
            @media (orientation: portrait) {
            }
        }
        &--center {
            justify-content: space-evenly;
            @media @sm-down {
                margin-left: -20px;
                margin-right: -20px;
            }
        }
    }

    ::ng-deep  .icon-panel-item__content {
        .theme(text-color);
    }
    ::ng-deep .icon-panel-item__title {     
        .theme(title-color);
    }
}