.faq-panel {
	font-size: 17px;
	line-height: 25px;

	@media screen and (max-width: 599px) {
		& {
			font-size: 15px;
			line-height: 1.47;
		}
	}

	.content {
		padding-top: 0;
		padding-bottom: 0;
	}

	&__area {
		border-top: 1px solid var(--color-light-gray);

		@media screen and (max-width: 599px) {
			& {
				padding: 20px 10px 20px 35px;
			}
		}

        ._active &{
            padding-bottom:14px;
        }
	}

    .block__description,
    .block__title{
        padding-left:10px;
    }

	&__heading {
		color: #003693;
	}

	&__title {
		position: relative;
		left: 0;
		padding-left: 25px;
		font-size: 16px;
		line-height: 22px;
        margin:0;
        padding:14px 5px;
        color:var(--color-contrast);

		&:hover {
			cursor: pointer;
		}

        .icon-arrow-left{
            font-size: 18px;
            margin: 2px 2px 0 0;
            display: inline-block;
            vertical-align: top;
            color:var(--text-color-dark);

            &:before{
                transform:rotate(-90deg);
                display:block;
            }

            ._active &{
                margin-top:3px;

                &:before{
                    transform:rotate(0);
                }
            }
        }

        @media screen and (max-width: 599px) {
			& {
				padding: 20px 10px 20px 35px;
			}
		}
	}

	&__body {
		overflow: hidden;
		height: 0;
		margin: 0;
        font-size:14px;
        line-height:1.57em;
        padding:0 4px;
	}
}