@import "src/base.less";

.base-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
     transition:opacity linear 0.3s;

    &:hover{
      opacity:.8;
    }

    &__link {
        font-size: 16px;
        font-weight: 600;
        color: @link-color;
        text-decoration: none;
    }

    &__arrow {
        fill: @link-color;
        width: 15px;
        transform: rotate(180deg);
        margin-left: 8px;

        & > svg {
            display: block;
        }
    }
}
