@import 'base.less';

:host(.pop-up) {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;

  .user-list-panel-wrapper {
    width: 800px;
    max-width: 90%;
    padding: 0 5%;
    margin: 5% auto;
  }
}

.cells--1 {
  flex: 0 0 100%;
}

.cells--2 {
  flex: 0 0 50%;
}

.cells--3 {
  flex: 0 0 33.3%;
}

.cells--4 {
  flex: 0 0 25%;
}

.cells--5 {
  flex: 0 0 20%;
}

.user-list-panel {
  ::ng-deep .aside &{
    margin: 10px 10px 20px;
  }

  .white-block;
  padding: 20px 20px 0;
  position: relative;

  &__title {
    font-size: 25px;
    font-weight: normal;
    color: @text-color;
    padding-right: 40px;
    margin-bottom: 28px;
  }

  &__search-title {
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    color: @body-text-color;
    margin-bottom: 2px;
  }

  &__invite-btn {
    .button-white;
    display: block;
    margin: 0 0 5px auto;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: @body-text-color;
    border: none;
    background: transparent;
  }
}

.search-holder {
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: 20px;

  &__input {
    width: 100%;
    background-color: @main-color;
    border: 1px solid @border-color;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    padding: 11px 30px 9px 21px;
    color: @body-text-color;

    @media @md-up {
      max-width: 100%;
    }
  }

  & .icon-search-icon {
    flex-shrink: 0;
    line-height: 40px;
    font-size: 30px;
    position: absolute;
    right: 5px;

    &::before {
      color: @black !important;
    }
  }
}

.user-list {
  margin-right: -20px;
  margin-left: -20px;

  &__item {
    min-height: 50px;
    padding: 10px 0 10px;
    border-bottom: 1px solid @border-color;
    color: @body-text-color;

    @media @md-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:first-child {
      border-top: 1px solid @border-color;
    }

    &--load-more,
    &--no-members {
      padding: 10px;
      cursor: default;
    }

    &-member {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: @body-text-color;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      padding: 0 10px;

      &-avatar {
        margin-right: 10px;
      }

      &-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
      }
    }

    &-info {
      line-height: 21px;
      text-decoration: none;
      color: @body-text-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media @md-down {
        display: block;
        padding-left: 50px;
      }

      @media @md-up {
        flex-grow: 0.25;
        max-width: 35%;
      }

      & p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &-group {
      flex: 0 0 125px;
      position: relative;
      padding-left: 50px;

      @media @md-up {
        padding-left: 23px;
      }

      &-fake-select {
        position: relative;
        display: inline-block;
        width: 125px;

        &::before {
          content: '';
          position: absolute;
          right: 10px;
          top: 50%;
          width: 6px;
          height: 6px;
          border: 1px solid #666;
          border-width: 0 0 1px 1px;
          transform: rotate(-45deg);
          margin-top: -5px;
          line-height: 0;
          z-index: 1;
        }
      }

      &-select {
        display: inline-block;
        border: 0;
        padding: 4px 25px 4px 3px;
        margin: 0;
        font: inherit;
        //outline: none;
        line-height: 1.2;
        background: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        min-width: 81px;
        position: relative;
        z-index: 2;
      }

      &-admin {
        display: inline-block;
        width: 125px;

        &-svg {
          position: absolute;
          top: -2px;
          left: 25px;

          @media @md-up {
            left: 2px;
          }
        }
      }

      &-member {
        width: 125px;
      }
    }

    &-management {
      flex: 0 0 10.5%;
      text-align: right;
      padding: 10px 2.7% 10px 0;
    }

    &-delete-btn {
      width: 31px;
      height: 31px;
      border: none;
      padding: 0;
      margin: -4px -10px 0px 0;
      background: none;
      text-indent: -9999px;
      overflow: hidden;
      position: relative;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }

      &::before {
        content: '';
        position: absolute;
        left: 8px;
        top: 50%;
        right: 8px;
        height: 2px;
        background: #303030;
        transform: rotate(45deg);
        margin-top: -1px;
      }

      &::after {
        content: '';
        position: absolute;
        left: 8px;
        top: 50%;
        right: 8px;
        height: 2px;
        background: #303030;
        transform: rotate(-45deg);
        margin-top: -1px;
      }
    }

    &-add-btn {
      .button-white;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  &__load-more {
    .button-white;
  }
}

//Styles for group creator .svg
.st0 {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round
}

.st1 {
    font-family: '
    OpenSans-Bold '
}

.st2 {
    font-size: 11px
}
