@import "base.less";

// TODO: Apply themes

:host(.full-content) {
	.centered-max;
}

:host {
    .default-theme;
    .all-styles;
}

:host(@{theme-1}) {
    .reversal-theme;
    .all-styles;
}

.all-styles() {

	.hero-panel {
		display: block;
		position: relative;
		padding-top: 30px;
		padding-bottom: 40px;

		&__content {
			.centered-max;
			background-color: @grey-background-color;

			@media @sm {
				display: flex;
				align-content: flex-start;
			}
		}

		&__video {
			height: 300px;

			&--desktop {
				@media @sm-down {
					display: none;
				}
			}

			&--mobile {
				@media @sm {
					display: none;
				}
			}

			@media @sm {
				min-height: 380px;
			}
		}

		&__media-holder {
			position: relative;
			line-height: 0;
			width: 100%;
			padding-right: 10px;
			top: -30px;
			margin-bottom: -30px;

			@media @sm {
				margin-bottom: 0;
				max-width: 50%;
			}

			&--with-video {
				flex: 1 0 50%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
			}
		}

		&__title {
			color: @text-color;
			font-weight: 600;
			margin: 0 0 30px;
		}

		&__text {
			padding: 30px 10px 50px;

			@media @sm {
				padding: 60px 30px 70px;
			}

			.rte {
				color: @text-color;
				line-height: 1.56;
				font-size: 16px;
				margin: 0 0 30px;
			}
		}

		&__link {

		}
	}

}
