@using uIntra.Core.Extentions
@model uIntra.Core.BrowserCompatibility.Models.BrowserCompatibilityModel
@if (!@Model.BrowserSupported && @Model.ShowNotification)
{
    <div>
        <input type="button" class="js-disable-browser-compatibility-notification" />
        @Html.Localize("BrowserCompatibility.Notification.Message")
    </div>
}