@import 'base.less';

:host {
  display: block;
}

.radio-link-group {
  &__input {
    display: none;
  }

  &__text {
    color: #c9c6d0;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: @btn-bg;
    }

    &.active {
      color: @btn-bg;
    }
  }
}
