:host {
  display: block;
}

.radio-link-group { 
  &__input {
    display: none;
  }
  &__text {
    color: #aaa;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    &.active { 
      color: #000;
    }
  }
}