@import 'base.less';

.breadcrumbs {
  display: block;
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;

  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0 20px;

  @media @md-up{
    padding: 0 0 41px;
  }

  @media @lg-up{
    padding: 0 0 35px;
  }

  &__item {
    display: inline;

    &-text {
      display: inline;
      color: @body-text-color;
    }
  }

  &__separator{
    display: inline-block;
    vertical-align: top;
    margin: -1px 2px 0;
  }
}
