<div class="event-form-subscripiton">
  <h3 class="event-form-subscripiton__title subtitle">{{'subscribeSettings.Title.lbl' | translate}}</h3>
  <checkbox-input [(ngModel)]="isChecked" (ngModelChange)='onCheckboxChange()'>
    {{'subscribeSettings.CanSubscribe.lbl' | translate}}
  </checkbox-input>
  <div *ngIf="isChecked" class="event-form-subscripiton__notes">
    {{'subscribeSettings.SubscribeNotes.lbl' | translate}}
    <textarea
      (ngModelChange)="onChangeInput($event)"
      [ngModel]="inputValue"
      class="event-form-subscripiton__textarea">
    </textarea>
  </div>
</div>
