<!DOCTYPE html>
<html>
<head>
    <script src="/build/head_css.js"></script>
    <title>uCommunity</title>
    <link type="text/css" href="/build/head_css.css" rel="stylesheet" />
    <link type="text/css" href="/build/maincss.css" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            @{Html.RenderAction("TopNavigation", "Navigation");}
        </header>
        @{Html.RenderAction("LeftNavigation", "Navigation"); }
        @{Html.RenderAction("SubNavigation", "Navigation");}
        @{Html.RenderAction("Login", "Login");}
        <main class="main">
            @RenderBody()
        </main>
    </div>

    <script src="/build/app.js"></script>
</body>
</html>
