<!DOCTYPE html>
<html>
<head>
    <script src="/build/css.js"></script>
    <title>uCommunity</title>
</head>
<body>
    @{Html.RenderAction("TopNavigation", "Navigation");}
    @{Html.RenderAction("LeftNavigation", "Navigation"); }
    @{Html.RenderAction("SubNavigation", "Navigation");}

    @RenderBody()

    <script src="/build/main.js"></script>
</body>
>>>>>>> origin/master
</html>
