<!DOCTYPE html>
<html>
<head>
    <script src="/build/css.js"></script>
    <title>uCommunity</title>
</head>
<body>
    some general stuff

    @RenderBody()

    <script src="/build/main.js"></script> 
</body>
</html>
