<section class="faq-panel" *ngIf="data">
  <div class="faq-panel__content">
      <div class="faq-panel__top">
        <h2 *ngIf="data.title?.value" class="faq-panel__title">{{data.title.value}}</h2>
        <div *ngIf="data.description?.value" class="faq-panel__descr" [innerHTML]="data.description.value"></div>
      </div>

      <div class="faq-panel__items" *ngIf="data.items?.value">
          <div class="faq-panel__item" *ngFor="let item of data.items.value; let i = index">
              <div class="accordion">
                  <div class="accordion__tab">
                    <input [id]="item.id" class="input" type="checkbox" name="tabs">
                    <label *ngIf="item.question?.value" class="label" [for]="item.id">
                        {{ item.question.value }}
                        <span class="arrow"></span>
                    </label>
                    <div class="tab-content" *ngIf="item.answer?.value" [innerHTML]="item.answer.value"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
