@import "../../../base.less";

.faq-panel {
  &__content {
      .centered;

      margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__items {
    border-top: 1px solid fade(@text-color, 50%);
  }
}

.accordion {
  &__tab {
    position: relative;
    width: 100%;
    overflow: hidden;

    .label {
        display: block;
        position: relative;
        padding: 15px 30px 15px 0;
        transition: border, color .3s;
        font-size: 18px;
        cursor: pointer;
        line-height: 1.3;
        font-weight: 600;
        color: @text-color;

        text-transform: uppercase;

        @media (--md) {
            font-size: 20px;
            padding-right: 30px;
        }

      .arrow {
        display: block;

        position: absolute;
        top: 50%;
        right: 4px;
        width: 10px;
        height: 10px;
        border-style: solid;
        border-color: @text-color;
        border-width: 2px 2px 0 0;
        transform: translateY(-75%) rotate(135deg);
        font-size: 0;
      }

      &:hover {
        .arrow {
          opacity: 0.7;
        }
      }
    }

    .tab-content {
      position: relative;
      max-height: 1px;
      overflow: hidden;
      transition-property: max-height, padding;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0, 1, 0, 1), linear;
      font-size: 16px;
      line-height: 1.6;

      @media @sm {
        font-size: 18px;
      }

      & /deep/ p {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      // line after a question
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        z-index: 1;
        width: 100%;
        transition-property: background-color, height;
        transition-duration: .3s;
        background-color: fade(@text-color, 50%);
      }
    }

    .input {
      position: absolute;
      z-index: -1;
      opacity: 0;
        height: 0;
        margin: 0;
        visibility: hidden;

      &:checked {
        & ~ .label {
          .arrow {
            transform: translateY(-75%) rotate(-45deg);
          }
        }

        & ~ .tab-content {
          max-height: 500vh;
          padding: 0 0 30px;
          transition-property: max-height, padding;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(1, 0, 1, 0), linear;
        }
      }
    }
  }
}

@import "./override.less";
