._groups-section-color {
    color: green;
}

.umb-overlay.umb-overlay-center.confirm-overlay {
    width: 300px !important;
    top: 200px !important;
    position: fixed;
}

.confirm-overlay.umb-overlay-center {
    height: 110px;
}

.confirm-overlay .umb-overlay-container {
    display: none;
}

.confirm-overlay .umb-overlay-header,
.confirm-overlay .umb-overlay-drawer {
    border: none;
}

.btn-group[button-style="success"] {
    order: 0;
}

.btn-group[button-style="link"] {
    order: 1;
}

.groups-managment .umb-overlay-drawer__align-right {
    flex-direction: row-reverse;
    justify-content: flex-start !important;
}
