<umb-panel ng-controller="mailsController as mailsCtrl">
    <umb-header>
        <!--header title-->
        <div class="umb-headline-editor-wrapper span12 ng-scope">
            <h1 class="ng-binding" ng-if="mailsCtrl.currentNode == 'SENT'">Sent Mails</h1>
            <h1 class="ng-binding" ng-if="mailsCtrl.currentNode == 'OUTPUT'">Output Mails</h1>
        </div>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">
            <div>
                <!--top paging-->
                <div class="paging">
                    <div class="totalpages">Total pages are {{mailsCtrl.pagination.pages}}</div>
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == 1" value="First" ng-click="mailsCtrl.firstPage()" />
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == 1" value="Prev" ng-click="mailsCtrl.previousPage()" />
                    <ul>
                        <li ng-repeat="pageItem in mailsCtrl.pagination.displaybtn">
                            <input type="button" class="btn" value="{{pageItem}}" ng-class="{currentpage: pageItem == mailsCtrl.pagination.page}" ng-click="mailsCtrl.moveToCurrent({{pageItem}})" />
                        </li>
                    </ul>
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == mailsCtrl.pagination.pages || mailsCtrl.mails.length == 0" value="Next" ng-click="mailsCtrl.nextPage()" />
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == mailsCtrl.pagination.pages || mailsCtrl.mails.length == 0" value="Last" ng-click="mailsCtrl.lastPage()" />
                </div>

                <!--Filter Form-->
                <form ng-submit="mailsCtrl.showFiltersValue(mailsCtrl.datepickerStartCreateDate.value, mailsCtrl.datepickerEndCreateDate.value, mailsCtrl.datepickerStartSentUtcDate.value, mailsCtrl.datepickerEndSentUtcDate.value, mailsCtrl.datepickerStartSentInFutureDate.value, mailsCtrl.datepickerEndSentInFutureDate.value)">
                    <div class="filters">
                        <div class="el">
                            <label class="lbl">Subject:</label>
                            <input type="text" ng-model="mailsCtrl.filters.Subject" />
                        </div>
                        <div class="el">
                            <label class="lbl">Body:</label>
                            <input type="text" ng-model="mailsCtrl.filters.Body" />
                        </div>
                        <div class="el">
                            <label class="lbl">From Email:</label>
                            <input type="text" ng-model="mailsCtrl.filters.FromEmail" />
                        </div>
                        <div class="el">
                            <label class="lbl">From Name:</label>
                            <input type="text" ng-model="mailsCtrl.filters.FromName" />
                        </div>

                        <div class="el">
                            <label class="lbl">To Name:</label>
                            <input type="text" ng-model="mailsCtrl.filters.ToName" />
                        </div>
                        <div class="el">
                            <label class="lbl">To Email:</label>
                            <input type="text" ng-model="mailsCtrl.filters.ToEmail" />
                        </div>
                        <div class="el">
                            <label class="lbl">Cc Emails:</label>
                            <input type="text" ng-model="mailsCtrl.filters.CcEmails" />
                        </div>
                        <div class="el">
                            <label class="lbl">Bcc Emails:</label>
                            <input type="text" ng-model="mailsCtrl.filters.BccEmails" />
                        </div>
                        <div class="el green">
                            <label class="lbl">Start Create Date:</label>
                            <umb-editor model="mailsCtrl.datepickerStartCreateDate"></umb-editor>
                        </div>
                        <div class="el green">
                            <label class="lbl">End Create Date:</label>
                            <umb-editor model="mailsCtrl.datepickerEndCreateDate"></umb-editor>
                        </div>
                        <div class="el blue">
                            <label class="lbl">Start Sent Date:</label>
                            <umb-editor model="mailsCtrl.datepickerStartSentUtcDate"></umb-editor>
                        </div>
                        <div class="el blue">
                            <label class="lbl">End Sent Date:</label>
                            <umb-editor model="mailsCtrl.datepickerEndSentUtcDate"></umb-editor>
                        </div>
                        <div class="el red">
                            <label class="lbl">Start Sent In Future Date:</label>
                            <umb-editor model="mailsCtrl.datepickerStartSentInFutureDate"></umb-editor>
                        </div>
                        <div class="el red">
                            <label class="lbl">End Sent In Future Date:</label>
                            <umb-editor model="mailsCtrl.datepickerEndSentInFutureDate"></umb-editor>
                        </div>
                        <div class="el">
                            <label class="lbl">TypeId:</label>
                            <input type="text" ng-model="mailsCtrl.filters.TypeId" />
                        </div>

                    </div>
                    <input type="submit" value="Apply filters" class="btn" />
                </form>

                <!--Mails Sent \ Outbox table-->
                <table class="table">
                    <thead>
                        <tr>
                            <th ng-repeat="setting in mailsCtrl.columnSettings">
                                {{ setting.Name }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mail in mailsCtrl.mails">
                            <td ng-repeat="setting in mailsCtrl.columnSettings">
                                <div ng-if="setting.Alias == 'Body' || setting.Alias == 'FromName' || setting.Alias == 'ToName'" ng-bind-html-unsafe="mail[setting.Alias]"></div>
                                <div ng-if="setting.Alias != 'Body' && setting.Alias != 'IsSent' && setting.Alias != 'FromName' && setting.Alias != 'ToName' && setting.Alias != 'Attachments'">{{mail[setting.Alias]}}</div>
                                <div ng-if="setting.Alias == 'IsSent'">{{ mail['IsSpam'] == true ? false : mail[setting.Alias]}}</div>
                                <div ng-if="setting.Alias == 'Attachments'">
                                    <div ng-repeat="attachment in mail[setting.Alias]">
                                        <a ng-click="mailsCtrl.downloadAttachment(attachment.AttachmentId)" style="cursor: pointer;" ng-if="attachment.Title.length">
                                            <img ng-src="/App_Plugins/SentMails/backoffice/css/icons/{{mailsCtrl.getFileExtension(attachment.Extension)}}.svg" width="30"/> {{attachment.Title}}
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--bottom paging-->
                <div class="paging">
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == 1" value="First" ng-click="mailsCtrl.firstPage()" />
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == 1" value="Prev" ng-click="mailsCtrl.previousPage()" />
                    <ul>
                        <li ng-repeat="pageItem in mailsCtrl.pagination.displaybtn">
                            <input type="button" class="btn" value="{{pageItem}}" ng-class="{currentpage: pageItem == mailsCtrl.pagination.page}" ng-click="mailsCtrl.moveToCurrent({{pageItem}})" />
                        </li>
                    </ul>
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == mailsCtrl.pagination.pages || mailsCtrl.mails.length == 0" value="Next" ng-click="mailsCtrl.nextPage()" />
                    <input type="button" class="btn" ng-disabled="mailsCtrl.pagination.page == mailsCtrl.pagination.pages || mailsCtrl.mails.length == 0" value="Last" ng-click="mailsCtrl.lastPage()" />
                    <div class="totalpages">Total pages are {{mailsCtrl.pagination.pages}}</div>
                </div>
            </div>

            <small class="icons-designed-small">
                <a href="http://www.freepik.com" title="Freepik"> Icons made by Freepik</a>
            </small>
        </div>    
    </div>
</umb-panel>
