:root {
    --white: #ffffff;
    --black: #000000;
    --steel-grey: #f2f0f0;
    --concrete-grey: #dad8d8;
    --greyblue: #67a9af;
    --marine: #083959;
    --warm-grey: #999999;
    --warm-grey-two: #777777;
  }
@import './styles/index.less';