<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="02815812-42bd-4816-8a95-daa5745c62c9" Alias="NewsDetails.LastUpdated" Level="2">
  <Info>
    <Parent>NewsDetails</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Last Updated</Translation>
    <Translation Language="da-DK">Last Updated</Translation>
  </Translations>
</Dictionary>