<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6ffa90f5-3e12-464f-b6d9-dc09fd6f754d" Alias="SearchResult.Title" Level="2">
  <Info>
    <Parent>SearchResult</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search results</Translation>
    <Translation Language="da-DK">Søgeresultat</Translation>
  </Translations>
</Dictionary>