<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bfa49703-6d82-4067-883c-12306f6ab4b8" Alias="Social.FacebookShare" Level="2">
  <Info>
    <Parent>Social</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Facebook Share</Translation>
    <Translation Language="da-DK">Facebook Share</Translation>
  </Translations>
</Dictionary>