.create-bulletin {
    border: 1px solid #ccc;
}

.create-bulletin .user {
    float: none;
}

.create-bulletin .ql-container .ql-editor {
    height: 100% !important;
}

.create-bulletin .dropzone {
    max-width: 100%;
}

.create-bulletin__description {
    height: 100px;
    border: none !important;
}