.notification-page{
    background:var(--color-white);
    box-shadow:0 0 2px rgba(0,0,0,0.2);
    padding:36px 20px 25px;

    @media (--for-tablet-portrait-down){
        margin:0 -20px;
    }

    &__title{
        font:27px/27px var(--font-general);
        margin:0 0 36px;
        color:#262626;
    }
}

.notification{
    position:relative;

    /*._notifications-expanded &{
        z-index:11;
    }*/

    /* Notification popup styles */
    &__icon{
        color:var(--color-white);
        cursor:pointer;
        text-decoration:none;
        margin:11px 0 0;
        display:inline-block;

        &:hover,
        &:active,
        &:focus{
            color:var(--color-white);
            text-decoration:none;
        }

        @media(--for-tablet-portrait-down){
            margin:0;

            ._notifications-expanded &{
                background-color:var(--color-light-gray-2);
                color:var(--text-color-dark);
                padding:23px 0 13px;
                margin:0;
            }
        }
    }
    
    &__number{
        display: none;
        position:absolute;
        top: 1px;
        right: -12px;
        width:19px;
        height:19px;
        background:var(--color-contrast);
        color:var(--color-white);
        font-size:11px;
        line-height:19px;
        font-weight:bold;
        text-align:center;
        border-radius:50%;
        font-family:var(--font-general);
        text-overflow: ellipsis;
        overflow: hidden;

        @media (--for-tablet-portrait-down) {
            top: 13px;
            margin: 0 0 0 5px;
            left: auto;
            right:9px;
        }
    }

    &__list{
        &-holder{
            position:absolute;
            top:100%;
            right:-190px;
            width:570px;
            display:none;
            margin:8px 0 0;

            ._notifications-expanded &{
                display:block;
            }

            @media (--for-tablet-portrait-down){
                width:100vw;
                transform:translate(0, -100%);
                transition: transform linear 200ms;
                display:block;
                left:auto;
                right:0;
                max-height:calc(100vh - 60px);
                overflow:auto;
                margin:0;

                ._notifications-expanded &{
                    transform:translate(0, 0);
                    z-index:11;
                }
            }
        }

        &-frame{
            &._loading{
                min-height:200px;
                position:relative;
                background:var(--color-white);
                border:1px solid var(--color-light-gray);

                &:after{
                    position:absolute;
                    top:50%;
                    left:50%;
                    margin:-32px 0 0 -32px;
                    width:64px;
                    height:64px;
                    content: url(data:image/gif;base64,R0lGODlhQABAAKUAAAQCBISChMTCxDw6POTi5KSipCQiJNTS1PTy9LSytFxaXBQWFJSWlAwKDMzKzExOTOzq7KyqrNza3Pz6/Ly6vIyOjDQ2NGRmZAQGBISGhMTGxERCROTm5KSmpCwqLNTW1PT29LS2tBwaHJyenAwODMzOzFRSVOzu7KyurNze3Pz+/Ly+vGxqbP7+/gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJBAAtACwAAAAAQABAAAAG/sCWcEgsGocISuWy8WiGK4rmwJkcr9is9pMZAL7g1TAxKpdDh5N2zR5ORhaw/CsWosz4UUKiavuLExUic4R1LWQMI4mJZh0fVn9tKAaElYZ3eYp4ESmRWhAmlZUNAkMhmXiMIxQgnkcUC6JfGCYMKwhGExASAgWomgUErkQVshgKEa1tEL2amQfDQiyjAWquEw6+qorJ0S3Tchcc3kLY2mURuJ59Q+AiT+REEBHo6pEfCZBCFw/W8UQTBESAQEQCtDUQyuT7x0ZfCwllhGUB0cHMQoZtPpRhUMDekRV5LmLMohEPBSwENmo6OVKLAJVlJBxRQQ9PAYctj0wgY4ZB/gScLUqqkpgzC4I8DA4OoZmnVNE1DmDeLCgV6NNcvvAoPZTHwVU2EFVGQFL165oJWc0QbHGgqVk2UTkm8srV2dq3WRLiSdDijU28bOjJHTGBA0yngLNExUOgpBmZibOElXtAg7MRdyMfOarIFwUKqaxqHtKzQAKeZQqMzlKzgE8EsGOvxhJb9uzbuHNjCdGhdwcUuokk8N0hAWg8olen1fMST2bcnM1QaOsMsu4UmuYa7ok492IzBN6oGhtcsBlcqMs8Xx0dnRDqmujijruR7ok8U29PqOh8jKqkuIW1EV9DTJZacmZNYF4ZW6HV1WzwHVgEfIys9xZnjDAgnxut4qGDYE4qpDfCT0cQsIgZ3b1lmTMMWGfEcZp0Axh9CiXn4AgFdKTZdzpmkdJrgDm0mItYHJBOQQJ86IoKDojUggMbauFQWCj48w8CPDk5DESMFOCAkmdRqAeYWAjoTAElkGmECh/UFJKaRrS1jRleWrkGAg7wpxIjDrAzDAHLzRmBBil4RAQCKTiASU82ETkMCBTMOSc6/sCIVEiGkiNBVtvMedei2eEnAZxtTHBAWpJiNgZM+H35lanpbfPpLxEcQKo3EDSJoyp3JbBNBA5YCBgCBBxAQQIDDXEsBQ4QkKknQQAAIfkECQQALAAsAAAAAEAAQACFBAIEhIKExMLEREJE5OLkpKKkJCIk1NLU9PL0tLK0ZGJkFBYUDAoMlJKUzMrMVFJU7OrsrKqs3Nrc/Pr8vLq8NDY0fH58BAYEjI6MxMbEREZE5ObkpKakLCos1NbU9Pb0tLa0ZGZkHBocDA4MnJ6czM7MXFpc7O7srK6s3N7c/P78vL68/v7+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABv5AlnBILBqHk40nQ0mchitK5rCZHK/YrBZxAJG+YMgQBf6CDk+tei1USRJlcIMkFsLj34RExe4XVR4ReHNhYySEhGAcHlZ+bASCcocFcXUsd2WIlBEpjlofApmUkoVCXpMNo6QUH55HG5GJqAUCEhCNRBMQEgKxBallBQSuRB6Uc8eUtAR8bBAOqodlB8RCDqIkBQetrhPQ2BHcxA6yArjVCNfBCN1E6hGW1UQQkRHsnhgV99YU5/K5vfaxkFBizQoAACqk+bfmnIcvw7JAWIAw4UKGbCR8acBBoJEHFRHqw8jmYRkKWFCERDigGUktoTRJODJBxMoFEV9qmYDpS/4BfywwrAQAQiebE7+SkiiYy2bIEEb7lFDF8RyJlSPiRc0ygcOkL9SGVFhpYWsfjRsLoBjiYeWFi2a5RqMjJMBKBXH7XEuVyoGQsSFX5D0aJwELBDeBDr4SadIHECtNLGaTIQ4BoSEbTF6TQtqhAyFWCt68JZoADSs9kj5SuENIBqvVCCIUgYCE2yk6xc7yAcEEBMB3Cx9O3BMIDsg5rC1eJEFyDgkoxFE8PFqCUGW0EkcQh8KBjV9mMhfSeU7fDZkyjLdmeUKcCOtZND5kBU4i7bu5e4bPokQcv8ypAwaA+oHxU3FdeUaXHeA14EFxaIHBnxARfhEBdYtNEAtYufNE0wCAu30HTDb+fOdZAfgNVqA0ICIxXwMJYLgVT+8pRoAsJAiwWmVpNSDeEQLIEg5pAubhkhEfNFaAaoOR4xOTRBBgIZRRnbNXTlkcsCQRvMhIjAoOxOhOiztx+QUKcP2DwB1i/lPhUl42ZCIYbRKDliwFlBDnFYA0lkidnsypYDYOpJlFOl4NQoIDR3pCwFwjkhBBBilAiUAKDpCRSVoF6KamdJviIelCoA5iHZWuSABpWqWwoGmDoyCzR5VaiuqZJXdEOok2e1YzwQE9ZWLJq7NEcECvGD0T7IKXfEVCAg6kOBkCBBzQRASkXucAAaiyEQQAIfkECQQALwAsAAAAAEAAQACFBAIEhIKExMLETEpM5OLkpKKkJCIk1NLU9PL0tLK0bGpslJaUFBIUNDY0zMrMXF5c7OrsrKqs3Nrc/Pr8vLq8jIqMLC4sfH58nJ6cHBocDA4MhIaExMbEVFJU5ObkpKakJCYk1NbU9Pb0tLa0bG5snJqcPDo8zM7MZGJk7O7srK6s3N7c/P78vL68HB4c/v7+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABv7Al3BILBqHE0+IQ0mkhi0K5+CZHK/YrBZxGGG+JUwJMlSJv5jR4altu4UsSeJ8Do+HCbvYnpCw3oBFLCERdYZhZEIqenpiHyFWgW8EhSWMh4kvZpdhZxErkloiAo2cYgVsLxSmlnsYFCKhRx4RrBgFLRIQkUQTKRICtXSdlh8EskQhBa2MBQIEvG0QHMuHXwfIQg7MZwUn0YEiJwWHJRGx2RyGHOCyIg5gYhEIsn9D2xgRmdlEKYv5qQKFSBCNQ4t2/IRMEPCB3hAJJ9xA+EIwISB0QiSIOZZFxAc+CC1mkWCngMMrLYZVFOkmhCEKWAjUCQOTpRsOlyQcYVHpzP4HjDazTNjks53LRvuCZklRzU5EIjwZcVAK6ESzaBr1FAhJ1ciED4ZCEJmjB1vXNyEYqRiCwFABoGeFfqST6IDUuIDg6XEgZASjpHixpDCU4MWEeCU+BAb0z44ID4YELH6DrxOBtHXETm6zYuYBnHQ3t2mrJ8pMrqKHIB6Rx2fqNsLCnEMggjbc10Zq676Nu7fv320aMGCggYEB4EYSfFj+IYEJANChn0T+Ak2YBA+iQ59K/YWIlxW0A1jQ/cUKRicSiH9QvvLGFOIZlG8sJpYF8dyBD9YTQcgF8QpQZ1UdfL1wgHgaTIfbV4Zk0oB4GwBHUh1rDVFCfAGlxqAemvsJIQID4pHg2wFugbOBeAAUmBpT6OXmgnggKBgYC2QVdUQEKHaQmjqM6HTFAOJlAFhcPJ6RgD1HEKBBdBl0uJlet2SYHHRNbobkC9uUAEobAVT5kACoIcMCBysJwcFTbnhARGcYqCAlPwjMgUGZ2ZCkxzcWTUCiK3SGotEwt+BZDyHW9BkIiXY048CbWCDgAFimOHBlKASQc4knHKwgoxAIrODAP9aUUMCWCYmwSqjxADQEBdahWsIIm2azAqSuYpAJUax84AdVes7FSiatmeJNmAlNMNCvZYSqwgHE2pRCepgkq0cCDgy52QQEHNDCCCpk0kQLBxDAmyRBAAAh+QQJBAAuACwAAAAAQABAAIUEAgSEhoTExsRERkTk5uSkpqQcHhzU1tRsamy0trT09vQUEhSUlpR0dnTMzszs7uysrqwsLizc3ty8vrwMDgxUUlT8/vwcGhycnpx8fnwEBgSUkpTMyszs6uysqqwsKizc2tx0cnS8urz8+vwUFhR8enzU0tT08vS0srQ0NjTk4uTEwsRcWlykoqT+/v4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/kCXcEgsGocjwkEgQj2GE5HARBgdr9is9mRKYL7gzhAC/iZMT616LbSAUGUwAyMWwuNfFMjC7hctBx54c2FjGHOIZQUHVn5sKoJyh3h1LiiEZZgYHhKOWgormXhfGy2VIqOSXyIKnkcEkZplIiAdjUQjHSArLalzLSquRAe9mJgrKrdqHbwYG6MmwkIck2UtJifCIxy9zmUerdLUZSvZ0kLbGN3q5o58QxxzHsHnRR2CGx7tfgcoyhwilNVDskIfERAO1nTII3AgFmUgvtDDoqAAGH8O+X1h0GKfkQlxMGZUcyCOCCwqNk46OVJNqGoYQByxEAlMi4YtjYy4s9FD/sOSMCfmzHICJoNoRGjGWTGUjYk4Nw+qVIezqc5uzzAgtROHg1U2Eb8NKVot6lc1I7B+qfOU3Fk248B4tTS10tssC8ugcDEC6l02+FqUOkFgKtO/auJKBApGJmItYeUKgGn38RGyWUWgArOhquUhIXmq+6wlUil9J1Kf8EzahWrVrWPLns0mQYHbBSDQLoICdwEUm8Gw/rwOA4qXhXa7NtmWkOPdEibN4VBYzuHdijEkg+lBuQtBmLKJprObLJjuLtp6mzubGqENcx9AHf52hMUylS7J2do68hf0QvhHVWwjgEfKc3yphQF7n6n3hVlDOLgWaWRhwiA6Nf1HX0sW6owHIREqzFHKF9f9NRlM/BUR3DPgPJadSEekdZ5Hd8UDBo1FpLRJZV+9M80XCGJhQkdEMMACjvVYwAGMLnBwYRbKMAAAAB8kNNIJdzApjJRTTtlAGueMIKGWjnDZ5ZQUlACmOyDcBxOZfWRw5pwUhGAlGydw4KYqHPjoCgQUzDmnAQhgcMAVJ0jAQYYwqROkMCoMIOikGlzAXnCihISkMBiQMKmgEwwxniylgLChIydkEOinU4YqBBmN2sTBqcIosMEHrLpKlyybmEDrQBw0gOucusJ6Hgc8PkYABAFUkIIB1zUhggkgbNpHEAAh+QQJBAAyACwAAAAAQABAAIUEAgSEgoTEwsREQkTk4uQkIiSkoqTU0tT08vQ0MjS0srQUEhRkZmSUlpQMCgzMyszs6uwsKiysqqzc2tz8+vw8Ojy8urx0cnQcHhycnpx8enwEBgSMiozExsRMTkzk5uQkJiSkpqTU1tT09vQ0NjS0trQUFhScmpwMDgzMzszs7uwsLiysrqzc3tz8/vw8Pjy8vrx0dnT+/v4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/kCZcEgsGoeUj6hjUaiGMEvn8KEcr9isFnEoZb6nzAkyZIm/mdLhqW27ha6J4nwOj4cKu9iumLjegEUuIhJ1hmFkQix6emIhIlaBbwSFJ4yHiTJml2FnEi2SWiMCjZxiBmwyFqaWexkWI6FHHxKsGQYwExCRRBQqEwK1dJ2WIQSyRCIGrYwGAgS8bRAdy4dfB8hCD8xnBinRgSMpBocnErHZHYYd4LIjD2BiEgiyf0PbGRKZ2UQqi/mpAolQEK0DjHb8hFAQEILekAkp3ED4QjAhIHRCJog5lmVECD4ILWaZYMeAwyswhlUU6UaEIQtYCNQJA5Olmw6XJhxxUelM/giMNrNQ2OSznctG+4JmUVHNTkQiPBl1UAooRbNoGvUYCEnVCIUQhkQQmaMHW9c3IhixGILAkAGgZ4V+pJPogNS4gODpeSCkBKOkeLGoMKRABoV4J0IEBvTPzogPhgQsfoOvE4G0dcRObtNi5gGcdDe3aasnykyuoocgLpHHZ+o2wsKcQzCCNtzXRmrrvo27t+/fbUqEGB5iLfAiCoiHULCqDurX5PgIMBQQOAJGMA4Y0nlcSGc9KT4wktxdht4z0AwpLt9YDD2yZwDjvl7HeIp13a3W4SuDfsnngUVVRyZ+0WGWb5jZYVxG6gF4FgU9haGZQmDZcQJ/uNlVx1ZF+WjXSHWTDWbIU73EJgYLDtrkwhx1hIAQAZeQt5k6jHB3hAWGnCNaZWIoYM8RHtkxz2uVmaSFTOaA+CAR+IDSxgE/EQFMioFQwAAJJ8nQAYZtYBUGC0pmI0ICAABAQpiBkBTPNxaNEMAGZZZ5Jj9ZDeMNlUWM0AAGcfaJZTYeGnLKA2geIUIMJvSp6AV4GkFAdILK1kELWSYTwgV8KtrnBhmINEJzptAhQSoDwKmppiQ4yVILFVqjRyYgnKooCif8aBMFKbRqCqyylulADIVaRMFArPB6agEcBBuUCinAZ4excYJwAQy/UUDAATCUwEImL6zgQQAScMRPEAAh+QQJBAAxACwAAAAAQABAAIUEAgSEgoTEwsRMTkzk4uSkoqQcHhzU0tRsamz08vS0srQMDgwsLix0dnSUlpTMyszs6uysqqwkJiTc2tz8+vy8urwMCgx0cnQUFhR8fnycnpwEBgSMiozExsRkZmTk5uSkpqQkIiTU1tRsbmz09vS0trQUEhQ0NjR8enycmpzMzszs7uysrqwsKizc3tz8/vy8vrz+/v4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/sCYcEgsGoeUj6hTUayGsErn8KEcr9isNnEoab4pTQoyZIm/mtLhqW27ha+J4nwOj4cKu9iumLzegEUvIhF1hmFkQix6emIgIlaBbwSFKYyHiTFml2FnES6SWiQCjZxiBWwxFaaWexoVJKFHHxGsGgUwExCRRBQrEwK1dJ2WIASyRCIFrYwFAgS8bRAdy4dfB8hCD8xnBSrRgSQqBYcpEbHZHYYd4LIkD2BiEQmyf0PbGhGZ2UQri/mpAolQEK0DjHb8hFAQAILekAkq3ED4QjAhIHRCJog5loUECD4ILWaZYKeAwyswhlUU6UaEoQpYCNQJA5Olmw6XJhx5UekM/giMNrNQ2OSznctG+4JmWVHNTkQiPBl1UApIRbNoGvUUCEnVCAUQhkQQmaMHW9c3IhixGJLAUAGgZ4V+pJPogNS4gODpeSCkBKOkeLGsMKQgBoV4KUAEBvTPDokPhgQsfoOvE4G0dcRObuNi5gGcdDe3aasnykyuoocgLpHHZ+o2wsKcS0CCNtzXRmrrvo27t+/fbUqAGA5iLfAiDEyYWGCixao6qF9bAEAdQAsBhgICn1Cd+oADhnQeF1KgOwAUHxhJHh/jgnkQh/UoZi/BPCiyZwDjFmHegBAV64yHgnkjCJHAVcCRgIF568XgFx1m+eaAeSEQkVVRvpFggHkc/fQClh0p8NVbAOZZcJIQ4DWi3WQibGBeA17FJgYL0SlFwQnmmbBiDARc0uBkHpgHgANYVGDIOaIhYN4JXHlkxzyvBUndBprFJM+OXdkjhJIAFODGAT9ZKECNobzwwEpCeFDgG1iFwQKWyCTQGpoxaBkISfF8YxEF4NVBZygXEuMNmTsRYghFhB6R4qEpFPAAnEck8MCH5TxgZygEkHOJJx24cCIRCbjwwD/WNAqKRSQ8ZwodEaRiJGKllvBpQi5QaksmRLECgh9UUaCCrdZk0popg+JFwUCs4FoqCwckatEKKuBnh7J6KPCAfptRQMABMJTAQiZNwHAAAbxJEgQAIfkECQQAMAAsAAAAAEAAQACFBAIEhIKExMLEREJE5OLkpKKkHB4c1NLU9PL0tLK0FBIUbG5slJKUDAoMzMrM7OrsrKqsLC4s3Nrc/Pr8vLq8dHZ0nJqcVFZUHBocBAYEjI6MxMbE5ObkpKakJCYk1NbU9Pb0tLa0FBYUdHJ0lJaUDA4MzM7M7O7srK6sNDY03N7c/P78vL68fHp8nJ6cXF5c/v7+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABv5AmHBILBqHE85nQ0mchizK5sCZHK/YrBZxCLm+FpflMUSJv67Q4altu4UrSeJ8Do+HCbvYnpCs3oBFKx8QdYZhZEIoenpiHR9WgW8EhRaMh4kwZpdhZxAqklogAo2cYgVsMBSmlnsuFCChRxwQrC4FLBIPkUQTJxICtXSdlh0EskQfBa2MBQIEvG0PG8uHXwfIQg7MZwUm0YEgJgWHFhCx2RuGG+CyIA5gYhAIsn9D2y4QmdlEJ4v5qQJ9SBBtA4t2/IRMENCB3hASLdw8+EIwISB0QiwAAABBVAc+CC1mIbERQANQWFgMqyjSDYOSGweEJFAnDIWWb17A3GjhyP6KSmc6YMSZBUSEnQoCCvlgyMU+olkcZNgZkchPRhugAmqxs4RDIRIMFQip1cgJETs1EJmjB1vZNxp2ehiCQOzQt1kQlNiZFcYBrHgBjdhZQUgIRk8DYzGxMwKMCfEsdFAMyMBODhwMCaD8ZsFOCB8YfeDspsDOABsaJSZt5MPOCxRqkmUNZ2rJFHmC0m6DASYGEAiAg7i72wgBCchVoCzOvLnzQCE6SO+A4rmRBNM7JFhVZ/ZucnwEGFLqHAEjFgcMSbA+RIUhExwYbWYPA54eaIYm0/9nhx7bM6vtZl4d1cFgwjrsmcCIA0IMaMdYz11VRyaH0eFWc6ERSERYev504B1eEwAVxmhIdFATg8z9VQeERKTXCHmUnRCZCyYYESIjKHxI1Apz1OHhEQRcMh9p6jCy3hWx6XEOa/jwYc8RIHwkz1ekNVkAlUDKA2NZT9YXxnJZHCDUhgLoKMkKDrAkxAY1vhGNBGGgsCUyCOSmZjZwxvONRROkV8edoXA4jDdmGjGIiGgAGoiLTVlQgANzHoGAAyZyYoEDXYZCAHiN5rOBCljSpYID/1jjKJjZgMCdKXRAkEpsM3ISQqj8qFCpqQCWgasdHfih1QQm3GpKJrmZQmhgEwzESiabHILCAYVadIIJ/9nBrCEJOBAgZxMQcAALIaCQSRPoEUBcKAJBAAAh+QQJBAAxACwAAAAAQABAAIUEAgSEgoTEwsREQkTk4uSkoqQcHhxkYmTU0tT08vS0srQUEhSUlpR8enwMCgzMysxcWlzs6uysqqw0MjTc2tz8+vy8uryMioxMSkxsamwcGhwEBgTExsRERkTk5uSkpqQsKizU1tT09vS0trQUFhScnpx8fnwMDgzMzszs7uysrqw0NjTc3tz8/vy8vryMjoxsbmz+/v4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/sCYcEgsGocVT4hjUaSGmMHhNUocr9isNoEYlb7gyBAEKJdXAYR2zR62KAqwnFESC8nm/IQhavuLLSEScl90YWN5iQAkF1Z/bQSDYHSGcnYxBoqKGgWPWiICc4STBZcrmpodBJ5HHpKVhBYUERVGCQ8MECSoZScKrEQhBSWVlQIEtW0CGQ68JsBCD8SEBQiOngkNG5oGHtAx0nIC19ARGdtmGhSsLUS4JRKr30UPeCQsrCEKydEW/PNEEuhaN4QCCjYRvuwD2OZJwS/ysIj4AGYhQz8hwBQgZ8QFIYsXtWQsVMICFgIk6ZgMuSYUIYKAJGn8x/JKBQWUvhSgGWNk/qWINbMkGCbnIJEWMr8ICNomXKGdRCiQLAGV6ZoKRMGoGRJHzgOrbaROgzckwdSqYLVgJWQHAaGladmEM/Q1RldDl+JmSUiVzq8K1PS2GcSAaAIPU+EK1jIX4kgwMBdjEQvmAYexdSRvMVTYgoU5PDUXIVqAgYKuOkVrIUxVQoLXsFULhf1atu3buNuM+MD7g4rcRRT0/qDgs5zQtrOWUODyEPAYZuVYcDs2Mm4W0+g8QDxJcW6nEAFXkvA8BusvVlB/yWs7OhjyMahPq4tbGue6KaghX1yBoiWuxWxlG2XE/PLQWGiJVsF5JQgYw1pe2SafTjTJh5dq0d1nxII6230hwX5MtaAePKERkJNSml02FgPWEWHcNBL0sZh9Fe0HYQEbieZUjlmgxIBr/LnzRYtHIABkQQKACEwLD4AEDn1XRfWFCg5dlEBXTgIjlSEFPKAkGxVYuNyXWRDIJQpkHhFIUjVC4xYsGj1QJRu3+JfSFw+0Aw0BysEpAQcscFQWCw+oQAgsBRDpiQgWwAmnh1W+eOhHgn5DAVGwwHmJoZNgphMFaf4RZlaOZibEXaNQ5WVaYaoHy6apwoNAqABF0GRfztkFiwQPsKdZAgQg0IQElzRhwQMEVPpIEAA7);
                }
            }
        }
    }

    &__all{
        display:block;
        border:1px solid var(--color-light-gray);
        background:var(--color-white);
        padding:10px 20px;
        margin:-1px 0 0;
        color:var(--text-color-dark);

        &:hover{
            color:var(--text-color-dark);
            text-decoration:none;
            background:#eef2fb;
        }

        .hide + &{
            display:none;
        }
    }

    @media (--for-tablet-portrait-down) {
        position:absolute;
        width: 57px;
        right:-5px;

        &__icon {
            position:relative;
            z-index:12;
            display:block;
            text-align:center;
            padding:22px 0 13px;
            transition:opacity 0.4s ease;
            opacity:1;

            ._menu-expanded &{
                opacity:0;
            }
        }

        &__list{
            width:auto;
            right:0;
        }

        &__all{
            border-width:1px 0;
        }
    }

    @media (--for-tablet-landscape-up) {
        float: left;
        width: auto;
        text-align: left;
        padding:0;
    }

    /* Notification page styles */
    &__title{         
        font:bold 20px/22px var(--font-custom);
        text-transform:uppercase;
        color:var(--text-color-dark);
        margin:0 0 28px;
    }

    &__list{
        margin:0;
        padding:0;
        list-style:none;
        background:var(--color-white);
        border:1px solid var(--color-light-gray);

        @media (--for-tablet-portrait-down){
            border:none;
        }

        .notification-page &{
            background:none;
            border:none;

            @media (--for-tablet-portrait-down){
                margin:0 -20px;
            }
        }

        &-item{
            margin:0;
            border-bottom:1px solid var(--color-light-gray);
            position:relative;
            display:flex;
            width:100%;
            padding:13px 18px 13px 20px;
            color:#333;

            &:first-child{
                &:before{
                    display:block;
                    content:'';
                    width:10px;
                    height:10px;
                    background:var(--color-white);
                    border:solid #bfbfbf;
                    border-width:1px 1px 0 0;
                    transform:rotate(-45deg);
                    position:absolute;
                    top:-6px;
                    left:50%;
                    margin:0 0 0 77px;

                    .notification-page &{
                        display:none;
                    }
                }

                &[data-viewed='false']{
                    &:before{
                        background:#f6f6f6;
                    }
                }
            }

            &:hover{
                cursor:pointer;
            }

            &:last-child{
                border:none;
            }

            .notification-page &{
                padding:18px 20px 14px;
                align-items:center;

                &:first-child{
                    background:#f6f6f6;

                    .avatar__letter{
                        background:#fff;
                    }
                }

                @media (--for-tablet-portrait-down){
                    align-items:flex-start;
                }
            }

            &:after{
                position:absolute;
                top:-1px;
                left:0;
                right:0;
                bottom:-1px;
                background:#eef2fb;
                display:none;
                z-index:-1;
                content:'';
            }

            &[data-viewed='false']{
                .notification &{
                    background:#f6f6f6;

                    .avatar__letter{
                        background:#fff;
                    }
                }

                &:after{
                    display:block;

                    .notification &{
                        display:none;
                    }
                }
            }
        }

	    &-heading{
		    font:13px/20px var(--font-general);
		    color:#333;

		    &:hover {
			    color:#333;
		    }

		    p {
			    margin: 0;
		    }

            &-link{
                color:#333;
            }

            .notification-page &{
                padding:0 170px 0 0;
                @media (--for-desktop-down){
                   padding:7px 0 0;
                }
            }
	    }

        &-title{
	        position: relative;
            margin:0;
            font:bold 16px/22px var(--font-general);

            p{
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }

	        &-link {
		        color: var(--text-color-dark);

		        &:active,
		        &:focus,
		        &:hover{
			        color:var(--text-color-dark);
		        }
	        }
        }

	    &-meta{
		    flex-grow:2;
		    margin:0;
		    font-size: 13px;

		    &:after {
			    content: '';
			    display: block;
			    clear: both;
		    }
	    }

        &-icon{
	        position: absolute;
	        left: -32px;
	        top: 2px;
	        width:30px;

            .icon-lightning,
            .icon-cancel,
            .icon-time,
            .icon-like,
            .icon-comment{
                &:before{
                    font-size:16px;
                    color:var(--color-light-gray-3);
                }
            }

            @media (--for-tablet-portrait-down) {
                & {
                    margin:0;
                }
            }

            .icon-time,
            .icon-cancel,
            .icon-lightning {
                display:block;
                padding:1px 0 0;
            }

            .icon-like{
                display:block;
                margin:-2px 0 0;
            }

	        .icon-comment{
		        display:block;
		        padding:2px 0 0;
	        }

            .icon-lightning{
                &:before{
                    font-size:20px;
                }
            }

            .notification &{
                display:none;
            }
        }

        &-description{
            padding:2px 0 0;

	        &:after {
		        content: '';
		        display: block;
		        clear: both;
	        }
        }

	    &-name{
		    margin:0;
	    }

	    &-date{
            font-size:11px;
            line-height:20px;
            display:block;
            padding:2px 0 0;
	    }

        .avatar {
            margin-top: 5px;
        }
    }
}