@import 'base.less';

:host(.pop-up) {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
}

:host(.pop-up--with-shadow) {
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-content {
  .white-block;
  padding: 35px 20px 20px;
  position: relative;

  &-wrapper {
    width: 800px;
    max-width: 90%;
    padding: 0 5%;
    margin: 5% auto;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: @body-text-color;
    border: none;
    background: transparent;
    margin-left: auto;
  }
}
