:host{
  ::ng-deep{
    app-heading .heading__title{
      .h1;
    }

    app-picture img{
      margin: 0 0 30px;

      @media @sm{
        margin: 0 0 40px;
      }
    }

    .large-text{
      .large;
    }
  }
}

.news-page{
  padding-bottom: 20px;

  @media @sm{
    padding-bottom: 40px;
  }

  &__bottom-content {
    .centered;
    margin-bottom: 40px;
  }
}

.details {
  &__top {
    margin:0 0 23px;
  }
}
