@using Umbraco.Web
@model Umbraco.Web.Models.LoginStatusModel
@{
    Layout = null;
}
<div>
    @if (Model.IsLoggedIn)
    {
        <h3>Hi @Model.Name</h3>
    }
    else
    {
        using (Html.BeginUmbracoForm("Login", "Login"))
        {
            <input type="text" name="login" placeholder="Login" />
            <input type="password" name="password" placeholder="Password" />
            <input type="hidden" name="clientTimezoneOffset" class="clientTimezoneOffset" value="" />
            <input type="submit" value="Login" />
        }
    }
</div>

<script src="~/App_Plugins/Core/Content/scripts/TimezoneOffsetSetter.js"></script>
