<div ng-controller="utmConfigurationPanelController as vm">
    <div class="utm-control">
        <umb-load-indicator ng-show="vm.working"></umb-load-indicator>
        <div class="control-group">
            <label class="control-label">Panel visible (default)</label>
            <umb-toggle checked="model.value.isVisible" on-click="model.value.isVisible = !model.value.isVisible">
            </umb-toggle>
        </div>

        <div ng-hide="vm.working || !vm.utmParameters">
            <table class="utm-table">
                <thead>
                    <tr>
                        <th colspan="2">Parameter</th>
                        <th>&nbsp;</th>
                        <th>Value</th>
                        <th>Visible</th>
                        <th>Hide</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>?</span></td>
                        <td>
                            <select ng-model="vm.utmParameter" data-ng-options="parameter.value as parameter.value for parameter in vm.utmParameters"></select>
                        </td>
                        <td>
                            <span>=</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.utmValue" />
                        </td>
                        <td>
                            <input type="radio" ng-model="vm.utmVisible" ng-value="true" />
                        </td>
                        <td>
                            <input type="radio" ng-model="vm.utmVisible" ng-value="false" />
                        </td>
                        <td>
                            <button type="button" ng-click="vm.addParameter()" class="btn umb-button__button btn-action">Add</button>
                        </td>
                    </tr>
                    <tr ng-repeat="query in model.value.parameters">
                        <td>&nbsp;</td>
                        <td colspan="3">
                            <span>?{{query.parameterName}}={{query.parameterValue}}</span>
                        </td>
                        <td>
                            <input type="radio" ng-model="query.isVisible" ng-value="true" disabled />
                        </td>
                        <td>
                            <input type="radio" ng-model="query.isVisible" ng-value="false" disabled />
                        </td>
                        <td>
                            <button type="button" ng-click="vm.removeParameter($index)" class="btn umb-button__button btn-info">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
