@import "base.less";

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    text-transform: uppercase;
    color: @key-color;
    height: 100%;
    font-weight: bold;
}
