@model uCommunity.Events.EventsOverviewItemModel

<div class="content__item">
    <div class="row clearfix">
        <div class="col-md-9">
            <span class="content__item-label">VIGTIGT</span>
            @Html.Action("ActivityItemHeader", "Events", new { header = Model.HeaderInfo })
            <div class="content__item-image"> </div>
            <div class="content__item-images">
                @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.Media }); }
            </div>
            <div class="content__item-txt _clamp">
                <p>@Html.Raw(Model.Description)</p>
            </div>
        </div>
    </div>
</div>