@using System.Web.Mvc.Html
@using uCommunity.Core.Extentions
@model uCommunity.Events.EventsOverviewItemViewModel

<div class="content__item">
    <div class="row clearfix">
        <div class="col-md-9">
            @if (@Model.IsPinned)
            {
                <span class="content__item-label">@Html.Localize("EventItemView.Pinned.lbl")</span>
            }            
            @Html.Action("ActivityItemHeader", "ActivityHeader", new {header = Model.HeaderInfo})
            <div class="content__item-image"> </div>
            <div class="content__item-txt">
                <p>@Model.ShortDescription</p>
            </div>
            <div class="content__item-images">
                @{ Html.RenderAction("Preview", "LightboxGallery", new {model = Model.LightboxGalleryPreviewInfo}); }
            </div>
        </div>
    </div>
</div>