<div class="panel" ng-controller="gmailSyncController">
    <div>
        <p class="span1 control-label">Client id:</p>
        <input type="text" class="span3" ng-model="gmailSettings.clientId" />
    </div>
    <div>
        <p class="span1 control-label">Client secret:</p>
        <input type="text" class="span3" ng-model="gmailSettings.clientSecret"/>
    </div>
    <div>
        <p class="span1 control-label">Domain:</p>
        <input type="text" class="span3" ng-model="gmailSettings.domain"/>
    </div>
    <div class="m-b-20">
        <p class="span1 control-label">User:</p>
        <input type="text" class="span3" ng-model="gmailSettings.user"/>
    </div>
<button class="btn btn-primary" ng-click="sync()">Sync</button>
</div>
<div id="googleSyncResult"></div>
<hr />

