@model Uintra.Bulletins.BulletinItemViewModel

<div class="feed__item">
    <div class="clearfix">
        @{ Html.RenderAction("ItemHeader", "Bulletins", new { model = Model.HeaderInfo }); }
    </div>
    <div class="feed__item-image"> </div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="feed__item-txt _clamp" data-url="@Model.Links.Details">@Html.Raw(Model.Description)</div>
    }
    <div class="feed__item-images">
        @{ Html.RenderAction("Preview", "LightboxGallery", new { model = Model.LightboxGalleryPreviewInfo }); }
    </div>
</div>
