@using uCommunity.Core
@using uCommunity.Core.Extentions;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<uCommunity.Core.Controls.LightboxGallery.LightboxGalleryViewModel>>


@if (Model.Any())
{
    <ul id ="js-lightbox-gallery" class="gallery js-lightbox-gallery clearfix">
        @{
            foreach (var media in Model)
            {
                switch (media.Type)
                {
                    case MediaTypeEnum.Image:
                        var originalSize = $"{media.Width}x{media.Height}";

                        <li class="gallery__item">
                            <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" />
                        </li>
                        break;
                    case MediaTypeEnum.Document:
                        <li class="gallery__item">
                            <a href="@media.Url" target="_blank">
                                <span class="file-extension __@media.Extention"></span>
                            </a>
                        </li>
                        break;
                }
            }
        }
    </ul>
            }