@model uIntra.Comments.CommentPreviewModel

@{
    var showCount = Model.Count > 0 && !Model.IsReadOnly;
}

<span class="comments-preview @(showCount ? "_hasComments" : string.Empty)">
    <a class="comments-preview__link" href="@Model.Link"><i class="icon-comment"></i> @(showCount ? Model.Count.ToString() : string.Empty)</a>
</span>