@using System.Web.Mvc.Html
@model uIntra.Core.Location.ActivityLocationEditModel

<div class="js-location-edit">
    <div class="row">
        <div class="col-md-12">
            <input id="js-map-address" type="text" class="form__input" name="location.address" value="@Model.Address" />
            <input id="js-map-short" type="hidden" name="location.shortAddress" value="@Model.ShortAddress"/>
        </div>
    </div>
    <div id="js-map-container" class="map-container"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYsiyBtRRDhGvCkNkdpUJq2KdZJDyhCHg"></script>