@using System.Web.Mvc.Html
@model uIntra.Core.Location.ActivityLocationEditModel

<div class="js-location-edit">
    <div class="row">
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Address, new { @class = "form__input", type = "text", id = "js-map-address", name = "location.address" })
            @Html.HiddenFor(model => model.ShortAddress, new { id = "js-map-short", name = "location.shortAddress" })
        </div>
    </div>
    <div id="js-map-container" class="map-container"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYsiyBtRRDhGvCkNkdpUJq2KdZJDyhCHg"></script>