.umbraco-panel * {
    box-sizing: border-box;
}

.umbraco-panel {
    padding: 10px;
}
.umbraco-panel__row .umbraco-panel,
.umbraco-panel._document-panel{
    padding:0;
}
.umbraco-panel__row {
    overflow: hidden;
    margin: 0 0 20px;
}

.umbraco-panel .umb-search-field,
.umbraco-panel .umbraco-panel__text-field {
    width: 100%;
    display: block;
    height: 30px;
}

.umbraco-panel .datepickerinput {
    display: inline-block;
    height: 30px;
}

.umbraco-panel .datepickerinput {
    display: inline-block;
}

.umbraco-panel .umbraco-panel__textarea {
    width: 100%;
    display: block;
    overflow: auto;
    max-width: 100%;
}

.umbraco-panel .umbraco-panel__label {
    display: block;
    float: none;
}

.umbraco-panel__link {
    cursor: pointer;
}

    .umbraco-panel__link:hover {
        text-decoration: underline;
    }

.umbraco-panel .umbraco-panel__error {
    /*border: 1px solid red;*/
    color: red;
}

.umb-control .dummy-plugin-view-holder {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

    .umb-control .dummy-plugin-view-holder .title-holder {
        margin: 50px 0;
    }

        .umb-control .dummy-plugin-view-holder .title-holder .icon {
            font-size:50px;
        }

        .umb-control .dummy-plugin-view-holder .title-holder .text{
            font-size:14px;
            margin:10px 20px;
        }

/* datepcker */
.umbraco-panel .input-append .add-on,
.umbraco-panel .input-prepend .add-on {
    min-width: 28px;
    height: 30px;
}

.umb-datepicker {
    position: relative;
    min-width: 0;
    display: inline-block;
}

    .umb-datepicker p {
        position: absolute;
        top: 2px;
        right: 30px;
        margin: 0;
    }

    .umb-datepicker a:hover {
        text-decoration: none;
        opacity: 0.5;
    }

    .umb-datepicker p small {
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        height: 0;
    }

    .umb-datepicker .icon-delete:before {
        vertical-align: top;
        margin: 2px 0 0;
    }

.umb-mediapicker .umb-sortable-thumbnails li {
    margin: 0 10px 10px 0;
}

.ng-invalid.ng-invalid-required {
    border-color: #dd0a2d;
}

.umb-grid .mce-panel > .mce-container-body{
    border:1px solid #ccc;
}
.umb-grid .mce-toolbar-grp > .mce-container-body{
    border:none;
}

/*=========================================================================================*/

.m-r-20 {
    margin-right: 20px !important;
    box-sizing: border-box;
}

.m-b-20 {
    margin-bottom: 20px;
}

.bd-b-1 {
    border-bottom: 1px solid #555;
}

.panel {
    padding: 10px;
    overflow:hidden;
}

.panel-picker .panel{
    padding:0;
}

.panel .span6 {
    padding-left: 20px;
}

.panel .span6:first-child {
    padding: 0;
}

.panel .thumb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #7188a0;
    border: 2px solid rgba(113, 136, 160, .6);
    text-align: center;
}

.panel .thumb-btn.button__delete{
    font-size: 20px;
    color: red;
    justify-content: flex-end;
    align-items: flex-start;
}

.panel .thumb-btn + .thumb-btn {
    margin-left: 8px;
}

.panel .thumb-btn:hover {
    cursor: pointer;
    background: #f8f8f8;
    background: rgba(248, 248, 248, .8);
}

.panel .thumb-btn > i {
    color: green;
    font-size: 30px;
}

.panel .flex-container {
    display: flex;
}

.panel .note{
    display:block;
    font-size:12px;
    color:#ccc;
    padding:0 20px 0 0;
}

.title {
    margin: 0;
}

textarea {
    max-width: 100%;
    height: 100px;
    overflow: auto;
}

._clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.link-bottom .links-picker .dropdown-menu{
    top:auto;
    bottom:100%;
}

/* image cropper custom styles start */
.fileinput-button {
    max-width: 200px;
}
.umb-cropper-imageholder {
    margin: 0 20px 0 0;
}
.imagecropper .umb-sortable-thumbnails {
    flex-wrap: nowrap;
}
.imagecropper .umb-sortable-thumbnails li {
    margin: 0 10px 0 0;
}
.umb-cropper .overlay,
.umb-cropper-gravity .overlay {
    z-index: 10;
}
/* image cropper custom styles end */

.umb-grid .umb-control{
    overflow: visible !important;
}
.umb-grid .umb-control:after {
    content: '';
    display: block;
    clear: both;
}


/*======================================================= Table =============================================*/

.table tbody tr:hover {
    background: #F8F8F8;
}

.table th a.sortable:hover {
    cursor: pointer;
}

.table th a.sortable._asc:after {
    font-family: icomoon;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\e0c9"
}

.table th a.sortable._desc:after {
    font-family: icomoon;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\e128"
}

/*======================================================= Table end =============================================*/
