<h1>We are here, in the central feed!</h1>
@model uIntra.CentralFeed.DetailsViewModel
    @{ Html.RenderAction("Details", Model.Settings.Controller, new
       {
           id = Model.Id,
           links = Model.Links
       }); 
     }
