<div class="panel">
    <div class="m-b-20 _clearfix">
        <b class="span3">Title:</b>
        <input class="span9" type="text" ng-model="control.value.title" required />
    </div>
    <div class="m-b-20 _clearfix">
        <b class="span3">Title link: <span class="note">Add internal link with content picker or external link in format: "http://example or https://example"</span></b>
        <links-picker class="span9" model="control.value.titleLink" mode="single"></links-picker>
    </div>
    <div class="m-b-20 _clearfix">
        <b class="span3">Optional text:</b>
        <tiny-mce class="span9" model="control.value.description" config="control.editor.config.description"></tiny-mce>
    </div>
    <div class="m-b-20 _clearfix">
        <b class="span3">Select media folder:</b>
        <content-picker class="span9" ng-model="control.value.media"></content-picker>
    </div>
    <div class="m-b-20 _clearfix">
        <b class="span3">Type:</b>
        <label for="vertical">Vertical</label>
        <input id="vertical" type="radio" ng-model="control.value.type" value="vertical">
        <label for="horizontal">Horizontal</label>
        <input id="horizontal" type="radio" ng-model="control.value.type" value="horizontal">
    </div>
    <div class="m-b-20 _clearfix">
        <b class="span3">Documents count:</b>
        <input class="span9" type="number" ng-model="control.value.count" required />
    </div>
    <div class="m-b-20 _clearfix link-bottom">
        <b class="span3">See all link: <span class="note">Add internal link with content picker or external link in format: "http://example or https://example"</span></b>
        <links-picker class="span9" model="control.value.link" mode="single"></links-picker>
    </div>
</div>
