@import "base.less";

@editor-height: 24px * 5;

.icon-centered() {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

quill-editor {
  display: block;
  position: relative;

  .toolbar {
    /* width: 100%;
     border-top: 1px solid #ddd;

    @media @sm-up {
      display: flex;
      align-items: center;
    }*/

    &__first-row {
      flex-grow: 1;
      justify-content: space-between;
      display: flex;
      margin: 0 10px 7px 0;

      @media @sm-down {
        margin: 0 0 5px;
      }
    }
    &__second-row {
      display: flex;
      align-items: center;
    }

    &-actions {
      width: 100%;
      border-top: 1px solid #ddd;

      @media @sm-up {
        display: flex;
        align-items: center;
      }
    }

    &__link {
      color: @black;
      font: 11px/2 @font;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // Disable default icon in toolbar
  .ql-link,
  .ql-italic,
  .ql-bold,
  .ql-emoji,
  .ql-dropzone {
    font-size: 14px;
    margin-right: 10px;

    svg {
      display: none;
    }
  }

  .ql-underline {
    font-size: 14px;
    margin-right: 8px;
  }

  // Customize toolbar icons
  .ql-bold:before {
    content: "B";
    .icon-centered;
    background-image: none;
    font-weight: 600;
    line-height: 20px;
  }
  .ql-italic:before {
    content: "i";
    .icon-centered;
    background-image: none;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
  }
  .ql-dropzone.icon-attachment:before {
    font-size: 25px;
    line-height: 20px;
    .icon-centered;
    height: 95%;
  }

  // Reset editor styles
  .ql-container.ql-snow {
    border: 0;
    height: auto;
  }

  .ql-snow .ql-tooltip {
    z-index: 10;
  }

  .ql-editor {
    padding: 0 15px;
    margin: 14px 0;
    font: 16px/1.38 @font;
    max-height: @editor-height;

    @media @sm-up {
      padding: 0 20px;
    }

    &.ql-blank::before {
      left: 15px;
      color: #aaa;
      font-style: normal;
      opacity: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @media @sm-up {
        left: 20px;
      }
    }
  }

  // Customize toolbar
  .ql-toolbar.ql-snow {
    padding: 5px 0 0;
    border: 0;
    // padding: 15px;
    // border: 0;
    // border-top: 1px solid #ccc;

    // @media @sm-up {
    //   padding: 15px 30px;
    // }

    &.top-mode {
      padding: 8px;
      border: 1px solid #ccc !important;
    }

    .toolbar-actions {
      padding: 10px 15px 6px;
      border: 0;
      border-top: 1px solid #ccc;

      @media @sm-up {
        padding: 10px 20px 6px;
      }
    }
  }

  .ql-toolbar.ql-snow .ql-formats,
  .ql-formats-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media @sm-down {
      margin-left: auto;
    }
  }

  .ql-formats-wrapper {
    @media @sm-up {
      margin-right: 10px;
    }
  }

  .ql-toolbar .toolbar-actions button {
    margin-bottom: 5px;
  }

  // Customize buttons
  .ql-snow.ql-toolbar .toolbar-actions button:not(.toolbar__toggle-multiselect),
  .ql-snow
    .ql-toolbar
    .toolbar-actions
    button:not(.toolbar__toggle-multiselect) {
    display: flex;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    justify-content: center;
  }
  .ql-snow.ql-toolbar
    .ql-submit-button
    button:not(.toolbar__toggle-multiselect),
  .ql-snow
    .ql-toolbar
    .ql-submit-button
    button:not(.toolbar__toggle-multiselect) {
    .button-blue;
    padding: 0 17px;
  }

  .ql-snow.ql-toolbar.top-mode button {
    border: none;
  }

  // Customize symbols counter
  .ql-counter {
    color: @black;
    font: 11px/2 @font;
    @media @sm-up {
      margin-right: 6px;
    }

    &.invalid span {
      color: #c70a0a;
    }
  }

  .icon-smily {
    font-size: 14px;
    margin-right: 8px;

    &:before {
      .icon-centered;
      height: 95%;
    }
  }

  .icon-link {
    &:before {
      .icon-centered;
      height: 95%;
    }
  }

  .ql-container .ql-tooltip.ql-editing,
  .ql-container .ql-tooltip.ql-flip,
  .ql-container .ql-tooltip {
    margin: 0 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
}

:host-context(.comments-panel) {
  & ::ng-deep .ql-container.ql-snow {
    padding: 6px 10px;
  }

  & ::ng-deep .ql-editor {
    padding: 0;
  }
}

.emoji-container {
  position: relative;
}

.hidden {
  display: none;
}

.mention {
  a {
    color: @link-color;
    text-decoration: none;
  }
}

//multiselect
@import "../../tag-multiselect/tag-multiselect.component.less";

.multiselect {
  & .open .tag-multiselect {
    border-color: #ddd !important;
  }

  & .tag-multiselect {
    border-width: 1px 0 0;

    &__input-field {
      padding: 5px 9px 5px 15px;

      @media @sm-up {
        padding: 5px 9px 5px 20px;
      }
    }

    &__open-btn {
      background: none !important;
      border: 0 !important;
      outline: 0 !important;
      font: inherit !important;
      color: inherit !important;
      text-decoration: none !important;
      padding: 0px 16px !important;
      height: auto !important;
      padding: 0 17px !important;
      width: auto !important;

      // &:focus {
      //   outline: none;
      // }

      .icon:before {
        font-weight: bold;
      }
    }

    &__clear-btn {
      background: none !important;
      border: 0 !important;
      outline: 0 !important;
      font: inherit !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: 1.5em !important;
      padding: 0px 16px !important;
      float: none !important;
      height: auto !important;
      width: auto !important;
    }

    &-dropdown {
      margin-top: -1px;

      &-row {
        float: none !important;
        height: auto !important;
        background: none !important;
        border: 0 !important;
        outline: 0 !important;
        text-decoration: none !important;
        display: block !important;
        width: 100% !important;
        text-align: left !important;
        padding: 9px 13px 9px 15px !important;
        border-bottom: 1px solid #ddd !important;
        color: @text-color !important;
        font: 13px/22px @font !important;
        cursor: pointer !important;

        @media @sm-up {
          padding-left: 20px !important;
        }

        &:hover {
          background: #b2b2b2 !important;
        }

        &.selected {
          color: @border-color !important;
        }
      }
    }
  }

  & .input-wrapper .tag {
    background: @white;
    flex-direction: row;
    border-radius: 22px;
    border: 1px solid #b2b2b2;
    padding: 0 9px;
    margin-right: 9px;
    margin-bottom: 5px;
    margin-top: 5px;

    &__text {
      font-size: 11px;
      line-height: 2;
      color: #333;
    }

    &__remove {
      margin: 0 0 0 5px;
      color: #000;
      font-size: 1em;
      height: auto;
      padding: 0;
      width: auto;
      float: none;
    }
  }
}

.toolbar__toggle-multiselect {
  width: auto !important;
  color: @text-color !important;
  margin-bottom: 0 !important;
  text-decoration: underline!important;
  border: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    //outline: none;
  }
}
