.gallery{
    margin:0 0 31px -2px;
    padding:0;
    list-style:none;
    display:flex;

    &-holder{
        position:relative;
    }

    ._details &{
        margin-bottom:36px;
    }
 
    &__item{
        position:relative;
        margin:0 0 0 2px;
        flex-grow:1;

        &._full-size{
            max-width:100%;
            width:100%;
            max-height:initial;
        }

        &.video{
            cursor:pointer;

            .gallery__item-opener{

                &:before{
                    content:'';
                    position:absolute;
                    left:50%;
                    top:50%;
                    z-index:2;
                    width:40px;
                    height:40px;
                    margin:-20px 0 0 -20px;
                    background:url(/App_Plugins/Core/Content/images/videoplay.svg) no-repeat;
                    background-size: 40px 40px;
                }
            }
            
        }
    }

    &__image{
        height:auto;
        width: 100%;

        ._full-size &{
            height:auto !important;
            width: 100%;
        }
    }

    &__video {
        line-height: 0;
        width: 100%;
        max-width: 80.5%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        text-align: left;
        z-index: 1045;

        &-box {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
            width: 100%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        video {
            width: 100% !important;
            height: auto !important;
        }
    }

    &__counter{
        position:absolute;
        bottom:0;
        right:0;
        padding:10px 11px;
        background:rgba(0, 0, 0, 0.5);
        color:var(--color-white);
    }
}

.documents-list{
    margin:0 0 20px;
    padding:0;
    list-style:none;
    font-size:13px;
    max-width:50%;

    &__item{
        border-bottom:1px solid var(--color-light-gray);
        padding:10px 0;

        &:first-child{
            border-top:1px solid var(--color-light-gray);
        }
    }

    &__link{
        color:var(--text-color-dark);

        &:focus,
        &:active,
        &:hover{
            color:var(--text-color-dark);
            text-decoration:none;
        }
    }

    &__icon{
        display:inline-block !important;
        vertical-align:top;
        margin:0 16px 0 0;
    }

    &__title{
        display:inline-block;
        vertical-align:top;
        padding:2px 0 0;
    }
}

.pswp{
    &__zoom-wrap {
        text-align: center;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}


/* attachments */
.attachments {
    float:right;

    &__link {
        position:relative;
        padding:0 0 0 20px;
        font-size: 13px;
        color: var(--text-color-dark);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 120px;
        display: inline-block;
        vertical-align: top;

        &:before{
            content:'';
            position:absolute;
            left:0;
            top:50%;
            margin:-8px 0;
            z-index:2;
            width:14px;
            height:15px;
            background:url(/App_Plugins/Core/Content/images/attachment.svg) no-repeat;
            background-size: 14px 15px;
        }

        &:active,
        &:focus,
        &:hover{
            color:#5776f9;
            text-decoration:none;
        }
    }
}