.gallery {
    margin: 0 0 20px -2px;
    padding: 0;
    list-style: none;
    display: flex;

    .feed__item._details &{
        flex-wrap:wrap;
    }

    &-holder{
        position:relative;
    }

    ._details &{
        margin-bottom:36px;
    }
 
    &__item{
        position:relative;
        padding:0 0 0 2px;
        flex-grow:1;

        .feed__item._details &{
            padding-bottom:2px;
            max-width:25%;
            flex-shrink:1;

            @media(--for-tablet-portrait-down){
                max-width:33.3%;
            }
        }

        &._full-size{
            max-width:100%;
            width:100%;
            max-height:initial;
        }

        &.video{
            cursor:pointer;

            .gallery__item-opener{
                flex-grow:0;

                &:before{
                    content:'';
                    position:absolute;
                    left:50%;
                    transform:translate(-50%, -50%);
                    top:50%;
                    z-index:2;
                    width:20%;
                    height:26%;
                    background:url(/App_Plugins/Core/Content/images/videoplay.svg) no-repeat 50%/0;
                    background-size:contain;
                }
            }
            
        }

        &-opener{
            cursor:pointer;
        }
    }

    &__image{
        height:auto;
        width: 100%;

        ._full-size &{
            height:auto !important;
            width: 100%;
        }
    }

    &__video {
        line-height: 0;
        width: 100%;
        
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        text-align: left;
        z-index: 1045;

        @media (--for-desktop-up){
            
        }
        @media (min-width: 1474px){
            max-width: 1474px;
        }

        &-box {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
            width: 100%;
        }

        iframe {
            position: absolute;
            margin:0 auto 7px; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        video {
            /*width: 100% !important;
            height: auto !important;*/
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__counter{
        position:absolute;
        bottom:0;
        right:0;
        padding:10px 11px;
        background:rgba(0, 0, 0, 0.5);
        color:var(--color-white);
    }
}

.documents-list{
    margin:0 0 20px;
    padding:0;
    list-style:none;
    font-size:13px;
    max-width:50%;

    &__item{
        border-bottom:1px solid var(--color-light-gray);
        padding:10px 0;

        &:first-child{
            border-top:1px solid var(--color-light-gray);
        }
    }

    &__link{
        color:var(--text-color-dark);

        &:focus,
        &:active,
        &:hover{
            color:var(--text-color-dark);
            text-decoration:none;
        }
    }

    &__icon{
        display:inline-block !important;
        vertical-align:middle;
        margin:0 16px 0 0;
    }

    &__title{
        display:inline-block;
        vertical-align:middle;
        padding:3px 0 0 15px;
    }
}

.pswp{
    &__zoom-wrap {
        text-align: center;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}


/* attachments */
.attachments {
    float:right;

    &__link {
        position:relative;
        padding:0 0 0 20px;
        font-size: 13px;
        color: var(--text-color-dark);
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 120px;
        display: inline-block;
        vertical-align: top;

        &:after{
            content:'';
            display:block;
            clear:both;
        }

        &:before{
            content:'';
            position:absolute;
            left:0;
            top:50%;
            margin:-10px 0;
            z-index:2;
            width:14px;
            height:15px;
            background:url(/App_Plugins/Core/Content/images/attachment.svg) no-repeat;
            background-size: 14px 15px;
        }

        &:active,
        &:focus,
        &:hover{
            color:#5776f9;
            text-decoration:none;
        }
    }
}