@using Uintra.Core.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Localize("SitePrefix.lbl") @{Html.RenderAction("GetTitle", "Navigation");}</title>
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico">

    <!-- tells htmlWebpackPlugin where to incject css files -->
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    @{Html.RenderAction("Render", "OpenGraph");}
</head>
<body>
    <div id="wrapper" class="_loading">
        @{Html.RenderAction("ShowPopupNotifications", "Notification");}
        @{Html.RenderAction("BrowserCompatibility", "BrowserCompatibility");}
        <header id="header">
            <div class="centring">
                <strong class="logo">
                    <a class="logo__link" href="/"><img src="~/Content/images/logo.svg" class="logo__img" width="21" height="33"></a>
                </strong>
                @{Html.RenderAction("TopNavigation", "Navigation");}
                <a href="#" id="js-aside-opener" class="aside__opener _for-mobile">
                    <span class="aside__icon">
                        <svg class="svg-icon" viewBox="0 0 32 32" width="16px" height="16px">
                            <use xlink:href="#icon-window" x="0" y="0"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </header>
        <aside id="sidebar" class="js-sidebar">
            <a href="#" class="sidebar-close _for-mobile js-sidebar-close">
                <svg class="svg-icon" viewBox="0 0 20 20" width="20px" height="20px">
                    <use xlink:href="#icon-close" x="0" y="0"></use>
                </svg>
            </a>
            @{Html.RenderAction("SearchBox", "Search"); }
            <div class="sidebar__holder">
                @{Html.RenderAction("LeftNavigation", "Navigation"); }
                @{Html.RenderAction("UserListLink", "Navigation"); }
                @{Html.RenderAction("LeftNavigation", "Group"); }
                @{Html.RenderAction("SystemLinks", "Navigation"); }
                @{Html.RenderAction("Overview", "MyLinks"); }
                @{Html.RenderAction("LeftNavigationUserMenu", "Navigation"); }
            </div>
        </aside>
        <main id="main">
            <div class="centring">
                <div class="holder">
                    @{Html.RenderAction("SubNavigation", "Navigation");}

                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <a id="toTop" class="top">Go to top</a>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__counter"></div>
                <div class="pswp__top-bar">
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="123 pswp__button pswp__button--arrow--left icon-arrow-left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right icon-arrow-right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    @*svg sprite*@
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-sprite" style="display: none;">
        <symbol id="icon-people">
            <path stroke-width="1.2" stroke-miterlimit="10" d="M7.5,11.1C7.7,10.6,9,8.9,9,6c0-1.7-1.3-3-3-3S3,4.3,3,6c0,2.9,1.3,4.6,1.5,5.1C3,11.2,0,12.2,0,14
	c0,0.4,0.3,1,1,1h10c0.7,0,1-0.6,1-1C12,12.2,9,11.2,7.5,11.1z M12.6,8C12.9,7.3,14,5.3,14,4c0-1.7-1.3-3-3-3
	c-0.8,0-1.6,0.3-2.1,0.9C10.1,2.8,11,4.3,11,6c0,1.5-0.3,2.8-0.6,3.7c0.8,0.3,1.5,0.7,2.1,1.3H15c0.6,0,1-0.5,1-1
	C16,8.7,13.6,8.2,12.6,8z"></path>
        </symbol>
        <symbol id="icon-bell">
            <path d="M381.7,225.9c0-97.6-52.5-130.8-101.6-138.2c0-0.5,0.1-1,0.1-1.6c0-12.3-10.9-22.1-24.2-22.1c-13.3,0-23.8,9.8-23.8,22.1   c0,0.6,0,1.1,0.1,1.6c-49.2,7.5-102,40.8-102,138.4c0,113.8-28.3,126-66.3,158h384C410.2,352,381.7,339.7,381.7,225.9z"></path>
            <path d="M256.2,448c26.8,0,48.8-19.9,51.7-43H204.5C207.3,428.1,229.4,448,256.2,448z"></path>
        </symbol>
        <symbol id="uintra">
            <path d="M240.1,283.4c0,31-17.2,43.5-39.6,43.5c-22.6,0-39.6-12.6-39.6-43.5V176.9h-52.1V288
		c0,61.1,43.1,87.5,91.7,87.5c48.3,0,91.5-26.4,91.5-87.5V176.9h-51.9V283.4z" />
            <path d="M266,146.8c18.8,0,33.4-14.4,33.4-33.2S284.7,80,266,80c-18.8,0-33.2,14.8-33.2,33.6S247.2,146.8,266,146.8z" />
        </symbol>
        <symbol id="icon-umbraco">
            <path d="M49.323,149.998C49.323,94.325,94.398,49.199,150,49.199
		c55.601,0,100.676,45.126,100.676,100.799c0,55.674-45.076,100.802-100.676,100.802C94.398,250.801,49.323,205.672,49.323,149.998z
		 M147.956,184.476c-9.898,0.009-17.665-0.677-23.256-2.097c-6.151-1.558-10.391-4.966-12.718-10.222
		c-2.329-5.254-3.433-13.344-3.318-24.263c0.051-5.886,0.406-11.588,1.066-17.106c0.659-5.521,1.319-10.079,1.978-13.676
		l0.692-3.574c0.016-0.106,0.025-0.214,0.025-0.323c0-1.011-0.734-1.851-1.697-2.015l-13.012-2.015
		c-0.105-0.019-0.213-0.025-0.324-0.025c-0.968,0-1.779,0.67-1.992,1.573c-0.215,0.834-0.351,1.454-0.741,3.436
		c-0.75,3.819-1.431,7.541-2.191,12.916c-0.757,5.372-1.248,11.315-1.467,17.816c0,0-0.315,1.449,0,12.471
		c0.315,11.02,2.208,19.821,5.683,26.407c3.471,6.585,9.36,11.324,17.666,14.215c8.307,2.889,19.868,4.306,34.686,4.244h1.926
		c14.818,0.062,26.377-1.355,34.685-4.244c8.308-2.891,14.195-7.629,17.668-14.215c3.474-6.585,5.366-15.387,5.681-26.407
		c0.315-11.022,0-12.471,0-12.471c-0.221-6.501-0.709-12.444-1.467-17.816c-0.76-5.375-1.438-9.096-2.191-12.916
		c-0.391-1.982-0.525-2.602-0.738-3.436c-0.215-0.904-1.026-1.573-1.994-1.573c-0.11,0-0.217,0.006-0.326,0.025l-13.008,2.015
		c-0.966,0.165-1.699,1.004-1.699,2.015c0,0.109,0.009,0.217,0.025,0.323l0.693,3.574c0.659,3.598,1.317,8.156,1.977,13.676
		c0.66,5.518,1.015,11.22,1.066,17.106c0.116,10.919-0.992,19.009-3.318,24.263c-2.327,5.256-6.567,8.664-12.719,10.222
		c-5.59,1.42-13.359,2.106-23.255,2.097H147.956z" />
        </symbol>
        <symbol id="icon-user">
            <path d="M26.31219,26.50307c1.65765-0.84802,2.8067-2.55444,2.8067-4.54065v-4.32715    c0-2.82226-2.29639-5.11816-5.11865-5.11816s-5.11865,2.2959-5.11865,5.11816v4.32715c0,1.98621,1.14911,3.69257,2.8067,4.54059    c-5.63965,0.58527-10.97223,3.33844-10.97223,8.63031c0,0.19336,0.15674,0.34961,0.3501,0.34961h25.86768    c0.19336,0,0.3501-0.15625,0.3501-0.34961C37.28394,29.84151,31.95142,27.0884,26.31219,26.50307z"></path>
        </symbol>
        <symbol id="icon-logout">
            <path d="M704 1440q0 4 1 20t.5 26.5-3 23.5-10 19.5-20.5 6.5h-320q-119 0-203.5-84.5t-84.5-203.5v-704q0-119 84.5-203.5t203.5-84.5h320q13 0 22.5 9.5t9.5 22.5q0 4 1 20t.5 26.5-3 23.5-10 19.5-20.5 6.5h-320q-66 0-113 47t-47 113v704q0 66 47 113t113 47h312l11.5 1 11.5 3 8 5.5 7 9 2 13.5zm928-544q0 26-19 45l-544 544q-19 19-45 19t-45-19-19-45v-288h-448q-26 0-45-19t-19-45v-384q0-26 19-45t45-19h448v-288q0-26 19-45t45-19 45 19l544 544q19 19 19 45z"></path>
        </symbol>
        <symbol id="icon-search">
            <path d="M19.4271164,21.4271164 C18.0372495,22.4174803 16.3366522,23 14.5,23 C9.80557939,23 6,19.1944206 6,14.5 C6,9.80557939 9.80557939,6 14.5,6 C19.1944206,6 23,9.80557939 23,14.5 C23,16.3366522 22.4174803,18.0372495 21.4271164,19.4271164 L27.0119176,25.0119176 C27.5621186,25.5621186 27.5575313,26.4424687 27.0117185,26.9882815 L26.9882815,27.0117185 C26.4438648,27.5561352 25.5576204,27.5576204 25.0119176,27.0119176 L19.4271164,21.4271164 L19.4271164,21.4271164 Z M14.5,21 C18.0898511,21 21,18.0898511 21,14.5 C21,10.9101489 18.0898511,8 14.5,8 C10.9101489,8 8,10.9101489 8,14.5 C8,18.0898511 10.9101489,21 14.5,21 L14.5,21 Z"></path>
        </symbol>
        <symbol id="icon-home">
            <path d="M8 20h-5v-10h-3l10-10 10 10h-3v10h-5v-6h-4v6z"></path>
        </symbol>
        <symbol id="icon-groups">
            <path d="M16.5,14c-1.5,0-2.7,0.4-3.6,0.9c1.4,1.2,2,2.6,2.1,2.7l0.1,0.2V20h8v-2C23,18,21.4,14,16.5,14z"></path>
            <circle cx="16.5" cy="8.5" r="3.5" />
            <path d="M4,8.5C4,6.6,5.6,5,7.5,5S11,6.6,11,8.5c0,1.9-1.6,3.5-3.5,3.5S4,10.4,4,8.5z M7.5,14C2.6,14,1,18,1,18v2h13v-2   C14,18,12.4,14,7.5,14z"></path>
        </symbol>
        <symbol id="icon-link">
            <path d="M29.298,63.471l-4.048,4.02c-3.509,3.478-9.216,3.481-12.723,0c-1.686-1.673-2.612-3.895-2.612-6.257   s0.927-4.585,2.611-6.258l14.9-14.783c3.088-3.062,8.897-7.571,13.131-3.372c1.943,1.93,5.081,1.917,7.01-0.025   c1.93-1.942,1.918-5.081-0.025-7.009c-7.197-7.142-17.834-5.822-27.098,3.37L5.543,47.941C1.968,51.49,0,56.21,0,61.234   s1.968,9.743,5.544,13.292C9.223,78.176,14.054,80,18.887,80c4.834,0,9.667-1.824,13.348-5.476l4.051-4.021   c1.942-1.928,1.953-5.066,0.023-7.009C34.382,61.553,31.241,61.542,29.298,63.471z M74.454,6.044   c-7.73-7.67-18.538-8.086-25.694-0.986l-5.046,5.009c-1.943,1.929-1.955,5.066-0.025,7.009c1.93,1.943,5.068,1.954,7.011,0.025   l5.044-5.006c3.707-3.681,8.561-2.155,11.727,0.986c1.688,1.673,2.615,3.896,2.615,6.258c0,2.363-0.928,4.586-2.613,6.259   l-15.897,15.77c-7.269,7.212-10.679,3.827-12.134,2.383c-1.943-1.929-5.08-1.917-7.01,0.025c-1.93,1.942-1.918,5.081,0.025,7.009   c3.337,3.312,7.146,4.954,11.139,4.954c4.889,0,10.053-2.462,14.963-7.337l15.897-15.77C78.03,29.083,80,24.362,80,19.338   C80,14.316,78.03,9.595,74.454,6.044z"></path>
        </symbol>
        <symbol id="icon-star">
            <path d="M30,10h-9.031L18,1.672C17.641,0.422,16.813,0,16,0s-1.641,0.422-2,1.672L11.031,10H2c-1.141,0-2,0.938-2,2  c0,0.859,0.438,1.359,1.19,2l6.623,5l-3.208,9C4.234,28.922,4,29.484,4,30c0,0.984,0.766,2,2,2c0.719,0,1.016-0.25,2-0.895l8-6.021  l8,6.021C24.984,31.75,25.281,32,26,32c1.234,0,2-1.016,2-2c0-0.516-0.234-1.078-0.605-2l-3.208-9l6.623-5  c0.753-0.641,1.19-1.141,1.19-2C32,10.938,31.141,10,30,10z M19.433,17.577l2.477,6.948L16,20.077l-5.909,4.448l2.477-6.948  L7.829,14h6.022L16,7.974L18.148,14h6.022L19.433,17.577z"></path>
        </symbol>
        <symbol id="icon-dots">
            <rect height="60" width="64" x="64" y="66" />
            <rect height="60" width="64" x="64" y="386" />
            <rect height="60" width="64" x="64" y="279.3" />
            <rect height="60" width="64" x="64" y="172.7" />
            <rect height="60" width="64" x="170.7" y="66" />
            <rect height="60" width="64" x="170.7" y="386" />
            <rect height="60" width="64" x="170.7" y="279.3" />
            <rect height="60" width="64" x="170.7" y="172.7" />
            <rect height="60" width="64" x="277.3" y="66" />
            <rect height="60" width="64" x="277.3" y="386" />
            <rect height="60" width="64" x="277.3" y="279.3" />
            <rect height="60" width="64" x="277.3" y="172.7" />
            <rect height="60" width="64" x="384" y="66" />
            <rect height="60" width="64" x="384" y="386" />
            <rect height="60" width="64" x="384" y="279.3" />
            <rect height="60" width="64" x="384" y="172.7" />
        </symbol>
        <symbol id="icon-like">
            <path clip-rule="evenodd" d="M3,11.995H1c-0.553,0-1,0.447-1,1v18c0,0.553,0.447,1,1,1l2-0.02  c0.553,0,1-0.447,1-1v-18C4,12.423,3.553,11.995,3,11.995z" fill-rule="evenodd"></path>
            <path clip-rule="evenodd" d="M31.889,12.679c-0.139-0.252-0.39-0.461-0.746-0.621  c-0.09-0.04-0.185-0.067-0.282-0.08c-0.849-0.109-4.86-0.981-11.872-0.981C19.896,8.173,20,7.704,20,4.995  c0-3-1.846-4.967-3.002-4.995c-0.548,0-0.993,0.441-0.999,0.988c-0.045,3.944-1.956,8.924-7.104,11.044  c-0.542,0.171-0.906,0.645-0.906,1.182l0.008,15.781c0,0.844,0.921,1,0.921,1c0.285,0.084,0.526,0.177,5.062,1.27  c0.077,0.018,3.052,0.73,6.052,0.73H26c1.125,0,1.656-0.375,1.987-0.998c0.04-0.08,4-8.114,4.024-17.834  C32.012,12.994,31.97,12.827,31.889,12.679z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="icon-comment">
            <path clip-rule="evenodd" d="M10.718,18.561l6.78,5.311C17.609,23.957,17.677,24,17.743,24  c0.188,0,0.244-0.127,0.244-0.338v-5.023c0-0.355,0.233-0.637,0.548-0.637L21,18c2.219,0,3-1.094,3-2s0-13,0-14s-0.748-2-3.014-2  H2.989C0.802,0,0,0.969,0,2s0,13.031,0,14s0.828,2,3,2h6C9,18,10.255,18.035,10.718,18.561z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="icon-window">
            <path d="M32,0H8v8C5.094,8,0,8,0,8v24h24v-8h8V0z M20,28H4V16h4v8h12C20,25.789,20,28,20,28z M28,20H12V8h16   V20z"></path>
        </symbol>
        <symbol id="icon-check">
            <path d="M461.6,109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4c-2.4,0-4.6,1-6.3,2.5L194.5,323c0,0-78.5-75.5-80.7-77.7  c-2.2-2.2-5.1-5.9-9.5-5.9c-4.4,0-6.4,3.1-8.7,5.4c-1.7,1.8-29.7,31.2-43.5,45.8c-0.8,0.9-1.3,1.4-2,2.1c-1.2,1.7-2,3.6-2,5.7  c0,2.2,0.8,4,2,5.7l2.8,2.6c0,0,139.3,133.8,141.6,136.1c2.3,2.3,5.1,5.2,9.2,5.2c4,0,7.3-4.3,9.2-6.2L462,121.8  c1.2-1.7,2-3.6,2-5.8C464,113.5,463,111.4,461.6,109.6z"></path>
        </symbol>
        <symbol id="icon-close">
            <path d="M10 8.586l-7.071-7.071-1.414 1.414 7.071 7.071-7.071 7.071 1.414 1.414 7.071-7.071 7.071 7.071 1.414-1.414-7.071-7.071 7.071-7.071-1.414-1.414-7.071 7.071z"></path>
        </symbol>
        <symbol id="icon-attachment">
            <path d="M12.951 27.977c-0.025 0.025-0.051 0.051-0.075 0.076-2.508 2.399-6.497 2.446-8.916 0.096-2.566-2.415-2.617-5.913 0.044-8.604 0.021-0.021 0.038-0.043 0.059-0.064 0.025-0.023 0.049-0.048 0.073-0.071l16.655-16.188c1.526-1.452 3.946-1.478 5.414-0.051 0.883 1.258 1.439 3.789-0.049 5.261l-0.137 0.134-1.563 1.517-1.434 1.395-13.501 13.105-0.038-0.047-0.035 0.039-0.069 0.076c-0.006 0.004-0.013 0.008-0.018 0.014-0.558 0.504-1.419 0.508-1.946-0.004-0.522-0.508-0.521-1.252-0.001-1.806 0.017-0.016 0.027-0.035 0.044-0.051l12.599-12.243-1.517-1.471-11.085 10.773-1.346 1.469v0.002c-0.004 0.004-0.008 0.006-0.013 0.012-0.012 0.012-0.022 0.023-0.034 0.036-1.383 1.381-1.574 3.388-0.21 4.715 1.365 1.325 3.602 1.22 5.022-0.125l0.002 0.002 0.028-0.029c0.003-0.002 0.006-0.004 0.008-0.006 0.003-0.002 0.005-0.006 0.007-0.008l15.052-14.376 1.561-1.519 0.139-0.133-0.002-0.002c2.356-2.323 1.237-6.674 0.098-8.248-2.318-2.252-6.134-2.197-8.523 0.126-0.035 0.033-0.064 0.070-0.098 0.105l-0.004-0.003-16.52 16.058c-0.013 0.014-0.027 0.023-0.041 0.037-0.023 0.021-0.044 0.049-0.067 0.072l-0.024 0.023 0.001 0.002c-3.277 3.282-3.331 8.443-0.092 11.594 3.271 3.179 8.658 3.099 12.030-0.178 0.014-0.014 0.024-0.027 0.038-0.041l0.004 0.004 17.529-17.035-1.516-1.473-17.533 17.033z"></path>
        </symbol>
        <symbol id="icon-location">
            <path d="M11.163 11.554c0-2.655 2.166-4.807 4.837-4.807s4.837 2.152 4.837 4.807-2.166 4.806-4.837 4.806-4.837-2.152-4.837-4.806zM7.777 12.154c0 2.011 2.454 6.25 2.454 6.25l5.769 9.614 5.438-9.613c0 0 2.785-4.27 2.785-6.25 0-4.513-3.682-8.171-8.223-8.171s-8.223 3.657-8.223 8.17z"></path>
        </symbol>
        <symbol id="icon-checkmark">
            <path d="M5.9,8.1 L4.5,9.5 L9,14 L19,4 L17.6,2.6 L9,11.2 L5.9,8.1 L5.9,8.1 Z M18,10 C18,14.4 14.4,18 10,18 C5.6,18 2,14.4 2,10 C2,5.6 5.6,2 10,2 C10.8,2 11.5,2.1 12.2,2.3 L13.8,0.7 C12.6,0.3 11.3,0 10,0 C4.5,0 0,4.5 0,10 C0,15.5 4.5,20 10,20 C15.5,20 20,15.5 20,10 L18,10 L18,10 Z"></path>
        </symbol>
        <symbol id="icon-back-arrow">
            <path d="M28,14H8.8l4.62-4.62C13.814,8.986,14,8.516,14,8c0-0.984-0.813-2-2-2c-0.531,0-0.994,0.193-1.38,0.58l-7.958,7.958  C2.334,14.866,2,15.271,2,16s0.279,1.08,0.646,1.447l7.974,7.973C11.006,25.807,11.469,26,12,26c1.188,0,2-1.016,2-2  c0-0.516-0.186-0.986-0.58-1.38L8.8,18H28c1.104,0,2-0.896,2-2S29.104,14,28,14z"></path>
        </symbol>
        <symbol id="icon-forward-arrow">
            <path d="M4,18h19.2l-4.6,4.6C18.2,23,18,23.5,18,24c0,1,0.8,2,2,2c0.5,0,1-0.2,1.4-0.6l8-8c0.3-0.3,0.7-0.7,0.7-1.5
	s-0.3-1.1-0.6-1.4l-8-8C21,6.2,20.5,6,20,6c-1.2,0-2,1-2,2c0,0.5,0.2,1,0.6,1.4l4.6,4.6H4c-1.1,0-2,0.9-2,2S2.9,18,4,18z"></path>
        </symbol>
        <symbol id="icon-admin">
            <path d="M50,96.1l-1.8-0.9C46.8,94.5,12.7,77.2,12.7,50V13.5L50,4.2l37.3,9.3V50c0,27.2-34.1,44.5-35.5,45.2L50,96.1z M20.7,19.8
		V50c0,19.1,22.7,33.4,29.3,37.1c6.6-3.8,29.3-18,29.3-37.1V19.8L50,12.5L20.7,19.8z" />
            <path d="M59.2,61.2l-2.5-8.3H43.8l-2.5,8.3h-8.3l12.5-35.8h9.2l12.5,35.8C67.1,61.2,59.2,61.2,59.2,61.2z M54.6,46.7
	c-2.5-7.5-3.7-12.1-4.2-12.9c-0.4-0.8-0.4-1.7-0.8-2.5c-0.4,2.1-2.1,7.1-4.6,15.4C45,46.7,54.6,46.7,54.6,46.7z" />
        </symbol>
    </svg>
</body>
</html>
