<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00cf90f0-c826-4158-b2a5-4c66bee46748" Alias="globalScriptsComposition" Level="3">
  <Info>
    <Name>Global Scripts</Name>
    <Icon>icon-security-camera color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Add the tracking scripts (example: Google analytics) you want to use across the whole website. The scripts are inserted in the chosen section of the site (head, body or footer). The script should have the &lt;script&gt; tags included. Remember to inform the user about your tracking in the Cookies disclaimer section.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8f74612a-a463-4f1b-a4b6-d81ed5b6a733</Key>
      <Name>Body Script</Name>
      <Alias>bodyScript</Alias>
      <Definition>b4d6c0f3-73b3-41e4-a614-56d8aa1691bd</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Global scripts</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>59787e37-29eb-4822-b658-17f7b27b20bb</Key>
      <Name>Footer Script</Name>
      <Alias>footerScript</Alias>
      <Definition>b4d6c0f3-73b3-41e4-a614-56d8aa1691bd</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Global scripts</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8972d84a-ebe8-4d96-9d91-d5aaeffc40df</Key>
      <Name>Header Script</Name>
      <Alias>headerScript</Alias>
      <Definition>b4d6c0f3-73b3-41e4-a614-56d8aa1691bd</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Global scripts</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Global scripts</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>