<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bbd7887-8bea-41cc-a392-a927054b4529" Alias="mailchimpGroupItem" Level="3">
  <Info>
    <Name>Mailchimp Group Item</Name>
    <Icon>icon-playing-cards color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Parent Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Parent>
    <Compositions>
      <Composition Key="92c59a02-1d67-4f94-83c3-5d68bf76c27c">baseItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>83737499-538e-4c25-89ca-e26f8b989dd1</Key>
      <Name>Group Id</Name>
      <Alias>groupId</Alias>
      <Definition>9652832d-f015-44a4-8025-b2cb1585e874</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>