<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="92cf85e3-450e-41f8-acbc-69e2b424db57" Alias="imagePanel" Level="3">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Parent>
    <Compositions>
      <Composition Key="3f72717d-1ffa-4342-82d8-30aeb81f7ffc">basePanel</Composition>
      <Composition Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca">panelSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1e5c49c0-0f8a-4687-8ef6-1b82135f130d</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>89b30989-deb8-450f-90b4-275cc374f3cc</Definition>
      <Type>UBaseline.ImagePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f00617f6-a673-4973-bc36-2ab1ad58ffca</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>539d92c7-9f50-4dc0-af1b-5944056fd770</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>