<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="934f1c6a-4bad-4649-b35b-1c8c8de0317f" Alias="folders" Level="3">
  <Info>
    <Name>Folders</Name>
    <Icon>icon-folder-outline color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Parent>
    <Compositions>
      <Composition Key="620cf339-3d31-44ac-95bd-fcd298db6407">baseFolder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7f51c33d-cf43-43df-8538-af4b0867f84f">contactItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>