<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a04e9bf9-14d3-43aa-8b6c-8f4b40731aca" Alias="panelSettingsComposition" Level="3">
  <Info>
    <Name>Panel Settings</Name>
    <Icon>icon-umb-settings color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions/Panels</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3bc21222-3cda-4801-a6a1-406af4c8288d</Key>
      <Name>Behaviour</Name>
      <Alias>behaviour</Alias>
      <Definition>83a09471-9cd0-44a7-a2a0-2c7f2d8380b2</Definition>
      <Type>UBaseline.KeyValueRadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aafa9626-d73b-4bba-9626-40f872ef9220</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>81d83d6b-7d27-433d-80f3-003ab824f6ee</Definition>
      <Type>UBaseline.PanelThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>