.side-nav{
    .icon-dots{
        position:absolute;
        top:14px;
        left:20px;
        z-index:2;
    }

    &._links{
        border-bottom:2px solid #f6f6f6;
        padding-bottom:17px;
        margin-bottom:0;
    }

    .icon-remove{
        position: absolute;
        right: 6px;
        top: 0;
        display:none;
        padding:16px;
        width:42px;
        height:42px;

        @media(--for-tablet-portrait-down){
            & {
                display: block;
                right: 0;
            }
        }
    }

    &__link{
        &:hover{
            .icon-remove{
                display:block;
            }
        }
    }
}