.side-nav{
    &._links{
        border-bottom:2px solid #f6f6f6;
        padding-bottom:22px;
        margin-bottom:0;

        .side-nav{
            .side-nav{
                &__link{
                    &:before{
                        position:absolute;
                        top:10px;
                        left:10px;
                        background:url(./sort.svg) no-repeat;
                        background-size:10px;
                        width:10px;
                        height:10px;
                        opacity:0.5;
                        content:'';
                        display:none;
                    }
                }
            }
        }

        &:hover{
            .side-nav{
                .side-nav{
                    &__link{
                        &:before{
                            display:block;
                        }
                    }
                }
            }
        }
    }

    .icon-close{
        position: absolute;
        right: 20px;
        top: 7px;
        display:none;

        @media(--for-tablet-portrait-down){
            &{
                display:block;
            }
        }
    }

    &__link{
        &:hover{
            .icon-close{
                display:block;
            }
        }
    }
}