.umbraco-link {
    display:none !important;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999;

    &__link{
        &:hover{
            text-decoration:none;
        }
    }

    .icon-umbraco{
        &:before{
            color:var(--color-white);
            font-size:40px;
        }
    }
}