<section class="profile page-wrapper">
  <div class="profile__header">
    <h2 class="profile__title">{{profile.title}}</h2>
    <a *ngIf="data.editProfileLink.data.value"
       [routerLink]="data.editProfileLink.data.originalUrl | ulink"
       class="button button-default">
      Edit
    </a>
  </div>
  <div class="user-block">
    <div class="user-block__col _avatar">
      <app-user-avatar [photo]="profile.member.photo"
                       [name]="profile.member.firstName">
      </app-user-avatar>
    </div>
    <div class="user-block__col form">
      <div class="form__col">
        <div class="form__row">
          <h2>{{profile.member.firstName}} {{profile.member.lastName}}</h2>
          <!-- <span class="user-role">role position</span> -->
        </div>
      </div>
      <div class="form__col">
        <div class="form__row">
          <label>E:mail</label>
          <a href="mailto:{{profile.member.email}}">{{profile.member.email}}</a>
        </div>
        <div class="form__row">
          <label>Phone</label>
          <a *ngIf="profile.member.phone"
             href="tel:+{{profile.member.phone}}">{{profile.member.phone}}</a>
        </div>
        <div class="form__row">
          <label>Department</label>
          <span *ngIf="profile.member.department">{{profile.member.department}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="profile__row">
    <!-- <button type="button" class="button button-default">Write message to {{profile.member.firstName}}</button> -->
  </div>
  <div class="user-info">
    <div class="row-flex m-b">
      <div class="col-md-3">
        <label>Tags subscription:</label>
      </div>
      <div class="col-md-9">
        <ul class="tags">
          <li class="tags__item"
              *ngFor="let tag of profile.member.tags">{{tag.text}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
