<div ng-controller="TableEditorController" class="panel table-editor" ng-init="init(control)">
    <div class="span12">
        <strong class="span12">{{control.editor.name}} - {{control.value.title}}</strong>
    </div>

    <div class="span12" ng-hide="control.inGlobalPanelScope">
        <input class="btn span12" type="button" ng-click="open()" value="Edit">
        <umb-overlay ng-if="overlay.show"
                     model="overlay"
                     position="right"
                     style="width: 800px">
            <div ng-include="overlay.view"></div>
        </umb-overlay>
    </div>
    <div class="span12" ng-if="control.inGlobalPanelScope">
        <div ng-include="overlay.view"></div>
    </div>
</div>