<ul class="left-nav">
  <li class="left-nav__item">
    <span class="left-nav__item-link">
      <span class="icon-star left-nav__star-icon"></span>
      My Links
    </span>

    <button
      class="left-nav__arrow"
      [ngClass]="{ active: isOpen }"
      (click)="onToggle()"
    >
      Expand
    </button>

    <ul
      dragula="MyLinks"
      [(dragulaModel)]="myLinks"
      (dragulaModelChange)="onDND($event)"
      class="left-nav__sub-item left-nav__sub-item--with-offset"
      [hidden]="!isOpen"
      [ngClass]="{ active: isOpen }"
    >
      <li *ngFor="let link of myLinks" class="left-nav__item">

        <a
          class="left-nav__item-link left-nav__item-link--inside left-nav__item-link--with-hover"
          [href]="link.url"
        >
        <span class="icon-drag left-nav__item-drag-icon"></span>
          {{ link.name }}
        </a>

        <button (click)="onRemoveLink(link)" class="left-nav__item-remove">&times;</button>
      </li>

      <li class="left-nav__add-btn-wrapper">
        <button class="btn-default" (click)="onAddLink()">Add to my links</button>
      </li>
    </ul>


  </li>
</ul>
