<div ng-controller="BulletinsManagementController as vm" class="bulletins-management" ng-class="vm.getHeadClasses()">
    <div class="bulletins-table">
        <div class="filters">
            <div class="filter-group">
                <input type="text" class="_admin text-filter" ng-model="vm.filterModel.id" placeholder="Id filter" />
                <input type="text" class="text-filter" ng-model="vm.filterModel.description" placeholder="Description filter" />
            </div>
            <div class="filter-group">
                <date-picker model="vm.filterModel.publishDate.from" config="vm.config.publishDate" placeholder="Publish date from"></date-picker>
                <date-picker model="vm.filterModel.publishDate.to" config="vm.config.publishDate" placeholder="Publish date to"></date-picker>
            </div>
            <div class="filter-group">
                <date-picker model="vm.filterModel.createdDate.from" config="vm.config.publishDate" placeholder="Create date from"></date-picker>
                <date-picker model="vm.filterModel.createdDate.to" config="vm.config.publishDate" placeholder="Create date to"></date-picker>
            </div>
            <div class="filter-group">
                <date-picker model="vm.filterModel.modifyDate.from" config="vm.config.publishDate" placeholder="Update date from"></date-picker>
                <date-picker model="vm.filterModel.modifyDate.to" config="vm.config.publishDate" placeholder="Update date to"></date-picker>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="_admin">Id</th>
                    <th>Description</th>
                    <th>Publish Date</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bulletin in vm.bulletinsList | filter: vm.filter track by bulletin.id" ng-class="{'_active' : vm.selectedIndex == $index}" ng-click="vm.selectBulletinsToEdit(bulletin, $index)">
                    <td class="_admin">{{bulletin.id}}</td>
                    <td>{{vm.transformDescription(bulletin.description)}}</td>
                    <td>{{bulletin.publishDate | date: vm.dateFormat}}</td>
                    <td>{{bulletin.createdDate | date: vm.dateFormat}}</td>
                    <td>{{bulletin.modifyDate | date: vm.dateFormat}}</td>
                    <td>
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="vm.delete(bulletin, $index); $event.stopPropagation();" />
                    </td>
                </tr>
                <tr ng-click="vm.selectBulletinsToEdit({}, null)">
                    <td colspan="6" class="create-bulletins-btn">
                        <i class="icon icon-add"></i>
                    </td>
                </tr>
            </tbody>


        </table>
    </div>
    <div class="bulletins-edit umbraco-panel">
        <i class="icon icon-delete close-btn" ng-click="vm.clearSelected()"></i>
        <form name="editForm" class="bulletins-edit-form">
            <div ng-if="vm.selected">

                <div class="control-group">
                    <h5 class="control-label">Description:</h5>
                    <tiny-mce model="vm.selected.description" config="vm.config.description"></tiny-mce>
                    <input type="hidden" ng-model="vm.selected.description" required="" name="Description" />
                </div>

                <div class="control-group">
                    <h5 class="control-label">Publish date:</h5>
                    <date-picker model="vm.selected.publishDate" config="vm.config.publishDate"></date-picker>
                    <input type="hidden" ng-model="vm.selected.publishDate" required="" name="Publish date" />
                </div>

                <div class="control-group">
                    <h5 class="control-label">Media:</h5>
                    <media-picker ng-model="vm.selected.media" config="vm.config.media"></media-picker>
                </div>
                <div class="validation-summary-errors">
                    <div class="field-validation-error" ng-repeat="req in editForm.$error.required">
                        {{req.$name}} is required!
                    </div>
                    <div class="field-validation-error" ng-repeat="req in editForm.$error.maxlength">
                        {{req.$name}} max length
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Save" ng-click="vm.save()" />
        </form>
    </div>
</div>

