@import "base.less";

:host {
    display: block;
    background-color: @header-bg;
    padding: 16px 0;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    height: 70px;
    z-index: 1;
}
.site-logo {
    margin-left: 29px;
    display: inline-block;
}
.header {
    &__content {
        .centering();
    }
}
