@import "base.less";
:host {
    display: block;
    background-color: #4c6cf4;
    padding: 16px 0;
}
.site-logo {
    margin-left: 29px;
    display: inline-block;
}
.header {
    &__content {
        .ubl-container();
    }
}