<div class="header">
  <a href="#" class="burger-menu" (click)="openLeftNav()">
    <span class="burger-menu__item"></span>
  </a>

  <a [routerLink]="['/']" class="site-logo">
    <img src="wwwroot/assets/img/logo.svg" width="21" height="33" alt="uintra">
  </a>

  <div class="header__content">
    <div class="header-center">
      <app-search></app-search>
      <a href="#" class="groups">
        <span class="icon icon-group"></span>
      </a>
      <app-nav-notifications></app-nav-notifications>
    </div>

  </div>
  <user-navigation></user-navigation>

  <app-nav-notifications class="notifications-for-mobile"></app-nav-notifications>
</div>
