<style>
    .custom-umb-panel-body {
        padding-left: 10px;
    }

    .tab._active {
        font-weight: bold;
    }
</style>

<umb-panel>
    <div class="umb-panel-body custom-umb-panel-body">
        <div ng-controller="settingController as ctrl">

            <span class="tab" ng-class="{'_active' : ctrl.isEmailTabSelected()}" ng-click="ctrl.selectEmailTab()">E-mail notification</span>
            <span class="tab" ng-class="{'_active' : ctrl.isUiTabSelected()}" ng-click="ctrl.selectUiTab()">In-App notification</span>

            <form name="settingsForm">

                <div ng-bind-html="ctrl.selectedNotifierSettings.notificationInfo"></div>
                <div>
                    <span>Do you want to enable this notification:</span>
                    <label for="enableNotification">Yes, enable</label>
                    <input id="enableNotification" type="radio" ng-model="ctrl.selectedNotifierSettings.isEnabled" ng-value="true" ng-change="ctrl.save()">
                    <label for="disableNotification">No, disable</label>
                    <input id="disableNotification" type="radio" ng-model="ctrl.selectedNotifierSettings.isEnabled" ng-value="false" ng-change="ctrl.save()">
                </div>

                <div ng-if="ctrl.isEmailTabSelected()">
                    <div>
                        <label>E-mail subject:</label>
                        <text-control config="ctrl.emailSubjectControlConfig"></text-control>
                    </div>
                    <div>
                        <label for="emailContent">E-mail content:</label>
                        <tiny-mce id="emailContent" config="ctrl.config.description" required model="ctrl.settings.emailNotifierSetting.template.content"></tiny-mce>
                        <input type="hidden" name="EmailContent" ng-model="ctrl.settings.emailNotifierSetting.template.content" required="" />
                        <div data-ng-show="settingsForm.EmailContent.$error.required">E-mail content is required</div>
                        <div data-ng-show="!ctrl.isControlTextHasValidLength(settingsForm.EmailContent, 4000)">Max length is 4000 symbols</div>
                    </div>
                </div>

                <div ng-if="ctrl.isUiTabSelected()">
                    <div>
                        <label>In-App message:</label>
                        <text-area-control config="ctrl.uiMessageControlConfig"></text-area-control>
                    </div>
                </div>

            </form>
        </div>
    </div>
</umb-panel>