@import 'base.less';

// Variables
@height-limit: 341px;
@height-limit-sm: 641px;

.video-panel {
  &__video {
    width: 100%;
    height: @height-limit;
    margin-bottom: 20px;
    background: @text-color;

    @media @sm {
      height: @height-limit-sm;
    }
  }

  &__title {
    .h3-panel-title;
    margin-bottom: 8px;
    color: @text-reverse-color;
  }

  &__descr {
    color: @text-reverse-color;
  }
}

@import "./override.less";
