.navigation .type-holder {
    width: 50%;
    margin-right: 35px;
}

.navigation .txt {
    margin-bottom: 16px;
    width: 542px;
}

.navigation .btns {
    margin-top: 16px;
}

.navigation .btn-success-custom {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.navigation .btn-primary-custom {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.navigation .btn-danger-custom {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.navigation .btn-info-custom {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.navigation .btn-warning-custom {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.navigation .btn-success-custom:hover:not([disabled]) {
    color: #fff;
    background-color: #499349;
    border-color: #3c8b3c;
}

.navigation .btn-primary-custom:hover:not([disabled]) {
    color: #fff;
    background-color: #286192;
    border-color: #245783;
}

.navigation .btn-danger-custom:hover:not([disabled]) {
    color: #fff;
    background-color: #ad423f;
    border-color: #a9322e;
}

.navigation .btn-info-custom:hover:not([disabled]) {
    color: #fff;
    background-color: #4899b1;
    border-color: #3893ae;
}

.navigation .btn-warning-custom:hover:not([disabled]) {
    color: #fff;
    background-color: #c08a3e;
    border-color: #be812b;
}

