<div class="publication-header">
  <div class="publication-header__avatar">
    <app-user-avatar
      [photo]="avatar"
      [name]="title"
      [routerLink]='originalUrl'
      big></app-user-avatar>
  </div>

  <div class="publication-header__content">
    <a
      *ngIf="title"
      class="publication-header__title"
      [routerLink]='originalUrl | ulink'>
      {{ title }}
    </a>
    <ng-container *ngIf='false'>{{ title }}</ng-container>
    <div class="publication-header__subtitle-container">
      <ng-content select="[subtitle]"></ng-content>
      <span *ngIf="groupInfo" class="publication-header__group">
        >
        <a [routerLink]="groupInfo.url?.originalUrl | ulink" class="publication-header__group-link">
          <span class="icon-group"></span>
          {{groupInfo.title}}
        </a>
      </span>
    </div>
  </div>

  <div class="publication-header__label">
    <ng-content select="[label]"></ng-content>
  </div>
</div>
