<div class="publication-header">
  <div class="publication-header__avatar">
    <app-user-avatar [photo]="avatar" [name]="title" big></app-user-avatar>
  </div>

  <div class="publication-header__content">
    <a
      *ngIf="title"
      class="publication-header__title"
      [routerLink]='originalUrl | ulink'>
      {{ title }}
    </a>
    <ng-container *ngIf='false'>{{ title }}</ng-container>
    <div class="publication-header__subtitle">
      <ng-content select="[subtitle]"></ng-content>
    </div>
  </div>

  <div class="publication-header__label">
    <ng-content select="[label]"></ng-content>
  </div>
</div>
