<div ng-controller="utmConfigurationPageController as vm">
    <div class="utm-control">
        <div class="control-group">
            <label class="control-label">UTM split testing enabled</label>
            <umb-toggle checked="model.value.isEnabled" on-click="model.value.isEnabled = !model.value.isEnabled">
            </umb-toggle>
            <umb-load-indicator ng-show="vm.working"></umb-load-indicator>
        </div>
        <div class="control-group flex-center" ng-show="model.value.isEnabled">
            <label class="control-label">UTM_source *</label>
            <input type="text" ng-model="model.value.utmSource" ng-required="model.value.isEnabled" />
        </div>

        <div ng-hide="vm.working || !vm.utmParameters || !model.value.isEnabled">
            <table class="utm-table">
                <thead>
                    <tr>
                        <th colspan="2">
                            Call page with the following parameters
                        </th>
                        <th>&nbsp;</th>
                        <th colspan="2">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>?</span></td>
                        <td>
                            <select ng-model="vm.utmParameter" data-ng-options="parameter.value as parameter.value for parameter in vm.utmParameters"></select>
                        </td>
                        <td><span>=</span></td>
                        <td>
                            <input type="text" ng-model="vm.utmValue"/>
                        </td>
                        <td>
                            <button type="button" ng-click="vm.addParameter()" class="btn umb-button__button btn-action">Add</button>
                        </td>
                    </tr>
                    <tr ng-repeat="query in model.value.parameters">
                        <td>&nbsp;</td>
                        <td colspan="3">
                            <span>?utm_source={{model.value.utmSource}}&<b>{{query.parameterName}}={{query.parameterValue}}</b></span>
                        </td>
                        <td>
                            <button type="button" ng-click="vm.removeParameter($index)" class="btn umb-button__button btn-info">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
