<li class="comment">
  <app-user-avatar class="comment__avatar"
                   [photo]="commentCreator.photo"
                   [name]="commentCreator.displayedName"
                   big></app-user-avatar>
  <div class="comment__container">
    <app-comment-header [data]="data"
                        [isReply]="true"
                        (toggleReply)="onToggleReply()"
                        (toggleEditingMode)="toggleEditingMode()"
                        (commentDelete)="onCommentDelete($event)">
    </app-comment-header>
    <div *ngIf="!isEditing" class="comment__content" [innerHTML]="data.text"></div>
    <app-like-button [likeData]="likeModel"></app-like-button>
    <app-rich-text-editor *ngIf="isEditing"
                          [(ngModel)]="editedValue"
                          [isDropzone]="false"
                          [isEditing]="isEditing"
                          placeholder="">
      <div class="submit-container"
           edit>
        <button class="rte__submit-button"
                [disabled]="isEditSubmitDisabled"
                (click)="onSubmitEditedValue()">
          Save
        </button>
        <button class="rte__cancel-button"
                (click)="toggleEditingMode()">
          Cancel
        </button>
      </div>
    </app-rich-text-editor>
    <div class="subcomment-container">
      <app-subcomment-item class="subcomment-container__item"
                           *ngFor="let reply of data.replies"
                           [data]="reply"
                           [activityType]="activityType"
                           (submitEditedValue)="onSubmitEditedValue($event)"
                           (deleteComment)="onCommentDelete($event)"></app-subcomment-item>
    </div>
    <app-rich-text-editor *ngIf="isReply"
                          [(ngModel)]="subcommentDescription"
                          [isDropzone]="false"
                          placeholder="Reply to comment...">
      <button submit
              class="bulletin-popup__submit-button"
              [disabled]="isSubcommentSubmitDisabled"
              (click)="onCommentReply()">
        Send
      </button>
      <span reply-close
            class="reply-close"
            (click)="onToggleReply()">X</span>
    </app-rich-text-editor>
  </div>
</li>
