


  <main class="main">
    <ng-container *ngIf="!isLoginPage">
      <app-header></app-header>
    </ng-container>

    <div class="content">

      <ng-container *ngIf="!isLoginPage">
        <nav class="nav">
          <div class="nav__header">
            <!--TODO mobile search-->
            <div class="nav__search">search div</div>
            <span class="icon-close js-nav-close"></span>
          </div>
          <!--TODO navigation-->
          <ul class="nav-list">
            <li><a href="/">left navigation</a></li>
          </ul>
        </nav>
    </ng-container>

      <div class="content__wrap">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

<app-image-gallery></app-image-gallery>
