@import 'base.less';

.nav {
  &__header {
    padding: 10px;
  }

  &__close {
    border: none;
    outline: none;
    background: transparent;
    width: 20px;
    height: 20px;
    color: @main-color;
    font-size: 26px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;

    &::before,
    &::after {
      content: "";
      width: 24px;
      height: 2px;
      background-color: @main-color;
      position: absolute;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
