@using System.Web.Mvc.Html
@using uIntra.Core.Extensions
@using Umbraco.Web
@model uIntra.Groups.GroupsOverviewModel
<section class="groups"> 
    <div class="js-groups-overview">
        @using (Html.BeginUmbracoForm("Index", "Group", null, new Dictionary<string, object> { { "class", "js-ajax-form" }, { "data-append-to", ".js-groups-listContainer" } }))
        {
            <div class="content__loader js-loading-status" style="display: none;">Loading...</div>

            <input type="hidden" name="page" />
            <input type="hidden" name="isMyGroupsPage" value="@Model.IsMyGroupsPage.ToString().ToLower()" />
            <div class="tab-content js-groups-listContainer">
                @{ Html.RenderAction("Index", "Group", new { isMyGroupsPage = Model.IsMyGroupsPage });}
            </div>
                    }
    </div>
</section>