<quill-editor
  *ngIf="!isEditing"
  theme="snow"
  [modules]="config"
  [(ngModel)]="value"
  [placeholder]="placeholder"
  (onEditorCreated)="initEditor($event)"
  customToolbarPosition="bottom"
>
  <div quill-editor-toolbar class="toolbar">
    <div class="ql-counter" id="counter"></div>

    <div class="ql-formats-wrapper">
      <div class="ql-formats" *ngIf="isEventsOrNews; then eventsOrNewsCreate; else comments"></div>
    </div>

    <div class="ql-submit-button">
      <ng-content select="[submit]"></ng-content>
    </div>

    <ng-content select="[reply-close]"></ng-content>
  </div>
</quill-editor>

<div class="reply-mode" *ngIf="isEditing">
  <quill-editor
    theme="snow"
    [modules]="config"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    (onEditorCreated)="initEditor($event)"
  >
    <div quill-editor-toolbar class="toolbar" [ngClass]="getToolbarClass()">
      <div *ngIf="!isEditing" class="ql-counter" id="counter"></div>

      <div class="ql-formats-wrapper">
        <div class="ql-formats" *ngIf="isEventsOrNews; then eventsOrNewsCreate; else comments"></div>
      </div>
    </div>
  </quill-editor>

  <div class="ql-edit-buttons">
    <ng-content select="[edit]"></ng-content>
  </div>
</div>

<ng-template #default>
  <button class="ql-bold" [title]="'Bold'"></button>
  <button class="ql-italic" [title]="'Italic'"></button>
  <button *ngIf="isUnderline" class="ql-underline" [title]="'Underline'"></button>
  <button class="ql-link icon-link"></button>
  <button
    *ngIf="isDropzone"
    class="ql-dropzone icon-attachment"
    (click)="onShowDropdown()"
  ></button>
</ng-template>

<ng-template #comments>
  <div (clickOutside)="closeEmojiPalette()">
    <button class="icon-smily" (click)="toggleEmojiPalette()"></button>
    <app-rich-text-editor-emoji [ngClass]="{ 'hidden': !isEmojiPalette }" (emojiClick)="addEmoji($event)"></app-rich-text-editor-emoji>
  </div>
  <ng-container *ngTemplateOutlet="default"></ng-container>
</ng-template>

<ng-template #eventsOrNewsCreate>
  <select class="ql-header">
    <option value="1">Heading 1</option>
    <option value="2">Heading 2</option>
    <option value="3">Heading 3</option>
    <option value="" selected>Normal</option>
  </select>
  <ng-container *ngTemplateOutlet="default"></ng-container>
  <button type="button" class="ql-list" value="ordered"></button>
  <button type="button" class="ql-list" value="bullet"></button>
  <div (clickOutside)="closeEmojiPalette()">
    <button class="icon-smily" (click)="toggleEmojiPalette()"></button>
    <app-rich-text-editor-emoji [ngClass]="{ 'hidden': !isEmojiPalette }" (emojiClick)="addEmoji($event)"></app-rich-text-editor-emoji>
  </div>
  <button type="button" class="ql-clean"></button>
</ng-template>
