<quill-editor
  *ngIf="!isEditing"
  theme="snow"
  [modules]="config"
  [(ngModel)]="value"
  [placeholder]="placeholder"
  (onEditorCreated)="initEditor($event)"
  customToolbarPosition="bottom"
>
  <div quill-editor-toolbar class="toolbar">
    <div class="ql-counter" id="counter"></div>

    <div class="ql-formats">
      <div (clickOutside)="closeEmojiPalette()">
        <button class="icon-smily" (click)="toggleEmojiPalette()"></button>
        <app-rich-text-editor-emoji [ngClass]="{ 'hidden': !isEmojiPalette }" (emojiClick)="addEmoji($event)"></app-rich-text-editor-emoji>
      </div>
      <button class="ql-bold" [title]="'Bold'"></button>
      <button class="ql-italic" [title]="'Italic'"></button>
      <button *ngIf="isUnderline" class="ql-underline" [title]="'Underline'"></button>
      <button class="ql-link icon-link"></button>
      <button
        *ngIf="isDropzone"
        class="ql-dropzone icon-attachment"
        (click)="onShowDropdown()"
      ></button>
    </div>

    <div class="ql-submit-button">
      <ng-content select="[submit]"></ng-content>
    </div>

    <ng-content select="[reply-close]"></ng-content>
  </div>
</quill-editor>

<div class="reply-mode"
    *ngIf="isEditing">
  <quill-editor
    theme="snow"
    [modules]="config"
    [(ngModel)]="value"
    [placeholder]="placeholder"
  >
    <div quill-editor-toolbar class="toolbar" [ngClass]="getToolbarClass()">
      <div *ngIf="!isEditing" class="ql-counter" id="counter"></div>

      <div class="ql-formats">
        <div (clickOutside)="closeEmojiPalette()">
          <button class="ql-emoji icon-smily" (click)="toggleEmojiPalette()"></button>
          <app-rich-text-editor-emoji [ngClass]="{ 'hidden': !isEmojiPalette }" (emojiClick)="addEmoji($event)"></app-rich-text-editor-emoji>
        </div>
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button *ngIf="isUnderline" class="ql-underline" [title]="'Underline'"></button>
        <button class="ql-link icon-link"></button>
        <button
          *ngIf="isDropzone"
          class="ql-dropzone icon-attachment"
          (click)="onShowDropdown()"
        ></button>
      </div>
    </div>
  </quill-editor>

  <div class="ql-edit-buttons">
    <ng-content select="[edit]"></ng-content>
  </div>
</div>
