@import "./../../Core/Content/styles/intranet-core";

#header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:var(--header-bg);
    padding:0;
    z-index:12;

    @media (--for-tablet-portrait-down) {
        & {
            padding:0 0 0 20px;
            min-height: 79px;
            position: absolute;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background:var(--header-bg);
                z-index: 2;
                content: '';
            }
        }
    }

    @media (--for-tablet-landscape-up) {
        & {
            padding:0 50px 0 30px;
            min-height:50px;
        }
    }
}

.greeting {
    color: #ccc;
    float: right;
    font:16px/1.25em var(--font-TeamDanmark4);
    padding:13px 12px 16px 0;
    width: auto;
    text-transform:uppercase;

    &__username {
        font-family: var(--font-TeamDanmark4Bold);
        font-weight: normal;
        margin: 0 0 0 15px;
        color:var(--color-white);
    }
    &__role {
        color: #777;
        margin: 0 0 0 15px;
    }
}

.logo {
    padding: 23px 0;
    overflow: hidden;
    max-width: 126px;
    position: relative;
    z-index: 3;
}

.menu {
    width: 68px;
    text-align: center;
    float: right;
    position: relative;
    z-index: 3;

    &__opener {
        color: var(--color-white);
        padding: 23px 0 26px;
        margin: 0 0 -3px;
        cursor: pointer;
        display: block;

        .glyphicon-menu-hamburger {
            font-size: 28px;
        }

        &:hover,
        &:active,
        &:focus {
            color:var(--color-white);
            text-decoration: none;
        }

        ._menu-expanded & {
            background: var(--color-light-gray-2);
            color: var(--color-black);

            &:hover,
            &:active,
            &:focus {
                color:var(--color-black);
            }
        }
    }
}