._for-desktop{
    display:none;
}

@media﻿(min-width: 900px){
    ._for-mobile{
        display:none;
    }

    ._for-desktop{
        display:block;
    }
}

.burger {
    padding:10px;
    width: 22px;
    height: 20px;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
    outline:none;
    float:left;

    &::before,
    &::after,
    &__line{
        background: #000;
        border-radius: 1px;
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;
        height: 4px;
        margin-top: -2px;
        opacity: 1;
        transition: all .4s linear .4s;
        z-index: 2;
    }

    &::before,
    &::after{
        content: '';
        top: 10px;
        margin: 0;
    }

    &::after {
        top: auto;
        bottom:10px;
    }

    ._menu-expanded &{

        &__line {
            opacity: 0;
            left: -40px;
            right: 40px;
            background:#1c2529;
        }

        &::before,
        &::after{
            left:4px;
            right:4px;
            height:3px;
            background:#1c2529;
        }

        &::before{
            transform: rotate(45deg);
            top: 50%;
            margin-top:-1px;

        }

        &::after {
            transform: rotate(-45deg);
            bottom:50%;
            margin-bottom:-2px;
        }
    }
}


.user {
    float:right;
    position:relative;
    padding:10px 10px 10px 37px;
    margin:0 -10px 0 0;

    &__opener{
        color:#fff;
        display:block;
        position:relative;
        padding:6px 2px 6px 17px;
        cursor:pointer;

        &-arrow{
            position:absolute;
            top:11px;
            left:0;
            width:6px;
            height:6px;
            border:solid #fff;
            border-width:0 1px 1px 0;
            transform:rotate(45deg);
        }

        &:hover,
        &:active,
        &:focus{
            color:#fff;
        }
    }
    
    &__menu{
        display:none;
        position:absolute;
        top:100%;
        right:2px;
        background:#fff;
        margin:0;
        padding:0;
        list-style:none;
        border:1px solid #bfbfbf;
        box-shadow:2px 2px 3px rgba(0,0,0,0.2);
        width:286px;
        font-size:14px;

        &:before{
            display:block;
            content:'';
            width:10px;
            height:10px;
            background:#fff;
            border:solid #bfbfbf;
            border-width:1px 1px 0 0;
            transform:rotate(-45deg);
            position:absolute;
            top:-6px;
            right:14px;
        }

        :hover > &{
            display:block;
        }

        &-item{
            border-top:1px solid #bfbfbf;

            &:first-child{
                border:none;
            }
        }

        &-link{
            color:#333;
            display:block;
            padding:13px 10px 11px 58px;
            position:relative;

            &:hover{
                text-decoration:none;
                color:#fff;
                background:#333;
            }
        }

        .icon{
            position:absolute;
            top:11px;
            left:17px;
        }
    }
}

.greeting {
    color: #ccc;
    float: right;
    font:16px/1.25em Arial, Helvetica, sans-serif;
    padding:15px 12px 14px 0;
    width: auto;
    text-transform:uppercase;

    &__username {
        font-weight: normal;
        margin: 0 0 0 15px;
        color:#fff;
    }
    &__role {
        color: #777;
        margin: 0 0 0 15px;
    }
}