@import "base.less";

.feed-filters {
  &__tabs {

  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 18px;
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 16px;

      @media @sm-up {
        margin-right: 30px;
      }
    }
  }
}
