@using uIntra.Core.User
@model uIntra.Users.ProfileViewModel

<div class="form _profile">
    <div class="form__row">
        <div class="form__header">
            <div class="form__avatar">
                <img class="form__avatar-img" style="width: 100px;" src="@Model.Photo" />
            </div>
            <div class="form__meta">
                <strong class="form__name">@Model.FirstName @Model.LastName</strong>
                <span class="form__email">@Model.Email</span>
            </div>
        </div>
    </div>
</div>