.form{
	&__header{
		display: flex;
		align-items: center;
	}

	&__meta{
		overflow: hidden;
		flex-grow: 2;
		margin: 0 0 0 20px;
	}

	&__name{
		display: block;
	}
}

.profile-edit {

	.dropzone {
		max-width: 100%;
		margin: 0 20px 0 0;
	}
}