.form-profile {
    padding: 40px 20px 33px;
    background: var(--color-white);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);

    @media(--for-tablet-portrait-down) {
        margin:0 -15px;
        padding:20px 15px 33px;
    }

    &__top{
        display:flex;
        justify-content:space-between;
        position:relative;
    }

    &__title {
        font-size: 25px;
        font-weight: 400;
        line-height: 0.88;
        color: #262626;
        margin: 0 0 46px;
    }

    &__header{
		display: flex;
	}

    &__meta{
        display:flex;
        align-items:center;
        flex-grow:2;

        &:after{
            content:'';
            display:block;
            clear:both;
        }

        @media(--for-tablet-portrait-down){
            display:block;
        }
	}

    &__list{
        width:62%;
        margin:0;
        font-size:16px;
        line-height:22px;

        @media(--for-tablet-portrait-down){
            width:auto;
        }
    }

    &__row {
        display: flex;
        padding: 1px 0;

        @media(--for-tablet-portrait-down) {
            padding:0;
        }
    }

    &__label {
        min-width: 100px;
        margin: 0 10px 0 0;
        font-weight: 700;
    }

    &__text{
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
    }

    &__name {
        display: block;
        color: var(--text-color-dark);
        font-size: 20px;
        line-height: 19px;
        width: 38%;

        @media(--for-tablet-portrait-down) {
            width:auto;
            margin:0 0 10px;
        }
    }
}

.form-edit-profile {
    padding: 40px 20px 33px;
    background: var(--color-white);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);

    @media(--for-tablet-portrait-down) {
        margin:0 -15px;
        padding:20px 15px 33px;
    }

    .avatar{
        margin: 0 20px 0 0;
        width: 90px;
        height: 90px;
        min-width: 90px;
    }

    &__top{
        display:flex;
        justify-content:space-between;
        position:relative;
        padding:0 0 22px;
        margin:0 0 20px;
        position:relative;

        &:before{
            content:'';
            position:absolute;
            left:-10px;
            right:-10px;
            bottom:0;
            height:1px;
            background:#e6e6e6;
            z-index:2;
        }
    }

    &__title {
        font-size: 25px;
        font-weight: 400;
        line-height: 0.88;
        color: #262626;
        margin: 0 auto 15px 0;
    }

    &__actions{
        margin:-4px 0 0;
    }

    .btn{
        margin:0 0 10px 6px;
    }

    &__columns{
        display:flex;
        padding:57px 0 0;
    }

    .dropzone {
        padding:0 !important;
        border:0 !important;
        background:#ddd;
        border-radius:50% !important;
        min-height:60px !important;
        min-width:60px;
        display:flex;
        align-items:center;

        @media(--for-tablet-portrait-down){
            max-width:none;
        }

        @media (min-width: 1552px) {
            min-height:90px !important;
            min-width:90px;
            height:90px;
        }

        &-holder{
            width:60px;

            @media (min-width: 1552px) {
                width:90px;
            }
        }
            
        .dz-message{
            margin:10px;

            & > span{
                padding:0;

                &:before{
                    display:none;
                }
            }
        }

        .dz-preview{
            min-height:60px;
            width:60px;
            margin:0;

            @media (min-width: 1552px) {
                min-height:90px;
                width:90px;
            }

            .dz-image{
                width:60px;
                height:60px;
                border-radius:50%;

                @media (min-width: 1552px) {
                    width:90px;
                    height:90px;
                }
            }

            .dz-remove{
            position:absolute;
            right: -15px;
            top: -15px;
            width: 31px;
            height: 31px;
            padding: 5px;
            z-index:999;
            text-indent:-9999px;

            &:before {
		        content: '';
		        position: absolute;
		        left: 8px;
		        top: 50%;
		        right: 8px;
		        height: 2px;
		        background: #303030;
		        transform: rotate(45deg);
                margin-top:-1px;
	        }

	        &:after {
		        content: '';
		        position: absolute;
		        left: 8px;
		        top: 50%;
		        right: 8px;
		        height: 2px;
		        background: #303030;
		        transform: rotate(-45deg);
                margin-top:-1px;
	        }

            }
        }
	}

    &__box {
        flex: 1;
    }

    &__meta{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }

    &__column{
        width:100%;

        @media (min-width: 1552px) {
            width:51%;
        }

        &:first-child{
            width:100%;

            @media (min-width: 1552px) {
                width:37%;
            }
        }
    }

    &__row{
        margin: 0 0 8px;
        display: flex;
        align-items: center;

        &--indent{
            @media (min-width: 1552px) {
                margin:-41px 0 19px;
            }
        }
    }

    &__label {
        font: bold 13px/22px var(--font-general);
        color: #555;
        margin:0 4px 0 0;
        width:97px;
        flex-shrink:0;
        
        .form-edit-profile__column:first-child &{
            @media (min-width: 1552px) {
                width:74px;
            }
         }
    }

    &__text{
        display:inline-block;
        vertical-align:top;
        padding:0 0 0 10px;
        color:#333;
    }

    .form__textarea,
    .form__input{
        color:#333;
    }

    .check__fake-input{
        margin:0 10px 0 0;
    }

    &__clear{
        cursor:pointer;
        position:absolute;
        right: -10px;
        top: -10px;
        z-index:2;
        width: 31px;
        height: 31px;
        padding: 5px;

        &:before {
		    content: '';
		    position: absolute;
		    left: 8px;
		    top: 50%;
		    right: 8px;
		    height: 2px;
		    background: #303030;
		    transform: rotate(45deg);
            margin-top:-1px;
	    }

	    &:after {
		    content: '';
		    position: absolute;
		    left: 8px;
		    top: 50%;
		    right: 8px;
		    height: 2px;
		    background: #303030;
		    transform: rotate(-45deg);
            margin-top:-1px;
	    }
    }
}
