<div class="radio-link-group" *ngIf="selectedLink">
  <label *ngFor="let link of links" class="radio-link-group__label">
   <input
      type="radio"
      name="filter"
      [(ngModel)]="selectedLink"
      [value]="link.get().type.get()"
      [checked]="selectedLink === link.get().type.get()"
      (change)="onRadioChange()"
      class="radio-link-group__input"
    />
    <span
      class="radio-link-group__text"
      [ngClass]="{ active: selectedLink === link.get().type.get() }"
      >{{ link.get().title.get() }}
    </span>
  </label>
</div>
