<div class="radio-link-group"
     *ngIf="selectedLink">
  <label *ngFor="let link of links"
         class="radio-link-group__label">
    <input type="radio"
           name="filter"
           [(ngModel)]="selectedLink"
           [value]="link.type"
           [checked]="selectedLink === link.type"
           (change)="onRadioChange()"
           class="radio-link-group__input" />
    <span class="radio-link-group__text"
          [ngClass]="{ active: selectedLink === link.type }">{{ link.title }}
    </span>
  </label>
</div>